@{ var menu = (BravectoMenu) ViewBag.Menu;}

@{ Layout = "~/Views/Shared/" + menu.Layout + ".cshtml"; }
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="alternate">Política de Privacidade</h1>
            <hr class="plus diagonal">
            <p>Temos a sua privacidade em considera&ccedil;&atilde;o. Protegemos a privacidade de toda a informa&ccedil;&atilde;o recebida enquanto navega nas p&aacute;ginas da Internet da Intervet. Esta informa&ccedil;&atilde;o pode ser informa&ccedil;&atilde;o pessoal identific&aacute;vel (como o seu nome e endere&ccedil;o eletr&oacute;nico) ou pode consistir em informa&ccedil;&otilde;es t&eacute;cnicas que o seu navegador de Prestador de Servi&ccedil;os da Internet (ISP) envia com os seus pedidos de p&aacute;ginas online.</p>
            <h3>Conte&uacute;do desta p&aacute;gina:</h3>
            <ol>
                <li>Informa&ccedil;&atilde;o que recolhemos </li>
                <li>Guardar e aceder &agrave;s suas informa&ccedil;&otilde;es </li>
                <li>Divulga&ccedil;&atilde;o de informa&ccedil;&atilde;o </li>
                <li>"Cookies"</li>
                <li>Prote&ccedil;&atilde;o de dados </li>
                <li>Op&ccedil;&atilde;o / Sair</li>
            </ol>
            <h3>1. A informa&ccedil;&atilde;o que recolhemos </h3>
            <p>Informa&ccedil;&atilde;o que introduz no formul&aacute;rio de contato na nossa p&aacute;gina da Internet: esta informa&ccedil;&atilde;o &eacute; utilizada para processar o seu registo, pedido, ou encomenda online.</p>
            <p>Informa&ccedil;&atilde;o que n&atilde;o introduz num formul&aacute;rio na nossa p&aacute;gina da Internet: acedemos &agrave; informa&ccedil;&atilde;o de cabe&ccedil;alho requerida pelo seu navegador. Esta informa&ccedil;&atilde;o &eacute; utilizada apenas para fins estat&iacute;sticos.</p>
            <h3>2. Guardar e aceder &agrave;s suas informa&ccedil;&otilde;es </h3>
            <p>Formul&aacute;rio de contato e encomenda: N&Atilde;O disponibilizamos a terceiros o seu endere&ccedil;o eletr&oacute;nico ou qualquer outra informa&ccedil;&atilde;o pessoal identific&aacute;vel. Como defensores da Coliga&ccedil;&atilde;o Contra Emails N&atilde;o Solicitados (CAUCE) desaprovamos o envio de &ldquo;lixo eletr&oacute;nico&rdquo;. N&atilde;o receber&aacute; quaisquer emails n&atilde;o solicitados em resultado da sua visita &agrave; nossa p&aacute;gina da Internet.</p>
            <p>Arquivo de registo do servidor da Internet: acedemos &agrave; informa&ccedil;&atilde;o de cabe&ccedil;alho requerida pelo seu navegador apenas para fins estat&iacute;sticos. Preparamos estas estat&iacute;sticas, pois cont&ecirc;m informa&ccedil;&otilde;es an&oacute;nimas importantes que utilizamos para melhorar a qualidade da informa&ccedil;&atilde;o que poder&aacute; encontrar na nossa p&aacute;gina da Internet.</p>
            <h3>3. Divulga&ccedil;&atilde;o de informa&ccedil;&atilde;o </h3>
            <p>N&Atilde;O divulgaremos nenhuma informa&ccedil;&atilde;o pessoal identific&aacute;vel a terceiros, exceto quando for exigido por lei.</p>
            <h3>4. "Cookies"</h3>
            <p>Um cookie &eacute; um conjunto de informa&ccedil;&otilde;es que uma p&aacute;gina da Internet pode guardar no arquivo cookie do seu navegador. A mesma p&aacute;gina da Internet que armazenou o cookie (e n&atilde;o outro qualquer) pode recuperar esta informa&ccedil;&atilde;o, mesmo numa visita posterior se o cookie armazenado for um " cookie permanente".</p>
            <p>Os cookies podem ser utilizados por p&aacute;ginas da Internet comerciais para armazenar itens no seu &ldquo;cesto de compras". Tamb&eacute;m s&atilde;o muitas vezes utilizados para guardar a identifica&ccedil;&atilde;o e senha das p&aacute;ginas da Internet com acesso limitado, n&atilde;o necessitando de reintroduzir esses elementos repetidamente.</p>
            <p>Esta p&aacute;gina da Internet utiliza cookies apenas para guardar os dados da sess&atilde;o e informa&ccedil;&atilde;o de acesso, garantindo que os utilizadores registados n&atilde;o tenham que reintroduzir os seus dados de acesso em cada p&aacute;gina consecutiva. O acesso &agrave; parte n&atilde;o p&uacute;blica desta p&aacute;gina da Internet requer apoio de cookies para que o seu navegador da internet d&ecirc; autoriza&ccedil;&atilde;o.</p>
            <h3>5. Prote&ccedil;&atilde;o de dados </h3>
            <p>A Intervet implementou procedimentos f&iacute;sicos, eletr&oacute;nicos e empresariais adequados para garantir um alto n&iacute;vel de seguran&ccedil;a dos dados nos nossos servidores de Internet e de dados. N&atilde;o divulgaremos estas medidas, por raz&otilde;es &oacute;bvias, mas podemos garantir que tomamos todas as precau&ccedil;&otilde;es apropriadas para proteger todos os dados contra a perda, uso indevido ou altera&ccedil;&atilde;o e para salvaguardar e proteger os dados que fornece na Internet. Contudo, embora diligenciemos para proteger os seus dados ap&oacute;s a sua chegada aos nossos servidores, n&atilde;o podemos garantir a seguran&ccedil;a de qualquer informa&ccedil;&atilde;o transmitida na Internet.</p>
            <h3>6. Op&ccedil;&atilde;o/Sair</h3>
            <p>Formul&aacute;rios de contato, formul&aacute;rios de registo, formul&aacute;rios de encomenda: n&atilde;o podemos processar os seus pedidos e encomendas a n&atilde;o ser que introduza o seu endere&ccedil;o eletr&oacute;nico v&aacute;lido. Os formul&aacute;rios n&atilde;o suportam pedidos an&oacute;nimos. A Intervet n&atilde;o distribui nem publica informa&ccedil;&otilde;es pessoais identific&aacute;veis prestadas nesses formul&aacute;rios. Se pretender saber quais os dados pessoais identific&aacute;veis que recolhemos e armazenamos sobre as suas atividades online nesta p&aacute;gina da Internet, por favor contacte-nos. Pode solicitar a exclus&atilde;o dos seus registos pessoais em qualquer altura.</p>
            <p>Informa&ccedil;&atilde;o do arquivo de registo do servidor da Internet: se quiser fornecer o m&iacute;nimo de informa&ccedil;&atilde;o de cabe&ccedil;alho quanto poss&iacute;vel, pode utilizar servi&ccedil;os como por exemplo &ldquo;Anonymizer.com&rdquo; para navegar na Internet. Este servi&ccedil;o retirar&aacute; certas informa&ccedil;&otilde;es dos seus pedidos, tais como o nome do seu navegador, o seu sistema operativo, e o endere&ccedil;o da p&aacute;gina da Internet que consultou antes de visitar a nossa p&aacute;gina da Internet ("http_referer"). N&atilde;o recomendamos que o fa&ccedil;a, porque se n&atilde;o transmitir ao nosso programa qual o navegador da Internet que utiliza, vai presumir que o pedido foi gerado por um navegador da Internet n&atilde;o padronizado e vai ser executado de forma muito simples sem nenhumas caracter&iacute;sticas avan&ccedil;adas.</p>
            <hr class="diagonal">
        </div>
    </div>
</div>