<div class="text-content">
    <h3>Twitter for Small Business</h3>
    <hr class="plus diagonal">
    <p>Twitter is the real time, right now social tool. Twitter happens quickly and trends fly up and down in a matter of minutes. It’s also become a outlet of choice for consumers to talk to, or about, the brands they love (or hate). While major airlines and cable TV providers need to be ready 24/7 to address issues, the role of Twitter for small businesses is a little different. For your clinic, Twitter can help you:</p>
    <p>Build and reach an audience of fans—both your customers and others around the world.</p>
    <p>Establish yourself and your brand as an authority. When you tweet, others listen, and spread your words far and wide.</p>
    <p>Stay up on the latest news and trends in your field by following the experts and news sources in animal health.</p>
    <div class="hidden-xs">
        <a href="/editprofile" class="btn btn-tweet no-icon">Edit Your Profile To Link To Your Twitter Account</a>
    </div>
    <div class="visible-xs">
        <a href="/editprofile" class="btn btn-facebookpost no-icon">Link Your Twitter Account</a>
    </div>
    <h3>Setting Up a Twitter Account</h3>
    <hr class="plus diagonal">
    <p>Creating a Twitter account for your business requires just a few simple steps:</p>
    <ul class="styled">
        <li>Enter the full name of your business as you’d like it to appear on your profile.</li>
        <li>Enter the username (also known as a handle) you wish to be referred as. This is the name other Twitter followers will use to interact with you.</li>
        <li>Create a unique, secure password.</li>
        <li>Use the email address of the person who will be managing your Twitter account.</li>
    </ul>
    <p>To personalize the account for your clinic, click “Profile” and complete the following steps:</p>
    <ul class="styled">
        <li>Select a high-resolution image of your clinic’s logo to set as your photo. This image will appear next to all of your tweets.</li>
        <li>Complete your profile by entering your clinic name, location, a link to your website and a short (160 characters or less) summary of your business or philosophy.</li>
        <li>If desired, you can customize the background under the Design tab.</li>
    </ul>
    <em>Now it’s time to connect your Twitter account to BravoVets!</em>
</div>