@{
    ViewBag.Title = "BravoPets";
    ViewBag.SelectedNode = "protection";
    Layout = "~/Views/Shared/_LayoutBravoPets.cshtml";
}
<div id="side-nav">
    <ul class="nav list-unstyled">
        <li class="active">
            <a href="#home">&nbsp;</a>
        </li>
        <li class="">
            <a href="#protection">&nbsp;</a>
        </li>
        <li class="">
            <a href="#health">&nbsp;</a>
        </li>
        <li class="safety">
            <a href="#safety">&nbsp;</a>
        </li>
    </ul>
</div>

<div id="home" class="bravopets-home">
    <div class="jumbotron bravopets-home">
        <div class="container">
            <div class="jumbo-home-overlay">
                <div class="row top-jumbo-overlay">
                    <div class="col-md-3">
                        <div id="tweleveweeks_container">
                            <ul style="list-style:none;"></ul>
                        </div>
                        <h3 class="weeks">WEEKS</h3>
                    </div>
                    <div class="col-md-9 right-clock-text">
                        <h1>Extend the picture of health.</h1>
                    </div>
                </div>
                <div class="bottom-jumbo-overlay">
                    <h4>
                        Extend flea and tick protection up to 12 weeks with a single chew.*
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row marketing-row">
            <p>
                Ask your vet today about Bravecto – the first and only chewable
                flea and tick protection that starts working in 2 hours and lasts up to
                <span class="italic">12 full weeks</span>. That’s up to 3X longer than any other chewable or topical treatment!
                Now, with protection that tastes like a treat and works from the inside out,
                you never have to wait to snap the perfect selfie.
            </p>
        </div>
    </div>
</div>
<div id="protection">
    <div class="static-section protection">
        <div class="container">
            <div class="static-overlay bgbordeaux">
                <h2>PROTECTION</h2>
            </div>
        </div>
    </div>
    <div class="static-body protection">
        <div class="container">
            <h2>EXTEND A FAST-ACTING TREATMENT FOR MORE TIME TOGETHER.</h2>
            <p>
                With Bravecto you can give your dog better protection than traditional monthly treatments – and stop worrying about:
            </p>
            <ul class="list-items">
                <li>
                    Feeling guilty for missing a monthly treatment because of everything else on your mind
                </li>
                <li>
                    Chasing down your dog to apply treatments to its skin
                </li>
                <li>Keeping your dog away from your family while the traditional topical treatment you applied dries</li>
                <li>Having to wait for over 24 hours for protection to start working</li>
                <li>Delaying application because you don’t want to put yourself or your dog through the stress</li>
            </ul>
            <p>
                Just one Bravecto chewable starts killing fleas and ticks in just 2 hours, and provides up to 12 full weeks of continuous protection. Plus, Bravecto’s active ingredient is also a completely new compound, so there is no known insect or tick resistance to it – making protection worry-free.
            </p>
            <p>
                With such fast-acting, continuous and innovative protection, you gain the most powerful defense available in a chew against a flea infestation on your pet or in your home. Studies show that it takes about 3 months to drive a flea infestation into “extinction” in the home environment.1 Monthly treatments can add to your stress during an infestation by requiring you to reapply the treatment every 28 days to ensure continuous protection until the fleas are driven out. And, if you accidentally miss an application or if the treatment allows fleas to lay eggs before it is re-applied? It could mean your home is never free of fleas.
            </p>
            <p>
                With Bravecto’s long-lasting efficacy against adult fleas, you can potentially drive fleas to “extinction” in your household with just one treatment.<sup>2</sup>
            </p>
            <p>
                It’s a treatment so innovative, only your veterinarian can offer it. <strong>Ask your vet about Bravecto today.</strong>
            </p>
            <div class="row">
                <div class="bottom-bravopets-watch-row col-md-8 col-md-offset-2">
                    <img src="/Content/img/Bravecto_BravoPets_videothumb.jpg">
                    <div class="bottom-bravopets-watch">
                        <h3>BRAVECTO OVERVIEW VIDEO</h3>
                        <p>
                            Lorem
                        </p>
                        <a href="#" class="btn btn-default">
                            WATCH THE VIDEO
                            <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                        </a>
                        <br>
                        <a href="#">
                            Share this
                            <i class="icon icon-share"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="static-body bravopets-advantage-body grey">
    <div class="container items">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/img/calendar_icon.png" />
                <h4>THE LONGEST-LASTING<br />CHEW EVER</h4>
                <p>
                    Keeps dogs protected for up to 12 full weeks.*
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/img/clock_icon.png" />
                <h4>RAPIDLY KILLS AND <br />CONTINUOUSLY PROTECTS</h4>
                <p>
                    Dogs from both fleas <span class="italic">and</span> ticks.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/img/raindrop_icon.png" />
                <h4>WON'T<br />WASH OFF</h4>
                <p>
                    While grooming, washing or swimming.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/img/hand_icon.png" />
                <h4>CLEAN AND<br /> EASY DOSING</h4>
                <p>
                    Means you can treat and hug, immediately.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/img/calendar-alert_icon.png" />
                <h4>FEWER CHANCES<br /> TO FORGET</h4>
                <p>
                    With only 4 doses required for full-year protection.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/img/bug_icon.png" />
                <h4>CLINICALLY PROVEN <br />SAFE FOR ALL DOGS</h4>
                <p>
                    But deadly for fleas and ticks.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="health">
    <div class="static-section protection health">
        <div class="container">
            <div class="static-overlay bgbordeaux">
                <h2>HEALTH</h2>
            </div>
        </div>
    </div>
    <div class="static-body protection">
        <div class="container">
            <h2>LOOK OUT FOR THE ONE THAT'S ALWAYS LOOKING OUT FOR YOU.</h2>
            <p>
                Parasiticide sales and market size data suggests that directions from the vet to the owner to apply treatments monthly are often not followed1 – on average, dogs only receive protection from fleas and ticks 2.8 months out of the year. That means that, for nearly 9 months every year, many dogs are at risk for infestations – and may have an increased risk of exposure to the diseases that fleas and ticks carry. This is a big problem, as ticks are known to carry multiple infections that can lead to greater health risks.
            </p>
            <p>
                And, as wildlife populations, forest habitats and weather patterns change,<sup>3</sup> ticks have expanded into new territories – making them more prevalent worldwide than ever before.
            </p>
            <p>
                With just one Bravecto chew, fleas and ticks don’t stand a chance. Protect your dog from irritations and reduce the risk of tick-borne diseases with a chew that provides nearly a full-year coverage in just 4 doses. Keep your dog healthier, longer with the first and only chew that lasts up to 12 full weeks – that’s up to 3X longer than any other chewable or topical treatment available.
            </p>
            <p>
                Only your vet can provide this length of protection from flea- and tick-borne diseases.<strong>Ask your vet about <a href="#">Bravecto</a> today.</strong>
            </p>
            <div class="row health-items">
                <div class="col-md-4">
                    <img src="~/Content/img/3_5milbooklet.png" />
                    <h4>FLEA & TICK LIFECYCLE<br />INFOGRAPHIC</h4>
                    <p>
                        Why is it so important to stay <br />on schedule
                        with your dog's<br /> flea and tick protection?<br />
                        Find out now
                    </p>
                    <a class="btn btn-default" href="#" role="button">
                        DOWNLOAD PDF
                        <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                    </a>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/img/3_5milbooklet.png" />
                    <h4>THE UNTOLD STORY<br />INFOGRAPHIC</h4>
                    <p>
                        What are the dangers to<br /> your dog that lurk inside<br />
                        fleas and ticks?<br />
                        Check them out now.
                    </p>
                    <a class="btn btn-default" href="#" role="button">
                        DOWNLOAD PDF
                        <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                    </a>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/img/3_5milbooklet.png" />
                    <h4>THE EASY LIFE<br />INFOGRAPHIC</h4>
                    <p>
                        Do you know the 8 simple<br /> steps you should
                        be taking<br /> to care for your dog<br />
                        Get the list now.
                    </p>
                    <a class="btn btn-default" href="#" role="button">
                        DOWNLOAD PDF
                        <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="safety">
    <div class="static-section safety">
        <div class="container">
            <div class="static-overlay bgbordeaux">
                <h2>SAFETY</h2>
            </div>
        </div>
    </div>
    <div class="static-body safety">
        <div class="container">
            <h2>LONGER-LASTING PROTECTION FOR YOUR BEST FRIEND.</h2>
            <p>
                With Bravecto, dogs can enjoy the longest-lasting protection available in a chew – no matter where they are or what they get up to. Bravecto stands up to all scrutiny with a very comprehensive safety profile. It has been rigorously tested and proven safe for dogs – even at multiple times the maximum clinical dose. Whether out saving the world or making a splash, Bravecto keeps working hard for up to 12 weeks for all dogs, including:
            </p>
            <ul class="list-items">
                <li>Dogs as young as 8 weeks old, that are at least 2 kg / 4.4 lbs.</li>
                <li>Breeding dogs</li>
                <li>Pregnant dogs</li>
                <li>Lactating dogs</li>
                <li class="underline">“Ivermectin-sensitive” dogs</li>
            </ul>
            <p>
                And, because <a href="#">Bravecto</a> works from the inside out, you, your family and other pets are not exposed to the chemical formula – unlike with traditional topical flea and tick treatments.
                <br />
                Only your vet can provide the best and most convenient care that doesn’t compromise on efficacy and safety. <strong>Ask them about <a href="#">Bravecto</a> today.</strong>
            </p>
        </div>
        <div class="container">
            <div class="row safety-list-items-row">
                <div class="col-md-6">
                    <p>
                        This breakthrough treatment has been proven safe
                        for all dogs at 5X the maximum clinical dose - with no
                        known side effects! - including:
                    </p>
                    <ul class="list-unstyled safety-list">
                        <li class="clearfix">
                            <span class="label label-green"><i class="glyphicon glyphicon-ok"></i></span>
                            <p>Dogs as young as 6 months old, that are at least 4.4 lbs.</p>
                        </li>
                        <li class="clearfix">
                            <span class="label label-green"><i class="glyphicon glyphicon-ok"></i></span>
                            <p>Breeding, pregnant or lactating dogs</p>
                        </li>
                        <li class="clearfix">
                            <span class="label label-green"><i class="glyphicon glyphicon-ok"></i></span>
                            <p>"Ivermerctin-sensitive" dogs</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p>
                        Plus, since it works from the inside out, you, your family or other pets
                        are always safe from exposure - no matter what kind of adventure you're on.
                    </p>
                    <p>
                        Whether out saving the world or making splash, you can be sure that your dog will be protected
                        for up to 12 weeks. Ask your vet about <span class="orange">the longest-lasting chewable treatment available.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="static-body safety">
        <div class="container">
            <h2>FAQs</h2>
            <p>Get quick answers to some of the most frequently asked questions – or contact your vet to learn more about Bravecto.</p>
            <ul class="list-unstyled faq-list">
                <li class="question-item">
                    <div class="question">
                        <p>Why is Bravecto only available through veterinarians?</p>
                        <img src="~/Content/img/plus_icon.png" />
                    </div>
                    <div class="content">
                        <p>The veterinarian is the expert on pet health and can advise on the best and most appropriate treatments for pets. The prescription only status is also a regulatory requirement.</p>
                    </div>
                </li>
                <li class="question-item">
                    <div class="question">
                        <p>How does this treatment kill fleas and ticks?</p>
                        <img src="~/Content/img/plus_icon.png" />
                    </div>
                    <div class="content">
                        <p>
                            After you give your dog Bravecto, it quickly reaches tissue fluids just under your dog's skin. The moment fleas and ticks attach to start feeding, they make contact with bodily fluids and ingest fluralaner, the active ingredient in Bravecto.
                            Exposure to fluralaner paralyzes the fleas and ticks and then kills them
                            shortly after. Bravecto starts working in just 2 hours.
                            Within 12 hours of treatment, 100% of exposed fleas and ticks are dead.
                            Bravecto kills fleas, prevents flea infestations and kills common ticks
                            (<span class="italic">ixodes ricinus, dermacentor variabilis and dermacentor reticulatus</span>)
                            for up to 12 weeks. Bravecto also kills Rhipicephalus sanguineus for up to 8 weeks.
                        </p>
                    </div>
                </li>
                <li class="question-item">
                    <div class="question">
                        <p>
                            My dog is taking some medications for another condition as well right now. <br />Is it safe
                            to give her Bravecto?
                        </p>
                        <img src="~/Content/img/plus_icon.png" />
                    </div>
                    <div class="content">
                        <p>It is always best to discuss all of your dog's treatments, whether prescription or over-the-counter supplements, with your veterinarian as they are your pet's health care expert.</p>
                    </div>
                </li>
                <li class="question-item">
                    <div class="question">
                        <p>
                            Can I give this to my cat?
                        </p>
                        <img src="~/Content/img/plus_icon.png" />
                    </div>
                    <div class="content">
                        <p>Bravecto is not approved for use in cats.</p>
                    </div>
                </li>
                <li class="question-item">
                    <div class="question">
                        <p>
                            How palatable is it?
                        </p>
                        <img src="~/Content/img/plus_icon.png" />
                    </div>
                    <div class="content">
                        <p>In a US field study where dogs were treated at home, over 93% of dogs ate the tablet voluntarily—either by itself or with food.<sup>4</sup></p>
                    </div>
                </li>
                <li class="question-item">
                    <div class="question">
                        <p>
                            What time of day should I give it to my dog?
                        </p>
                        <img src="~/Content/img/plus_icon.png" />
                    </div>
                    <div class="content">
                        <p>Bravecto can be given to your dog any time of the day.</p>
                    </div>
                </li>
                <li class="question-item">
                    <div class="question">
                        <p>
                            Do the chewable tablets contain wheat or gluten?
                        </p>
                        <img src="~/Content/img/plus_icon.png" />
                    </div>
                    <div class="content">
                        <p>No</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <p>
            * BRAVECTO is effective against Rhipicephalus sanguineus (brown dog tick) for 8 weeks after dosing.
            The most common adverse reactions were mild and short-lived vomiting, decreased appetite, diarrhea and drooling. For complete safety information, refer to product label.
        </p>
        <p>
            1,2  Walther, Feli M., Mark J. Allan, Rainer KA Roepke, and Martin C. Nuernberger. "Efficacy of Indoxacarb Applied to Cats against the Adult Cat Flea, Ctenocephalides Felis, Flea Eggs and Adult Flea Emergence." Parasites & Vectors. N.p., 2014. Web. 20 Feb. 2015.
        </p>
        <p>
            3 Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg: results of a questionnaire study. Berliner und Münchener Tierärztliche Wochenschrift 126, Heft 1/2 (2013) Seiten 6–76.
        </p>
        <p>
            4 Braun, David. "Disease-Spreading Ticks on the Move as Climate Changes." National Geographic. N.p., 07 Sept. 2012. Web. 13 Feb. 2015.
        </p>
        <p>
            Copyright© 2015 Intervet, Inc., a subsidiary of Merck & Co., Inc. All rights reserved.
        </p>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').scrollspy({ target: '#side-nav' });

            $('li.question-item').on('click', function () {
                var $this = $(this);
                if ($this.hasClass('active')) {
                    $this.removeClass('active');
                    $this.find('div.content').slideUp('fast');
                    $this.find('img').attr('src', '/Content/img/plus_icon.png');
                } else {
                    $this.addClass('active');
                    $this.find('div.content').slideDown('fast');
                    $this.find('img').attr('src', '/Content/img/minus_icon.png');
                }
            });

            var imagePATH = "/Content/img/", clockImgArr = [],
                clockImgPNGArr = [],
                clockArr = [],
                clockCount = 0;

            //images and li class names
            clockImgArr[0] = 'clock_anim_04';
            clockImgArr[1] = 'clock_anim_05';
            clockImgArr[2] = 'clock_anim_06';
            clockImgArr[3] = 'clock_anim_07';
            clockImgArr[4] = 'clock_anim_08';
            clockImgArr[5] = 'clock_anim_09';
            clockImgArr[6] = 'clock_anim_10';
            clockImgArr[7] = 'clock_anim_11';
            clockImgArr[8] = 'clock_anim_12';
            clockImgArr[9] = 'clock_anim_blur01';
            clockImgArr[10] = 'clock_anim_blur10';
            clockImgArr[11] = 'clock_anim_blur11';

            //make names into images links
            $.each(clockImgArr, function (key, val) {
                clockImgPNGArr[key] = imagePATH + val + '.png';
            })

            //load the first image
            $('#tweleveweeks_container ul').append('<li class="' + clockImgArr[0] + ' clockface" style="display:block"><img src="' + clockImgPNGArr[0] + '" ></li>');

            //create animation order array
            var n = 0;
            for (var i = 0; i < 17; i++) {
                if (i % 2 == 0) {
                    clockArr[i] = clockImgArr[n];
                    n++;
                } else if (i < 11 && i % 2 != 0) {
                    clockArr[i] = clockImgArr[9];
                } else if (i == 11) {
                    clockArr[i] = clockImgArr[11];
                } else if (i > 11 && i % 2 != 0) {
                    clockArr[i] = clockImgArr[10];
                }
            }

            //preloading functions
            function preloadImages(images, callback) {
                var count = images.length;
                if (count === 0) {
                    callback();
                }
                var loaded = 0;
                $(images).each(function () {
                    $('<img>').attr('src', this).load(function () {
                        loaded++;
                        if (loaded === count) {
                            callback();
                        }
                    });
                });
            };
            preloadImages(clockImgPNGArr, function () {
                aferLoaded()
            });

            // do all this crap after its loaded
            function aferLoaded() {
                console.log('They loaded!');

                $.each(clockImgArr, function (key, val) {
                    if (key > 0) {
                        $('#tweleveweeks_container ul').append('<li class="' + val + ' clockface" style="display:none"><img src="' + clockImgPNGArr[key] + '" ></li>');
                    }

                })
                //ANIMATE
                $('#tweleveweeks_container img').ready(function () {
                    setTimeout(function () {
                        var clockAnim = setInterval(function () {
                            $('.clockface').hide();
                            $('.' + clockArr[clockCount]).show();
                            if (clockCount >= clockArr.length - 1) {
                                clearInterval(clockAnim);
                            }
                            clockCount++;
                        }, 50);
                    }, 1000)
                })
            }
        });
    </script>
}
