<div class="text-content">
    <h3>Facebook для малого бизнеса</h3>
    <hr class="plus diagonal">
    <p>Да, он велик — более 1,25 миллиардов пользователей — и растет с каждым днем. Но не сам по себе масштаб Facebook делает его интересным для владельцев малого бизнеса, а вероятность того, что ваша аудитория — владельцы домашних животных, живущие в вашем районе — тоже пользуются этой самой активной из всех социальных сетей. Facebook позволяет связываться с клиентами, находить с ними общий язык и выстраивать более глубокие отношения, сообщая им информацию, демонстрирующую опыт вашей клиники, ваши знания и заботу на личном уровне — один на один — что недостижимо с помощью других средств маркетинга.</p>
    <div class="hidden-xs">
        <a href="/editprofileandfacility" class="btn btn-facebookpost no-icon">Отредактируйте свой профиль, чтобы связать его со своей страницей в Facebook</a>
    </div>
    <div class="visible-xs">
        <a href="/editprofileandfacility" class="btn btn-facebookpost no-icon">Свяжите свой аккаунт на Facebook</a>
    </div>
    <h3>Создание страницы в Facebook</h3>
    <hr class="plus diagonal">
    <p>Для настройки страницы вашего предприятия в Facebook сначала нужно спланировать стратегию и подготовиться.</p>
    <p>Вам понадобятся:</p>
    <ul class="styled">
        <li>Учетная запись в Facebook: все страницы предприятий связаны с чьей-то личной учетной записью. Не переживайте, это не значит, что поклонники вашей клиники увидят какие-нибудь личные сведения или файлы в вашей учетной записи; это просто формальность.</li>
        <li>Краткое описание вашего предприятия для раздела «Информация».</li>
        <li>Фотография профиля (как правило, логотип) и фотография «обложки» (крупное горизонтальное изображение в верхней части страницы в Facebook).</li>
    </ul>
    <p>Для создания страницы сначала войдите в Facebook. Затем щелкните на небольшое изображение с шестеренкой у правого края страницы, рядом со своим именем, и выберите «Создать страницу»:</p>
    <ul class="styled">
        <li>Выберите категорию — это поможет вашей организации появляться в результатах поиска. В данном случае вам стоит выбрать «Местная организация, или место». Затем выберите категорию, к которой относится ваша организация, и введите ее наименование.</li>
        <li>Заполните основные сведения  — выберите изображение логотипа вашей компании в высоком разрешении и установите его в качестве изображения профиля. Чтобы заполнить раздел «Информация», добавьте краткое описание вашей компании (два-три предложения) со ссылкой на ваш сайт.</li>
        <li>Запросите персонализированный адрес страницы в Facebook — зарегистрируйте адрес вида Facebook.com/НазваниеВашейКомпании, что позволит легко указывать его на различных рекламных материалах.</li>
    </ul>
    <em>Теперь вы готовы подключить свою страницу к BravoVets!</em>
</div>