@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }

<div class="container">
    <div class="hero-banner-image"></div>
    <div id="hero-wrapper" class="row">
        <div class="col-sm-5 col-md-4 hero-banner-copy">
            <h1 class="terms-and-conditions">Bienvenido a Bravecto</h1>
            <hr class="plus diagonal">
            <p>Bravecto es un tratamiento para pulgas y garrapatas, pero lo que es más importante, es un ejemplo de auténtica innovación en salud animal, lo que lo hace el socio perfecto para ayudarte a ampliar tu negocio. Bravecto puede ayudarte a explorar nuevos recursos para tu clínica, a establecer una mejor comunicación con los propietarios de mascotas e, idealmente, a convertirlos en clientes fieles durante toda la vida de sus mascotas.</p>
        </div>
        <div class="col-sm-7 col-md-8 hero-image-container">
            <img src="/images/SuperDog_web_es.png" alt="Super Dog">
        </div>
    </div>
    <div id="hero-bottom"></div>
    <div class="row visible-xs">
        <div class="col-xs-12">
            <hr class="plus diagonal">
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-sm-4"><hr class="diagonal shift-right"></div>
        <div class="col-sm-4"><hr class="plus diagonal shift-left shift-right"></div>
        <div class="col-sm-4"><hr class="plus diagonal shift-left"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-innovation-header-lg_es.jpg" alt="Innovation">
                    <h2>Innovación</h2>
                </div>
                <div class="inset">
                    <h3>¿Qué nueva alternativa innovadora puede hacer que los propietarios de mascotas ignoren otras opciones sin prescripción?</h3>
                    <p>Descubra una nueva clase de protección &mdash; Bravecto.</p>
                    <ul class="styled">
                        <li>La ciencia innovadora de MSD Animal Health le ofrece una solución única y diferente.</li>
                        <li>Bravecto (fluralaner) supone una auténtica innovación en la protección frente a pulgas y garrapatas, satisfaciendo la necesidad de un producto innovador con beneficios únicos.</li>
                    </ul>
                    <a href="/bravecto/innovation?solutionID=0">Leer más</a>
                </div>
                <div class="inset">
                    <h3>¿Qué hace que Bravecto sea un tratamiento preventivo revolucionario frente a pulgas y garrapatas?</h3>
                    <p>Bravecto ofrece una protección total de hasta 12 semanas.</p>
                    <a href="/bravecto/innovation?solutionID=1">Leer más</a>
                </div>
                <div class="inset">
                    <h3>¿Qué tratamiento preventivo frente a pulgas y garrapatas ofrece la tranquilidad de una eficacia inmediata y persistente?</h3>
                    <ul class="styled">
                        <li>Eficacia inmediata y persistente frente a pulgas y garrapatas.</li>
                        <li>Eficacia de amplio espectro frente a un amplio rango de especies de pulgas y garrapatas.</li>
                    </ul>
                    <a href="/bravecto/innovation?solutionID=2">Leer más</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/innovation">Ver Todo</a></h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-compliance-header-lg_es.jpg" alt="Compliance">
                    <h2>Cumplimiento</h2>
                </div>
                <div class="inset">
                    <h3>¿Cómo puedes hacer que el cumplimiento sea más fácil para los propietarios de mascotas?</h3>
                    <p>Con Bravecto, una dosificación más sencilla, y cómoda puede significar un mejor cumplimiento.</p>
                    <ul class="styled">
                        <li>Una dosis única proporciona una protección de hasta 12 semanas de eficacia.</li>
                        <li>La dosificación es sencilla y limpia.</li>
                        <li>Durante 12 semanas, las pulgas adultas mueren antes de que puedan producir huevos viables.</li>
                        <li>Se recomienda una protección anual con cuatro dosis.</li>
                        <li>Si los propietarios están satisfechos volverán de nuevo a la clínica</li>
                    </ul>
                    <a href="/bravecto/compliance?solutionID=0">Leer más</a>
                </div>
                <div class="inset">
                    <h3>¿Por qué Bravecto es el producto favorito para los perros?</h3>
                    <p>Porque Bravecto es un comprimido masticable muy apetecible, que le gusta a los perros.</p>
                    <a href="/bravecto/compliance?solutionID=1">Leer más</a>
                </div>
                <div class="inset">
                    <h3>¿Por qué Bravecto es el producto que prefieren los propietarios de mascotas?</h3>
                    <p>Bravecto ofrece un programa de dosificación de hasta 12 semanas fácil de administrar.</p>
                    <a href="/bravecto/compliance?solutionID=2">Leer más</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/compliance">Ver Todo</a></h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-newBus-header-lg.jpg" alt="New Business">
                    <h2>Nuevo negocio</h2>
                </div>
                <div class="inset">
                    <h3>¿Cómo pueden las redes sociales incrementar su negocio?</h3>
                    <p>Seleccionando BravoVets, la herramienta profesional para establecer, reforzar y gestionar su presencia en redes sociales y sus acciones de relaciones públicas.</p>
                    <ul class="styled">
                        <li>Encuentre nuevos clientes potenciales y manténgase actualizado.</li>
                        <li>Conexiones más cercanas con el público existente.</li>
                        <li>Sea el experto en bienestar y salud de mascotas para sus clientes.</li>
                    </ul>
                    <a href="/bravecto/newbusiness?solutionID=0">Leer más</a>
                </div>
                <div class="inset">
                    <h3>Olvídese de la competencia de sin prescripción.</h3>
                    <p>Recupere clientes perdidos y cree relaciones.</p>
                    <ul class="styled">
                        <li>Servicios exclusivos relacionados con productos innovadores como Bravecto.</li>
                        <li>Muestre a sus clientes que el “valor” comienza en su experiencia.</li>
                    </ul>
                    <a href="/bravecto/newbusiness?solutionID=1">Leer más</a>
                </div>
                <div class="inset">
                    <h3>¿Cómo puede obtener una mayor cuota en el mercado de la prevención frente a pulgas y garrapatas?</h3>
                    <p>Bravecto es el único tratamiento oral disponible de hasta 12 semanas. Solo de prescripción veterinaria.</p>
                    <a href="/bravecto/newbusiness?solutionID=2">Leer más</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/newbusiness">Ver Todo</a></h4>
            </div>
        </div>
    </div>
</div>