<div class="text-content">
    <h3>Twitter para pequeños negocios</h3>
    <hr class="plus diagonal">
    <p>Twitter es una herramienta social a tiempo real. En Twitter todo sucede rápidamente y las tendencias ascienden y caen en cuestión de minutos. También se ha convertido en el medio o canal de elección para que los consumidores hablen de o acerca de las marcas que les gustan (o detestan). Mientras las principales líneas aéreas y los proveedores de televisión por cable tienen que estar listos las 24 horas del día y los 7 días de la semana para abordar los distintos asuntos, el papel de Twitter para los pequeños negocios es ligeramente distinto. En el caso de tu clínica, Twitter puede ayudarte a: </p>
    <p>Desarrollar y llegar a una audiencia de seguidores.</p>
    <p>Identificar tu marca y a ti mismo como una autoridad. Cuando publicas un “tweet”, otros pueden ver y difundir tus palabras.</p>
    <p>Mantenerte informado sobre las últimas noticias y tendencias en tu campo siguiendo a los expertos y a las fuentes de noticias sobre salud animal.</p>
    <div class="hidden-xs">
        <a href="/editprofileandfacility" class="btn btn-tweet no-icon">Edite tu perfil para vincular tu cuenta de Twitter</a>
    </div>
    <div class="visible-xs">
        <a href="/editprofileandfacility" class="btn btn-facebookpost no-icon">Enlace su Cuenta de Twitter</a>
    </div>
    <h3>Creación de una cuenta de Twitter</h3>
    <hr class="plus diagonal">
    <p>Crear una cuenta de Twitter para tu clínica requiere sólo algunos pasos sencillos:</p>
    <ul class="styled">
        <li>Introduce el nombre completo de tu clínica como te gustaría que apareciese en tu perfil.</li>
        <li>Introduce el nombre de usuario.</li>
        <li>Crea una contraseña segura.</li>
        <li>Utiliza la dirección de correo de la persona que será administrador de tu cuenta de Twitter.</li>
    </ul>
    <p>Para personalizar la cuenta para tu clínica, haz click en "perfil" y completa los siguientes pasos:</p>
    <ul class="styled">
        <li>Elige una fotografía de alta resolución del logo de tu clínica para colocarla como foto. Esta imagen aparecerá al lado de todos los mensajes.</li>
        <li>Completa tu perfil introduciendo el nombre de tu clínica, ubicación, un enlace a tu sitio web y un breve resumen (160 caracteres o menos) de la filosofía de tu clínica.</li>
        <li>Si así lo deseas, puedes personalizar el diseño de fondo en la sección "Diseño".</li>
    </ul>
    <em>Es hora de conectar tu cuenta de Twitter con BravoVets!</em>
</div>