@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask" style="">Innovation</h1>
                    <div class="page-subhead">Discover a new class of protection</div>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/innovation-issu1-newInnovation-tile-lg.jpg" alt="Innovation Issue 1">
                        <div class="issue-contents">
                            <h3>What exciting new innovative alternative makes pet owners ignore over-the-counter options?</h3>
                            <hr class="plus diagonal">
                            <p>Discover a new class of protection – Bravecto.</p>
                            <ul class="styled">
                                <li>Innovative science from MSD Animal Health gives you a solution that stands out.</li>
                                <li>Bravecto<sup>&reg;</sup> (fluralaner) introduces an innovation in flea and tick protection—filling the need for an innovative product with distinct benefits.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>What makes Bravecto revolutionary in flea and tick prevention?</h4>
                            <hr class="plus diagonal">
                            <p>Bravecto delivers total protection for a full 12 weeks.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Read More</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>What flea and tick prevention offers the peace of mind of consistent, lasting efficacy?</h4>
                            <hr class="plus diagonal">
                            <ul class="styled">
                                <li>Consistent, lasting efficacy against both fleas and ticks.</li>
                                <li>Broad-spectrum efficacy against global flea and tick species.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/innovation-issu4-vectorBorne-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>What is the best way to control Vector-Borne Diseases?</h3>
                            <hr class="plus diagonal">
                            <p>Bravecto is the veterinarian’s best choice for controlling the risk of vector-borne disease. Controlling vector-borne disease requires:</p>
                            <ol class="styled">
                                <li><p>Killing the parasites quickly</p></li>
                                <li><p>High level of efficacy throughout the treatment period</p></li>
                                <li><p>Full pet owner compliance with treatment recommendations</p></li>
                            </ol>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Back to top</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu1-newInnovation-lg.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Make Bravecto the pet owners' favorite new alternative to over-the-counter options.</h2>
                            </div>
                            <h2 class="visible-xs">Make Bravecto the pet owners favorite new alternative to over the counter options.</h2>
                            <hr class="plus diagonal">
                            <h3>Innovative science from MSD gives you a solution that stands out.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>New from MSD Animal Health, Bravecto<sup>&reg;</sup> (fluralaner) introduces an innovation in flea and tick protection—filling the need for an innovative product with distinct benefits.</p>
                                    <p>Fluralaner is an isoxazoline, a novel and specific blocker of insect ligand-gated chloride channels. Isoxazoline is the first new insecticide class in more than a decade.<sup>3-5</sup></p>
                                    <p>In a recent <i style="font-style:italic;">in vitro</i> study, fluralaner was compared with fipronil against four insect and three tick parasite species.<sup>5</sup> The authors found that fluralaner is not affected by the resistance mutation in fleas, and that:</p>
                                    <ul class="styled">
                                        <li>Fluralaner outperforms fipronil on the primary molecular target</li>
                                        <li>Fluralaner exhibited higher parasiticidal activity compared with fipronil, imidacloprid and other agents with different modes of action</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <div class="molecule-wrapper">
                                            <div mouse-capture>
                                                <img-rotator height="311" width="466" sprites="36" src="~/images/molecule.png"></img-rotator>
                                            </div>
                                        </div>
                                    </p>
                                    <iframe src="//quadia.webtvframework.com/intervet/_app/player/?id=390574" frameborder="0" allowtransparency="true" style="border:none;width:512px;height:288px;overflow:hidden;max-width:100%;"></iframe>
                                    @* <iframe src="//quadia.webtvframework.com/intervet/marketingservices/_app/publication_player/?id=390574" frameborder="0" allowtransparency="true" style="border:none;width:512px;height:288px;overflow:hidden;max-width:100%;"></iframe>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>References</h4>
                                    <div class="references">
                                        <p class="ref-number">3</p>
                                        <p>Ozoe, Y. Y-aminobutyrate- and glutamate-gated chloride channels as targets of insecticides. In: [book title needed, with publication info.]</p>
                                        <p class="ref-number">4</p>
                                        <p>Ozoe Y, Asahi M, Ozoe F, Nakahira K, Mita T. The antiparasitic isoxazoline A1443 is a potent blocker of insect ligand-gated chloride channels. Biochem Biophys Res Commun. 2010;391:744-749.</p>
                                        <p class="ref-number">5</p>
                                        <p>Gassel M, Wolf C, Noack S, Williams H, Ilg T. The novel isoxazoline ectoparasiticide fluralaner: Selective inhibition of arthropod γ-aminobutyric acid- and L-glutamate-gated chloride channels and insecticidal/acaricidal activity. [publication information to come]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu2-revolutionary-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">Revolutionary new Bravecto, the flea and tick prevention that will make those monthly treatments a thing of the past.</h2>
                            </div>
                            <h2 class="visible-xs">Revolutionary new Bravecto, the flea and tick prevention that will make those monthly treatments a thing of the past.</h2>
                            <hr class="plus diagonal">
                            <h3>Delivers total protection for a full 12 weeks.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto starts working fast, and kills fleas and ticks for the full 12-week dosing period.<sup>6,7</sup> Overcome the shortcomings of current monthly treatments with new Bravecto.</p>
                                    <ul class="styled">
                                        <li>
                                            Bravecto killed 98 - 100 % of fleas at 8 hours and ticks (<i style="font-style:italic;">I ricinus</i>) at 12 hours for 12 weeks
                                            <ul class="styled">
                                                <li>Other agents take up to 48 hours for onset of effect<sup>8</sup></li>
                                            </ul>
                                        </li>
                                        <li>Broad-spectrum activity against common flea and tick species<sup>6,7</sup></li>
                                        <li>
                                            Sustained activity for the full dosing period<sup>6,7</sup>
                                            <ul class="styled">
                                                <li>Flea control efficacy was >98 % at 8 hours at all time points<sup>9</sup></li>
                                                <li>Tick control efficacy was >98 % at 12 hours at all time points<sup>9</sup></li>
                                            </ul>
                                        </li>
                                        <li>Rapid resolution of flea allergy dermatitis (FAD)<sup>7</sup></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <div bravo-chart chart-id="speedKill"></div>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>References</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto™ PI</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich et al. Parasites & Vectors 2014, 7:83</p>
                                        <p class="ref-number">8</p>
                                        <p>NexGard (afoxalaner) chewables. Prescribing information. Merial Labs, 2013.</p>
                                        <p class="ref-number">9</p>
                                        <p>Data on File. Merck Animal Health, Summit, NJ. 2013. For UK purposes the references should be: Wengenmayer 2012, Study No. V-0084-0196 & Wengenmayer 2012 Study No. V-0084-0225.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu3-peaceOfMind-lg.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Give your clients peace of mind with powerful, long-lasting protection against both fleas and ticks.</h2>
                            </div>
                            <h2 class="visible-xs">Give your clients peace of mind with powerful, long-lasting protection against both fleas and ticks.</h2>
                            <hr class="plus diagonal">
                            <h3>Consistent, lasting efficacy against both fleas and ticks.</h3>
                            <div class="row">
                                <div class="col-sm-6">                                   
                                    <div bravo-chart chart-id="householdsFreeFleas" class="match-height"></div>
                                    <p class="caption">Adapted from Rohdich, 2013.</p>
                                    <div class="callout-box">
                                        <p>
                                            <strong>Onset of efficacy against fleas:</strong>
                                        </p>
                                        <p>
                                            Fluralaner 8 hours<sup>6</sup>
                                        </p>
                                    </div>
                                    <p>Fleas and ticks around the world have no resistance to Bravecto. It delivers powerful protection against a range of species.<sup>6, 7</sup></p>
                                </div>
                                <div class="col-sm-6">
                                    <div bravo-chart chart-id="tickControlEfficacy" class="match-height"></div>
                                    <p class="caption">Adapted from Rohdich, 2013.</p>
                                    <div class="callout-box">
                                        <p><strong>Onset of efficacy against ticks:</strong></p>
                                        <p>
                                            Fluralaner 12 hours<sup>6</sup>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="caption">Rohdich, et al is a randomized investigator-blinded, multisite field study comparing the flea and tick control efficacy over a 12-week period of treating dogs with either a single oral 25 mg/kg dose of Bravecto formulated as a flavoured chewable tablet or with three sequential topical fipronil treatments at 4-week intervals.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>Broad-spectrum efficacy against flea and tick species.</h3>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Flea species</th>
                                                <th>Tick species</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><p class="caption">Ctenocephalides felis</p></td>
                                                <td>
                                                    <p class="caption">Ixodes ricinus</p>
                                                    <p class="caption">Dermacentor reticulatus</p>
                                                    <p class="caption">Dermacentor variabilis</p>
                                                    <p class="caption">Rhipicephalus sanguineus</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>Ask your MSD representative about this innovative treatment breakthrough.</p>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>References</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto™ PI</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich et al. Parasites & Vectors 2014, 7:83</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu4-vectorBorne-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Control Vector-Borne Diseases.</h2>
                            </div>
                            <h2 class="visible-xs">Control Vector-Borne Diseases.</h2>
                            <hr class="plus diagonal">
                            <h3>Bravecto is the veterinarian professional’s best choice for controlling the risk of vector-borne disease.</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Controlling vector-borne disease requires:</p>
                                    <ol>
                                        <li>Killing the parasites quickly</li>
                                        <li>High level of efficacy throughout the treatment period</li>
                                        <li>Full pet owner compliance with treatment recommendations</li>
                                    </ol>
                                    <p>Information on vector-borne disease transfer is constantly evolving. The following table is a summary of recent research.<sup>10-14</sup></p>
                                </div>
                            </div>
                            <div class="row" >                                
                                <div class="col-sm-6">
                                    <p class="caption">Babesia canis canis published transmission time</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tick</th>
                                                <th class="center">Test species</th>
                                                <th class="center">Transmisison time</th>
                                                <th class="center">Transmission</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Dermacentor reticulatus nymphs</td>
                                                <td class="center">Dogs</td>
                                                <td class="center">&gt;48 h</td>
                                                <td class="center">Positive</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <p class="caption">Ehrlichia phagocytophila published transmission time</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tick</th>
                                                <th class="center">Test species</th>
                                                <th class="center">Transmisison time</th>
                                                <th class="center">% Transmission</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Ixodes scapularis nymphs</td>
                                                <td class="center">Mice</td>
                                                <td class="center">&lt;24 h</td>
                                                <td class="center">66</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Bravecto kills greater than 99% of Ixodes ticks at 12 hours throughout the entire 12-week treatment period.<sup>9</sup></p>
                                    <ul class="styled">
                                        <li>Rapid tick killing reduces the risk of disease transmission</li>
                                        <li>12-week efficacy reduces the risk of gaps in ectoparasite protection. An owner survey has shown that owners do not comply with monthly treatments.<sup>14</sup> Untreated dogs are at risk of tick-borne disease.</li>
                                        <li>Topical tick control efficacy is not 100% for the whole month; dogs with ticks attached can be exposed to vector-borne diseases.<sup>15</sup></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>References</h4>
                                    <div class="references">
                                        <p class="ref-number">9</p>
                                        <p>Data on File. Merck Animal Health, Summit, NJ. 2013. For UK purposes the references should be: Wengenmayer 2012, Study No. V-0084-0196 &amp; Wengenmayer 2012 Study No. V-0084-0225.</p>
                                        <p class="ref-number">10</p>
                                        <p>Crippa M, Rais O, Gern L. Investigations on the mode and dynamics of transmission and infectivity of Borrelia burgdorferi sensu stricto and Borrelia afzelii in Ixodes ricinus ticks. Vector Borne Zoonotic Dis. 2002;2:3-9.</p>
                                        <p class="ref-number">11</p>
                                        <p>Kahl O, Gern L, Gray JS&lt; et al. Detection of Borrelia burgdorferi sensu lato in ticks: immunofluorescence assay versus polymerase chain reaction. Zent.bl. Bakteriol. 1998;287:205-210.</p>
                                        <p class="ref-number">12</p>
                                        <p>Kahl O, Janetzki-Mittmann C, Gray JS, Jonas R, Stein J, de Boer R. Risk of infection with Borrelia burgdorferi sensu lato for a host in relation to the duration of nymphal Ixodes ricinus feeding and method of tick removal. Zent.bl. Bakteriol. 1998;287:41-52.</p>
                                        <p class="ref-number">13</p>
                                        <p>Piesman J, Mather TN, Sinsky RJ, Spielman A. Duration of tick attachment and Borrelia burgdorferi transmission. J Clin Microbiol. 1987;557-558.</p>
                                        <p class="ref-number">14</p>
                                        <p>Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg: results of a questionnaire study. Berliner und Münchener Tierärztliche Wochenschrift 126, Heft 1/2 (2013), Seiten 6–76.</p>
                                        <p class="ref-number">15</p>
                                        <p>Guerino F.  Effectiveness of Activyl® and Activyl Tick plus in dogs. in Recent advances in companion animal ectoparasite control. Symposium Proceedings. 2012 Intervet International B.V. a subsidiary of Merck &amp; Co., Inc. page 15.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });



        });

    </script>
}