@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask" style="">
                        New Business
                    </h1>
                    <div class="page-subhead">Discover a new class of protection</div>
                </div>
                <hr class="plus diagonal">

            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/newBus-issu1-socialMediaPower-tile.jpg" alt="New Business Issue 1">
                        <div class="issue-contents">
                            <h3>How can social media grow your business?</h3>
                            <hr class="plus diagonal">
                            <p>Introducing <a href="/dashboard">BravoVets</a>, the professional tool to establish, strengthen and manage your social and PR presence.</p>
                            <ul class="styled">
                                <li>Find new prospects and stay up to date</li>
                                <li>Make deeper connections with existing audiences</li>
                                <li>Establish yourself as the pet health and wellness expert for your clientsasd</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Coming Soon</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>How can you grab a larger share of the flea and tick prevention market?</h4>
                            <hr class="plus diagonal">
                            <p>
                                Bravecto is the only 12-week oral therapy available. Only available through veterinarians.
                                <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Read More</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h3>Take over your over-the-counter competition. </h3>
                            <hr class="plus diagonal">
                            <p>Reclaim lost customers and build relationships.</p>
                            <ul class="styled">
                                <li>Exclusive services linked to innovative products like Bravecto.</li>
                                <li>Show your customers that “value” starts with your expertise.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/newBus-issu4-strongRelationship-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>How do you build a stronger business and stronger client relationships?</h3>
                            <hr class="plus diagonal">
                            <p>A range of innovative methods drives customers to you and keeps them there</p>
                            <ul class="styled">
                                <li>Comprehensive consumer marketing efforts.</li>
                                <li>In-office displays and educational materials.</li>
                                <li><a href="/dashboard">BravoVets</a> – the new online resource to expand your social presence.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Back to top</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu1-socialMediaPower-lg.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Unleash the power of social media on your practice.</h2>
                            </div>
                            <h2 class="visible-xs">Unleash the power of social media on your practice.</h2>
                            <hr class="plus diagonal">
                            <h3>BravoVets—a tool for veterinary professionals to establish, strengthen and manage your social and PR presence. Your online presence is the single most potent tool you have to build engagement and involvement with clients.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="/dashboard"><img src="/images/newBus-issu1-socialMediaPower-text-lg.jpg" alt="Bravovets Screenshot"></a>
                                    <p><a href="/dashboard">BravoVets</a> helps you educate pet owners about the extended protection provided by Bravecto. It also offers practical tools you can use to build your business and track your “social standing” online.</p>
                                    <ul class="styled">
                                        <li>Bravecto product news and updates</li>
                                        <li>Notification center for lead generation</li>
                                        <li>Recent customer posts on your Facebook wall</li>
                                        <li>Recent Twitter posts using your user handle or hashtag</li>
                                        <li>Summary of trending topics</li>
                                        <li>Social tips to help you optimize your online visibility</li>
                                    </ul>
                                    <h3>A stronger presence for your practice starts with a click.</h3>
                                    <p>Pet owners are always looking for new ways to connect with like-minded animal lovers and find useful information about pet health and wellness. Social media is a key form of communication and engagement for pet owners.</p>
                                    <ul class="styled">
                                        <li>70% of pet owners spend up to 30 minutes per week reviewing pet-related topics online<sup>20</sup></li>
                                        <li>Many people consult “Dr. Google” and non-professional websites for pet-care advice, rather than calling their vet</li>
                                        <li>69% of online adults (representing half of the entire adult US population) use an online social network of some kind<sup>21</sup></li>
                                        <li>Use of social media is up to 80% of internet users in some countries—with dozens of pages dedicated to dog-related topics<sup>22</sup></li>
                                        <li>
                                            Websites dedicated to dog owners have credibility—and also use Facebook and Twitter as well as a range of other sites including:
                                            <ul class="styled">
                                                <li>PetMD.com</li>
                                                <li>BlogPaws.com</li>
                                                <li>Dogasaur.com</li>
                                                <li>Harry’s Picks (harryspicks.com)</li>
                                                <li>Doggyloot.com</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <div bravo-chart chart-id="petOwnership"></div>
                                    <h3>Social media is the way to engage with and inform clients</h3>
                                    <p>14% of Facebook users have an account in their dog’s name.<sup>23</sup></p>
                                    <p>Bravecto gives you an ideal opportunity to engage with your clients and deliver important news about a major advance in flea protection.</p>
                                    <h3>A small investment of time—a big payoff in loyalty</h3>
                                    <p><strong><a href="/dashboard">BravoVets</a></strong> can help you find new prospects and stay up to date, with</p>
                                    <ul class="styled">
                                        <li>Effective lead-generation strategies to bring in new patients</li>
                                        <li>Updates and alerts relevant to your practice</li>
                                        <li>Current clinical data, webinars, videos and case studies</li>
                                    </ul>
                                    <p><strong>Connect</strong> with new and existing audiences with</p>
                                    <ul class="styled">
                                        <li>Consumer information and education materials on Bravecto</li>
                                        <li>Consumer-friendly content for newsletters, blogs and social postings</li>
                                    </ul>
                                    <p><strong>Maintain</strong> strong relationships with</p>
                                    <ul class="styled">
                                        <li>Tips and guidance to strengthen your social media presence</li>
                                        <li>Client-retention tools, promotional ideas and support materials</li>
                                    </ul>
                                    <p>More than ever, you have opportunities to connect and communicate in positive, proactive ways. Ask your MSD Animal Health representative for more information, and visit Bravecto.com for more information.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>References</h4>
                                    <div class="references">
                                        <p class="ref-number">20</p>
                                        <p>Orsini P, Drolet D, Liu C. Pet projects: digital connects pet owners to brands. eMarketer. July 2013.</p>
                                        <p class="ref-number">21</p>
                                        <p>Rainie L, Smith A, Duggan M. Coming and going on Facebook. Pew Internet &amp; American Life Project. 2013. A project of the PewResearchCenter, Washington, DC.</p>
                                        <p class="ref-number">22</p>
                                        <p>eMarketer, UK Remains Top Facebook Market in Western Europe, May, 2013.</p>
                                        <p class="ref-number">23</p>
                                        <p>Adweek. Social networking and man&rsquo;s best friend. Infographic. Available at: http://www.adweek.com/adfreak/infographics-reveal-scope-pet-owners-weirdness-and-depravity-132283. Downloaded December 12, 2013.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu2-overTheCounter-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">Give pet owners the personal service, expertise and innovative products they can’t get over-the-counter.</h2>
                            </div>
                            <h2 class="visible-xs">Give pet owners the personal service, expertise and innovative products they can’t get over-the-counter.</h2>
                            <hr class="plus diagonal">
                            <h3>Only a veterinary professional can provide pet owners with innovative products, expert guidance and care.</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Customers look to you for guidance and care that only a veterinary professional can provide. Add value to your practice by offering exclusive services that build loyalty and show your clients that you have far more to offer than the generic services of retail pet stores.</p>
                                    <p>Until now, consumers have viewed flea and tick products as largely the same—so they are more likely to shop on the basis of convenience and price. </p>
                                    <p>Bring these customers back with the added value only you can provide, in personal service, continuity of care, and access to truly innovative products like Bravecto.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu3-goToResource-lg.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Become your clients’ go-to resource for flea and tick prevention.</h2>
                            </div>
                            <h2 class="visible-xs">Become your clients’ go-to resource for flea and tick prevention.</h2>
                            <hr class="plus diagonal">
                            <h3>As a veterinary professional, you can offer your clients a product they can’t get anywhere else. BRAVECTO<sup>&reg;</sup> (fluralaner) chewable tablets for dogs are the only 12-week oral therapy that is only available from you.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto is the only 12-week oral antiparasitic therapy for dogs. You can be the one to offer the only truly revolutionary treatment on the market today.</p>
                                    <ul class="styled">
                                        <li>Reclaim the loyalty of clients who will recognize you as a trusted resource</li>
                                        <li>Redefine convenience by offering easier, cleaner, less-frequent dosing for highly effective flea and tick protection</li>
                                        <li>Establish your practice as the go-to source for leading-edge treatments</li>
                                        <li>Deliver innovative products that are not available in OTC venues</li>
                                        <li>Build stronger relationships with support and education from MSD Animal Health</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <img src="/images/chart-marketmatrix.png" alt="Market Matrix">
                                    </p>
                                    <p>Collars and spot-on treatments crowd the category, yet there is little to differentiate among these competing products.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu4-strongRelationship-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Make our resources your ticket to building a stronger business and stronger client relationships.</h2>
                            </div>
                            <h2 class="visible-xs">Make our resources your ticket to building a stronger business and stronger client relationships.</h2>
                            <hr class="plus diagonal">
                            <h3>Your MSD representative will show you how to capitalize on the great opportunity that Bravecto represents to grow and sustain your business.</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>MSD Animal Health is committed to helping you grow your business and will actively drive customers your way with a range of innovative tactics.</p>
                                    <ul class="styled">
                                        <li>Comprehensive consumer marketing efforts will encourage new clients to come to your office</li>
                                        <li>In-office displays and educational materials reach current customers and help support your recommendations and prescriptions</li>
                                        <li><strong>BravoVets:</strong> a new online resource exclusively for you, to help you keep up to date on clinical research, expand your social media visibility, and create new and stronger customer relationships</li>
                                    </ul>
                                    <p>With Bravecto, you can ensure lasting protection for your canine patients—and lasting relationships with their owners. MSD offers extensive resources you can use to promote your practice and build stronger relationships throughout your community.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

        });

    </script>
}