<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="BravoVetsDbEntities" 
         connectionString="metadata=res://*/BravoVetsSql.csdl|res://*/BravoVetsSql.ssdl|res://*/BravoVetsSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=t3uargy2x5.database.windows.net;Initial Catalog=bravovetsdb;Integrated Security=False;User ID=visualmercbravovets;Password=Visualmercsql2015;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False&quot;" 
         providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <!--Remove when delivering-->
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="facebook.en.appid" value="437775256401079" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="facebook.en.appSecret" value="48e72d6671cdc836994175497cbedce6" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="facebook.en.redirectUrl" value="http://bravovets.azurewebsites.net/facebook/oauth_callback" />

    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="twitter.en.oauth_callbackUrl" value="http://bravovets.azurewebsites.net/twitter/oauth_callback" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="twitter.en.consumer_key" value="QLzCTq81wqROCGB5NcBFg" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="twitter.en.consumer_secret" value="07maM6ZQrKF8FB6gPG1a0Y2dhfwWAXE1MyBkDVlIsQ" />
    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--<customErrors mode="Off" xdt:Transform="Insert" />-->
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
