<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->


  <connectionStrings>
    <add name="BravoVetsDbEntities"
      connectionString="metadata=res://*/BravoVetsSql2005.csdl|res://*/BravoVetsSql2005.ssdl|res://*/BravoVetsSql2005.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BravoVetsDb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="TestMode" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="facebook.en.appid" value="463509267082934"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="facebook.en.appSecret" value="a1930db070fd0c9be75163cce19cd935"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="facebook.en.redirectUrl" value="http://staging.bravovets.co.uk/facebook/oauth_callback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="facebook.fr.appid" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="facebook.fr.appSecret" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="facebook.fr.redirectUrl" value="http://staging.bravovets.co.uk/facebook/oauth_callback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="facebook.de.appid" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="facebook.de.appSecret" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="facebook.de.redirectUrl" value="http://staging.bravovets.co.uk/facebook/oauth_callback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="facebook.it.appid" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="facebook.it.appSecret" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="facebook.it.redirectUrl" value="http://staging.bravovets.co.uk/facebook/oauth_callback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="facebook.nl.appid" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="facebook.nl.appSecret" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="facebook.nl.redirectUrl" value="http://staging.bravovets.co.uk/facebook/oauth_callback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="facebook.es.appid" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="facebook.es.appSecret" value=""  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="facebook.es.redirectUrl" value="http://staging.bravovets.co.uk/facebook/oauth_callback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="twitter.en.oauth_callbackUrl" value="http://staging.bravovets.co.uk/twitter/oauth_callback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="twitter.en.consumer_key" value="0DWJJEZHI9A0nPecGxyJ1A"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="twitter.en.consumer_secret" value="4T1kXNTIsFQKMPdyxU38GAgmh0kcyVrGpMvETBt8"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="twitter.fr.oauth_callbackUrl" value="http://staging.bravovets.fr/twitter/oauth_callback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="twitter.fr.consumer_key" value="Hpa195cNN2sPBb9sM5B5g"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="twitter.fr.consumer_secret" value="RiEqnvM7xlZd5l3Vy4qiAITxsvI9z1SEv49w50n0"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="twitter.de.oauth_callbackUrl" value="http://staging.bravovets.de/twitter/oauth_callback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="twitter.de.consumer_key" value="kbrsX9JKYwpn7disVPw3g"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="twitter.de.consumer_secret" value="SF97R5IYuHcTuvqkWSpiPPGOHoUhdmbWSVdpCinY"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="twitter.it.oauth_callbackUrl" value="http://staging.bravovets.it/twitter/oauth_callback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="twitter.it.consumer_key" value="uwiuM0QjDnExdKqgOMUtg"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="twitter.it.consumer_secret" value="LpcXaxoU9xLLXPVRdS444PD78TcUoPjEAvjnq1fZ4"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="twitter.nl.oauth_callbackUrl" value="http://staging.bravovets.nl/twitter/oauth_callback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="twitter.nl.consumer_key" value="a89Vsee18IxKV0x4RTtLRg"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="twitter.nl.consumer_secret" value="mHtbD6Atcio5G87J3YCehocECaM7B8NyKEwJ26VO7ZQ"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="twitter.es.oauth_callbackUrl" value="http://staging.bravovets.es/twitter/oauth_callback"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="twitter.es.consumer_key" value="HCck6AhQdCBDyesLfe0pA"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="twitter.es.consumer_secret" value="LUmcNiZVnQocZkeA1ctzgEAWEzyCYYxrfl5ZXxvU"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
