@{
    ViewBag.Title = "Adherence";
    ViewBag.SelectedNode = "adherence";
    Layout = "~/Views/Shared/_LayoutBravovets.cshtml";
    ViewBag.DisplaySubnavigation = true;
}

<div class="container">
    <div class="row simpleheaderrow">
        <h2>ADHERENCE</h2>
    </div>
</div>
<div class="jumbotron support-page adherence">
    <div class="container">
        <div class="jumbo-home-overlay">
            <div class="row top-jumbo-overlay">
                <h1>Extend a game plan for far better adherence.</h1>
            </div>
            <div class="bottom-jumbo-overlay bottomopaque">
                <h4>
                    Give owners and their dogs more time together without worries or gaps in
                    protection with the only chew that lasts up to 12 weeks.*
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container static-body support-body">
    <div class="static-overlay bggreen">
        <h2>CLOSE THE ADHERENCE GAP.</h2>
        <h3>HELP REDUCE TIME BETWEEN TREATMENTS WITH FEWER, EASIER DOSES.</h3>
        <p>
            Did you know that the average dog is treated for fleas and ticks only 2.8 months of the year?<sup>1</sup> What’s more, studies have found that topical, once-a-month products are used correctly in less than 12% of dogs.
            That means that dogs spend most of the year unprotected – or insufficiently protected.
        </p>
        <p>
            With Bravecto, dogs are protected from fleas and ticks for up to 12 full weeks per treatment. That’s up to 3X longer than monthly treatments – meaning fewer chances for pet owners to forget or administer treatments incorrectly.
            <br /><br /><a href="/contact-us">Contact your MSD sales representative</a> to learn about prescribing Bravecto today.
        </p>
    </div>
</div>
<div class="support-benefits adherence-benefits">
    <div class="support-benefits-overlay">
        <div class="container">
            <div class="row">
                <h2>EXTEND THE ANSWER TO ADHERENCE ISSUES WITH BRAVECTO</h2>
                <div class="col-md-3">
                    <h3>FEWER CHANGES<br /> TO FORGET</h3>
                    <p>
                        Provide one dose that equals up
                        to 12 full weeks of efficacy, with
                        no efficacy breaks in between.
                    </p>
                </div>
                <div class="col-md-3">
                    <h3>QUICK AND <br />TIDY CHEW</h3>
                    <p>
                        Treatment is clean and convenient,
                        with no messy hassles.
                    </p>
                </div>
                <div class="col-md-3">
                    <h3>DRIVE FLEA INFESTATIONS<br />INTO EXTINCTION</h3>
                    <p>
                        Control environmental flea
                        populations by killing newly
                        emerged fleas before they can
                        produce viable eggs.
                    </p>
                </div>
                <div class="col-md-3">
                    <h3>ENSURE PROTECTION<br /> THROUGH EVERY SEASON</h3>
                    <p>
                       Achieve full-year protection with
                        just over 4 doses.<sup>2</sup>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container static-body support-body">
    <div class="static-overlay bggreen">
        <h2>THE NEW AND BETTER WAY TO DRIVE OUT FLEA INFESTATIONS.</h2>
        <p>
            When pet owners are dealing with a flea infestation, it can be around 3 months of itchy bites and obsessive cleaning. Monthly treatments add to pet owners’ stress by requiring them to reapply the treatment every 28 days for at least 3 months to ensure continuous protection as the fleas are driven out.3 And, if they accidentally forget? Months and months of pests in their home and on their dog, leading to an unhappy pet owner.
        </p>
        <p>
            With Bravecto’s 12-week efficacy against adult fleas, you can drive infestations within the home to extinction with just one chew.4 Bravecto breaks the flea life cycle by rapidly and effectively killing adult fleas throughout the 12-week treatment interval. This prevents the introduction of new flea eggs into the house, and, in turn, prevents emergences of new adult fleas.
        </p>
        <p>
            By disrupting the flea life cycle on the dog, Bravecto can lead to the extinction of fleas in infested environments – so pet owners can get back to enjoying more time with their dogs, flea-free.
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <hr />
        <p>
            <sup>*</sup> BRAVECTO is effective against <span class="italic">Rhipicephalus sanguineus</span> (brown dog tick) for 8 weeks after dosing.
            The most common adverse reactions were mild and short-lived vomiting, decreased appetite, diarrhea and drooling. For complete safety information, refer to product label.
        </p>
        <br />
        <p>
            <sup>1</sup>Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg: results of a questionnaire study. Berliner und Münchener Tierärztliche Wochenschrift 126, Heft 1/2 (2013) Seiten 6–76.         </p>
        <p>
            <sup>2</sup>Rohdich N, Roepke RKA, Zschiesche E. A randomized, blinded, controlled and multi- centered field study comparing the efficacy and safety of Bravecto™ (fluralaner) against Frontline™ (fipronil) in flea- and tick-infested dogs. Parasites & Vectors (2014) 7:83.         </p>
    </div>
</div>
