@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_LayoutBravovets.cshtml";
    ViewBag.DisplaySubnavigation = true;
}

<div class="container">
    <div class="row simpleheaderrow">
        <h2>CONTACT US</h2>
    </div>
</div>
<div class="jumbotron contactus-page">
    <div class="container">
        <div class="jumbo-home-overlay">
            <div class="row top-jumbo-overlay">
                <h1>Extend a call to your sales representative.</h1>
            </div>
            <div class="bottom-jumbo-overlay">
                <h4>
                    Discover how offering Bravecto can help you grow your practice and provide
                    the best care to every dog you treat.
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container static-body contactus-body">
    <div class="static-overlay bggreen">
        <h2>CONTACT YOUR MERCK SALES REPRESENTATIVE <br /> ABOUT BRAVECTO TODAY.</h2>
    </div>
</div>
<div class="static-body support-body grey">
    <div class="container">
        <div class="row">
            <h2>YOUR REGION</h2>
            <p>
                Contact one of our sales representatives listed below,<br />
                or select an alternative region from the dropdown menu.
            </p>
            <div class="col-md-6 col-md-offset-3">
                @Html.DropDownList("Region", (IEnumerable<SelectListItem>)ViewBag.Countries, "SELECT YOUR REGION", new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="container static-body contacts-container">
    <div class="region-header">
        <h3>
            [REGION NAME]
        </h3>
        <h3>Corportate Headquarters</h3>
    </div>
    <address>
        <em>2 Giralda Farms</em>
        <em>Madison, NJ 07940</em>
        <em>United States</em>
    </address>
    <div class="contacts-list row">
        <div class="contact-item col-md-6">
            <h4>REGION NAME</h4>
            <div class="contact-item-body">
                <h5>John Smith</h5>
                <p class="title">Title</p>
                <p>MSD Animal Health</p>
                <ul class="list-unstyled contact-detail-list">
                    <li>
                        <span class="contact-detail-label">TEL</span>
                        <span class="contact-detail">+1 123 456 789</span>
                    </li>
                    <li>
                        <span class="contact-detail-label">FAX</span>
                        <span class="contact-detail">+1 123 456 789</span>
                    </li>
                    <li>
                        <span class="contact-detail-label">EMAIL</span>
                        <span class="contact-detail">
                            <a href="mailto:john.smith@merck.com">john.smith@merck.com</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="load-more-row row">
        <div class="col-md-6 col-lg-offset-3">
            <a href="#" class="load-more">
                LOAD MORE CONTACTS<br />
                <i class="glyphicon glyphicon-arrow-down"></i>
            </a>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('a.load-more').on('click', function (e) {
                e.preventDefault();
            });
        });
    </script>
}
