@{
    ViewBag.Title = "Innovation";
    ViewBag.SelectedNode = "innovation";
    Layout = "~/Views/Shared/_LayoutBravovets.cshtml";
    ViewBag.DisplaySubnavigation = true;
}

<div class="container">
    <div class="row simpleheaderrow">
        <h2>INNOVATION</h2>
    </div>
</div>
<div class="jumbotron support-page innovation">
    <div class="container">
        <div class="jumbo-home-overlay">
            <div class="row top-jumbo-overlay">
                <h1>Extend the biggest innovation in a decade to every dog.</h1>
            </div>
            <div class="bottom-jumbo-overlay">
                <h4>
                    Prescribe your customers the best care for their dogs with the fastest-acting, longest-lasting
                    flea and tick treatment available in a chew.
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container static-body support-body">
    <div class="static-overlay bggreen">
        <h2>A BREAKTHROUGH IN SPEED AND EFFICACY.</h2>
        <h3>The most innovative alternative to monthly treatments is here. In a chew.</h3>
        <p>
            Bravecto’s rapid onset, long-lasting capability is all thanks to its breakthrough molecule: fluralaner.
            It’s a member of the isoxazoline class – the first new insecticide class in more than a decade.
            Studies have shown no known insect or tick resistance.<sup>1</sup> And, by extending protection against flea and
            tick infestations up to 12 full weeks,* fluralaner’s efficacy lasts up to 3X <span class="italic">longer</span> than the active
            ingredients in traditional monthly treatments –
            so your customers and their dogs can enjoy more time together, worry-free.
        </p>
        <p>
            <a href="/contact-us">Contact your MSD sales representative</a> to learn about prescribing Bravecto today.
        </p>
    </div>
</div>
<div class="container support-video-container">
    <div class="video-wrapper"></div>
</div>
<div class="container static-body support-body no-margin">
    <div class="static-overlay bggreen">
        <h2>How fluralaner works.</h2>
        <p>
            Once Bravecto is administered, existing fleas and ticks take up fluralaner. Fluralaner then inhibits the GABA- and Glutamate-gated chloride channels from the parasite’s nervous systems (with GABA being the primary target).
            <br />
            <br />
            In this process, the fluralaner molecule binds to the GABA receptor, making it so chloride ions can no longer pass through the channel and the inhibitory signal fails to materialize. This leads to nerve overstimulation – ultimately killing the fleas and ticks.
            <br />
            This rapidly begins within 2 hours of treatment, and within 12 hours Fluralaner reaches 100% efficacy.
        </p>
        <p>
            Discover how fluralaner compares to active molecules in other flea and tick treatments with this comprehensive infographic 
        </p>
    </div>
</div>
<div class="container static-body support-body">
    <div class="static-overlay bggreen">
        <h2>MORE TOOLS YOU NEED TO BRING CLIENTS TO YOUR DOOR.</h2>
        <p>
            By partnering with Merck, you get the ability to further connect with pet owners
            through a variety of tactics.
        </p>
    </div>
    <div class="support-items col-md-10 col-md-offset-1">
        <ul class="list-unstyled">
            <li class="clearfix">
                <img src="~/Content/img/Bravecto_Support_img2.jpg" />
                <p>
                    <span class="header">Through consumer marketing efforts</span>
                    We help encourage new and existing customers to come to your office to inquire
                    about.
                </p>
            </li>
            <li class="clearfix">
                <img src="~/Content/img/Bravecto_Support_img3.jpg" />
                <p>
                    <span class="header">Training for staff</span>
                    Help them better engage with pet owners to help you build trust and loyaty for your practice.
                </p>
            </li>
            <li class="clearfix">
                <img src="~/Content/img/Bravecto_Support_img4.jpg" />
                <p>
                    <span class="header">Bravecto</span>
                    The newest online communications resources, are built to help you expand
                    your social media visibility and drive customers to your office from Facebook and Twitter -
                    while keeping you up to date on clinical research. Learn more about why you should have a presence in social media.
                </p>
            </li>
        </ul>
    </div>
    <div class="bottom-support-download-row col-md-8 col-md-offset-2">
        <img src="~/Content/img/Bravecto_Support_rolethumbnail.jpg" />
        <div class="bottom-support-download">
            <h3>THE ROLE OF BRAVECTO</h3>
            <p>
                Discover the benefits of partnering with
                Merck with "The Role of Bravecto"
            </p>
            <a class="btn btn-default" href="#">
                DOWNLOAD PDF
                <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
            </a>
            <br />
            <a href="#">
                Share this
                <i class="icon icon-share"></i>
            </a>
        </div>
    </div>
</div>
<div class="support-benefits">
    <div class="support-benefits-overlay">
        <div class="container">
            <div class="row">
                <h2>THE BENEFITS OF BRAVECTO</h2>
                <div class="col-md-3">
                    <h3>RECLAIM CLIENT LOYALTY</h3>
                    <p>
                        Position yourself and your practice as a trusted
                        resource to keep clients coming back.
                    </p>
                </div>
                <div class="col-md-3">
                    <h3>ESTABLISH <br />AUTHORITY</h3>
                    <p>
                        Present your practice as the go-to source
                        for leading-edge treatments.
                    </p>
                </div>
                <div class="col-md-3">
                    <h3>DELIVERY INNOVATIVE<br />PRODUCTS</h3>
                    <p>
                        Provide products that aren't available
                        in over-the-counter venues.
                    </p>
                </div>
                <div class="col-md-3">
                    <h3>TAKE BACK<br /> CONTROL</h3>
                    <p>
                        Prescribe Bravecto to increase adherence and ensure every dog to treat
                        receives the best care.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container static-body support-body">
    <div class="static-body-content">
        <h2>MAKE OUR EXPERIENCE YOUR ADVANTAGE.</h2>
        <p>
            When you partner with Merck, you benefit from our robust experience in marketing and providing
            products and services that enable pets and their owners to enjoy their time together - by keeping
            them healthy along the way. From training to marketing to creating a social media presence,
            Merck is there for you every step of the way. With Merck at your side, you can have the confidence
            that, when you prescribe Bravecto, you're prescribing the safest, most innovative, high-quality
            flea and tick treatment available in a chew.
        </p>
    </div>
    <div class="bottom-support-download-row col-md-8 col-md-offset-2">
        <img src="~/Content/img/Bravecto_Support_rolethumbnail.jpg" />
        <div class="bottom-support-download">
            <h3>GOOD MEDICINE GROW BUSINESS</h3>
            <p>
                Discover more about how prescribing the best care
                enhances business growth with the "Good Medicine Grows Business" eBook
            </p>
            <a class="btn btn-default" href="#">
                DOWNLOAD PDF
                <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
            </a>
            <br />
            <a href="#">
                Share this
                <i class="icon icon-share"></i>
            </a>
        </div>
    </div>
</div>
<div class="static-body support-body grey">
    <div class="container">
        <div class="row">
            <h2>UNLEASH THE POWER OF SOCIAL MEDIA FOR YOUR PRACTICE.</h2>
            <p>
                Your online presence is the single most powerful tool available for building engagement and involvement
                with pet owners. That's because pet owners actively seek out new ways to connect with like-minded
                animal lovers and find useful information about pet health and wellness via the internet. In fact,
                70% of pet owners spend up to 30 minutes per week reviewing pet-related topics online.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 support-screen-image">
                <img src="~/Content/img/support_screen.png" />
            </div>
            <div class="col-md-6 support-screen-text">
                <p>
                    BravoVets is the ideal way to engage with your clients and
                    deliver important news about a major advance in flea and tick protection.
                    By linking your Facebook and Twitter business accounts to BravoVets, you can provide
                    the information pet owners are looking for to ultimately increase your customer network
                    and establish yourself as an authority in your field.
                </p>
                <p>
                    With 69% of online adults (that's about half of the entire adult US population)
                    using an online social network2 - it's a business imperative to make your presence known.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container static-body support-body">
    <div class="bottom-support-download-row col-md-8 col-md-offset-2">
        <img src="~/Content/img/Bravecto_Support_rolethumbnail.jpg" />
        <div class="bottom-support-download">
            <h3>COST ANALYSIS PDF</h3>
            <p>
                See how you can help increase business by
                bringing new and more dogs to your clinic by
                prescribing Bravecto with this new analysis
            </p>
            <a class="btn btn-default" href="#">
                DOWNLOAD PDF
                <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
            </a>
            <br />
            <a href="#">
                Share this
                <i class="icon icon-share"></i>
            </a>
        </div>
    </div>
</div>
<div class="static-section supportbottom">
    <div class="container">
        <div class="static-overlay bggreen">
            <h2>REVIEWS AND TESTIMONIALS</h2>
        </div>
    </div>
</div>
<div class="container static-body support-body">
    <div class="static-body-content">
        <p>
            Hear from other veterinary professionals in your area about their experiences partnering with Merck
            Animal Health and prescribing Bravecto to their clients.
        </p>
    </div>
    <div class="bottom-support-download-row col-md-8 col-md-offset-2">
        <img src="~/Content/img/Bravecto_Support_rolethumbnail.jpg" />
        <div class="bottom-support-download">
            <h3>REVIEWS AND TESTIMONIALS PDF</h3>
            <p>
                Download to read the reviews and testimonials now
            </p>
            <a class="btn btn-default" href="#">
                DOWNLOAD PDF
                <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
            </a>
            <br />
            <a href="#">
                Share this
                <i class="icon icon-share"></i>
            </a>
        </div>
    </div>
</div>
