@{
    ViewBag.Title = "Innovation";
    ViewBag.SelectedNode = "innovation";
    Layout = "~/Views/Shared/_LayoutBravovets.cshtml";
    ViewBag.DisplaySubnavigation = true;
}

<div class="container">
    <div class="row simpleheaderrow">
        <h2>INNOVATION</h2>
    </div>
</div>
<div class="jumbotron support-page innovation">
    <div class="container">
        <div class="jumbo-home-overlay">
            <div class="row top-jumbo-overlay">
                <h1>Extend the biggest innovation in a decade to every dog.</h1>
            </div>
            <div class="bottom-jumbo-overlay">
                <h4>
                    Prescribe your customers the best care for their dogs with the fastest-acting, longest-lasting
                    flea and tick treatment available in a chew.
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container static-body support-body">
    <div class="static-overlay bggreen">
        <h2>A BREAKTHROUGH IN SPEED AND EFFICACY.</h2>
        <h3>The most innovative alternative to monthly treatments is here. In a chew.</h3>
        <p>
            Bravecto’s rapid onset, long-lasting capability is all thanks to its breakthrough molecule: fluralaner.
            It’s a member of the isoxazoline class – the first new insecticide class in more than a decade.
            Studies have shown no known insect or tick resistance.<sup>1</sup> And, by extending protection against flea and
            tick infestations up to 12 full weeks,* fluralaner’s efficacy lasts up to 3X <span class="italic">longer</span> than the active
            ingredients in traditional monthly treatments –
            so your customers and their dogs can enjoy more time together, worry-free.
        </p>
        <p>
            <a href="/contact-us">Contact your MSD sales representative</a> to learn about prescribing Bravecto today.
        </p>
    </div>
</div>
<div class="container support-video-container">
    <div class="video-wrapper innovation"></div>
</div>
<div class="container static-body support-body no-margin">
    <div class="static-overlay bggreen">
        <h2>HOW FLURALANER WORKS.</h2>
        <p>
            Once Bravecto is administered, existing fleas and ticks take up fluralaner. Fluralaner then inhibits the GABA- and Glutamate-gated chloride channels from the parasite’s nervous systems (with GABA being the primary target).
            <br />
            <br />
            In this process, the fluralaner molecule binds to the GABA receptor, making it so chloride ions can no longer pass through the channel and the inhibitory signal fails to materialize. This leads to nerve overstimulation – ultimately killing the fleas and ticks.
            <br />
            This rapidly begins within 2 hours of treatment, and within 12 hours Fluralaner reaches 100% efficacy.
        </p>
        <p>
            Discover how fluralaner compares to active molecules in other flea and tick treatments with this comprehensive infographic
        </p>
    </div>
</div>
<div class="container static-body support nopadding">
    <div class="row">
        <div class="bottom-support-download-row col-md-8 col-md-offset-2">
            <img src="~/Content/img/Bravecto_Support_rolethumbnail.jpg" />
            <div class="bottom-support-download">
                <h3>ACTIVE MOELECULE INFOGRAPHIC</h3>
                <p>
                    Discover how fluralaner compares to active
                    molecules in other flea and tick treatments
                    with this comprehensive infographic
                </p>
                <a class="btn btn-default" href="#">
                    DOWNLOAD PDF
                    <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                </a>
                <br />
                <a href="#">
                    Share this
                    <i class="icon icon-share"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="support-benefits innovation-benefits">
    <div class="support-benefits-overlay">
        <div class="container">
            <div class="row">
                <h2>THE BENEFITS OF BRAVECTO</h2>
                <div class="col-md-4">
                    <h3>RAPIDLY<br /> KILLS</h3>
                    <p>
                        Starts working within
                        2 hours of treatment.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>100% EFFICACY<br /> WITHIN 12 HOURS</h3>
                    <p>
                        Unlike many traditional treatments,
                        full efficacy is achieved in half a day.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>MAINTAINS 100% EFFICACY<br /> AT 12 WEEKS</h3>
                    <p>
                        Provide up to 3X longer protection
                        than monthly treatments.
                    </p>
                </div>
            </div>
            <div class="row bottom-benefits">
                <div class="col-md-4">
                    <h3>BROAD-SPECTRUM<br /> PROTECTION</h3>
                    <p>
                        Protects a wide range
                        of both fleas <span class="italic">and</span> ticks.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>NO SIDE EFFECTS SEEN<br /> IN SAFETY STUDIES</h3>
                    <p>
                        No adverse effects were seen when
                        tested at 5X the maximum clinical dose.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>PROVEN<br />SAFETY</h3>
                    <p>
                        Proven safe and effective in pregnant,
                        lactating and breeding dogs, and
                        “Ivermectin-sensitive” dogs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container static-body support-body no-margin">
    <div class="row">
        <h2>SETTING THE BAR FOR FLEA AND TICK PROTECTION.</h2>
        <p>
            Traditional monthly treatments leave dogs vulnerable every 28 days. With the discovery of Fluralaner and its extended efficacy, you can change that. As the first and only chew to extend protection for up to 12 full weeks, Bravecto is setting a new standard.
        </p>
    </div>
    <div class="row">
        <h3>PARASITICIDE MARKET</h3>
        <img src="~/Content/img/parasite-chart.jpg" />
    </div>
</div>
<div class="container static-body support nopadding">
    <div class="row">
        <div class="bottom-support-download-row col-md-8 col-md-offset-2">
            <img src="~/Content/img/Bravecto_Support_rolethumbnail.jpg" />
            <div class="bottom-support-download">
                <h3>FLEA AND TICK ACTIVE MOLECULE<br /> COMPARISON INFOGRAPHIC</h3>
                <p>
                    See how Bravecto outperforms the competition
                    with this active molecule comparison
                </p>
                <a class="btn btn-default" href="#">
                    DOWNLOAD PDF
                    <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                </a>
                <br />
                <a href="#">
                    Share this
                    <i class="icon icon-share"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="static-body support-body grey nopaddingtop">
    <div class="container">
        <div class="row">
            <h2>PROVEN CLINICALLY SAFE FOR ALL DOGS.</h2>
            <p>
                With Bravecto, all dogs can get the longest-lasting protection available. We put Bravecto through challenging safety trials, And Bravecto’s safety profile stood up to all this scrutiny.
            </p>
            <p>
                Around the world, vets are switching to prescribing Bravecto to the dogs they treat. In fact, in the first six months, an estimated 3.5 million dogs were treated – enabling pet owners worldwide to include their dog in every enjoyable moment without any worry.
            </p>
            <p>
                Bravecto has been proven safe and effective in all dogs, even at multiple times the maximum clinical dose, including:
            </p>
            <div>
                <div class="row safety-list-items-row">
                    <div class="col-md-6">
                        <ul class="list-unstyled safety-list">
                            <li class="clearfix">
                                <span class="label"><i class="glyphicon glyphicon-ok"></i></span>
                                <p>Dogs 8 weeks of age or older</p>
                            </li>
                            <li class="clearfix">
                                <span class="label"><i class="glyphicon glyphicon-ok"></i></span>
                                <p>Breeding, pregnant and lactating dogs</p>
                            </li>
                            <li class="clearfix">
                                <span class="label"><i class="glyphicon glyphicon-ok"></i></span>
                                <p>"Ivermerctin-sensitive" dogs</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled safety-list">
                            <li class="clearfix">
                                <span class="label"><i class="glyphicon glyphicon-ok"></i></span>
                                <p>Dogs routinely treated with veterinary products, including the Salibor Collar</p>
                            </li>
                            <li class="clearfix">
                                <span class="label"><i class="glyphicon glyphicon-ok"></i></span>
                                <p>Dogs treated with commonly used veterinary drugs, including the NSAID Carprofen</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <p>
                Plus, since Bravecto works from the inside out, your customers, their families and their other pets are always safe from exposure – no matter what kind of adventure they’re on.
            </p>
        </div>
        <div class="row">
            <div class="bottom-support-download-row bottom-download col-md-8 col-md-offset-2">
                <img src="~/Content/img/Bravecto_Support_rolethumbnail.jpg" />
                <div class="bottom-support-download">
                    <h3>PRODUCT BENEFITS GUIDE</h3>
                    <p>
                        See all the ways that Bravecto benefits the lives of dogs
                        and their owners with this helpful guide
                    </p>
                    <a class="btn btn-default" href="#">
                        DOWNLOAD PDF
                        <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                    </a>
                    <br />
                    <a href="#">
                        Share this
                        <i class="icon icon-share"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container static-body innovation-body no-margin">
    <div class="row">
        <h2>PROTECTION AGAINST BOTH FLEAS <span class="italic">AND</span> TICKS.</h2>
        <p>
            Fluralaner, the breakthrough molecule in Bravecto, is effective against most common fleas and ticks, including:
        </p>
    </div>
    <div class="row">
        <div class="row safety-list-items-row">
            <div class="col-md-10 col-md-offset-1">
                <ul class="list-unstyled safety-list innovationbugs">
                    <li class="clearfix">
                        <div class="col-md-2"><img src="~/Content/img/bug1.jpg" /></div>
                        <div class="col-md-10">
                            <p>
                                <span class="italic">Ctenocephalides felis</span> (cat flea) for 12 weeks
                            </p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="col-md-2">
                            <img src="~/Content/img/bug2.jpg" />
                        </div>
                        <div class="col-md-10">
                            <p>
                                <span class="italic">Ixodes ricinus</span> (castor bean tick),
                                <span class="italic">Dermacentor variabilis</span> (wood tick) and
                                <span class="italic">Dermacentor reticulatus</span> (ornate dog tick) for 12 weeks
                            </p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="col-md-2"><img src="~/Content/img/bug3.jpg" /></div>
                        <div class="col-md-10">
                            <p>
                                Bravecto is also effective against <span class="italic">
                                    Rhipicephalus sanguineus
                                </span> (brown dog tick) for 8 weeks
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="text-center">
            <a class="orange" href="/contact-us"><span class="orange">Contact your MSD sales representative</span></a> to learn more
            about prescribing Bravecto today.
        </p>
    </div>
</div>
<div class="container">
    <hr />
    <div class="row">
        <p>
            <sup>*</sup> BRAVECTO is effective against Rhipicephalus sanguineus (brown dog tick) for 8 weeks after dosing.
            The most common adverse reactions were mild and short-lived vomiting, decreased appetite, diarrhea and drooling. For complete safety information, refer to product label.
        </p>
        <p>
            <sup>1</sup> Gassel M, Wolf C, Noack S, Williams H, Ilg T. The novel isoxazoline ectoparasiticide fluralaner: Selective inhibition of arthropod -aminobutyric acid- and L-glutamate- gated chloride channels and insecticidal/acaricidal activity. Insect Biochemistry and Molecular Biology 45 (2014) 111-124.
        </p>
    </div>
</div>
