@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutBravovets.cshtml";
    ViewBag.DisplaySubnavigation = true;
}

<div class="container">
    <div class="row simpleheaderrow">
        <h2>Products</h2>
    </div>
</div>
<div class="jumbotron products">
    <div class="container">
        <div class="jumbo-home-overlay">
            <div class="row top-jumbo-overlay">
                <h1>Extend the confort of reassurance to every breed</h1>
            </div>
            <div class="bottom-jumbo-overlay">
                <h4 class="text-center">
                    Extend flea and tick protection up to 12 weeks with a single chew*
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container products-content">
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <h3>
                Toy <br />Dogs
                <span>
                    <i class="icon icon-arrow-down"></i>
                </span>
            </h3>
            <img src="~/Content/img/toydogs.jpg" />
            <table class="table">
                <tr>
                    <td class="bglightorange"></td>
                </tr>
                <tr>
                    <td>
                        4.4-9.9 lbs
                    </td>
                </tr>
                <tr>
                    <td>
                        112.5 mg
                    </td>
                </tr>
                <tr>
                    <td>
                        1 chew
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
            <h3>
                Small<br /> Dogs
                <span>
                    <i class="icon icon-arrow-down"></i>
                </span>
            </h3>
            <img src="~/Content/img/smalldogs.jpg" />
            <table class="table">
                <tr>
                    <td class="bgdarkorange"></td>
                </tr>
                <tr>
                    <td>
                        9.9-22.0 lbs
                    </td>
                </tr>
                <tr>
                    <td>
                        250 mg
                    </td>
                </tr>
                <tr>
                    <td>
                        1 chew
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
            <h3>
                MEDIUM-SIZED <br />Dogs
                <span>
                    <i class="icon icon-arrow-down"></i>
                </span>
            </h3>
            <img src="~/Content/img/mediumsizeddogs.png" />
            <table class="table">
                <tr>
                    <td class="bggreen"></td>
                </tr>
                <tr>
                    <td>
                        22.0-44.0 lbs
                    </td>
                </tr>
                <tr>
                    <td>
                        500 mg
                    </td>
                </tr>
                <tr>
                    <td>
                        1 chew
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
            <h3>
                Large <br /> Dogs
                <span>
                    <i class="icon icon-arrow-down"></i>
                </span>
            </h3>
            <img src="~/Content/img/largedogs.png" />
            <table class="table">
                <tr>
                    <td class="bgblue"></td>
                </tr>
                <tr>
                    <td>
                        44.0-88.0 lbs
                    </td>
                </tr>
                <tr>
                    <td>
                        1000 mg
                    </td>
                </tr>
                <tr>
                    <td>
                        1 chew
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
            <h3>
                Extra Large<br /> Dogs
                <span>
                    <i class="icon icon-arrow-down"></i>
                </span>
            </h3>
            <img src="~/Content/img/extralargedogs.png" />
            <table class="table">
                <tr>
                    <td class="bgpink"></td>
                </tr>
                <tr>
                    <td>
                        88.0-123.0** lbs
                    </td>
                </tr>
                <tr>
                    <td>
                        1400 mg
                    </td>
                </tr>
                <tr>
                    <td>
                        1 chew
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row simpleheaderrow">
        <h2>PRESCRIBE THE LONGEST-LASTING CHEWABLE <br />DEFENSE AGAINST FLEA AND TICK INFESTATIONS</h2>
        <p>
            Bravecto is a tasty chewable flea and tick treatment that gives dogs up to 12 weeks of protection
            against fleas and ticks. Covering a  broad-spectrum of fleas and ticks in every breed, Bravecto can be
            used to treat dogs that already have infestations. It takes only about 2 hours for ectoparasites to
            start dying, and all are killed within 12 hours.
        </p>
        <p>
            Bravecto is available in five sizes - so dogs of every size can enjoy the same, long-lasting
            protection. Each chew is packaged individually - meaning your customers will have to come back
            multiple times for a yearly prescription. This will help keep you in closer touch with your customers,
            and deepen your relationips.
        </p>
        <p>
            <a class="orange" href="/bravecto/contact-us"><span class="orange">Contact your Merck sales representative</span></a> today to learn more
            and start prescribing Bravecto to the dogs you treat.
        </p>
        <p>
            <a class="btn btn-default" href="#" role="button">
                SCHEDULE A MEETING
                <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
            </a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <hr />
    </div>
    <div class="row">
        <p>
            * &nbsp;Bravecto kills fleas, prevents flea infestations, and kills ticks (black-legged tick, American dog tick, and brown dog tick) for 12 weeks
            <br /> &nbsp;&nbsp;&nbsp;Bravecto also kills lone star ticks for 8 weeks
        </p>
        <p>
            ** Dogs over 123.0 lbs. should be administered the appropriate combination of chews.
        </p>
    </div>
</div>
