<div class="text-content">
    <h3>Twitter pour les PME</h3>
    <hr class="plus diagonal">
    <p>Twitter est un m&eacute;dia social en temps r&eacute;el. Il &eacute;volue en permanence et les tendances varient d'une minute &agrave; l'autre. C'est aussi devenu un espace d'expression de choix pour les consommateurs, que les marques adorent (ou d&eacute;testent). Alors que des a&eacute;roports ou des cha&icirc;nes TV ont besoin d'&ecirc;tre pr&ecirc;ts 7 jours sur 7, 24h sur 24 en cas de probl&egrave;mes, le r&ocirc;le de Twitter est diff&eacute;rent pour les petites et moyennes entreprises. Pour votre clinique, Twitter peut &ecirc;tre une v&eacute;ritable aide.</p>
    <p>Construisez et augmentez votre audience de followers (fans) - &agrave; la fois vos clients mais aussi n'importe qui &agrave; travers le monde</p>
    <p>Faites de vous et de votre marque une r&eacute;f&eacute;rence. Lorsque vous tweetez, les autres vous &eacute;coutent et propagent vos messages.</p>
    <p>Soyez au courant des derni&egrave;res informations et tendances de votre secteur en suivant les experts ou toute autre source en sant&eacute; animale.</p>
    <div class="hidden-xs">
        <a href="/editprofile" class="btn btn-tweet no-icon">Editez votre profil pour le lier &agrave; votre compte Twitter</a>
    </div>
    <div class="visible-xs">
        <a href="/editprofile" class="btn btn-facebookpost no-icon">Lier votre compte Twitter</a>
    </div>
    <h3>Cr&eacute;er un compte Twitter</h3>
    <hr class="plus diagonal">
    <p>Cr&eacute;er un compte Twitter se fait en quelques &eacute;tapes simples.</p>
    <ul class="styled">
        <li>Entrez le nom de votre clinique, c'est ce qui apparaitra sur votre profil</li>
        <li>Entrez le nom d'utilisateur auquel vous vous r&eacute;f&eacute;rerez. Ce sera pas ce nom que vos followers vous suivront et interagiront avec vous.</li>
        <li>Entrez l'adresse email de la personne qui s'occupera du compte Twitter</li>
    </ul>
    <p>Pour personnaliser votre compte, cliquez sur "Profil" et compl&eacute;tez en suivant les &eacute;tapes suivantes :</p>
    <ul class="styled">
        <li>Choisissez une image de bonne qualit&eacute; (le logo de votre clinique par exemple). Cette image appara&icirc;tra en miniature &agrave; chacun de vos tweets.</li>
        <li>Compl&eacute;tez votre profil en entrant le nom de votre clinique, votre localisation, un lien vers votre site et un court r&eacute;sum&eacute; (160 caract&egrave;res maximum) de ce que vous faites ou de votre philosophie.</li>
        <li>Si vous voulez, vous pouvez personnaliser l&lsquo;image d&rsquo;arri&egrave;re-plan.</li>
    </ul>
    <em>Maintenant, il est temps de lier votre compte Twitter &agrave; BravoVets !</em>
</div>