<header title="Custom Dropdown" data-doneness="iterated" data-description="A stylized dropdown with javascript to bind states to data elements"></header>
<article id="variations">
	<section title="Sort Topics Dropdown" data-variation="default" data-description="">
		<select id="sort-topic" data-script="CustomDropdown">
		    <option value="date" selected="selected">Date</option>
		    <option value="topic">Topic</option>
		    <option value="views">Views</option>
		    <option value="shares">Shares</option>
		</select> 
	</section>
	<section title="Country Dropdown" data-variation="country" data-description="">
		<select name="country" id="selCountry" class="select-country" data-script="CustomDropdown">
			<option value="blank">Choose Country</option>
			<option value="UK">United Kingdom</option>
			<option value="FR">France</option>
			<option value="NL">Netherlands</option>
			<option value="DE">Germany</option>
			<option value="ES">Spain</option>
			<option value="IT">Italy</option>
		</select>
	</section>
</article>
<aside class="notes">
	<h3 class="collapsible">Prototype Element Notes</h3>
	<div class="drawer">
		<p>The purpose of this component is to create a styled dropdown. The default HTML select component has few styling options.</p>
	</div>
</aside>