<header title="Date Picker :" data-doneness="" data-description="an internationalized date picker used for the posting and sharing functions."></header>
<article id="variations">
  <section title="Date Picker : UK" data-variation="default" data-description="">
    <div class="datepicker-container en" data-script="DatePicker" data-language="en">
      <div class="input-group date">
      <input type="text" class="form-control" value="04/14/2014"><span class="input-group-addon"><i class="bravicon icon-calendar"></i></span>
      </div>
    </div>
  </section>
  <section title="Date Picker : DE" data-variation="datepicker-de" data-description="">
    <div class="datepicker-container de" data-script="DatePicker" data-language="de">
      <div class="input-group date">
        <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
    </div>
  </section>
  <section title="Date Picker : ES" data-variation="datepicker-es" data-description="">
    <div class="datepicker-container es" data-script="DatePicker" data-language="es">
      <div class="input-group date">
        <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
    </div>
  </section>
  <section title="Date Picker : FR" data-variation="datepicker-fr" data-description="">
    <div class="datepicker-container fr" data-script="DatePicker" data-language="fr">
      <div class="input-group date">
        <input type="text" class="form-control" value="04/14/2014"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
    </div>
  </section>
  <section title="Date Picker : IT" data-variation="datepicker-it" data-description="">
    <div class="datepicker-container it" data-script="DatePicker" data-language="it">
      <div class="input-group date">
        <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
    </div>
  </section>
  <section title="Date Picker : NL" data-variation="datepicker-nl" data-description="">
    <div class="datepicker-container nl" data-script="DatePicker" data-language="nl">
      <div class="input-group date">
        <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
    </div>
  </section>
</article>
<aside class="notes">
  <h3 class="collapsible">Prototype Element Notes</h3>
  <div class="drawer">
    <p>This date picker is used to add posts or shares to the social calendar.</p>
  </div>
</aside>