<header title="Facebook Feed Item" data-doneness="" data-description="An item from the facebook feed."></header>
<article id="variations">
	<section title="Facebook Status" data-variation="default" data-description="">
		<li class="social-post">
			<div class="item-message">
				<span class="message item-shared">
					Item Shared
			</div>
			<div class="avatar-wrapper">
				<img class="avatar" src="https://graph.facebook.com/100007779540333/picture" alt="">
			</div>
			<div class="post-content">
				<p class="person-name"><a href="#0">Janet Culea</a></p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, molestiae.
				</p>
				<ul class="comment-list list-unstyled">
					<li class="comment">
						<p class="person-name"><a href="#0">Michael James</a></p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, a, repellat quisquam eius qui iste veritatis repellendus blanditiis id numquam.
						<a class="comment-like">
							<span class="msg-notliked">Like Post</span>
							<span class="msg-liked">You Liked This</span>
						</a>
					</li>
					<li class="comment">
						<p class="person-name"><a href="#0">Spencer Thompson</a></p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ipsum architecto aut atque soluta consequuntur!
						<a class="comment-like liked">
							<span class="msg-notliked">Like Post</span>
							<span class="msg-liked">You Liked This</span>
						</a>
					</li>
				</ul>
				<form action="#0" class="form-comment" role="form">
					<input type="text" placeholder="Write a comment..." class="form-control">
				</form>
			</div>
			<div class="social-feed-icons">
				<a href="#" class="btn-social" role="like"><span>Like Post</span></a>
				<a href="#" class="btn-social" role="share"><span>Share This</span></a>
			</div>
		</li>
	</section>
	<section title="Facebook Link" data-variation="shared-link" data-description="">
		<li class="social-post" role="link">

			<div class="avatar-wrapper">
				<img class="avatar" src="https://graph.facebook.com/100007779540333/picture" alt="">
			</div>
			<div class="post-content">
				<p class="person-name"><a href="#0">Suzy Thompson</a></p>
				<p class="message">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</p>
				<div class="share-wrapper">
					<a href="#0">www.bravovets.com</a>
				</div>
				<form action="#0" class="form-comment" role="form">
					<input type="text" placeholder="Write a comment..." class="form-control">
				</form>
			</div>
			<div class="social-feed-icons">
				<a href="#" class="btn-social" role="like"><span>Like Post</span></a>
				<a href="#" class="btn-social" role="share"><span>Share This</span></a>
			</div>
		</li>
	</section>
	<section title="Facebook Photo (S)" data-variation="shared-photo-s" data-description="">
		<li class="social-post" role="photo">
			<div class="item-message">
				<span class="message item-hidden">
					Item Hidden
					<a href="#0">Undo</a>
					</span>
			</div>
			<div class="avatar-wrapper">
				<img class="avatar" src="https://graph.facebook.com/100007779540333/picture" alt="">
			</div>
			<div class="post-content">
				<p class="person-name">Andy Anderson shared a photo from VRCC Veterinary Specialty and Emergency Hospital</p>
				<p>Cute!</p>
				<div class="share-wrapper">
					<div class="photo">
						<a href="https://www.facebook.com/photo.php?fbid=10152333243120809&amp;set=a.205538895808.160135.53552720808&amp;type=1" target="_blank">
							<img src="https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-frc1/t1/1922438_10152333243120809_1043349879_s.jpg" class="post-photo" alt="fpPic">
						</a>
					</div>
					<div class="caption">
						These adorable little furballs were in to get their eyes checked by our Ophthalmology department.  It's not every day we get to see a bucket full of puppies! #puppylove
					</div>
				</div>
				<form action="#0" class="form-comment" role="form">
					<input type="text" placeholder="Write a comment..." class="form-control">
				</form>
			</div>
		   <div class="social-feed-icons">
				<a href="#" class="btn-social" role="like"><span>Like Post</span></a>
				<a href="#" class="btn-social" role="share"><span>Share This</span></a>
			</div>
		</li>
	</section>
	<section title="Facebook Photo (M)" data-variation="shared-photo-m" data-description="">
		<li class="social-post" role="photo">
			<div class="avatar-wrapper">
				<img class="avatar" src="https://graph.facebook.com/100007779540333/picture" alt="">
			</div>
			<div class="post-content">
				<p class="person-name">Jane Swanson shared a photo from Huffington post</p>
				<p>This is very inspirational.</p>
				<div class="share-wrapper">
					<div class="photo">
						<a href="https://www.facebook.com/photo.php?fbid=10152333243120809&amp;set=a.205538895808.160135.53552720808&amp;type=1" target="_blank">
							<img class="_5pcd img post-photo" src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQCp60VUcL8FY6wQ&amp;w=398&amp;h=208&amp;url=http%3A%2F%2Fi.huffpost.com%2Fgen%2F1622602%2Fthumbs%2Fo-MENTAL-STRENGTH-facebook.jpg&amp;cfs=1" alt="" style="width:200px;">
						</a>
					</div>
					<div class="caption">
						The ability to cope with difficult emotions and situations is a significant predictor of our success and happiness. The most capable individuals in this way are able to turn any obstacle into a source of growth and opportunity.
					</div>
				</div>
				<form action="#0" class="form-comment" role="form">
					<input type="text" placeholder="Write a comment..." class="form-control">
				</form>
			</div>
		   <div class="social-feed-icons">
			  <a href="#" class="btn-social" role="like"><span>Like Post</span></a>
			  <a href="#" class="btn-social" role
="share"><span>Share This</span></a>
		  </div>
		</li>
	</section>
	<section title="Facebook Photo (L)" data-variation="shared-photo-l" data-description="">
		<li class="social-post" role="photo">
			<div class="avatar-wrapper">
				<img class="avatar" src="https://graph.facebook.com/100007779540333/picture" alt="">
			</div>
			<div class="post-content">
				<p class="person-name">John Prager shared a photo from Huffington post</p>
				<p>I love it!</p>
				<div class="share-wrapper">
					<div class="photo">
						<a href="https://www.facebook.com/photo.php?fbid=10152333243120809&amp;set=a.205538895808.160135.53552720808&amp;type=1" target="_blank">
							<img class="_5pcd img post-photo" src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQDftPjRtaEk33JL&amp;w=398&amp;h=208&amp;url=http%3A%2F%2Fwww.eonline.com%2Feol_images%2FEntire_Site%2F2014118%2Frs_1024x759-140218041524-1024-Will-Smith-Jimmy-Fallon-JR-21814.jpg&amp;cfs=1&amp;sx=0&amp;sy=0&amp;sw=1024&amp;sh=535" alt="">
						</a>
					</div>
					<div class="caption">
					Dressed in overalls and printed tees, the duo performed the "Evolution of Hip-Hop Dancing," showing off moves ranging from the "Cabbage Patch" and the "Running Man" to the "Robot" and the "Pop and Lock."
					</div>
				</div>
				<form action="#0" class="form-comment" role="form">
					<input type="text" placeholder="Write a comment..." class="form-control">
				</form>
			</div>
		   <div class="social-feed-icons">
			  <a href="#" class="btn-social" role="like"><span>Like Post</span></a>
			  <a href="#" class="btn-social" role
="share"><span>Share This</span></a>
		  </div>
		</li>
	</section>
	<section title="Facebook Shared Post" data-variation="shared-post" data-description="">
		<li class="social-post" role="share">
			<div class="avatar-wrapper">
				<img class="avatar" src="https://graph.facebook.com/100007779540333/picture" alt="">
			</div>
			<div class="post-content">
				<p class="person-name">Joe Paul shared a post</p>
				<p class="message">Here's a fun and informative map of Sochi full of neat bits of trivia about the games.</p>
				<div class="share-wrapper">
					<a href="http://www.sochi2014interactivemap.com/" class="link" target="_blank" rel="nofollow" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/www.sochi2014interactivemap.com\/&quot;);" onclick="LinkshimAsyncLink.referrer_log(this, &quot;http:\/\/www.sochi2014interactivemap.com\/&quot;, &quot;\/si\/ajax\/l\/render_linkshim_log\/?u=http\u00253A\u00252F\u00252Fwww.sochi2014interactivemap.com\u00252F&amp;h=2AQEhTxRY&amp;render_verification=0&amp;enc=AZPpW-BVh7gLQrpBPmL_9WavaPlM8t1WHnmoWWegUllKEnrr210n1mfyqCkUG_GoOnDLnX8K2Z7Q481ydKeyLMDpSNc2Zm_BN3fRA4ZATHiqkaEPOBZq_HR3vRBJFIkt0AH8f3eb1hB_SwHPqNY3l_3R&quot;);">http://www.sochi2014interactivemap.com/</a>
					<div class="photo">
						<a href="https://www.facebook.com/photo.php?fbid=10152333243120809&amp;set=a.205538895808.160135.53552720808&amp;type=1" target="_blank">
							<img class="_5pcd img" src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQDGNbhXYxLiiPUw&amp;w=398&amp;h=208&amp;url=http%3A%2F%2Fwww.sochi2014interactivemap.com%2Fimages%2Fsochi.jpg&amp;cfs=1" alt="">
						</a>
					</div>
					<a href="http://www.sochi2014interactivemap.com/" class="title">
						Sochi 2014 Interactive Map » From Fiasco Design
					</a>
					<div class="caption">
						Spectators: 5,000Cost: UndisclosedEvents: Bobsleigh, Luge and Skeleton Did you know? State-of-the-art ice preparation technology ensures optimum temperature control along the...
					</div>
				</div>
				<form action="#0" class="form-comment" role="form">
					<input type="text" placeholder="Write a comment..." class="form-control">
				</form>
			</div>
		   <div class="social-feed-icons">
			  <a href="#" class="btn-social" role="like"><span>Like Post</span></a>
			  <a href="#" class="btn-social" role
="share"><span>Share This</span></a>
		  </div>
		</li>
	</section>
	<section title="Twitter" data-variation="twitter-1" data-description="">
		<li class="social-post" role="twitter">
			<div class="avatar-wrapper">
				<img class="avatar" src="https://graph.facebook.com/100007779540333/picture" alt="">
			</div>
			<div class="post-content">
				<p class="person-name"><a href="#0">Janet Culea</a></p>
				<div class="share-wrapper">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, dolorum error aspernatur ad atque velit repellat alias! Unde, dolores, eveniet. <a href="#0">http://bit.ly/O5Yqex</a> #hashtag
				</div>
			</div>
			<div class="social-feed-icons">
				<a class="btn-social" role="reply"><span>Reply</span></a>
				<a class="btn-social" role="retweet"><span>Retweet</span></a>
			</div>
			<div id="post-reply-436239617847611392" class="post-reply collapsed">
				<form action="#0" role="form" class="form-reply form-inline">
					<textarea name="message" id="message" rows="5" class="form-control"></textarea>
					<button id="post-reply-button-436239617847611392" type="button" class="form-control btn-primary">tweet</button>
				</form>
			</div>
		</li>
	</section>
	<section title="Twitter w/ Retweet" data-variation="twitter-2" data-description="">
		<li class="social-post" role="twitter">
			<div class="avatar-wrapper">
				<img class="avatar" src="https://graph.facebook.com/100007779540333/picture" alt="">
			</div>
			<div class="post-content">
				<p class="person-name"><a href="#0">Janet Culea</a></p>
				<div class="share-wrapper">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, dolorum error aspernatur ad atque velit repellat alias! Unde, dolores, eveniet. <a href="#0">http://bit.ly/O5Yqex</a> #hashtag
				</div>
			</div>
			<div class="social-feed-icons">
				<a class="btn-social" role="reply"><span>Reply</span></a>
				<a class="btn-social" role="retweet"><span>Retweet</span></a>
			</div>
			<div id="post-reply-436239617847611392" class="post-reply collapsed">
				<form action="#0" role="form" class="form-reply form-inline">
					<textarea name="message" id="message" rows="5" class="form-control"></textarea>
					<button id="post-reply-button-436239617847611392" type="button" class="form-control btn-primary">tweet</button>
				</form>
			</div>
		</li>
	</section>
	<section title="Comment Test" data-variation="commenttest" data-description="">
		<li class="social-post" role="photo">
		    <div class="avatar-wrapper">
		        <img src="https://graph.facebook.com/438658816264061/picture/" alt="Nick's Barking Good Time Vet Clinic , &quot;Meow&quot;">
		    </div>
		    <div class="post-content">
		        <p class="person-name">Nick's Barking Good Time Vet Clinic , "Meow"</p>
		        <p>Test share </p>
		        <div class="share-wrapper">
		            <div class="photo">
		               <a href="https://www.facebook.com/photo.php?fbid=10152413225410809&amp;set=a.205538895808.160135.53552720808&amp;type=1" target="_blank"><img class="post-photo" src="https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-frc1/t1.0-0/1962688_10152413225410809_1396791562_s.jpg" alt="fpPic"></a>
		            </div>
		            <div class="caption">
		                Ivy certainly was enjoying watching a little Kung Fu Panda while waiting for her appointment with our Cardiology department, not to mention entertaining everyone else in the lobby at the same time!  Do any of you have dogs that watch TV?
		            </div>
		        </div>
		        <ul class="comment-list list-unstyled fb-comment-438658816264061_10152655787603998">
		<li class="comment">
		    <p class="person-name"><a target="_blank" href="https://www.facebook.com/profile.php?id=438658816264061">Nick's Barking Good Time Vet Clinic , "Meow"</a></p>
		    test shared comment
		        <div class="comment-like fb-like-post">
		            <span class="msg-liked">You Liked This</span>
		        </div>
		</li><li class="comment">
		    <p class="person-name"><a target="_blank" href="https://www.facebook.com/profile.php?id=438658816264061">Nick's Barking Good Time Vet Clinic , "Meow"</a></p>
		    blah
		        <a href="10152655787603998_36841255" class="comment-like fb-like-post">
		            <span class="msg-notliked">Like This Comment</span>
		        </a>
		</li>    </ul>
		<form action="438658816264061_10152655787603998" class="form-comment fb-comment" role="form">
		    <input type="text" placeholder="Write a comment..." class="form-control">
		<input type="hidden" name="__auto_csrf_token" value="****secret-token****"></form>


		    </div>
		    <div class="social-feed-icons">
		        <a href="438658816264061_10152655787603998" class="btn-social fb-like-post" role="like"><span>Like Post</span></a>
		        
		    </div>
		</li>
	</section>
	<section title="No Comment Test" data-variation="nocommenttest" data-description="">
		<li class="social-post" role="photo">
		    <div class="avatar-wrapper">
		        <img src="https://graph.facebook.com/1351124953/picture/" alt="Amy Rosewater VanMatre">
		    </div>
		    <div class="post-content">
		        <p class="person-name">Amy Rosewater VanMatre</p>
		        <p>Why does my dog like to herd shoes?</p>
		        <div class="share-wrapper">
		            <div class="photo">
		               <a href="https://www.facebook.com/photo.php?fbid=10203372650820926&amp;set=o.438658816264061&amp;type=1" target="_blank"><img class="post-photo" src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-prn1/t1.0-9/q87/s480x480/1017153_10203372650820926_2076375054_n.jpg" alt="fpPic"></a>
		            </div>
		            <div class="caption">
		                
		            </div>
		        </div>
		        <ul class="comment-list list-unstyled fb-comment-10203372650820926">
		    </ul>
		<form action="10203372650820926" class="form-comment fb-comment" role="form">
		    <input type="text" placeholder="Write a comment..." class="form-control">
		<input type="hidden" name="__auto_csrf_token" value="****secret-token****"></form>


		    </div>
		    <div class="social-feed-icons">
		        <a href="10203372650820926" class="btn-social fb-like-post" role="like"><span>Like Post</span></a>
		        
		    </div>
		</li>
	</section>
</article>
<aside class="notes">
  <h3 class="collapsible">Prototype Element Notes</h3>
  <div class="drawer">
	<p>This feed item appears in the Facebook feed.</p>
</div>
</aside>