<header title="Feed Loading Animation" data-doneness="" data-description="an animation to be used in a feed when loading data from a social network."></header>
<article id="variations">
  <section title="Default Feed Loading Animation" data-variation="default" data-description="">
    <div class="temp-component-wrapper">
      <div class="loader-wrapper">
        <div class="loader css-anim">
          <div id="animation">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
<aside class="notes">
  <h3 class="collapsible">Prototype Element Notes</h3>
  <div class="drawer">
    <p>This animation displays in the feed when loading from a social network.</p>
  </div>
  <h3 class="collapsible">Code Snippet</h3>
  <div class="drawer">
    <p>The CSS for the animation is in the main site CSS file. Use the HTML for the loader below.</p>
    <p>
    <pre style="font-size:0.8em;">
&lt;div class="loader-wrapper"&gt;
  &lt;div class="loader css-anim"&gt;
    &lt;div id="animation"&gt;
      &lt;div class="bar"&gt;&lt;/div&gt;
      &lt;div class="bar"&gt;&lt;/div&gt;
      &lt;div class="bar"&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
      </pre>
    </p>
  </div>
</aside>