<header title="Social Calendar" data-doneness="" data-description="Variations of the Social Calendar page on bravovets"></header>
<article id="variations">
	<section title="Complete User Profile" data-variation="default" data-description="">
		<!-- <<< START COMPLETE SOCIAL CALENDAR PAGE >>> -->
		<div class="container" data-script="SocialCalendar" data-language="">
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-title calendar-icon">Social Calendar</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="calendar-header">
						<div id="calendar-controls" class="form-inline">
							<div class="btn-group">
								<button class="btn btn-primary" data-calendar-nav="prev"> << </button>
								<button class="btn btn-default calendar-title">Today</button>
								<button class="btn btn-primary" data-calendar-nav="next"> >> </button>
							</div>
							<div class="btn-group">
								<button class="btn btn-warning" data-calendar-view="year">Year</button>
								<button class="btn btn-warning active" data-calendar-view="month">Month</button>
								<button class="btn btn-warning" data-calendar-view="week">Week</button>
							</div>
							<div class="btn-group">
								<button class="btn btn-default" data-calendar-nav="today">Today</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="calendar"></div>
				</div>
<!-- 				<div id="calendar-sidebar" class="col-md-3"> -->
					<!-- <div class="row">
						<select id="first_day" class="form-control">
							<option value="" selected="selected">First day of week language-dependant</option>
							<option value="2">First day of week is Sunday</option>
							<option value="1">First day of week is Monday</option>
						</select>
						<select id="language" class="form-control">
							<option value="">Select Language (default: en-US)</option>
							<option value="nl-NL">Dutch</option>
							<option value="fr-FR">French</option>
							<option value="de-DE">German</option>
							<option value="el-GR">Greek</option>
							<option value="it-IT">Italian</option>
							<option value="pl-PL">Polish</option>
							<option value="pt-BR">Portuguese (Brazil)</option>
							<option value="es-MX">Spanish (Mexico)</option>
							<option value="es-ES">Spanish (Spain)</option>
							<option value="ru-RU">Russian</option>
							<option value="sv-SE">Swedish</option>
						</select>
						<label class="checkbox">
							<input type="checkbox" value="#events-modal" id="events-in-modal"> Open events in modal window
						</label>
					</div> -->

<!-- 					<h4>Scheduled Posts</h4>
					<ul id="eventlist" class="nav nav-list"></ul> -->
<!-- 				</div> -->
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- <<<  END EDIT SOCIAL CALENDAR PAGE  >>> -->
	</section>
	<section title="Complete User Profile" data-variation="german" data-description="">
		<!-- <<< START COMPLETE SOCIAL CALENDAR PAGE >>> -->
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<h1>Social Calendar</h1>
				</div>
			</div>

			<div class="row" data-script="SocialCalendar" data-language="de-DE">
				<div class="col-md-9">
					<div class="calendar-header">
						<h3>Today</h3>
						<div id="calendar-controls" class="pull-right form-inline">
							<div class="btn-group">
								<button class="btn btn-primary" data-calendar-nav="prev"> << </button>
								<button class="btn btn-default" data-calendar-nav="today">Today</button>
								<button class="btn btn-primary" data-calendar-nav="next"> >> </button>
							</div>
							<div class="btn-group">
								<button class="btn btn-warning" data-calendar-view="year">Year</button>
								<button class="btn btn-warning active" data-calendar-view="month">Month</button>
								<button class="btn btn-warning" data-calendar-view="week">Week</button>
								<button class="btn btn-warning" data-calendar-view="day">Day</button>
							</div>
						</div>
					</div>
					<div class="calendar"></div>
				</div>
				<div id="calendar-sidebar" class="col-md-3">
					<!-- <div class="row">
						<select id="first_day" class="form-control">
							<option value="" selected="selected">First day of week language-dependant</option>
							<option value="2">First day of week is Sunday</option>
							<option value="1">First day of week is Monday</option>
						</select>
						<select id="language" class="form-control">
							<option value="">Select Language (default: en-US)</option>
							<option value="nl-NL">Dutch</option>
							<option value="fr-FR">French</option>
							<option value="de-DE">German</option>
							<option value="el-GR">Greek</option>
							<option value="it-IT">Italian</option>
							<option value="pl-PL">Polish</option>
							<option value="pt-BR">Portuguese (Brazil)</option>
							<option value="es-MX">Spanish (Mexico)</option>
							<option value="es-ES">Spanish (Spain)</option>
							<option value="ru-RU">Russian</option>
							<option value="sv-SE">Swedish</option>
						</select>
						<label class="checkbox">
							<input type="checkbox" value="#events-modal" id="events-in-modal"> Open events in modal window
						</label>
					</div> -->

					<h4>Scheduled Posts</h4>
					<ul id="eventlist" class="nav nav-list"></ul>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- <<<  END EDIT SOCIAL CALENDAR PAGE  >>> -->
	</section>
	<section title="Wireframe" data-variation="wireframe" data-description="">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<img src="images/comps/social-calendar.png" alt="Social Calendar LoFi Comp" style="margin-top:20px;">
				</div>
			</div>
		</div>
	</section>
</article>
<aside class="notes">
	<h3 class="collapsible">Prototype Element Notes</h3>
	<div class="drawer">
		<p>The goal of this page is to display and schedule posts for the social calendar</p>
	</div>
</aside>