<header title="Time Picker :" data-doneness="" data-description="an internationalized time picker used for the posting and sharing functions."></header>
<article id="variations">
  <section title="Time Picker : UK" data-variation="default" data-description="">
    <div class="timepicker-container en" data-script="TimePicker" data-language="en">
      <div class="input-group input-append bootstrap-timepicker">
          <input id="postTime" name="postTime" type="text" class="form-control">
          <span class="input-group-addon add-on"><i class="bravicon icon-clock"></i></span>
      </div>
    </div>
  </section>
</article>
<aside class="notes">
  <h3 class="collapsible">Prototype Element Notes</h3>
  <div class="drawer">
    <p>This date picker is used to add posts or shares to the social calendar.</p>
  </div>
</aside>