<header title="User Profile" data-doneness="" data-description="Variations of the User Profile page on bravovets"></header>
<article id="variations">
	<section title="Complete User Profile" data-variation="default" data-description="">
		<!-- <<< START COMPLETE PROFILE PAGE >>> -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<div class="user-profile">
						<h1>Complete Profile</h1>
						<p class="help-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, illo, reiciendis aperiam beatae dignissimos culpa alias sit veniam. Nulla, amet, voluptatem quas quaerat dolorem assumenda.</p>
						<div class="profile-steps">
							<h2 class="step"><span>1</span>Enter Practice Name</h2>
							<p class="help-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni officia voluptatum velit temporibus assumenda quidem perferendis voluptate ad cupiditate quaerat.
							</p>
							<div class="form-group">
								<label for="practice-name">Practice Name</label>
								<input id="practice-name" type="text" placeholder="" class="form-control">
							</div>
							<h2 class="step"><span>2</span>Link Social Accounts</h2>
							<p class="help-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, vitae voluptatibus a neque perferendis veniam.
							</p>
							<div class="form-group">
								<button class="btn social-button facebook-bg">
									<img src="images/icon-facebook.png" alt="Facebook Icon">
									Link Your Facebook Account
								</button>
								<button class="btn social-button twitter-bg">
									<img src="images/icon-twitter.png" alt="Twitter Icon">
									Link Your Twitter Account
								</button>
							</div>
							<h2 class="step"><span>3</span>Get Started</h2>
						</div>
						<div class="practice-locations">
							<h2>Practice Locations</h2>
							<ul class="current-locations list-unstyled">
								<li>
									<address>
										<strong>Hyde Park Vetrinary Centre</strong><br>
										61 Connaught Street<br>
										London W2 2AE, United Kingdom 94107<br>
										<abbr title="Phone">P:</abbr> +44 20 7723 0453<br>
										<abbr title="Phone">P2:</abbr> +44 20 7723 0444<br>
										<abbr title="Fax">F:</abbr> +44 20 7723 0453<br>
										<abbr title="Email">E:</abbr> info@hydepark.com
									</address>
									<button class="btn btn-default">Edit</button>
									<button class="btn btn-default">Delete</button>
								</li>
							</ul>
							<h3>Add Location</h3>
							<div class="form-group">
								<label for="location-name">Location Name</label>
								<input id="location-name" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="address">Address</label>
								<input id="address" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="city">City</label>
								<input id="city" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="state">State / Province / Region</label>
								<input id="state]" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="country">Country</label>
								<input id="country" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="primary-phone">Primary Phone Nbr</label>
								<input id="primary-phone" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="secondary-phone">Secondary Phone Nbr</label>
								<input id="secondary-phone" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="fax">Fax Nbr</label>
								<input id="fax" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input id="email" type="text" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-primary">Save and Continue</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <<<  END EDIT PROFILE PAGE  >>> -->
	</section>
	<section title="Edit User Profile" data-variation="edit" data-description="">
		<!-- <<< START EDIT PROFILE PAGE >>> -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<div class="user-profile edit">
						<h1>Edit Profile</h1>
						<p class="help-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, illo, reiciendis aperiam beatae dignissimos culpa alias sit veniam. Nulla, amet, voluptatem quas quaerat dolorem assumenda.</p>
						<div class="profile-steps">
							<h2 class="step"><span>1</span>Enter Practice Name</h2>
							<p class="help-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni officia voluptatum velit temporibus assumenda quidem perferendis voluptate ad cupiditate quaerat.
							</p>
							<div class="form-group">
								<label for="practice-name">Practice Name</label>
								<input id="practice-name" type="text" placeholder="" class="form-control">
							</div>
							<h2 class="step"><span>2</span>Link Social Accounts</h2>
							<p class="help-text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, vitae voluptatibus a neque perferendis veniam.
							</p>
							<div class="form-group">
								<button class="btn social-button facebook-bg">
									<img src="images/icon-facebook.png" alt="Facebook Icon">
									Link Your Facebook Account
								</button>
								<button class="btn social-button twitter-bg">
									<img src="images/icon-twitter.png" alt="Twitter Icon">
									Link Your Twitter Account
								</button>
							</div>
							<h2 class="step"><span>3</span>Get Started</h2>
						</div>
						<div class="practice-locations">
							<h2>Practice Locations</h2>
							<ul class="current-locations list-unstyled">
								<li>
									<address>
										<strong>Hyde Park Vetrinary Centre</strong><br>
										61 Connaught Street<br>
										London W2 2AE, United Kingdom 94107<br>
										<abbr title="Phone">P:</abbr> +44 20 7723 0453<br>
										<abbr title="Phone">P2:</abbr> +44 20 7723 0444<br>
										<abbr title="Fax">F:</abbr> +44 20 7723 0453<br>
										<abbr title="Email">E:</abbr> info@hydepark.com
									</address>
									<button class="btn btn-default">Edit</button>
									<button class="btn btn-default">Delete</button>
								</li>
							</ul>
							<h3>Add Location</h3>
							<div class="form-group">
								<label for="location-name">Location Name</label>
								<input id="location-name" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="address">Address</label>
								<input id="address" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="city">City</label>
								<input id="city" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="state">State / Province / Region</label>
								<input id="state]" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="country">Country</label>
								<input id="country" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="primary-phone">Primary Phone Nbr</label>
								<input id="primary-phone" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="secondary-phone">Secondary Phone Nbr</label>
								<input id="secondary-phone" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="fax">Fax Nbr</label>
								<input id="fax" type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input id="email" type="text" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-primary">Save and Continue</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <<<  END EDIT PROFILE PAGE  >>> -->
	</section>
	<section title="Wireframe" data-variation="wireframe" data-description="">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<img src="images/comps/edit-profile.png" alt="Edit Profile LoFi Comp" style="margin-top:20px;">
				</div>
				<div class="col-xs-4"></div>
			</div>
		</div>
	</section>
</article>
<aside class="notes">
	<h3 class="collapsible">Prototype Element Notes</h3>
	<div class="drawer">
		<p>The goal of this page is to capture practice information and link social accounts</p>
	</div>
</aside>