USE [BravoVetsDb]
GO
SET IDENTITY_INSERT [dbo].[SyndicatedContent] ON 

GO
INSERT [dbo].[SyndicatedContent] ([SyndicatedContentId], [BravoVetsCountryId], [SyndicatedContentTypeId], [SyndicatedContentPostTypeId], [Title], [Author], [Subject], [Summary], [ContentText], [LinkUrl], [BravoVetsStatusId], [NumberOfFavorites], [NumberOfShares], [NumberOfViews], [PublishDateUtc], [CreateDateUtc], [ModifiedDateUtc], [Deleted]) VALUES (68, 2, 2, 5, N'GETTING STARTED: Setting Up a Twitter Account', N'Merck', N'GETTING STARTED: Setting Up a Twitter Account', N'Creating a Twitter account for your business requires just a few simple steps:<br>
			<br>
			Enter the full name of your busine...', N'Creating a Twitter account for your business requires just a few simple steps:<br>
			<br>
			Enter the full name of your business as you’d like it to appear on your profile.<br>

			Enter the username (also known as a handle) you wish to be referred as. This is the name other Twitter followers will use to interact with you.<br>

			Create a unique, secure password.<br>

			Use the email address of the person who will be managing your Twitter account.<br>
			<br>
			To personalize the account for your clinic, click “Profile” and complete the following steps:<br>
			<br>
			Select a high-resolution image of your clinic’s logo to set as your photo. This image will appear next to all of your tweets.<br>

			Complete your profile by entering your clinic name, location, a link to your website and a short (160 characters or less) summary of your business or philosophy.<br>

			If desired, you can customize the background under the Design tab.<br>
			<br>
			Now, it’s time to connect your Twitter account to BravoVets!', N'', 4, 0, 0, 0, CAST(0x0000A2DF00BC4DC7 AS DateTime), CAST(0x0000A2DF00BC4DC7 AS DateTime), CAST(0x0000A2DF00BC4DC7 AS DateTime), 0)
GO
INSERT [dbo].[SyndicatedContent] ([SyndicatedContentId], [BravoVetsCountryId], [SyndicatedContentTypeId], [SyndicatedContentPostTypeId], [Title], [Author], [Subject], [Summary], [ContentText], [LinkUrl], [BravoVetsStatusId], [NumberOfFavorites], [NumberOfShares], [NumberOfViews], [PublishDateUtc], [CreateDateUtc], [ModifiedDateUtc], [Deleted]) VALUES (73, 2, 2, 5, N'GROWING YOUR BASE: Energizing Clinic Staff', N'Merck', N'GROWING YOUR BASE: Energizing Clinic Staff', N'Here are a few things you can do to get your staff excited about your social plan:<br>
			<br>
			Create employee buzz around yo...', N'Here are a few things you can do to get your staff excited about your social plan:<br>
			<br>
			Create employee buzz around your Facebook page. Encourage employees to share your page with friends. You could even incorporate a contest where the employee who attracts the most new fans wins a prize. <br>

			Host a social summit for your clinic staff. Introduce the platforms and strategy your clinic with be implementing. Keep them involved and ask for suggestions. A new set of eyes is what will keep your content fresh. <br>

			Highlight an employee of the week or month. This will encourage your employees to visit the page and also familiarize your fans with clinic staff.<br>
			<br>', N'', 4, 0, 0, 0, CAST(0x0000A2D500BC4DCE AS DateTime), CAST(0x0000A2D500BC4DCE AS DateTime), CAST(0x0000A2D500BC4DCE AS DateTime), 0)
GO
INSERT [dbo].[SyndicatedContent] ([SyndicatedContentId], [BravoVetsCountryId], [SyndicatedContentTypeId], [SyndicatedContentPostTypeId], [Title], [Author], [Subject], [Summary], [ContentText], [LinkUrl], [BravoVetsStatusId], [NumberOfFavorites], [NumberOfShares], [NumberOfViews], [PublishDateUtc], [CreateDateUtc], [ModifiedDateUtc], [Deleted]) VALUES (95, 2, 2, 5, N'PR TOPICS: Media Dos and Don’ts', N'Merck', N'PR TOPICS: Media Dos and Don’ts', N'Do<br>
			<br>
			Be clear about the importance of year-round flea and tick protection.<br>
			Be prepared for media inter...', N'Do<br>
			<br>
			Be clear about the importance of year-round flea and tick protection.<br>
			Be prepared for media interest and be ready to manage it.<br>
			Select a spokesperson from your practice to talk to the media.<br>
			Ensure you are familiar with your questions and answers well in advance.<br>
			Know the angle which is most likely to interest the type of media you are talking to, and stick to it.<br>
			Be helpful and efficient in your response to media enquiries.<br>
			Make sure you supply information within the deadlines they specify. If you can’t meet the deadline, make sure the relevant journalist knows when you will be able to get the information to them.<br>
			Be polite and honest and fully prepared to answer the questions.<br>
			If you don’t know the answer to a question, say so, then find out the information and go back to the journalist.<br>
			<br>
			Don’t<br>
			<br>
			Don’t speculate or make predictions for the future. Stick to the facts you have.<br>
			Don’t provide information that you are not happy to be made public. Don’t try “off the record.”<br>
			Don’t sacrifice long-term relationships for short-term results.<br>
			<br>', N'', 4, 0, 0, 0, CAST(0x0000A2A900BC4DF4 AS DateTime), CAST(0x0000A2A900BC4DF4 AS DateTime), CAST(0x0000A2A900BC4DF4 AS DateTime), 0)
GO
INSERT [dbo].[SyndicatedContent] ([SyndicatedContentId], [BravoVetsCountryId], [SyndicatedContentTypeId], [SyndicatedContentPostTypeId], [Title], [Author], [Subject], [Summary], [ContentText], [LinkUrl], [BravoVetsStatusId], [NumberOfFavorites], [NumberOfShares], [NumberOfViews], [PublishDateUtc], [CreateDateUtc], [ModifiedDateUtc], [Deleted]) VALUES (166, 3, 2, 5, N'GETTING STARTED: Setting Up a Twitter Account', N'Merck', N'GETTING STARTED: Setting Up a Twitter Account', N'Creating a Twitter account for your business requires just a few simple steps:<br>
			<br>
			Enter the full name of your busine...', N'Creating a Twitter account for your business requires just a few simple steps:<br>
			<br>
			Enter the full name of your business as you’d like it to appear on your profile.<br>

			Enter the username (also known as a handle) you wish to be referred as. This is the name other Twitter followers will use to interact with you.<br>

			Create a unique, secure password.<br>

			Use the email address of the person who will be managing your Twitter account.<br>
			<br>
			To personalize the account for your clinic, click “Profile” and complete the following steps:<br>
			<br>
			Select a high-resolution image of your clinic’s logo to set as your photo. This image will appear next to all of your tweets.<br>

			Complete your profile by entering your clinic name, location, a link to your website and a short (160 characters or less) summary of your business or philosophy.<br>

			If desired, you can customize the background under the Design tab.<br>
			<br>
			Now, it’s time to connect your Twitter account to BravoVets!', N'', 4, 0, 0, 0, CAST(0x0000A2DF00BC4DC7 AS DateTime), CAST(0x0000A2DF00BC4DC7 AS DateTime), CAST(0x0000A2DF00BC4DC7 AS DateTime), 0)
GO
INSERT [dbo].[SyndicatedContent] ([SyndicatedContentId], [BravoVetsCountryId], [SyndicatedContentTypeId], [SyndicatedContentPostTypeId], [Title], [Author], [Subject], [Summary], [ContentText], [LinkUrl], [BravoVetsStatusId], [NumberOfFavorites], [NumberOfShares], [NumberOfViews], [PublishDateUtc], [CreateDateUtc], [ModifiedDateUtc], [Deleted]) VALUES (171, 3, 2, 5, N'GROWING YOUR BASE: Energizing Clinic Staff', N'Merck', N'GROWING YOUR BASE: Energizing Clinic Staff', N'Here are a few things you can do to get your staff excited about your social plan:<br>
			<br>
			Create employee buzz around yo...', N'Here are a few things you can do to get your staff excited about your social plan:<br>
			<br>
			Create employee buzz around your Facebook page. Encourage employees to share your page with friends. You could even incorporate a contest where the employee who attracts the most new fans wins a prize. <br>

			Host a social summit for your clinic staff. Introduce the platforms and strategy your clinic with be implementing. Keep them involved and ask for suggestions. A new set of eyes is what will keep your content fresh. <br>

			Highlight an employee of the week or month. This will encourage your employees to visit the page and also familiarize your fans with clinic staff.<br>
			<br>', N'', 4, 0, 0, 0, CAST(0x0000A2D500BC4DCE AS DateTime), CAST(0x0000A2D500BC4DCE AS DateTime), CAST(0x0000A2D500BC4DCE AS DateTime), 0)
GO
INSERT [dbo].[SyndicatedContent] ([SyndicatedContentId], [BravoVetsCountryId], [SyndicatedContentTypeId], [SyndicatedContentPostTypeId], [Title], [Author], [Subject], [Summary], [ContentText], [LinkUrl], [BravoVetsStatusId], [NumberOfFavorites], [NumberOfShares], [NumberOfViews], [PublishDateUtc], [CreateDateUtc], [ModifiedDateUtc], [Deleted]) VALUES (193, 3, 2, 5, N'PR TOPICS: Media Dos and Don’ts', N'Merck', N'PR TOPICS: Media Dos and Don’ts', N'Do<br>
			<br>
			Be clear about the importance of year-round flea and tick protection.<br>
			Be prepared for media inter...', N'Do<br>
			<br>
			Be clear about the importance of year-round flea and tick protection.<br>
			Be prepared for media interest and be ready to manage it.<br>
			Select a spokesperson from your practice to talk to the media.<br>
			Ensure you are familiar with your questions and answers well in advance.<br>
			Know the angle which is most likely to interest the type of media you are talking to, and stick to it.<br>
			Be helpful and efficient in your response to media enquiries.<br>
			Make sure you supply information within the deadlines they specify. If you can’t meet the deadline, make sure the relevant journalist knows when you will be able to get the information to them.<br>
			Be polite and honest and fully prepared to answer the questions.<br>
			If you don’t know the answer to a question, say so, then find out the information and go back to the journalist.<br>
			<br>
			Don’t<br>
			<br>
			Don’t speculate or make predictions for the future. Stick to the facts you have.<br>
			Don’t provide information that you are not happy to be made public. Don’t try “off the record.”<br>
			Don’t sacrifice long-term relationships for short-term results.<br>
			<br>', N'', 4, 0, 0, 0, CAST(0x0000A2A900BC4DF4 AS DateTime), CAST(0x0000A2A900BC4DF4 AS DateTime), CAST(0x0000A2A900BC4DF4 AS DateTime), 0)
GO
INSERT [dbo].[SyndicatedContent] ([SyndicatedContentId], [BravoVetsCountryId], [SyndicatedContentTypeId], [SyndicatedContentPostTypeId], [Title], [Author], [Subject], [Summary], [ContentText], [LinkUrl], [BravoVetsStatusId], [NumberOfFavorites], [NumberOfShares], [NumberOfViews], [PublishDateUtc], [CreateDateUtc], [ModifiedDateUtc], [Deleted]) VALUES (264, 4, 2, 5, N'Impostare un Account Twitter ', N'Merck', N'Impostare un Account Twitter ', N'Creare un account Twitter per la vostra azienda richiede soltanto alcuni passaggi facili. <br>

Inserite il nome completo dell', N'Creare un account Twitter per la vostra azienda richiede soltanto alcuni passaggi facili. <br>

Inserite il nome completo della vostra azienda, così come vi piacerebbe che compaia sul vostro profilo.<br>

Inserite lo username (conosciuto anche come handle) con cui volete essere presenti sulla piattaforma. Questo è il nome che gli altri utenti di Twitter useranno per comunicare con voi. <br>

Create una password sicura. <br>

Usate l’indirizzo email della persona che gestirà il vostro account Twitter. <br>

Per personalizzare l’account del vostro ambulatorio, cliccate su “Profilo” e completate i seguenti passaggi: <br>

Selezionate un’immagine al alta risoluzione del logo del vostro ambulatorio e impostatela come fotografia. Questa immagine comparirà vicino a tutti i vostri tweet. <br>

Completate il vostro profilo inserendo il nome, il luogo e il link al sito web del vostro ambulatorio, insieme a un breve riassunto (160 caratteri o meno) della vostra attività o filosofia di lavoro. <br>

Se lo desiderate, potete personalizzare lo sfondo usando il tasto “Ideare”. <br>
<br>
Ora siete pronti a collegare il vostro account Twitter con BravoVets!
', N'', 4, 0, 0, 0, CAST(0x0000A1FC0149299D AS DateTime), CAST(0x0000A1FC0149299D AS DateTime), CAST(0x0000A1FC0149299D AS DateTime), 0)
GO
INSERT [dbo].[SyndicatedContent] ([SyndicatedContentId], [BravoVetsCountryId], [SyndicatedContentTypeId], [SyndicatedContentPostTypeId], [Title], [Author], [Subject], [Summary], [ContentText], [LinkUrl], [BravoVetsStatusId], [NumberOfFavorites], [NumberOfShares], [NumberOfViews], [PublishDateUtc], [CreateDateUtc], [ModifiedDateUtc], [Deleted]) VALUES (269, 4, 2, 5, N'GROWING YOUR BASE: Energizing Clinic Staff', N'Merck', N'GROWING YOUR BASE: Energizing Clinic Staff', N'Here are a few things you can do to get your staff excited about your social plan:<br>

Create employee buzz around your Faceb', N'Here are a few things you can do to get your staff excited about your social plan:<br>

Create employee buzz around your Facebook page. Encourage employees to share your page with friends. You could even incorporate a contest where the employee who attracts the most new fans wins a prize. <br>

Host a social summit for your clinic staff. Introduce the platforms and strategy your clinic with be implementing. Keep them involved and ask for suggestions. A new set of eyes is what will keep your content fresh. <br>

Highlight an employee of the week or month. This will encourage your employees to visit the page and also familiarize your fans with clinic staff.<br>
', N'', 4, 0, 0, 0, CAST(0x0000A1F70149299D AS DateTime), CAST(0x0000A1F70149299D AS DateTime), CAST(0x0000A1F70149299D AS DateTime), 0)
GO
INSERT [dbo].[SyndicatedContent] ([SyndicatedContentId], [BravoVetsCountryId], [SyndicatedContentTypeId], [SyndicatedContentPostTypeId], [Title], [Author], [Subject], [Summary], [ContentText], [LinkUrl], [BravoVetsStatusId], [NumberOfFavorites], [NumberOfShares], [NumberOfViews], [PublishDateUtc], [CreateDateUtc], [ModifiedDateUtc], [Deleted]) VALUES (291, 4, 2, 5, N'PR TOPICS: Media Dos and Don’ts', N'Merck', N'PR TOPICS: Media Dos and Don’ts', N'Do<br>

Be clear about the importance of year-round flea and tick protection.<br>
Be prepared for media interest and be ready', N'Do<br>

Be clear about the importance of year-round flea and tick protection.<br>
Be prepared for media interest and be ready to manage it.<br>
Select a spokesperson from your practice to talk to the media.<br>
Ensure you are familiar with your questions and answers well in advance.<br>
Know the angle which is most likely to interest the type of media you are talking to, and stick to it.<br>
Be helpful and efficient in your response to media enquiries.<br>
Make sure you supply information within the deadlines they specify.<br> If you can’t meet the deadline, make sure the relevant journalist knows when you will be able to get the information to them.<br>
Be polite and honest and fully prepared to answer the questions.<br>
If you don’t know the answer to a question, say so, then find out the information and go back to the journalist.<br><br>

Don’t<br>

Don’t speculate or make predictions for the future.<br> Stick to the facts you have.<br>
Don’t provide information that you are not happy to be made public.<br> Don’t try “off the record.<br>”
Don’t sacrifice long-term relationships for short-term results.<br>
', N'', 4, 0, 0, 0, CAST(0x0000A1E10149299D AS DateTime), CAST(0x0000A1E10149299D AS DateTime), CAST(0x0000A1E10149299D AS DateTime), 0)
GO
INSERT [dbo].[SyndicatedContent] ([SyndicatedContentId], [BravoVetsCountryId], [SyndicatedContentTypeId], [SyndicatedContentPostTypeId], [Title], [Author], [Subject], [Summary], [ContentText], [LinkUrl], [BravoVetsStatusId], [NumberOfFavorites], [NumberOfShares], [NumberOfViews], [PublishDateUtc], [CreateDateUtc], [ModifiedDateUtc], [Deleted]) VALUES (362, 5, 2, 7, N'GETTING STARTED: Setting Up a Twitter Account', N'Merck', N'GETTING STARTED: Setting Up a Twitter Account', N'Creating a Twitter account for your business requires just a few simple steps:<br>
			<br>
			Enter the full name of your busi', N'Creating a Twitter account for your business requires just a few simple steps:<br>
			<br>
			Enter the full name of your business as you’d like it to appear on your profile.<br>

			Enter the username (also known as a handle) you wish to be referred as. This is the name other Twitter followers will use to interact with you.<br>

			Create a unique, secure password.<br>

			Use the email address of the person who will be managing your Twitter account.<br>
			<br>
			To personalize the account for your clinic, click “Profile” and complete the following steps:<br>
			<br>
			Select a high-resolution image of your clinic’s logo to set as your photo. This image will appear next to all of your tweets.<br>

			Complete your profile by entering your clinic name, location, a link to your website and a short (160 characters or less) summary of your business or philosophy.<br>

			If desired, you can customize the background under the Design tab.<br>
			<br>
			Now, it’s time to connect your Twitter account to BravoVets!', N'', 4, 0, 0, 0, CAST(0x00009DE90149299D AS DateTime), CAST(0x00009DE90149299D AS DateTime), CAST(0x00009DE90149299D AS DateTime), 0)
GO
INSERT [dbo].[SyndicatedContent] ([SyndicatedContentId], [BravoVetsCountryId], [SyndicatedContentTypeId], [SyndicatedContentPostTypeId], [Title], [Author], [Subject], [Summary], [ContentText], [LinkUrl], [BravoVetsStatusId], [NumberOfFavorites], [NumberOfShares], [NumberOfViews], [PublishDateUtc], [CreateDateUtc], [ModifiedDateUtc], [Deleted]) VALUES (367, 5, 2, 7, N'GROWING YOUR BASE: Energizing Clinic Staff', N'Merck', N'GROWING YOUR BASE: Energizing Clinic Staff', N'Here are a few things you can do to get your staff excited about your social plan:<br>
			<br>
			Create employee buzz around ', N'Here are a few things you can do to get your staff excited about your social plan:<br>
			<br>
			Create employee buzz around your Facebook page. Encourage employees to share your page with friends. You could even incorporate a contest where the employee who attracts the most new fans wins a prize. <br>

			Host a social summit for your clinic staff. Introduce the platforms and strategy your clinic with be implementing. Keep them involved and ask for suggestions. A new set of eyes is what will keep your content fresh. <br>

			Highlight an employee of the week or month. This will encourage your employees to visit the page and also familiarize your fans with clinic staff.<br>
			<br>', N'', 4, 0, 0, 0, CAST(0x00009DE40149299D AS DateTime), CAST(0x00009DE40149299D AS DateTime), CAST(0x00009DE40149299D AS DateTime), 0)
GO
INSERT [dbo].[SyndicatedContent] ([SyndicatedContentId], [BravoVetsCountryId], [SyndicatedContentTypeId], [SyndicatedContentPostTypeId], [Title], [Author], [Subject], [Summary], [ContentText], [LinkUrl], [BravoVetsStatusId], [NumberOfFavorites], [NumberOfShares], [NumberOfViews], [PublishDateUtc], [CreateDateUtc], [ModifiedDateUtc], [Deleted]) VALUES (389, 5, 2, 7, N'PR TOPICS: Media Dos and Don’ts', N'Merck', N'PR TOPICS: Media Dos and Don’ts', N'Do<br>
			<br>
			Be clear about the importance of year-round flea and tick protection.<br>
			Be prepared for media interest', N'Do<br>
			<br>
			Be clear about the importance of year-round flea and tick protection.<br>
			Be prepared for media interest and be ready to manage it.<br>
			Select a spokesperson from your practice to talk to the media.<br>
			Ensure you are familiar with your questions and answers well in advance.<br>
			Know the angle which is most likely to interest the type of media you are talking to, and stick to it.<br>
			Be helpful and efficient in your response to media enquiries.<br>
			Make sure you supply information within the deadlines they specify. If you can’t meet the deadline, make sure the relevant journalist knows when you will be able to get the information to them.<br>
			Be polite and honest and fully prepared to answer the questions.<br>
			If you don’t know the answer to a question, say so, then find out the information and go back to the journalist.<br>
			<br>
			Don’t<br>
			<br>
			Don’t speculate or make predictions for the future. Stick to the facts you have.<br>
			Don’t provide information that you are not happy to be made public. Don’t try “off the record.”<br>
			Don’t sacrifice long-term relationships for short-term results.<br>
			<br>', N'', 4, 0, 0, 0, CAST(0x00009DCE0149299D AS DateTime), CAST(0x00009DCE0149299D AS DateTime), CAST(0x00009DCE0149299D AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[SyndicatedContent] OFF
GO
