@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask" style="">Observance</h1>
                    <div class="page-subhead">D&eacute;couvrez une nouvelle m&eacute;thode de protection.</div>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/compliance-issu1-easierCompliance-tile_fr.jpg" alt="Compliance Issue 1">
                        <div class="issue-contents">
                            <h3>Comment faciliter l&rsquo;observance du traitement chez les propri&eacute;taires?</h3>
                            <hr class="plus diagonal">
                            <p>Avec Bravecto, tout est simple et pratique, pour une excellente observance :<sup>14</sup></p>
                            <ul class="styled">
                                <li>Une dose unique prot&egrave;ge jusqu&rsquo;&agrave; 12 semaines*</li>
                                <li>Dosage facile<sup>6</sup></li>
                                <li>
                                    Les puces sont tu&eacute;es avant de produires des oeufs viable, et ce pendant la totalit&eacute; des 12 semaines<sup>6</sup>
                                </li>

                                <li>
                                    Des clients ravis qui reviendront dans votre clinique<sup>6</sup>
                                </li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h3>Qu&rsquo;est ce qui fait de Bravecto un traitement facile &agrave; administrer ?</h3>
                            <hr class="plus diagonal">
                            <p>Bravecto se pr&eacute;sente sous forme d&rsquo;un comprim&eacute; &agrave; croquer, pris spontan&eacute;ment par la plupart des chiens</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">En savoir plus</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Comment Bravecto limite les erreurs d&rsquo;administration ?</h4>
                            <hr class="plus diagonal">
                            <p>Les pr&eacute;cautions &agrave; prendre lors de l&rsquo;application sont limit&eacute;es gr&acirc;ce &agrave; l&rsquo;administration orale</p>
                            <ul class="styled">
                                <li>Absence d&rsquo;exposition au produit pour le propri&eacute;taire ou son entourage</li>
                                <li>Absence de traces sur le pelage de l&rsquo;animal</li>
                                <li>Possibilit&eacute; de faire shampoings et toilettage sans affecter l&rsquo;efficacit&eacute; du traitement</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Pourquoi Bravecto va devenir la solution pr&eacute;f&eacute;r&eacute;e des propri&eacute;taires de chiens ?</h4>
                            <hr class="plus diagonal">
                            <p>Une simple administration d&rsquo;un comprim&eacute; permet une protection jusqu&rsquo;&agrave; 12 semaines.*</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/compliance-issu5-wellTolerated-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>Bravecto est-il bien tol&eacute;r&eacute; chez les chiens ?</h3>
                            <hr class="plus diagonal">
                            <p>Dans des &eacute;tudes impliquant plus de 1 000 chiens, Bravecto a &eacute;t&eacute; bien tol&eacute;r&eacute; par toutes les cat&eacute;gories de chiens dont les chiennes gestantes et allaitantes.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="4">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Retour en haut de la page</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu1-easierCompliance-lg_fr.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Limiter le probl&egrave;me de l&rsquo;observance gr&acirc;ce &agrave; une dur&eacute;e d&rsquo;action de 12 semaines*</h2>
                            </div>
                            <h2 class="visible-xs">Eliminer le probl&egrave;me de l&rsquo;observance gr&acirc;ce &agrave; une dur&eacute;e d&rsquo;action de 12 semaines*</h2>
                            <hr class="plus diagonal">
                            <h3>R&eacute;soudre les probl&egrave;mes d&rsquo;observance et am&eacute;liorer la satisfaction client et la qualit&eacute; des soins</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Pratique pour les propri&eacute;taires de chien et appr&eacute;ci&eacute; des chiens, Bravecto est une solution pour am&eacute;liorer l&rsquo;observance:<sup>14</sup></p>
                                    <ul class="styled">
                                        <li>
                                            Une dose unique jusqu&rsquo;&agrave; 12 semaines*, sans interruption<sup>6</sup>
                                        </li>

                                        <li>
                                            Les puces sont tu&eacute;es avant de produire des oeufs viables, et ce pendant les 12 semaines d&rsquo;efficacit&eacute; du traitement<sup>6</sup>
                                        </li>

                                        <li>
                                            Il est possible d&rsquo;augmenter la fr&eacute;quence des traitements lorsque le client se trouve face &agrave; une infestation &agrave; Rhipicephalus sanguineus<sup>6</sup>
                                        </li>
                                    </ul>
                                    <p>Quand vos clients auront constat&eacute; la facilit&eacute; d&rsquo;utilisation de Bravecto et son efficacit&eacute;, ils seront convaincus et fid&eacute;lis&eacute;s. Vous seul pouvez fournir la protection puissante de Bravecto. C&rsquo;est l&rsquo;occasion pour vous de mettre en place une relation de communication et de confiance durable et solide avec tous les propri&eacute;taires de chiens.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <p class="hero-banner-copy">*Bravecto est efficace contre Rhipicephalus sanguineus pendant 8 semaines.</p>
                                    <h4>R&eacute;f&eacute;rences</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto&trade; RCP</p>
                                        <p class="ref-number">14</p>
                                        <p>Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg: results of a questionnaire study. Berliner und Münchener Tierärztliche Wochenschrift 126, Heft 1/2 (2013), Seiten 6–76.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu2-highlyPalatable-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">Faciliter l&rsquo;administration, gr&acirc;ce &agrave; un comprim&eacute; &agrave; croquer aromatis&eacute; appr&eacute;ci&eacute; des chiens</h2>
                            </div>
                            <h2 class="visible-xs">Faciliter l&rsquo;administration, gr&acirc;ce &agrave; un comprim&eacute; &agrave; croquer aromatis&eacute; appr&eacute;ci&eacute; des chiens</h2>
                            <hr class="plus diagonal">
                            <h3>Bravecto se pr&eacute;sente sous forme d&rsquo;un comprim&eacute; aromatis&eacute; que les chiens prennent facilement, seul ou avec de la nourriture</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="styled">
                                        <li>Dans des &eacute;tudes am&eacute;ricaines et europ&eacute;ennes, plus de 90% des chiens ont accept&eacute; le comprim&eacute; spontan&eacute;ment<sup>23</sup></li>
                                        <li>
                                            Aucun probl&egrave;me d&rsquo;interactions m&eacute;dicamenteuses n&rsquo;a &eacute;t&eacute; observ&eacute; dans des essais terrain chez les chiens trait&eacute;s avec Bravecto.<sup>17</sup>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <p class="hero-banner-copy">*Bravecto est efficace contre Rhipicephalus sanguineus pendant 8 semaines.</p>
                                    <h4>R&eacute;f&eacute;rences</h4>
                                    <div class="references">
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites & Vectors. In Press.</p>
                                        <!--<p class="ref-number">16</p>
                                        <p>EPAR [pending publication. On-line link to come]</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu3-easyToManage-lg_fr.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Une administration toutes les 12 semaines* facilite la vie des propri&eacute;taires de chien</h2>
                            </div>
                            <h2 class="visible-xs">Une administration toutes les 12 semaines* facilite la vie des propri&eacute;taires de chien</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6"><p>L&rsquo;administration par voie orale permet une protection syst&eacute;mique prolong&eacute;e contre les puces et les tiques sans perte d'efficacit&eacute; pendant toute la p&eacute;riode de traitement.</p>
                                    <ul class="styled">
                                        <li>Pas de risque de r&eacute;duction d&rsquo;efficacit&eacute; pendant toute la dur&eacute;e du traitement.</li>
                                        <li>Facile &agrave; retenir et &agrave; mettre en oeuvre pour les propri&eacute;taires de chiens</li>
                                        <li>
                                            Dans une &eacute;tude approfondie<sup>6</sup>:
                                            <ul class="styled">
                                                <li>L&rsquo;efficacit&eacute; sur les puces demeure de 99,9 % apr&egrave;s 12 semaines</li>
                                                <li>L&rsquo;efficacit&eacute; sur les tiques demeure de 100 % &agrave; 12 semaines</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <p class="callout-box">
                                        <strong>Astuce : </strong>sugg&eacute;rez de donner le comprim&eacute; pendant un repas. Il est en effet recommand&eacute; d&rsquo;administrer Bravecto avec de la nourriture<sup>6, 17</sup>
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <p class="hero-banner-copy">*Bravecto est efficace contre <i>Rhipicephalus sanguineus</i> pendant 8 semaines.</p>
                                    <h4>R&eacute;f&eacute;rences</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto&trade; RCP</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites & Vectors. In Press.</p>
                                        <p class="ref-number">17</p>
                                        <p>Walther FM, Allan MJ, Roepke R, Nuernberger MC. The effect of food on the pharmacokinetics of oral fluralaner in dogs. Parasites & Vectors. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu4-applicationError-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Gr&acirc;ce &agrave; la prise par voie orale, Bravecto ne n&eacute;cessite aucune pr&eacute;caution d&rsquo;administration.</h2>
                            </div>
                            <h2 class="visible-xs">Gr&acirc;ce &agrave; la prise par voie orale, Bravecto ne n&eacute;cessite aucune pr&eacute;caution d&rsquo;administration.</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto r&eacute;duit le risque d'erreur.</p>
                                    <ul class="styled">
                                        <li>Les erreurs d'application sont pratiquement &eacute;limin&eacute;es gr&acirc;ce &agrave; l&rsquo;administration facile par voie orale</li>
                                        <li>Il n'y a pas de risque d'exposition au produit</li>
                                        <li>Absence de traces sur le pelage de l&rsquo;animal</li>
                                        <li>
                                            Le shampoing et le toilettage n'affecteront pas son efficacit&eacute;
                                            <ul class="styled">
                                                <li>Bravecto est indiqu&eacute; chez les chiens dont les caract&eacute;ristiques dermatologiques exigent un lavage fr&eacute;quent.</li>
                                                <li>
                                                    Une &eacute;tude terrain sur des chiens atteints de dermatite par allergie aux piq&ucirc;res de puces (DAPP) a d&eacute;montr&eacute; que la diminution des sympt&ocirc;mes &eacute;tait sup&eacute;rieure dans le groupe trait&eacute; au Bravecto versus le groupe ayant re&ccedil;u un traitement topique<sup>7</sup>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <p class="hero-banner-copy">*Bravecto est efficace contre Rhipicephalus sanguineus pendant 8 semaines.</p>
                                    <h4>R&eacute;f&eacute;rences</h4>
                                    <div class="references">
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites & Vectors. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #5 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu5-wellTolerated-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Renforcez votre relation avec vos clients en leur offrant une solution s&ucirc;re et bien tol&eacute;r&eacute;e pour la pr&eacute;vention contre les puces et les tiques.</h2>
                            </div>
                            <h2 class="visible-xs">Renforcez votre relation avec vos clients en leur offrant une solution s&ucirc;re et bien tol&eacute;r&eacute;e pour la pr&eacute;vention contre les puces et les tiques.</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Dans des &eacute;tudes impliquant plus de 1 000 chiens, Bravecto a &eacute;t&eacute; bien tol&eacute;r&eacute;.<sup>6, 7, 17- 19</sup> Aucun chien n&rsquo;a pr&eacute;sent&eacute; d&rsquo;effets secondaires s&eacute;v&egrave;res ou n&rsquo;a d&ucirc; abandonner le traitement.<sup>6</sup></p>
                                    <p>Parmi les effets secondaires de l&rsquo;&eacute;tude europ&eacute;enne, il a &eacute;t&eacute; not&eacute; de la diarrh&eacute;e sans gravit&eacute; (1,6%) ou de l'anorexie (0,5%).<sup>6, 7</sup> Par ailleurs, il a &eacute;t&eacute; d&eacute;montr&eacute; que Bravecto<sup>6, 17-19</sup>:</p>
                                    <ul class="styled">
                                        <li>Est s&ucirc;r pour les chiots de plus de 8 semaines &agrave; des doses jusqu&rsquo;&agrave; 5x la dose clinique</li>
                                        <li>Est s&ucirc;r pour les chiens adultes &agrave; des doses jusqu&rsquo;&agrave; 5x la dose clinique</li>
                                        <li>Peut &ecirc;tre employ&eacute; chez des chiens femelles en gestation ou en lactation</li>
                                        <li>Peut &ecirc;tre employ&eacute; chez des chiens pr&eacute;sentant une d&eacute;ficience du g&egrave;ne MDR-1</li>
                                    </ul>
                                    <p>Proposez Bravecto &mdash; et renforcez les relations avec vos clients et leur chien. Demander des informations &agrave; votre d&eacute;l&eacute;gu&eacute; MSD Sant&eacute; Animale</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <p class="hero-banner-copy">*Bravecto est efficace contre <i>Rhipicephalus sanguineus</i> pendant 8 semaines.</p>
                                    <h4>R&eacute;f&eacute;rences</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto&trade; RCP</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites & Vectors. In Press.</p>
                                        <!--<p class="ref-number">16</p>
                                        <p>EPAR [pending publication. On-line link to come]</p>-->
                                        <p class="ref-number">17</p>
                                        <p>Walther FM, Allan MJ, Roepke R, Nuernberger MC. The effect of food on the pharmacokinetics of oral fluralaner in dogs. Parasites & Vectors. In Press.</p>
                                        <p class="ref-number">18</p>
                                        <p>Walther FM, et al. Safety of oral administration of flavored chewable tablets containing fluralaner (Bravecto), a novel systemic antiparasitic drug, to dogs. Parasites & Vectors. In Press. SPC</p>
                                        <p class="ref-number">19</p>
                                        <p>Walther FM, et al. Safety of fluralaner, a novel systemic antiparasitic drug, in MDR1(-/-) Collies after oral administration. Parasites & Vectors 2014. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

        });

    </script>
}