@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }

<div class="container">
    <div class="hero-banner-image"></div>
    <div id="hero-wrapper" class="row">
        <div class="col-sm-5 col-md-4 hero-banner-copy">
            <h1 class="terms-and-conditions">Bienvenue</h1>
            <hr class="plus diagonal">
            <p>Bravecto est un traitement contre les puces et les tiques, mais c&rsquo;est surtout une innovation v&eacute;t&eacute;rinaire, qui en fait le partenaire id&eacute;al pour vous aider &agrave; d&eacute;velopper votre client&egrave;le. D&eacute;couvrez en parcourant ce site de nouvelles ressources pour d&eacute;velopper votre activit&eacute;, am&eacute;liorer la communication avec les propri&eacute;taires de chiens et en faire id&eacute;alement des clients fid&egrave;les pendant toute la vie de leur compagnon, et plus encore !</p>
        </div>
        <div class="col-sm-7 col-md-8 hero-image-container">
            <img src="/images/SuperDog_web_fr.png" alt="Super Dog">
        </div>
    </div>
    <div id="hero-bottom"></div>
    <div class="row visible-xs">
        <div class="col-xs-12">
            <hr class="plus diagonal">
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-sm-4"><hr class="diagonal shift-right"></div>
        <div class="col-sm-4"><hr class="plus diagonal shift-left shift-right"></div>
        <div class="col-sm-4"><hr class="plus diagonal shift-left"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-innvoation-header-lg_fr.jpg" alt="Innovation">
                    <h2>Innovation</h2>
                </div>
                <div class="inset">
                    <h3>Quelle alternative innovante et enthousiasmante peut conduire les propri&eacute;taires d&rsquo;animaux &agrave; adh&eacute;rer &agrave; des traitements sur prescription ?</h3>
                    <p>D&eacute;couvrez une nouvelle classe de protection &mdash; Bravecto</p>
                    <ul class="styled">
                        <li>L&rsquo;innovation scientifique MSD Sant&eacute; Animale</li>
                        <li>Bravecto (fluralaner) est une innovation dans la protection contre les puces et les tiques &ndash; une vraie diff&eacute;rence</li>
                    </ul>
                    <a href="/bravecto/innovation?solutionID=0">En savoir plus</a>
                </div>
                <div class="inset">
                    <h3>Pourquoi Bravecto est r&eacute;volutionnaire dans la protection contre les puces et tiques ?</h3>
                    <p>Bravecto prot&egrave;ge jusqu&rsquo;&agrave; 12 semaines.*</p>
                    <a href="/bravecto/innovation?solutionID=1">En savoir plus</a>
                </div>
                <div class="inset">
                    <h3>Quelle protection contre les puces et les tiques apporte la s&eacute;r&eacute;nit&eacute; d&rsquo;une action efficace et durable ?</h3>
                    <ul class="styled">
                        <li>Action efficace et durable &agrave; la fois contre les puces et tiques</li>
                        <li>Efficacit&eacute; &agrave; large spectre contre les esp&egrave;ces de tiques et puces les plus fr&eacute;quemment rencontr&eacute;es en France</li>
                    </ul>
                    <a href="/bravecto/innovation?solutionID=2">En savoir plus</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/innovation">Lire tout</a></h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-compliance-header-lg_fr.jpg" alt="Compliance">
                    <h2>Observance</h2>
                </div>
                <div class="inset">
                    <h3>Comment faciliter l&rsquo;observance du traitement chez les propri&eacute;taires?</h3>
                    <p>Avec Bravecto, tout est simple et pratique, pour une excellente observance :</p>
                    <ul class="styled">
                        <li>Une dose unique prot&egrave;ge jusqu&rsquo;&agrave; 12 semaines*</li>
                        <li>Dosage facile</li>
                        <li>Les puces sont tu&eacute;es avant de produires des oeufs viable, et ce pendant la totalit&eacute; des 12 semaines</li>
                        <li>Des clients ravis qui reviendront dans votre clinique</li>
                    </ul>
                    <a href="/bravecto/compliance?solutionID=0">En savoir plus</a>
                </div>
                <div class="inset">
                    <h3>Pourquoi les chiens pr&eacute;f&egrave;rent Bravecto ?</h3>
                    <p>Parce que Bravecto est aromatis&eacute;, les chiens le prendront facilement.</p>
                    <a href="/bravecto/compliance?solutionID=1">En savoir plus</a>
                </div>
                <div class="inset">
                    <h3>Pourquoi les propri&eacute;taires pr&eacute;f&egrave;rent Bravecto ?</h3>
                    <p>Une simple administration d&rsquo;un comprim&eacute; permet une protection jusqu&rsquo;&agrave; 12 semaines.*</p>
                    <a href="/bravecto/compliance?solutionID=2">En savoir plus</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/compliance">Lire tout</a></h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-newBus-header-lg.jpg" alt="New Business">
                    <h2>D&eacute;veloppement de l&rsquo;activit&eacute;</h2>
                </div>
                <div class="inset">
                    <h3>Comment augmenter votre activit&eacute; avec les r&eacute;seaux sociaux ?</h3>
                    <p>Voici BravoVets, l&rsquo;outil professionnel qui vous aide &agrave; &eacute;tablir, renforcer et g&eacute;rer votre pr&eacute;sence sur les r&eacute;seaux sociaux.</p>
                    <ul class="styled">
                        <li>Atteindre de nouvelles cibles et rester connect&eacute;</li>
                        <li>Renforcer vos connexions avec vos clients actuels</li>
                        <li>Vous positionner en tant qu&rsquo;expert en sant&eacute; et bien-&ecirc;tre animal pour vos clients</li>
                    </ul>
                    <a href="/bravecto/newbusiness?solutionID=0">En savoir plus</a>
                </div>
                <div class="inset">
                    <h3>Reprenez la main sur les antiparasitaires</h3>
                    <p>Partez &agrave; la reconqu&ecirc;te de vos clients perdus et cr&eacute;ez du lien</p>
                    <ul class="styled">
                        <li>Des services et produits exclusifs li&eacute;s aux innovations tel que Bravecto</li>
                        <li>Montrez &agrave; vos clients la valeur de votre expertise</li>
                    </ul>
                    <a href="/bravecto/newbusiness?solutionID=1">En savoir plus</a>
                </div>
                <div class="inset">
                    <h3>Comment d&eacute;velopper sa prescription d&rsquo;antiparasitaires ?</h3>
                    <p>Bravecto est le seul traitement oral qui dure jusqu&rsquo;&agrave; 12 semaines.*<br />Uniquement disponible sur prescription.</p>
                    <a href="/bravecto/newbusiness?solutionID=2">En savoir plus</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/newbusiness">Lire tout</a></h4>
            </div>
        </div>
    </div>
    <div class="row" style="padding-left: 15px;">
        <p class="hero-banner-copy">*Bravecto est efficace contre <i>Rhipicephalus sanguineus</i> pendant 8 semaines.</p>
    </div>
</div>