@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask" style="">Innovation</h1>
                    <div class="page-subhead">Découvrez une nouvelle classe de protection</div>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/innovation-issu1-newInnovation-lg_fr.jpg" alt="Innovation Issue 1">
                        <div class="issue-contents">
                            <h3>Quelle alternative innovante peut conduire les propri&eacute;taires d&rsquo;animaux &agrave; adh&eacute;rer &agrave; des traitements sur prescription ?</h3>
                            <hr class="plus diagonal">
                            <p>D&eacute;couvrez une nouvelle classe de protection &ndash; Bravecto</p>
                            <ul class="styled">
                                <li>L&rsquo;innovation scientifique de MSD Sant&eacute; Animale : l&rsquo;alternative</li>
                                <li>Bravecto (fluralaner) apporte l&rsquo;innovation dans la protection contre les puces et les tiques &ndash; une vraie diff&eacute;rence</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>En quoi Bravecto est-il r&eacute;volutionnaire dans la pr&eacute;vention puces et tiques ?</h4>
                            <hr class="plus diagonal">
                            <p>Bravecto prot&egrave;ge pendant 12 semaines compl&egrave;tes.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">En savoir plus</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Apporter la tranquillit&eacute; d&rsquo;esprit &agrave; vos clients gr&acirc;ce &agrave; une protection puissante et longue dur&eacute;e contre les puces et les tiques</h4>
                            <hr class="plus diagonal">
                            <ul class="styled">
                                <li>Action efficace et durable &agrave; la fois contre les puces et tiques</li>
                                <li>Efficacit&eacute; &agrave; large spectre contre les esp&egrave;ces de tiques et puces les plus fr&eacute;quemment rencontr&eacute;es en France</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/innovation-issu4-vectorBorne-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>Quel est le meilleur moyen de contr&ocirc;ler les maladies vectorielles ?</h3>
                            <hr class="plus diagonal">
                            <p>Bravecto est un traitement de choix pour ma&icirc;triser le risque de maladies vectorielles. Pour contr&ocirc;ler ce risque, il est important de :</p>
                            <ol class="styled">
                                <li><p>Tuer rapidement les parasites vecteurs</p></li>
                                <li><p>Assurer un haut niveau d&rsquo;efficacit&eacute; pendant toute la dur&eacute;e du traitement</p></li>
                                <li><p>Respecter une parfaite observance du traitement</p></li>
                            </ol>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Retour en haut de la page</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu1-newInnovation-lg_fr.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Faites de Bravecto votre alternative aux produits OTC</h2>
                            </div>
                            <h2 class="visible-xs">Faites de Bravecto votre alternative aux produits OTC</h2>
                            <hr class="plus diagonal">
                            <h3>Une innovation scientifique MSD Sant&eacute; Animale</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto, le nouvel antiparasitaire externe de MSD Sant&eacute; Animale, est une innovation dans le traitement contre les puces et les tiques chez le chien.</p>
                                    <p>Le fluralaner appartient &agrave; la famille des isoxazolines, qui bloquent sp&eacute;cifiquement les canaux chlorure des insectes et acariens. Cette famille est la seule classe d&rsquo;insecticides d&eacute;couverte depuis 10 ans.</p>
                                    <p>Dans des essais in vitro, le fluralaner a &eacute;t&eacute; compar&eacute; au fipronil sur quatre esp&egrave;ces d&rsquo;insectes et trois esp&egrave;ces de tiques. Les auteurs ont montr&eacute; que le fluralaner &eacute;tait aussi efficace chez les puces pr&eacute;sentant une mutation g&eacute;n&eacute;tique de r&eacute;sistance, et que :</p>
                                    <ul class="styled">
                                        <li>Le fluralaner est plus puissant que le fipronil sur la cible mol&eacute;culaire principale<sup>5</sup></li>
                                        <li>Le fluralaner a d&eacute;montr&eacute; une activit&eacute; antiparasitaire sup&eacute;rieure au fipronil, &agrave; l&rsquo;imidaclopride et autres insecticides &agrave; modes d&rsquo;action diff&eacute;rents.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <div class="molecule-wrapper">
                                            <div mouse-capture>
                                                <img-rotator height="311" width="466" sprites="36" src="~/images/molecule.png"></img-rotator>
                                            </div>
                                        </div>
                                    </p>
                                    <iframe src="//quadia.webtvframework.com/intervet/_app/player/?id=390574" frameborder="0" allowtransparency="true" style="border:none;width:512px;height:288px;overflow:hidden;max-width:100%;"></iframe>
                                    @* <iframe src="//quadia.webtvframework.com/intervet/marketingservices/_app/publication_player/?id=390574" frameborder="0" allowtransparency="true" style="border:none;width:512px;height:288px;overflow:hidden;max-width:100%;"></iframe>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">

                                    <h4>R&eacute;f&eacute;rences</h4>
                                    <div class="references">
                                        <p class="ref-number">3</p>
                                        <p>Ozoe, Y. Y-aminobutyrate- and glutamate-gated chloride channels as targets of insecticides. In: [book title needed, with publication info.]</p>
                                        <p class="ref-number">4</p>
                                        <p>Ozoe Y, Asahi M, Ozoe F, Nakahira K, Mita T. The antiparasitic isoxazoline A1443 is a potent blocker of insect ligand-gated chloride channels. Biochem Biophys Res Commun. 2010;391:744-749.</p>
                                        <p class="ref-number">5</p>
                                        <p>Gassel M, Wolf C, Noack S, Williams H, Ilg T. The novel isoxazoline ectoparasiticide fluralaner: Selective inhibition of arthropod &#947;-aminobutyric acid- and L-glutamate-gated chloride channels and insecticidal/acaricidal activity. [publication information to come]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu2-revolutionary-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">Bravecto, la r&eacute;volution antiparasitaire qui red&eacute;finit le traitement contre les puces et les tiques</h2>
                            </div>
                            <h2 class="visible-xs">Bravecto, la r&eacute;volution antiparasitaire qui red&eacute;finit le traitement contre les puces et les tiques</h2>
                            <hr class="plus diagonal">
                            <h3>Jusqu&rsquo;&agrave; 12 semaines de protection*</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto est actif tr&egrave;s rapidement contre les puces et les tiques pendant toute la dur&eacute;e d&rsquo;efficacit&eacute;. Bravecto solutionne les probl&egrave;mes d&rsquo;observance et de contr&ocirc;le d&rsquo;infestation parasitaire.</p>
                                    <ul class="styled">
                                        <li>
                                            Un d&eacute;but d&rsquo;action (mort de la puce) d&egrave;s 2 heures, avec 88% d&rsquo;efficacit&eacute; dans les 4 heures<sup>7,8</sup>
                                        </li>
                                        <li>Activit&eacute; &agrave; spectre large contre les esp&egrave;ces courantes de puces et tiques<sup>6,7</sup></li>
                                        <li>
                                            Activit&eacute; maintenue pendant toute la p&eacute;riode<sup>6,7</sup>
                                            <ul class="styled">
                                                <li>Efficacit&eacute; puces &#8805;97.9% &agrave; 8 heures pendant les 12 semaines d&rsquo;efficacit&eacute;<sup>9</sup></li>
                                                <li>Efficacit&eacute; tiques >99% &agrave; 12 heures pendant les 12 semaines d&rsquo;efficacit&eacute; (8 semaines pour Rhipicephalus sanguineus)<sup>9</sup></li>
                                            </ul>
                                        </li>
                                        <li>Utilisable dans le cadre d&rsquo;un plan de traitement de la DAPP<sup>7</sup></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <!--<div bravo-chart chart-id="speedKill"></div>-->
                                        <img src="/Images/bravovets-speed-of-kills-flea.png" style="width:90%;" alt="Chart" />
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <p class="hero-banner-copy">*Bravecto est efficace contre Rhipicephalus sanguineus pendant 8 semaines.</p>
                                    <h4>R&eacute;f&eacute;rences</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto<sup>TM</sup> RCP</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich et al. Parasites & Vectors 2014, 7:83</p>
                                        <p class="ref-number">8</p>
                                        <p>NexGard (afoxalaner) chewables. Prescribing information. Merial Labs, 2013.</p>
                                        <p class="ref-number">9</p>
                                        <p>Data on File. Merck Animal Health, Summit, NJ. 2013. For UK purposes the references should be: Wengenmayer 2012, Study No. V-0084-0196 & Wengenmayer 2012 Study No. V-0084-0225.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu3-peaceOfMind-lg.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Apporter la tranquillit&eacute; d&rsquo;esprit &agrave; vos clients gr&acirc;ce &agrave; une protection puissante et longue dur&eacute;e contre les puces et les tiques</h2>
                            </div>
                            <h2 class="visible-xs">Apporter la tranquillit&eacute; d&rsquo;esprit &agrave; vos clients gr&acirc;ce &agrave; une protection puissante et longue dur&eacute;e contre les puces et les tiques</h2>
                            <hr class="plus diagonal">
                            <!-- <h3>Efficacit&eacute; durable contre les puces et les tiques</h3>-->
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- <div bravo-chart chart-id="householdsFreeFleas" class="match-height"></div>-->
                                    <img src="/Images/bravovets-percents-fleas-free-households.png" alt="Chart" />
                                    <p class="caption">Adapt&eacute; de Rohdich, 2013.</p>
                                    <div class="callout-box">
                                        <p>
                                            <strong>Rapidit&eacute; d&rsquo;action contre les puces</strong>
                                        </p>
                                        <p>
                                            Fluralaner 8 heures<sup>6</sup>
                                        </p>
                                        <p>
                                            Afoxolaner 8 heures<sup>8</sup>
                                        </p>
                                    </div>
                                    <p>Aucune r&eacute;sistance &agrave; Bravecto n&rsquo;a &eacute;t&eacute; d&eacute;crite. Ce dernier apporte une protection efficace &agrave; large spectre contre les esp&egrave;ces de tiques et puces les plus r&eacute;pandues.<sup>6, 7</sup></p>
                                </div>
                                <div class="col-sm-6">
                                    <!--<div bravo-chart chart-id="tickControlEfficacy" class="match-height"></div>-->
                                    <img src="/Images/bravovets-percents-ticks-free-households.png" alt="Chart" />
                                    <p class="caption">Adapted from Rohdich, 2013.</p>
                                    <div class="callout-box">
                                        <p><strong>Rapidit&eacute; d'efficacit&eacute; contre les tiques</strong></p>
                                        <p>
                                            Fluralaner 12 heures<sup>6</sup>
                                        </p>
                                        <p>
                                            Afoxolaner 48 heures<sup>8</sup>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="caption">Rohdich, et al est une &eacute;tude de terrain multicentrique, randomis&eacute;e en aveugle, comparant l'efficacit&eacute; sur puces et tiques chez les chiens sur une dur&eacute;e de traitement de 12 semaines, soit d'une simple dose par prise orale de 25 mg/kg de Bravecto sous forme de comprim&eacute; &agrave; m&acirc;cher ou de trois traitements s&eacute;quentiels de fipronil en topique &agrave; des intervalles de 4 semaines</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>Efficacit&eacute; contre les puces et les tiques en France</h3>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Esp&egrave;ces de puces</th>
                                                <th>Esp&egrave;ces de tiques</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><p><i>Ctenocephalides felis</i></p></td>
                                                <td>
                                                    <p><i>Ixodes ricinus</i></p>
                                                    <p><i>Dermacentor reticulatus</i></p>
                                                    <p><i>Dermacentor variabilis</i></p>
                                                    <p><i>Rhipicephalus sanguineus</i></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>Pour plus d&rsquo;information concernant cette innovation, contactez votre d&eacute;l&eacute;gu&eacute; commercial MSD Sant&eacute; Animale.</p>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>R&eacute;f&eacute;rences</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto&trade; RCP</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich et al. Parasites & Vectors 2014, 7:83</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu4-vectorBorne-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Contr&ocirc;le des maladies vectorielles</h2>
                            </div>
                            <h2 class="visible-xs">Contr&ocirc;le des maladies vectorielles</h2>
                            <hr class="plus diagonal">
                            <h3>Bravecto est un traitement de choix pour ma&icirc;triser le risque de maladies vectorielles. Pour contr&ocirc;ler ce risque, il est important de :</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <ol>
                                        <li>Tuer rapidement les parasites</li>
                                        <li>Assurer un haut niveau d&rsquo;efficacit&eacute; pendant toute la dur&eacute;e du traitement</li>
                                        <li>Respecter une parfaite observance du traitement</li>
                                    </ol>
                                    <p>Les connaissances sur les maladies vectorielles sont en constante &eacute;volution. Les tableaux suivants r&eacute;sument les derni&egrave;res recherches en la mati&egrave;re chez le chien ou chez d&rsquo;autres esp&egrave;ces animales. Vous pourrez remarquer que la transmission de la maladie de Lyme (Borrelia) peut mettre plus de 16 heures<sup>10-14</sup></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="caption"> Maladie de Lyme (Borrelia burgdorferi) dur&eacute;es de transmission publi&eacute;es <sup>11-14</sup></p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tiques</th>
                                                <th>Espe&#768;ces test&eacute;es</th>
                                                <th class="center">Dur&eacute;e de transmisison </th>
                                                <th class="center">% Transmission</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="2"><i>Ixodes scapularis nymphes</i></td>
                                                <td rowspan="2">souris</td>
                                                <td class="center">&lt;24 h </td>
                                                <td class="center">0</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;48 h</td>
                                                <td class="center">12.5</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="4"><i>Ixodes ricinus nymphes</i></td>
                                                <td rowspan="4">souris</td>
                                                <td class="center">&lt;48 h</td>
                                                <td class="center">0</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;72 h</td>
                                                <td class="center">44</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;24 h</td>
                                                <td class="center">14</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;48 h</td>
                                                <td class="center">50</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2"><i>Ixodes ricinus nymphes</i></td>
                                                <td rowspan="2">gerbilles</td>
                                                <td class="center">17 h</td>
                                                <td class="center">~ 50</td>
                                            </tr>
                                            <tr>
                                                <td class="center">29 h</td>
                                                <td class="center">~ 50</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <p class="caption">Babesia canis canis dur&eacute;e de transmission publi&eacute;es </p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tiques</th>
                                                <th class="center">Espe&#768;ces test&eacute;es</th>
                                                <th class="center">Dur&eacute;e de transmisison</th>
                                                <th class="center">Transmission</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><i>Dermacentor reticulatus nymphes</i></td>
                                                <td class="center">Chiens</td>
                                                <td class="center">&gt;48 h</td>
                                                <td class="center">Positif</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="caption">Ehrlichia phagocytophila dur&eacute;e de transmission publi&eacute;es</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tiques</th>
                                                <th class="center">Espe&#768;ces test&eacute;es</th>
                                                <th class="center">Dur&eacute;e de transmisison</th>
                                                <th class="center">% Transmission</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><i>Ixodes scapularis nymphes</i></td>
                                                <td class="center">Souris</td>
                                                <td class="center">&lt;24 h</td>
                                                <td class="center">66</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Bravecto tue les tiques du genre Ixodes d&egrave;s 12 heures pendant toute la dur&eacute;e de traitement de 12 semaines.<sup>9</sup></p>
                                    <ul class="styled">
                                        <li>Une &eacute;limination rapide des tiques r&eacute;duit le risque de transmission de la maladie</li>
                                        <li>L&rsquo;efficacit&eacute; jusqu&rsquo;&agrave; 12 semaines* limite le risque d&rsquo;avoir des vides dans la protection contre les ectoparasites. Une &eacute;tude men&eacute;e chez les propri&eacute;taires a d&eacute;montr&eacute; que ceux-ci n&rsquo;appliquent pas r&eacute;guli&egrave;rement les traitements mensuels.<sup>14</sup> Les chiens non trait&eacute;s courent le risque de contracter une maladie transmise par les tiques.</li>
                                        <li>L&lsquo;action r&eacute;pulsive contre les tiques n'est pas de 100% pendant toute la dur&eacute;e des traitements topiques ; les tiques peuvent rester attach&eacute;es aux chiens, et les chiens expos&eacute;s aux maladies transmises par ces vecteurs.<sup>15</sup></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <p class="hero-banner-copy">*Bravecto est efficace contre <i>Rhipicephalus sanguineus</i> pendant 8 semaines.</p>
                                    <h4>R&eacute;f&eacute;rences</h4>
                                    <div class="references">
                                        <p class="ref-number">9</p>
                                        <p>Data on File. Merck Animal Health, Summit, NJ. 2013. For UK purposes the references should be: Wengenmayer 2012, Study No. V-0084-0196 &amp; Wengenmayer 2012 Study No. V-0084-0225.</p>
                                        <p class="ref-number">10</p>
                                        <p>Crippa M, Rais O, Gern L. Investigations on the mode and dynamics of transmission and infectivity of Borrelia burgdorferi sensu stricto and Borrelia afzelii in Ixodes ricinus ticks. Vector Borne Zoonotic Dis. 2002;2:3-9.</p>
                                        <p class="ref-number">11</p>
                                        <p>Kahl O, Gern L, Gray JS&lt; et al. Detection of Borrelia burgdorferi sensu lato in ticks: immunofluorescence assay versus polymerase chain reaction. Zent.bl. Bakteriol. 1998;287:205-210.</p>
                                        <p class="ref-number">12</p>
                                        <p>Kahl O, Janetzki-Mittmann C, Gray JS, Jonas R, Stein J, de Boer R. Risk of infection with Borrelia burgdorferi sensu lato for a host in relation to the duration of nymphal Ixodes ricinus feeding and method of tick removal. Zent.bl. Bakteriol. 1998;287:41-52.</p>
                                        <p class="ref-number">13</p>
                                        <p>Piesman J, Mather TN, Sinsky RJ, Spielman A. Duration of tick attachment and Borrelia burgdorferi transmission. J Clin Microbiol. 1987;557-558.</p>
                                        <p class="ref-number">14</p>
                                        <p>Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg: results of a questionnaire study. Berliner und M&uuml;nchener Tier&auml;rztliche Wochenschrift 126, Heft 1/2 (2013), Seiten 6&ndash;76.</p>
                                        <p class="ref-number">15</p>
                                        <p>Guerino F. Effectiveness of Activyl&reg; and Activyl Tick plus in dogs. in Recent advances in companion animal ectoparasite control. Symposium Proceedings. 2012 Intervet International B.V. a subsidiary of Merck &amp; Co., Inc. page 15.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });



        });

    </script>
}