@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask" style="">
                        D&eacute;veloppement de l'activit&eacute;
                    </h1>
                    <div class="page-subhead" style="top: 0;">D&eacute;couvrez une nouvelle classe de protection</div>
                </div>
                <hr class="plus diagonal">

            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/newBus-issu1-socialMediaPower-tile.jpg" alt="New Business Issue 1">
                        <div class="issue-contents">
                            <h3>Comment les r&eacute;seaux sociaux peuvent vous aider &agrave; d&eacute;velopper votre client&egrave;le</h3>
                            <hr class="plus diagonal">
                            <p>Voici <a href="/dashboard">BravoVets</a>, l&rsquo;outil professionnel qui vous aide &agrave; &eacute;tablir, renforcer et g&eacute;rer votre pr&eacute;sence sur les r&eacute;seaux sociaux.</p>
                            <ul class="styled">
                                <li>Viser de nouvelles cibles et rester connect&eacute;s</li>
                                <li>Renforcer votre relation avec vos clients actuels</li>
                                <li>Vous positionner en tant qu&rsquo;expert en sant&eacute; et bien-&ecirc;tre animal pour vos clients</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Comment capter une plus grande part du march&eacute; de la pr&eacute;vention antiparasitaire ?</h4>
                            <hr class="plus diagonal">
                            <p>
                                Bravecto est le seul traitement oral avec une efficacit&eacute; jusqu&rsquo;&agrave; 12 semaines .* <br />
                                Disponible uniquement sur prescription

                                <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">En savoir plus</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h3>Reprenez la main sur les antiparasitaires </h3>
                            <hr class="plus diagonal">
                            <p>Partez &agrave; la reconqu&ecirc;te de vos clients perdus et cr&eacute;ez du lien</p>
                            <ul class="styled">
                                <li>Des services et produits exclusifs li&eacute;s aux innovations tel que Bravecto</li>
                                <li>Montrez &agrave; vos clients la valeur de votre expertise</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/newBus-issu4-strongRelationship-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>Comment d&eacute;velopper votre activit&eacute; et votre relation clients ?</h3>
                            <hr class="plus diagonal">
                            <p>Une gamme de services pour faire revenir les clients dans votre clinique et les fid&eacute;liser.</p>
                            <ul class="styled">
                                <li>Outils marketing pour vos clients</li>
                                <li>Pr&eacute;sentoirs et outils de formation</li>
                                <li><a href="/dashboard">BravoVets</a, la nouvelle ressource pour d&eacute;velopper votre pr&eacute;sence sur les r&eacute;seaux sociaux</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Retour en haut de la page</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu1-socialMediaPower-lg.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Mettez le pouvoir des r&eacute;seaux sociaux au service de votre d&eacute;veloppement</h2>
                            </div>
                            <h2 class="visible-xs">Mettez le pouvoir des r&eacute;seaux sociaux au service de votre d&eacute;veloppement</h2>
                            <hr class="plus diagonal">
                            <h3>BravoVets est un outil de gestion et de d&eacute;veloppement de l&rsquo;utilisation des r&eacute;seaux sociaux con&ccedil;u pour les v&eacute;t&eacute;rinaires. D&eacute;veloppez votre pr&eacute;sence en ligne et impliquez-vous aupr&egrave;s de vos clients.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="/dashboard"><img src="/images/newBus-issu1-socialMediaPower-text-lg.jpg" alt="Bravovets Screenshot"></a>
                                    <p><a href="/dashboard">BravoVets</a> propose &eacute;galement des outils pratiques que vous pouvez utiliser pour d&eacute;velopper votre activit&eacute; professionnelle et suivre votre image sociale en ligne.</p>
                                    <ul class="styled">
                                        <li>Des actualit&eacute;s et mises &agrave; jour de Bravecto</li>
                                        <li>Un centre de notifications pour g&eacute;n&eacute;rer des leads (opportunit&eacute; de nouveaux clients)</li>
                                        <li>Des posts clients sur votre mure Facebook</li>
                                        <li>Des posts Twitter r&eacute;cents en utilisant votre compte et des hashtags</li>
                                        <li>Unes synth&egrave;se des sujets d&rsquo;actualit&eacute;</li>
                                        <li>Des conseils sociaux pour vous aider &amp;agrave; optimiser votre visibilit&amp;eacute; en ligne </li>
                                    </ul>
                                    <h3>Une pr&eacute;sence forte &agrave; port&eacute;e de clic</h3>
                                    <p>Les propri&eacute;taires d&rsquo;animaux de compagnie sont toujours &agrave; la recherche de nouvelles fa&ccedil;ons de se connecter avec d&rsquo;autres amoureux des animaux et de trouver de l&rsquo;information utile &agrave; propos de la sant&eacute; et du bien-&ecirc;tre de leur animal de compagnie. Les r&eacute;seaux sociaux repr&eacute;sentent un moyen de communication et d&rsquo;engagement cl&eacute; pour les propri&eacute;taires d&rsquo;animaux de compagnie.</p>
                                    <ul class="styled">
                                        <li>70% des propri&eacute;taires d'animaux de compagnie passent jusqu&rsquo;&agrave; 30 minutes par semaine en ligne &agrave; rechercher des sujets li&eacute;s aux animaux de compagnie<sup>20</sup></li>
                                        <li>De nombreuses personnes consultent &ldquo;Dr. Google&rdquo; et des sites internet non-professionnels pour des conseils sur les soins des animaux de compagnie, plut&ocirc;t que d'appeler leur v&eacute;t&eacute;rinaire</li>
                                        <li>En France, 79% des internautes utilise au moins un r&eacute;seau social.</li>
                                        <li>66% des Fran&ccedil;ais utilisent Facebook o&ugrave; des dizaines de pages sont d&eacute;di&eacute;es aux chiens.<sup>22</sup></li>
                                        <li>
                                            Les propri&eacute;taires de chien font confiance &agrave; des sites internet d&eacute;di&eacute;s&mdash; et utilisent &eacute;galement Facebook et Twitter comme une s&eacute;rie d'autres sites dont :
                                            <ul class="styled">
                                                <li>Wamiz.com</li>
                                                <li>30millionsdamis.fr</li>
                                                <li>Chiens.com</li>
                                                <li>Zooplus.fr</li>
                                                <li>Medicanimal.fr</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">

                                    <h3>Les r&eacute;seaux sociaux sont le meilleur moyen pour communiquer et informer les clients.</h3>
                                    <p>14% des utilisateurs Facebook ont un compte au nom de leur chien.<sup>24</sup></p>
                                    <p>Bravecto vous donne une opportunit&eacute; id&eacute;ale de vous engager aupr&egrave;s de vos clients et de donner des informations importantes &agrave; propos des principales avanc&eacute;es en mati&egrave;re de protection contre les puces.</p>
                                    <h3>Un petit investissement en temps &mdash; qui peut s'av&eacute;rer tr&egrave;s efficace pour fid&eacute;liser vos clients</h3>
                                    <p><strong><a href="/dashboard">BravoVets</a></strong> peut aussi vous aider &agrave; trouver de nouveaux clients et &agrave; rester &agrave; jour gr&acirc;ce &agrave; :</p>
                                    <ul class="styled">
                                        <li>Des conseils efficaces pour attirer de nouveaux clients,</li>
                                        <li>Des mises &agrave; jour et alertes relatives &agrave; votre cabinet,</li>
                                        <li>Des donn&eacute;es cliniques actualis&eacute;es, des webinars, des vid&eacute;os , des &eacute;tudes de cas&#8230;</li>
                                    </ul>
                                    <p><strong>Se connecter</strong> avec un public nouveau ou existant &agrave; travers :</p>
                                    <ul class="styled">
                                        <li>De l&rsquo;information et du mat&eacute;riel p&eacute;dagogique sur Bravecto</li>
                                        <li>Du contenu clients pour vos newsletters, vos blogs et vos posts</li>
                                    </ul>
                                    <p><strong>Maintenir</strong> un bon relationnel gr&acirc;ce &agrave; :</p>
                                    <ul class="styled">
                                        <li>Des conseils et des guides pour renforcer votre pr&eacute;sence sur les r&eacute;seaux sociaux,</li>
                                        <li>Des outils de fid&eacute;lisation clients et des documents de support, </li>
                                    </ul>
                                    <p>Vous disposez d&eacute;sormais d&rsquo;occasions pour communiquer de fa&ccedil;on proactive avec vos clients. Demandez davantage d'informations &agrave; votre d&eacute;l&eacute;gu&eacute; MSD Sant&eacute; Animale.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <p class="hero-banner-copy">*Bravecto est efficace contre <i>Rhipicephalus sanguineus</i> pendant 8 semaines.</p>
                                    <h4>R&eacute;f&eacute;rences</h4>
                                    <div class="references">
                                        <p class="ref-number">20</p>
                                        <p>Orsini P, Drolet D, Liu C. Pet projects: digital connects pet owners to brands. eMarketer. July 2013.</p>
                                        <p class="ref-number">21</p>
                                        <p>Rainie L, Smith A, Duggan M. Coming and going on Facebook. Pew Internet & American Life Project. 2013. A project of the PewResearchCenter, Washington, DC.</p>
                                        <p class="ref-number">22</p>
                                        <p>eMarketer, UK Remains Top Facebook Market in Western Europe, May, 2013.</p>
                                        <p class="ref-number">23</p>
                                        <p>Adweek. Social networking and man&rsquo;s best friend. Infographic. Available at: http://www.adweek.com/adfreak/infographics-reveal-scope-pet-owners-weirdness-and-depravity-132283. Downloaded December 12, 2013.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu2-overTheCounter-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">Offrez aux propri&eacute;taires d&rsquo;animaux de compagnie un service personnalis&eacute;, une expertise sant&eacute; et des produits innovants</h2>
                            </div>
                            <h2 class="visible-xs">Offrez aux propri&eacute;taires d&rsquo;animaux de compagnie un service personnalis&eacute;, une expertise sant&eacute; et des produits innovants</h2>
                            <hr class="plus diagonal">
                            <h3>Seul le v&eacute;t&eacute;rinaire peut apporter au propri&eacute;taire de chien des produits innovants, une expertise et des soins</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Les clients viennent chez vous pour avoir des conseils et des soins que seul un v&eacute;t&eacute;rinaire peut fournir. Apportez de la valeur &agrave; votre cabinet en proposant des services exclusifs qui fid&eacute;lisent vos clients et montrez leur que vous avez beaucoup plus &agrave; offrir que les services g&eacute;n&eacute;riques de la grande distribution, les animaleries ou les pharmacies.</p>
                                    <p>Jusqu&rsquo;&agrave; pr&eacute;sent, les consommateurs consid&eacute;raient les produits contre les puces et les tiques comme &eacute;tant les m&ecirc;mes &mdash; ils &eacute;taient donc tent&eacute;s de choisir leur traitement sur la base de l'aspect pratique et du prix.</p>
                                    <p>Ramenez ces clients chez vous gr&acirc;ce &agrave; la valeur ajout&eacute;e que vous seul pouvez fournir, en service individualis&eacute;, continuit&eacute; des soins, et acc&egrave;s &agrave; des produits r&eacute;ellement innovants comme Bravecto.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu3-goToResource-lg.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Devenez la ressource de r&eacute;f&eacute;rence pour la pr&eacute;vention contre les puces et les tiques</h2>
                            </div>
                            <h2 class="visible-xs">Devenez la ressource de r&eacute;f&eacute;rence pour la pr&eacute;vention contre les puces et les tiques</h2>
                            <hr class="plus diagonal">
                            <h3>En tant que professionnel, vous pouvez offrir &agrave; vos clients ce qu&rsquo;ils ne pourront trouver nulle part ailleurs .</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto est l'unique traitement antiparasitaire oral jusqu&rsquo;&agrave; 12 semaines* pour les chiens. Vous pouvez &ecirc;tre le seul &agrave; proposer le traitement r&eacute;volutionnaire sur le march&eacute; aujourd'hui.</p>
                                    <ul class="styled">
                                        <li>Partez &agrave; la reconqu&ecirc;te de clients qui auront encore plus confiance en vous</li>
                                        <li>Red&eacute;finissez le confort en proposant des traitements plus faciles, plus propres et moins fr&eacute;quents pour une protection efficace contre les puces et les tiques</li>
                                        <li>Positionnez votre clinique comme le lieu de r&eacute;f&eacute;rence o&ugrave; trouver des traitements innovants</li>
                                        <li>Fournissez des produits innovants qui ne sont pas disponibles en vente libre</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <p class="hero-banner-copy">*Bravecto est efficace contre <i>Rhipicephalus sanguineus</i> pendant 8 semaines.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu4-strongRelationship-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Comment d&eacute;velopper votre activit&eacute; et votre relation clients ?</h2>
                            </div>
                            <h2 class="visible-xs">Comment d&eacute;velopper votre activit&eacute; et votre relation clients ?</h2>
                            <hr class="plus diagonal">
                            <h3>Votre d&eacute;l&eacute;gu&eacute; MSD Sant&eacute; Animale peut vous montrer les moyens de capitaliser sur l&rsquo;opportunit&eacute; que repr&eacute;sente Bravecto</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Par ailleurs, MSD Santé Animale orientera activement les clients dans votre direction grâce à de nombreuses actions.</p>
                                    <ul class="styled">
                                        <li>Des op&eacute;rations marketing orient&eacute;es vers les consommateurs favoriseront l'arriv&eacute;e de nouveaux clients &agrave; votre cabinet </li>
                                        <li>Des pr&eacute;sentoirs et du mat&eacute;riel p&eacute;dagogique toucheront vos clients actuels et participeront &agrave; soutenir vos recommandations et ordonnances</li>
                                        <li><strong>BravoVets:</strong> une nouvelle ressource en ligne exclusivement d&eacute;di&eacute;e aux v&eacute;t&eacute;rinaires, pour vous informer de l&rsquo;actualit&eacute; scientifique, pour am&eacute;liorer votre visibilit&eacute; sur les r&eacute;seaux sociaux, et cr&eacute;er des relations nouvelles et plus fortes avec vos clients.</li>
                                    </ul>
                                    <p>Avec Bravecto, vous assurez une protection longue dur&eacute;e &agrave; vos patients canins &mdash; et une relation solide avec leurs propri&eacute;taires. MSD Sant&eacute; Animale vous offre les moyens de mettre en avant votre clinique aupr&egrave;s de vos clients connect&eacute;s.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

        });

    </script>
}