<footer>
    <div class="container">
        <!-- TODO: Uncomment this when search is added to the site -->
        <!-- <div id="footer-search" class="row search-wrapper visible-xs">
            <div class="col-xs-12"><input type="text" placeholder="Search"></div>
        </div> -->
        <div class="row">
            <div class="col-xs-12 footer-nav-wrapper">
                <ul class="nav nav-pills">
                    <li>
                        <a href="/termsandconditions">Terms And Conditions</a>
                    </li>
                    <li>
                        <a href="http://www.merck.com/about/how-we-operate/privacy/internet-privacy-policy.html" target="_blank">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/sitemap">Site Map</a>
                    </li>
                </ul>
                <p class="footer-contentBlock" >For technical assistance or to report a suspected<br /> adverse drug reaction, contact Merck Animal Health<br /> at 1-800-224-5318.</p>
            </div>
        </div>
    </div>
</footer>
