@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }

<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask">Innovación</h1>
                    <div class="page-subhead">Descubra una nueva clase de protección</div>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/innovation-issu1-newInnovation-tile-lg_es.jpg" alt="Innovation Issue 1">
                        <div class="issue-contents">
                            <h3>¿Qué hace que Bravecto sea un tratamiento revolucionario para la prevención de pulgas y garrapatas?</h3>
                            <hr class="plus diagonal">
                            <p>Descubra una nueva clase de protección – Bravecto.</p>
                            <ul class="styled">
                                <li>La ciencia innovadora de MSD Animal Health le ofrece una soluci&oacute;n magn&iacute;fica.</li>
                                <li>Bravecto&reg; (fluralaner) introduce una innovaci&oacute;n en la protecci&oacute;n frente a pulgas y garrapatas, satisfaciendo la necesidad de un producto innovador con beneficios &uacute;nicos.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>&iquest;Qu&eacute; hace que  Bravecto sea un tratamiento revolucionario para la prevenci&oacute;n de pulgas y garrapatas?</h4>
                            <hr class="plus diagonal">
                            <p>Bravecto ofrece una protecci&oacute;n total de hasta 12 semanas.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Leer más</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>&iquest;Qu&eacute; tratamiento preventivo frente a pulgas y garrapatas ofrece la tranquilidad de una eficacia inmediata  y persistente?</h4>
                            <hr class="plus diagonal">
                            <ul class="styled">
                                <li>Eficacia inmediata  y persistente frente a pulgas y garrapatas.</li>
                                <li>Eficacia de amplio espectro frente a un rango global de especies de pulgas y garrapatas.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/innovation-issu4-vectorBorne-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>¿Cuál es la mejor manera de controlar las enfermedades transmitidas por vectores?</h3>
                            <hr class="plus diagonal">
                            <p>Bravecto es una buena elección del veterinario clínico para el control del riesgo de enfermedades transmitidas por vectores. El control de las enfermedades transmitidas por vectores requiere:</p>
                            <ol class="styled">
                                <li><p>Eliminar rápidamente a los parásitos</p></li>
                                <li><p>Elevado nivel de eficacia a lo largo de todo el periodo de tratamiento</p></li>
                                <li><p>Elevado grado de cumplimiento del propietario de la mascota, en las recomendaciones de uso (duración, aplicación, frecuencia y baños)</p></li>
                            </ol>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Volver arriba</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu1-newInnovation-lg_es.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Haz de Bravecto la nueva alternativa de elecci&oacute;n de los propietarios de mascotas frente a pulgas y garrapatas</h2>
                            </div>
                            <h2 class="visible-xs">Haz de Bravecto la nueva alternativa de elecci&oacute;n de los propietarios de mascotas frente a pulgas y garrapatas</h2>
                            <hr class="plus diagonal">
                            <h3>L ciencia innovadora de MSD Animal Health que le ofrece una solución única.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>El nuevo producto de MSD Animal Health, Bravecto&reg; (fluralaner) presenta una innovaci&oacute;n en la protecci&oacute;n frente a pulgas y garrapatas, satisfaciendo la necesidad de un producto innovador con claros beneficios.</p>
                                    <p>Fluralaner es una isoxazolina, un nuevo bloqueante específico de canales de cloruro que se acciona con ligandos presentes  en los insectos. La isoxazolina es la primera nueva clase de insecticidas en más de una década.<sup>3-5</sup></p>
                                    <p>En un reciente estudio in vitro, fluralaner se comparó con el fipronilo frente a distintas especies de pulgas y garrapatas.<sup>5</sup> Los autores demostraron que el fluralaner no se ve afectado por mutaciones de resistencia en pulgas, y que<sup>5</sup>:</p>
                                    <ul class="styled">
                                        <li>Fluralaner supera al fipronilo en todos los tiempos de muestreo.</li>
                                        <li>Fluralaner muestra una mayor actividad parasiticida en comparaci&oacute;n con el fipronilo, el imidacloprid y otros agentes con distintos modos de acci&oacute;n.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <div class="molecule-wrapper">
                                            <div mouse-capture>
                                                <img-rotator height="311" width="466" sprites="36" src="/images/molecule.png"></img-rotator>
                                            </div>
                                        </div>
                                    </p>
                                    <iframe src="//quadia.webtvframework.com/intervet/marketingservices/_app/publication_player/?id=390574" frameborder="0" allowtransparency="true" style="border:none;width:512px;height:288px;overflow:hidden;max-width:100%;"></iframe>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Referencias</h4>
                                    <div class="references">
                                        <p class="ref-number">3</p>
                                        <p>Ozoe, Y. Y-aminobutyrate- and glutamate-gated chloride channels as targets of insecticides. In: [book title needed, with publication info.]</p>
                                        <p class="ref-number">4</p>
                                        <p>Ozoe Y, Asahi M, Ozoe F, Nakahira K, Mita T. The antiparasitic isoxazoline A1443 is a potent blocker of insect ligand-gated chloride channels. Biochem Biophys Res Commun. 2010;391:744-749.</p>
                                        <p class="ref-number">5</p>
                                        <p>Gassel M, Wolf C, Noack S, Williams H, Ilg T. The novel isoxazoline ectoparasiticide fluralaner: Selective inhibition of arthropod γ-aminobutyric acid- and L-glutamate-gated chloride channels and insecticidal/acaricidal activity. [publication information to come]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu2-revolutionary-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">El nuevo y revolucionario Bravecto, la prevención frente a pulgas y garrapatas que hará que los tratamientos mensuales se conviertan en algo del pasado.</h2>
                            </div>
                            <h2 class="visible-xs">El nuevo y revolucionario Bravecto, la prevención frente a pulgas y garrapatas que hará que los tratamientos mensuales se conviertan en algo del pasado.</h2>
                            <hr class="plus diagonal">
                            <h3>Proporciona una protección total de hasta 12 semanas</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto comienza a actuar rápidamente, y mata pulgas y garrapatas durante todo el periodo de dosificación de 12 semanas (8 semanas para Rhipicephalus sanguineus).<sup>6, 7</sup> Supera las limitaciones de los tratamientos mensuales actuales con el nuevo Bravecto.</p>
                                    <ul class="styled">
                                        <li>
                                            Inicio rápido ya a las 2 horas, con un 88% de eficacia a las 4 horas<sup>7,8</sup>
                                            <ul class="styled">
                                                <li>Otros agentes requieren hasta 48 horas para empezar su activad<sup>8</sup></li>
                                                <li>Bravecto causó reducciones estadísticamente significativas en recuentos de pulgas a las 2 horas (p=0,0046) y a las 4 horas (p=0,0117) post-tratamiento<sup>8</sup></li>
                                            </ul>
                                        </li>
                                        <li>Actividad de amplio espectro frente a especies comunes de pulgas y garrapatas<sup>6,7</sup></li>
                                        <li>
                                            Actividad sostenida para todo el periodo de dosificación<sup>6,7</sup>
                                            <ul class="styled">
                                                <li>La eficacia del control de pulgas fue del ≥97,9% a las 8 horas en todos los tiempos de muestreo<sup>9</sup></li>
                                                <li>Eficacia de control frente a garrapatas >99% a las 12 horas en todos los tiempos de muestreo.<sup>9</sup></li>
                                            </ul>
                                        </li>
                                        <li>Resolución rápida de la dermatitis alérgica por pulgas (DAPP)<sup>7</sup></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <div bravo-chart chart-id="speedKill"></div>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Referencias</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto™ SPC</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto™ (fluralaner) against Frontline® (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                        <p class="ref-number">8</p>
                                        <p>NexGard (afoxalaner) chewables. Prescribing information. Merial Labs, 2013.</p>
                                        <p class="ref-number">9</p>
                                        <p>Data on File. Merck Animal Health, Summit, NJ. 2013. For UK purposes the references should be: Wengenmayer 2012, Study No. V-0084-0196 & Wengenmayer 2012 Study No. V-0084-0225.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu3-peaceOfMind-lg.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Ofrezca tranquilidad a sus clientes con una protección potente y duradera frente a pulgas y garrapatas.</h2>
                            </div>
                            <h2 class="visible-xs">Ofrezca tranquilidad a sus clientes con una protección potente y duradera frente a pulgas y garrapatas.</h2>
                            <hr class="plus diagonal">
                            <h3>Eficacia inmediata  y persistente frente a pulgas y garrapatas.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div bravo-chart chart-id="householdsFreeFleas" class="match-height"></div>
                                    <p class="caption">Adaptado de Rohdich, 2013.</p>
                                    <div class="callout-box">
                                        <p>
                                            <strong>Inicio de eficacia frente a pulgas:</strong>
                                        </p>
                                        <p>
                                            Fluralaner 8 horas<sup>6</sup>
                                        </p>
                                        <p>
                                            Afoxolaner 8 horas<sup>8</sup>
                                        </p>
                                    </div>
                                    <p>Las pulgas y garrapatas no muestran resistencia a fluralaner. Bravecto ofrece una gran protección frente a diversas especies.<sup>6,7</sup></p>
                                </div>
                                <div class="col-sm-6">
                                    <div bravo-chart chart-id="tickControlEfficacy" class="match-height"></div>
                                    <p class="caption">Adaptado de Rohdich, 2013.</p>
                                    <div class="callout-box">
                                        <p><strong>Inicio de eficacia frente a garrapatas:</strong></p>
                                        <p>
                                            Fluralaner 12 horas<sup>6</sup>
                                        </p>
                                        <p>
                                            Afoxolaner 48 horas<sup>8</sup>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="caption">Rohdich, et al., en un estudio de campo aleatorizado multicentrico y ciego para el investigador, compara la eficacia del control de pulgas y garrapatas a lo largo de un periodo 12 semanas de tratamiento de perros, con una dosis oral única de 25 mg/kg de Bravecto formulada como comprimido masticable aromatizado o con tres tratamientos tópicos secuenciales de fipronilo a intervalos de 4 semanas.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>Eficacia de amplio espectro frente a especies de pulgas y garrapatas.</h3>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Especies de pulga</th>
                                                <th>Especies de garrapata</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><p><i>Ctenocephalides felis</i></p></td>
                                                <td>
                                                    <p><i>Ixodes ricinus</i></p>
                                                    <p><i>Dermacentor reticulatus</i></p>
                                                    <p><i>Dermacentor variabilis</i></p>
                                                    <p><i>Rhipicephalus sanguineus</i></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>Pregunta a tu delegado de MSD Animal Health sobre este tratamiento innovador.</p>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Referencias</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto™ SPC</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu4-vectorBorne-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Control de enfermedades transmitidas por vectores.</h2>
                            </div>
                            <h2 class="visible-xs">Control de enfermedades transmitidas por vectores.</h2>
                            <hr class="plus diagonal">
                            <h3>Bravecto es una buena elección del veterinario clínico para el control del riesgo de enfermedades transmitidas por vectores.</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>El control de las enfermedades transmitidas por vectores requiere:</p>
                                    <ol>
                                        <li>Eliminar rápidamente a los parásitos</li>
                                        <li>Elevado nivel de eficacia a lo largo de todo el periodo de tratamiento</li>
                                        <li>Elevado grado de cumplimiento del propietario de la mascota, en las recomendaciones de uso (duración, aplicación, frecuencia y baños)</li>
                                    </ol>
                                    <p>La información sobre las enfermedades transmitidas por vectores evoluciona constantemente. La tabla siguiente es un resumen de investigaciones recientes. Observe que la enfermedad de Lyme (Borrelia) puede requerir más de 16 horas para su transmisión.<sup>10-14</sup></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="caption">Tiempos de transmisión publicados para la borreliosis (Borrelia burgdorferi)<sup>11</sup></p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Garrapata</th>
                                                <th>Especie de prueba</th>
                                                <th class="center">Tiempo de transmisión</th>
                                                <th class="center">% Transmisión</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="2"><i>Ninfas de Ixodes scapularis</i> </td>
                                                <td rowspan="2">Ratón</td>
                                                <td class="center">&lt;24 h</td>
                                                <td class="center">0</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;48 h</td>
                                                <td class="center">12,5</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="4"><i>Ninfas de Ixodes ricinus</i></td>
                                                <td rowspan="4">Ratón</td>
                                                <td class="center">&lt;48 h</td>
                                                <td class="center">0</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;72 h</td>
                                                <td class="center">44</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;24 h</td>
                                                <td class="center">14</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;48 h</td>
                                                <td class="center">50</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2"><i>Ninfas de Ixodes ricinus</i></td>
                                                <td rowspan="2">Jerbo</td>
                                                <td class="center">17 h</td>
                                                <td class="center">~ 50</td>
                                            </tr>
                                            <tr>
                                                <td class="center">29 h</td>
                                                <td class="center">~ 50</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <p class="caption">Tiempos de transmisión publicados para la babesiosis (Babesia canis canis)</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Garrapata</th>
                                                <th class="center">Especie de prueba</th>
                                                <th class="center">Tiempo de transmisión</th>
                                                <th class="center">Transmisión</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><i>Ninfas de Dermacentor reticulatus</i></td>
                                                <td class="center">Perro</td>
                                                <td class="center">&gt;48 h</td>
                                                <td class="center">Positiva</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <p class="caption">Tiempos de transmisión publicados para  la ehrlichiosis (Ehrlichia phagocytophila)</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Garrapata</th>
                                                <th class="center">Especie de prueba</th>
                                                <th class="center">Tiempo de transmisión</th>
                                                <th class="center">% Transmisión</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><i>Ninfas de Ixodes scapularis </i></td>
                                                <td class="center">Ratón</td>
                                                <td class="center">&lt;24 h</td>
                                                <td class="center">66</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Bravecto mata a más del 99% de las garrapatas <i>Ixodes</i> a las 12 horas a lo largo de todo el periodo de tratamiento de hasta 12 semanas.<sup>9</sup></p>
                                    <ul class="styled">
                                        <li>La rápida muerte de las garrapatas reduce el riego de transmisión de enfermedades.</li>
                                        <li>La eficacia de hasta 12 semanas reduce el riesgo de brechas en la protección frente a ectoparásitos. Una encuesta entre los propietarios ha demostrado que los propietarios no cumplen con los tratamientos mensuales.<sup>14</sup> Los perros no tratados presentan riesgo de enfermedades transmitidas por garrapatas.</li>
                                        <li>La eficacia del control tópico de las garrapatas no es del 100% durante todo el mes; los perros con garrapatas enganchadas pueden estar expuestos a enfermedades transmitidas por vectores.<sup>15</sup></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Referencias</h4>
                                    <div class="references">
                                        <p class="ref-number">9</p>
                                        <p>Data on File. Merck Animal Health, Summit, NJ. 2013. For UK purposes the references should be: Wengenmayer 2012, Study No. V-0084-0196 &amp; Wengenmayer 2012 Study No. V-0084-0225.</p>
                                        <p class="ref-number">10</p>
                                        <p>Crippa M, Rais O, Gern L. Investigations on the mode and dynamics of transmission and infectivity of Borrelia burgdorferi sensu stricto and Borrelia afzelii in Ixodes ricinus ticks. Vector Borne Zoonotic Dis. 2002;2:3-9.</p>
                                        <p class="ref-number">11</p>
                                        <p>Kahl O, Gern L, Gray JS&lt; et al. Detection of Borrelia burgdorferi sensu lato in ticks: immunofluorescence assay versus 1polymerase chain reaction. Zent.bl. Bakteriol. 1998;287:205-210.</p>
                                        <p class="ref-number">12</p>
                                        <p>Kahl O, Janetzki-Mittmann C, Gray JS, Jonas R, Stein J, de Boer R. Risk of infection with Borrelia burgdorferi sensu lato for a host in relation to the duration of nymphal Ixodes ricinus feeding and method of tick removal. Zent.bl. Bakteriol. 1998;287:41-52.</p>
                                        <p class="ref-number">13</p>
                                        <p>Piesman J, Mather TN, Sinsky RJ, Spielman A. Duration of tick attachment and Borrelia burgdorferi transmission. J Clin Microbiol. 1987;557-558.</p>
                                        <p class="ref-number">14</p>
                                        <p>Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg: results of a questionnaire study. Berliner und Münchener Tierärztliche Wochenschrift 126, Heft 1/2 (2013), Seiten 6–76.</p>
                                        <p class="ref-number">15</p>
                                        <p>Guerino F.  Effectiveness of Activyl® and Activyl Tick plus in dogs. in Recent advances in companion animal ectoparasite control. Symposium Proceedings. 2012 Intervet International B.V. a subsidiary of Merck &amp; Co., Inc. page 15.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });



        });

    </script>
}