@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title newbusiness-icon" style="">Nuevo Negocio</h1>
                    <div class="page-subhead">Descubra una nueva clase de protección</div>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/newBus-issu1-socialMediaPower-tile.jpg" alt="New Business Issue 1">
                        <div class="issue-contents">
                            <h3>¿Cómo pueden las redes sociales incrementar su negocio?</h3>
                            <hr class="plus diagonal">
                            <p>Presentación de BravoVets, la herramienta profesional para establecer, reforzar y gestionar su presencia en las redes sociales y de relaciones públicas.</p>
                            <ul class="styled">
                                <li>Encuentre nuevos clientes potenciales y manténgase actualizado</li>
                                <li>Logre conexiones más cercanas con sus clientes</li>
                                <li>Sea el experto en salud y bienestar de las mascotas de sus clientes</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>¿Cómo puede obtener una mayor cuota en el mercado de prevención de las pulgas y garrapatas?</h4>
                            <hr class="plus diagonal">
                            <p>
                                Bravecto es el único tratamiento oral de hasta 12 semanas disponible. Solo de prescripción veterinaria.
                                <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Leer más</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h3>Olvídese de la competencia de medicamentos sin prescripción.</h3>
                            <hr class="plus diagonal">
                            <p>Recupere los clientes perdidos y cree relaciones.</p>
                            <ul class="styled">
                                <li>Servicios exclusivos vinculados a productos innovadores como Bravecto.</li>
                                <li>Muestre a sus clientes que el “valor” comienza con su experiencia.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/newBus-issu4-strongRelationship-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>¿Cómo crear una relación comercial más estrecha y relaciones más fuertes con los clientes?</h3>
                            <hr class="plus diagonal">
                            <p>Una serie de métodos innovadores le aporta clientes y los fideliza</p>
                            <ul class="styled">
                                <li>Esfuerzos globales de marketing de consumidores.</li>
                                <li>Expositores y material educativo.</li>
                                <li>BravoVets – La nueva plataforma online para ampliar su presencia en redes sociales.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Volver Arriba</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu1-socialMediaPower-lg.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Desarrolle el poder de las redes sociales en su clínica.</h2>
                            </div>
                            <h2 class="visible-xs">Desarrolle el poder de las redes sociales en su clínica.</h2>
                            <hr class="plus diagonal">
                            <h3>BravoVets es una herramienta para profesionales veterinarios para establecer, reforzar y gestionar su presencia en redes sociales. Tu presencia online es la herramienta única más potente que tienes para generar compromiso e implicación con los clientes. </h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="/images/newBus-issu1-socialMediaPower-text-lg.jpg" alt="Bravovets Screenshot">
                                    <p>BravoVets te ayuda a educar a los propietarios de mascotas sobre la protección duradera ofrecida por Bravecto. También ofrece herramientas prácticas que puedes utilizar para crear tu negocio y verificar tu “posición en las redes sociales”.</p>
                                    <ul class="styled">
                                        <li>Novedades y actualizaciones del producto Bravecto.</li>
                                        <li>Centro de notificaciones para la generación de clientes potenciales.</li>
                                        <li>Incorporaciones recientes de clientes en tu muro de Facebook.</li>
                                        <li>Incorporaciones recientes en Twitter utilizando tu usuario handle o hashtag.</li>
                                        <li>Resumen de trending topics.</li>
                                        <li>Consejos sociales para ayudarte a optimizar tu visibilidad online.</li>
                                    </ul>
                                    <h3>Una presencia más fuerte para tu clínica comienza con un clic.</h3>
                                    <p>Los propietarios de mascotas buscan siempre maneras de conectarse con amantes de los animales y encontrar información útil sobre la salud y el bienestar de las mascotas. Las redes sociales son una forma fundamental de comunicación entre los propietarios de mascotas.</p>
                                    <ul class="styled">
                                        <li>El 70% de los propietarios de mascotas invierten hasta 30 minutos por semana en revisar online temas relacionados con mascotas.<sup>20</sup></li>
                                        <li>Muchas personas consultan a “Dr. Google” y sitios web no profesionales para obtener consejos sobre la salud de sus mascotas, en vez de llamar al veterinario.</li>
                                        <li>El 69% de los adultos conectado a internet (que representan la mitad de toda la población adulta de EEUU) utiliza una red social de algún tipo.<sup>21</sup></li>
                                        <li>El uso de redes sociales constituye hasta el 80% de los usuarios de internet en algunos países—con decenas de páginas dedicadas a temas relacionados con los perros.<sup>22</sup></li>
                                       
                                        <li>
                                            Los sitios web dedicados a dueños de mascotas que utilizan Facebook y Twitter tienen mayor credibilidad. Si quieres estar al día sobre las últimas noticias sobre mascotas, hazte fan de nuestra página de Facebook Scalibor España, en ella encontrarás contenido interesante sobre actualidad, consejos, entretenimiento y muchas cosas más que podrás compartir con los propietarios en tu muro de Facebook a diario.
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <div bravo-chart chart-id="petOwnership"></div>
                                    <h3>Las redes sociales son el modo de comprometerse con, e informar a, los clientes.</h3>
                                    <p>El 14% de los usuarios de Facebook tiene una cuenta a nombre de su perro.<sup>23</sup></p>
                                    <p>Bravecto te ofrece una oportunidad ideal para comprometerte con tus clientes y ofrecer novedades importantes sobre un gran avance en la protección frente a las pulgas y las garrapatas.</p>
                                    <h3>Una pequeña inversión de tiempo, una gran recompensa de fidelidad y confianza.</h3>
                                    <p><strong>BravoVets</strong> puede ayudarte a encontrar nuevos clientes en las redes sociales y mantenerte al día, con:</p>
                                    <ul class="styled">
                                        <li>Estrategias efectivas de generación de clientes potenciales para conseguir nuevos pacientes</li>
                                        <li>Actualizaciones y alertas relevantes para tu clínica</li>
                                        <li>Datos clínicos actuales, seminarios web, vídeos y casos clínicos</li>
                                    </ul>
                                    <p><strong>Conecta</strong> con clientes nuevos y con tus clientes actuales mediante:</p>
                                    <ul class="styled">
                                        <li>Información para consumidores y material educativo sobre Bravecto</li>
                                        <li>Contenido divulgativo para boletines, blogs y contenido social</li>
                                    </ul>
                                    <p><strong>Manten</strong> relaciones fuertes con:</p>
                                    <ul class="styled">
                                        <li>Consejos y orientación para reforzar tu presencia en las redes sociales</li>
                                        <li>Herramientas de fidelización de clientes, ideas de promoción y materiales de apoyo</li>
                                    </ul>
                                    <p>Ahora más que nunca tienes oportunidad de conectar y comunicarte de manera positiva y proactiva. Solicita más información a tu delegado de MSD Animal Health.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Referencias</h4>
                                    <div class="references">
                                        <p class="ref-number">20</p>
                                        <p>Orsini P, Drolet D, Liu C. Pet projects: digital connects pet owners to brands. eMarketer. July 2013.</p>
                                        <p class="ref-number">21</p>
                                        <p>Rainie L, Smith A, Duggan M. Coming and going on Facebook. Pew Internet &amp; American Life Project. 2013. A project of the PewResearchCenter, Washington, DC.</p>
                                        <p class="ref-number">22</p>
                                        <p>eMarketer, UK Remains Top Facebook Market in Western Europe, May, 2013.</p>
                                        <p class="ref-number">23</p>
                                        <p>Adweek. Social networking and man&rsquo;s best friend. Infographic. Available at: http://www.adweek.com/adfreak/infographics-reveal-scope-pet-owners-weirdness-and-depravity-132283. Downloaded December 12, 2013.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu2-overTheCounter-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">Dé a los propietarios de mascotas el servicio personal, la experiencia y los productos innovadores que no pueden obtener sin prescripción.</h2>
                            </div>
                            <h2 class="visible-xs">Dé a los propietarios de mascotas el servicio personal, la experiencia y los productos innovadores que no pueden obtener sin prescripción.</h2>
                            <hr class="plus diagonal">
                            <h3>Únicamente un veterinario profesional puede proporcionar a los propietarios de mascotas productos innovadores, orientación experta y cuidados para sus mascotas.</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Los clientes esperan de usted orientación y consejos que únicamente un veterinario clínico puede proporcionar. Añada valor a su clínica ofreciendo servicios exclusivos que crean fidelidad y muestre a sus clientes que tiene mucho más que ofrecer que los servicios genéricos de las tiendas minoristas de mascotas.</p>
                                    <p>Hasta ahora, los consumidores han considerado los productos de pulgas y garrapatas básicamente parecidos entre sí, por lo que es más probable adquirirlos en base de al precio y descuento.</p>
                                    <p>Recupere estos clientes con el valor añadido que únicamente usted puede proporcionar, en servicio personal, continuidad de cuidado, y con el acceso a productos verdaderamente innovadores como Bravecto.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu3-goToResource-lg.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Haga que sus clientes se dirijan a usted para prevenir pulgas y garrapatas.</h2>
                            </div>
                            <h2 class="visible-xs">Haga que sus clientes se dirijan a usted para prevenir pulgas y garrapatas.</h2>
                            <hr class="plus diagonal">
                            <h3>Como veterinario cl&iacute;nico, puede ofrecer a sus clientes un producto que solo pueden obtener a trav&eacute;s d ela prescripci&oacute;n veterinaria. BRAVECTO&reg; (fluralaner) comprimido masticable para perros es el &uacute;nico tratamiento oral de hasta 12 semanas &uacute;nicamente disponible de prescripci&oacute;n veterinaria.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto es el único tratamiento antiparasitario oral de hasta 12 semanas para perros. Usted puede ser quien ofrezca el único tratamiento verdaderamente revolucionario en el mercado actual.</p>
                                    <ul class="styled">
                                        <li>Recuperar la fidelidad de clientes que le reconocerán como un recurso fiable</li>
                                        <li>Redefinir la conveniencia ofreciendo una dosificación más fácil, limpia, menos frecuente para una protección muy efectiva para pulgas y garrapatas</li>
                                        <li>Establecer su clínica como el recurso al que acudir para tratamientos avanzados</li>
                                        <li>Proporcionar productos innovadores no disponibles en lugares de venta sin prescripción</li>
                                        <li>Crear relaciones más fuertes con soporte y formación de MSD Animal Health</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <img src="/images/chart-marketmatrix.png" alt="Market Matrix">
                                    </p>
                                    <p>Collars and spot-on treatments crowd the category, yet there is little to differentiate among these competing products.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu4-strongRelationship-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Haga de nuestros recursos su solución para crear relaciones comerciales más sólidas y más estrechas con los clientes.</h2>
                            </div>
                            <h2 class="visible-xs">Haga de nuestros recursos su solución para crear relaciones comerciales más sólidas y más estrechas con los clientes.</h2>
                            <hr class="plus diagonal">
                            <h3>Su delegado de MSD Animal Health le mostrará cómo aprovechar la gran oportunidad que Bravecto representa para incrementar y mantener su negocio.</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>MSD Animal Health se compromete a ayudarle a incrementar su negocio y le aportará clientes mediante métodos innovadores.</p>
                                    <ul class="styled">
                                        <li>Los esfuerzos globales de marketing de consumidores animarán a que nuevos clientes entren en su clínica</li>
                                        <li>Los expositores y los materiales educativos llegan a los clientes habituales y le ayudan a reforzar sus recomendaciones y prescripciones</li>
                                        <li><strong>BravoVets:</strong> una nueva plataforma online exclusivamente para usted, para ayudarle a estar al día sobre la investigación clínica, ampliar su visibilidad en redes sociales, y crear nuevas relaciones y más estrechas  con sus clientes.</li>
                                    </ul>
                                    <p>Con Bravecto, puede asegurar una protección prolongada para sus pacientes, y unas relaciones duraderas con sus dueños. MSD Animal Health ofrece amplios recursos que puede utilizar para promover su clínica y crear relaciones más sólidas en su comunidad.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

        });

    </script>
}