@{ var menu = (BravectoMenu)ViewBag.Menu;}

@{ Layout = "~/Views/Shared/" + menu.Layout + ".cshtml"; }
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="alternate">Disclaimer</h1>
            <hr class="plus diagonal">
            <h3>Terms and conditions</h3>
            <p>You may not access this Web Site or use the information on this Web Site without prior acceptance of these terms and conditions. Access to this Web Site or use of the information on this Web Site constitutes your acceptance of these terms and conditions and your waiver of any and all claims against Intervet, its subsidiaries, affiliates or employees arising out of your use of this Web Site or any materials, information, opinions or recommendations contained therein.</p>
            <p>These terms and conditions further consist of the following clauses:</p>
            <h3>Information and disclaimer</h3>
            <p>This Web Site and the information, names, images, pictures, logos and icons regarding or relating to Intervet and its subsidiaries, affiliates, products and services are provided "as is" and on an "as available" basis without any representation or warranty of any kind, whether expressed or implied, including, but not limited to the implied warranties of mercantability, fitness for a particular purpose or non infringement. Although the information on this Web Site has been compiled in good faith to provide information on Intervet and its products and services, Intervet, its parents, subsidiaries, affiliates or employees shall in no event be liable for any damages of any kind or nature whatsoever, including, without limitation, direct, indirect, special, consequential or incidental damages resulting from or in connection with the use or access of this Web Site or resulting from or in connection with any materials, information, opinions or recommendations on this Web Site.</p>
            <p>Intervet may at any time make modifications, improvements and/or changes to these terms and conditions, the information, names, images, pictures, logos and icons displayed on this Web Site or the products and services referred to in this Web Site without notice.</p>
            <p>This Web Site may contain links to or may contain references to other web sites which are not under the control of Intervet. Intervet shall have no responsibility whatsoever for the contents of any such linked web site or any link contained in such a linked site.</p>
            <p>You agree not to add, alter, substitute or amend partially or in whole any information on this Web Site.</p>
            <h3>Financial data</h3>
            <p>As regards financial data, such as annual reports and financial statements, which may be contained in this Web Site, only the written version can be considered the authentic version.</p>
            <h3>Product information</h3>
            <p>This site contains information on veterinary pharmaceutical and biological products based on UK registration dossiers. The site may refer to products that are either not available in your country or are marketed under a different tradename. In addition, the safety and efficacy data and the withholding periods for a specific product may be different depending on local regulations. Please consult your veterinarian for further information.</p>
            <p>Intervet may amend from time to time product data sheets and can accept no liability whatsoever arising out of the reliance on a printed-off data sheet which has become out of date.</p>
            <h3>Intellectual property</h3>
            <p>Please note that the materials displayed on this Web Site, including, without limitation, all editorial materials, photographs, illustrations and other graphic materials, and names, logos, trademarks and service marks, are the property of Intervet or any of its subsidiaries, affiliates or licensors and are protected by copyright, trademark, and other intellectual property laws. Other products or company names mentioned on this Web Site may be the trademarks of their respective owners. You are not allowed to reproduce, retransmit, distribute, disseminate, sell, publish, broadcast or circulate any such material or any part thereof save that you may:</p>
            <p>a. print or down-load extracts of the material on this Web Site for your non-commercial, informational and personal use; or</p>
            <p>b. copy the material on this Web Site for the purpose of sending it, without any commercial objective, to individual parties for their personal information provided that you acknowledge Intervet as the source of the material and that you inform the third party that these terms and conditions apply to them and that they must comply with them.</p>
            <p>Nothing contained herein shall be construed as conferring by implication, estoppel or otherwise any license or right under any patent or trademark of Intervet or any third party.</p>
            <p>Except as expressly provided above nothing contained herein shall be construed as conferring any license or right to any copyright or other intellectual property rights in relation to any such information, data, products or services.</p>
            <h3>Applicable law and jurisdiction</h3>
            <p>These terms and conditions shall be governed by, construed and enforced in accordance with the laws of The Netherlands. Any and all disputes arising here from or in connection herewith shall be exclusively submitted to and finally resolved by the Dutch competent courts.</p>
            <hr class="diagonal">
        </div>
    </div>
</div>