@{ var menu = (BravectoMenu) ViewBag.Menu;}

@{ Layout = "~/Views/Shared/" + menu.Layout + ".cshtml"; }
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="alternate">Privacy Policy</h1>
            <hr class="plus diagonal">
            <p>We take your privacy very seriously. We protect the privacy of all information that we receive while you surf Intervet web sites. This can be personally identifiable information (like your name and email address) or the technical information that your web browser and Internet Service Provider (ISP) send along with your online page requests.</p>
            <h3>Contents of this page:</h3>
            <ol>
                <li>The information we collect</li>
                <li>Saving and logging your information</li>
                <li>Disclosing Information</li>
                <li>"Cookies"</li>
                <li>Data Protection</li>
                <li>Choice / Opting Out</li>
            </ol>
            <h3>1. The information we collection</h3>
            <p>Information that you enter into the contact form at our web site: this information is used for processing your online registration, request, or order.</p>
            <p>Information that you do not enter into a form at our web site: we log your web browser's request header information. This information is used for statistical purposes only.</p>
            <h3>2. Saving and logging your information</h3>
            <p>Contact and order form: we do NOT make your email addresses or any other personally identifiable information available to any third party. As a supporter of the Coalition Against Unsolicited Email (CAUCE) we strongly disapprove of spamming. You won't receive any unsolicited email as a result of visiting this Web site.</p>
            <p>Web server log files: we log your browser's request header information for statistical purposes only. We draw up these statistics because they contain important anonymous information which we use to improve the quality of the information that you find at our web site.</p>
            <h3>3. Disclosing information</h3>
            <p>We will NOT disclose any personally identifiable information to any third party except as required by law.</p>
            <h3>4. "Cookies"</h3>
            <p>A cookie is a chunk of information that a Web site can save to your browser's cookie file. The same web site that stored the cookie (and no one else's) can retrieve this information, even at a subsequent visit if the cookie stored was a "permanent cookie".</p>
            <p>Cookies can be used by commercial web sites to store items in your "shopping basket". They are also often used for saving the user's ID and passwords of web sites with limited access saving you from the need to enter it repeatedly.</p>
            <p>This web site uses cookies only to save session data and login information. This will make sure that registered users do not have to re-enter their login data on each consecutive page. Visiting the non-public part of this web site requires cookie support to be enabled in your web browser.</p>
            <h3>5. Data protection</h3>
            <p>Intervet has put in place appropriate physical, electronic, and managerial procedures to provide a high level of data security on our web and data servers. We won't disclose those measures for obvious reasons but you can be sure that we take reasonable precautions to protect all data from loss, misuse or alteration and to safeguard and secure the data you provide online. However, while we strive to protect your data after it has arrived at our servers, we cannot guarantee the security of any information that is being transmitted over the Internet.</p>
            <h3>6. Choice/Opting out</h3>
            <p>Contact form, registration form, order form: we cannot process your requests and orders unless you enter your valid email address. The forms do not support anonymous requests. Intervet does not distribute or publish personally identifiable information entered into these forms. If you want to know what personally identifiable data we have collected and stored about your online activities at this web site please contact us. You can request deletion of your personal record at any time.</p>
            <p>Web server log file information: if you want to provide as little request header information as possible you can use services like Anonymizer.com to surf the web. They will cut certain information from your page requests, such as your browser's name, your operating system, and the web address of the page that you looked at before you visited our site ("http_referer"). We do not recommend doing this. If you don't tell our program which web browser you use it assumes that the request originates from a non-standard web browser and will therefore run in a very simple mode without any advanced features.</p>
            <hr class="diagonal">
        </div>
    </div>
</div>