<div class="loader-wrapper">
    <div class="loader css-anim">
        <div id="animation">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
</div>
