<div class="text-content">
    <h3>Facebook for Small Business</h3>
    <hr class="plus diagonal">
    <p>Yes, it’s big—over 1.25 billion members, and growing. But it’s not the sheer size of Facebook that makes it interesting for small business owners; it’s the probability that your audience, pet owners in your community, are participating on this busiest of all social networks. Facebook allows you to reach, connect and create deeper relationships with your customers by communicating the sort of information that demonstrates your clinic’s expertise, knowledge and caring on a personal, one-to-one level—something no other marketing media can do.</p>
    <div class="hidden-xs">
        <a href="/editprofile" class="btn btn-facebookpost no-icon">Edit Your Profile To Link To Your Facebook Account</a>
    </div>
    <div class="visible-xs">
        <a href="/editprofile" class="btn btn-facebookpost no-icon">Link Your Facebook Account</a>
    </div>
    <h3>Setting Up a Facebook Page</h3>
    <hr class="plus diagonal">
    <p>Setting up your business page on Facebook requires some up-front strategy and setup.</p>
    <p>You’ll need:</p>
    <ul class="styled">
        <li>A Facebook profile – All business Pages are attached to an individual person’s profile. Don’t worry, this doesn’t mean that fans of your clinic will see any of the personal details or content in your profile, it’s merely a formality.</li>
        <li>A brief description of your business for the About section.</li>
        <li>A profile photo (generally a logo) and “cover” photo (the larger horizontal image at the top of a Facebook age).</li>
    </ul>
    <p>To create your page, first log in to Facebook. Then click the small “gear” icon on the far right of the page, near your name and choose “Create a Page”:</p>
    <ul class="styled">
        <li>Choose which classification – Classifying your business will help it come up in relevant searches. In this case, you’ll want to select “Local business or place.” Next, choose the category your business falls in and enter your business name.</li>
        <li>Complete Basic Information – Select a high-resolution image of your company’s logo to set as your profile picture. Complete the “About” section by adding a short summary (2 – 3 sentences) of your business that links to your website.</li>
        <li>Request a customized Facebook address – Request an address like Facebook.com/yourcompanyname, making it easy to include on other marketing materials and channels.</li>
    </ul>
    <em>Now you’re ready to connect your page to BravoVets!</em>
</div>