<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  Example LFW20 configuration file
  
  Attribute of the websites element are the default values for all pages of the website. 
  Within the exceptions element it's possible to overrule the default settings for a page.
  
  Meaning of the attributes:
  uri: virtual path of a page (or folder) starting with a slash (/). In case the page is a default document (for example: index.aspx or default.aspx), 
	   you should use a slash (/) because the DefaultDocument that is specified in the web.config will be ignored in the uri!
  resolver: (optional parameter). Default is "page": uri will be parsed as a page url. Other option is "folder". In the case of a folder the
			uri will be checked as a folder. All pages in the folder will get the settings. Note that the most specific rule apply (page before folder)
  ignore: true or false (default). If the value is true, then LFW20 will not be used on this page.
  pageMustBeSSL: true or false. If the value is true, the page will be hosted through the secure module.
  userMustBeLoggedIn: true or false. Redirects to the log in page if the user is not logged in and the value is true.
  doPageHit: true or false. If the value is true, the timestamp will be updated to remain session alive.
  hasForgeryProtection: true or false. Set to true if cross site forgery protection is necessary on this page.
  accessGroups: string value. Put a comma separated list of access group keys here that are allowed on the page (for example: FR_VETS,VETERINARIANS)
-->
<website ignore="false" pageMustBeSSL="false" userMustBeLoggedIn="true" doPageHit="true" hasForgeryProtection="false" accessGroups="UK_VETS,FR_VETS,IT_VETS,ES_VETS,INT_EMPLOYEES">
	<exceptions>
		<page uri="/" ignore="false" pageMustBeSSL="false" userMustBeLoggedIn="false" doPageHit="true" hasForgeryProtection="false" accessGroups="" />
    <page uri="/disclaimer" pageMustBeSSL="true" userMustBeLoggedIn="false" doPageHit="false" hasForgeryProtection="true" accessGroups="" />
    <page uri="/privacypolicy" pageMustBeSSL="true" userMustBeLoggedIn="false" doPageHit="false" hasForgeryProtection="true" accessGroups="" />
    <page uri="/sitemap" pageMustBeSSL="true" userMustBeLoggedIn="false" doPageHit="false" hasForgeryProtection="true" accessGroups="" />
    <page uri="/scheduledjob/DeliverQueuedMessages" pageMustBeSSL="false" userMustBeLoggedIn="false" doPageHit="false" hasForgeryProtection="true" accessGroups="" />

    <page uri="/Home/Index" ignore="false" pageMustBeSSL="false" userMustBeLoggedIn="false" doPageHit="true" hasForgeryProtection="false" accessGroups="" />

    <page uri="/admin" resolver="folder" pageMustBeSSL="false" userMustBeLoggedIn="true" doPageHit="true" hasForgeryProtection="false" accessGroups="BRAVO_ADMIN_UK,BRAVO_ADMIN_FR,BRAVO_ADMIN_IT,BRAVO_ADMIN_ES" />

    <!-- LFW20 pages: Don't change those unless you are really sure it's necessary! -->
		<page uri="/lfw20/pages/blocked.aspx" pageMustBeSSL="false" userMustBeLoggedIn="false" doPageHit="false" hasForgeryProtection="false" accessGroups="" />
		<page uri="/lfw20/pages/changeemail.aspx" pageMustBeSSL="true" userMustBeLoggedIn="true" doPageHit="true" hasForgeryProtection="true" accessGroups="" />
		<page uri="/lfw20/pages/changepassword.aspx" pageMustBeSSL="true" userMustBeLoggedIn="true" doPageHit="true" hasForgeryProtection="true" accessGroups="" />
		<page uri="/lfw20/pages/deleteuser.aspx" pageMustBeSSL="true" userMustBeLoggedIn="true" doPageHit="true" hasForgeryProtection="false" accessGroups="" />
		<page uri="/lfw20/pages/loggedin.aspx" pageMustBeSSL="false" userMustBeLoggedIn="true" doPageHit="true" hasForgeryProtection="false" accessGroups="" />
		<page uri="/lfw20/pages/login.aspx" pageMustBeSSL="true" userMustBeLoggedIn="false" doPageHit="false" hasForgeryProtection="true" accessGroups="" />
		<page uri="/lfw20/pages/logout.aspx" pageMustBeSSL="true" userMustBeLoggedIn="false" doPageHit="false" hasForgeryProtection="false" accessGroups="" />
		<page uri="/lfw20/pages/manageprofile.aspx" pageMustBeSSL="true" userMustBeLoggedIn="true" doPageHit="true" hasForgeryProtection="true" accessGroups="" />
		<page uri="/lfw20/pages/messagepage.aspx" ignore="true" pageMustBeSSL="false" userMustBeLoggedIn="false" doPageHit="false" hasForgeryProtection="false" accessGroups="" />
		<page uri="/lfw20/pages/registeraccount.aspx" pageMustBeSSL="true" userMustBeLoggedIn="false" doPageHit="true" hasForgeryProtection="true" accessGroups="" />
		<page uri="/lfw20/pages/requestpassword.aspx" pageMustBeSSL="true" userMustBeLoggedIn="false" doPageHit="false" hasForgeryProtection="true" accessGroups="" />
		<page uri="/lfw20/pages/sendmailverification.aspx" pageMustBeSSL="true" userMustBeLoggedIn="true" doPageHit="true" hasForgeryProtection="false" accessGroups="" />
		<page uri="/lfw20/pages/sendrequestedpassword.aspx" pageMustBeSSL="false" userMustBeLoggedIn="false" doPageHit="false" hasForgeryProtection="false" accessGroups="" />
		<page uri="/lfw20/pages/upgradeexplicitpermission.aspx" pageMustBeSSL="false" userMustBeLoggedIn="true" doPageHit="true" hasForgeryProtection="false" accessGroups="" />
		<page uri="/lfw20/pages/verifyemailaddress.aspx" pageMustBeSSL="true" userMustBeLoggedIn="false" doPageHit="false" hasForgeryProtection="false" accessGroups="" />
		<!-- End LFW20 pages-->
	</exceptions>
</website>
