@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask" style="">Ades&atilde;o &agrave; Terap&ecirc;utica</h1>
                    <div class="page-subhead">Descubra uma nova classe de proteção</div>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/compliance-issu1-easierCompliance-tile.jpg" alt="Compliance Issue 1">
                        <div class="issue-contents">
                            <h3>Como tornar a ades&atilde;o ao tratamento mais f&aacute;cil para os donos dos animais de estima&ccedil;&atilde;o? </h3>
                            <hr class="plus diagonal">
                            <p>Uma administra&ccedil;&atilde;o mais f&aacute;cil e c&ocirc;moda de Bravecto pode significar uma melhor ades&atilde;o ao tratamento. <sup>14</sup></p>
                            <ul class="styled">
                                <li>Uma dose &uacute;nica proporciona uma efic&aacute;cia por 12 semanas completas.</li>
                                <li>A administra&ccedil;&atilde;o &eacute; f&aacute;cil e limpa .<sup>6</sup></li>
                                <li>
                                    Durante 12 semanas, as novas pulgas morrem antes de conseguirem produzir ovos vi&aacute;veis. <sup>6</sup>
                                </li>
                                <li>
                                    &Eacute; poss&iacute;vel obter prote&ccedil;&atilde;o para um ano completo com pouco mais do que quatro doses. <sup>6</sup>
                                </li>
                                <li>
                                    Os clientes satisfeitos voltar&atilde;o sempre. <sup>6</sup>
                                </li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Saiba mais </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h3>O que torna Bravecto a op&ccedil;&atilde;o prefer&iacute;vel para c&atilde;es?</h3>
                            <hr class="plus diagonal">
                            <p>Uma vez que Bravecto &eacute; um comprimido mastig&aacute;vel altamente saboroso, os c&atilde;es gostam de o tomar. </p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Saiba mais</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>De que forma Bravecto diminui o erro de aplica&ccedil;&atilde;o?</h4>
                            <hr class="plus diagonal">
                            <p>Os erros de aplica&ccedil;&atilde;o s&atilde;o virtualmente eliminados com uma administra&ccedil;&atilde;o oral simples.</p>
                            <ul class="styled">
                                <li>O fato de n&atilde;o haver aplica&ccedil;&atilde;o t&oacute;pica significa que n&atilde;o h&aacute; risco de contato, logo, de exposi&ccedil;&atilde;o humana</li>
                                <li>Sem viscosidade ou vest&iacute;gios do medicamento no pelo</li>
                                <li>Os banhos e a escovagem do pelo n&atilde;o afetam a efic&aacute;cia </li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>O que torna Bravecto a op&ccedil;&atilde;o prefer&iacute;vel pra os donos dos animais de estima&ccedil;&atilde;o?</h4>
                            <hr class="plus diagonal">
                            <p>Bravecto oferece um esquema posol&oacute;gico de 12 semanas f&aacute;cil de administrar.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/compliance-issu5-wellTolerated-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>Bravecto &eacute; seguro e bem tolerado por c&atilde;es?</h3>
                            <hr class="plus diagonal">
                            <p>Em estudos envolvendo mais de 1.000 c&atilde;es, Bravecto revelou ser bem tolerado e seguro para ser utilizado na maioria dos casos envolvendo cachorros, c&atilde;es adultos, cadelas gr&aacute;vidas ou a amamentar. </p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="4">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Voltar ao topo</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu1-easierCompliance-lg.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Torne a ades&atilde;o ao tratamento num problema n&atilde;o existente com uma posologia c&ocirc;moda de 12 semanas.</h2>
                            </div>
                            <h2 class="visible-xs">Torne a ades&atilde;o ao tratamento num problema n&atilde;o existente com uma posologia c&oacute;moda de 12 semanas.</h2>
                            <hr class="plus diagonal">
                            <h3>Resolva problemas de ades&atilde;o ao tratamento e aumente a satisfa&ccedil;&atilde;o do cliente e a qualidade dos cuidados prestados.</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Uma vez que Bravecto &eacute; c&ocirc;modo para os donos dos animais de estima&ccedil;&atilde;o e atraente para os c&atilde;es, este ajuda a resolver problemas de ades&atilde;o ao tratamento que s&atilde;o frequentes com terap&ecirc;uticas que necessitam de uma administra&ccedil;&atilde;o por m&ecirc;s.<sup>14</sup></p>
                                    <ul class="styled">
                                        <li>
                                            Uma &uacute;nica dose proporciona uma efic&aacute;cia por 12 semanas completas, sem redu&ccedil;&atilde;o da efic&aacute;cia durante este per&iacute;odo.<sup>6</sup>
                                        </li>
                                        <li>A administra&ccedil;&atilde;o &eacute; f&aacute;cil e limpa<sup>6</sup>, sem aplica&ccedil;&otilde;es complicadas ou risco de transmiss&atilde;o.</li>
                                        <li>
                                            Durante 12 semanas, as novas pulgas morrem antes de conseguirem produzir ovos vi&aacute;veis, controlando assim a popula&ccedil;&atilde;o de pulgas no meio ambiente.<sup>6</sup>
                                        </li>
                                        <li>
                                            &Eacute; poss&iacute;vel obter prote&ccedil;&atilde;o para um ano completo com pouco mais do que quatro doses, garantindo prote&ccedil;&atilde;o em todas as esta&ccedil;&otilde;es. <sup>6</sup>
                                        </li>
                                        <li>
                                            &Eacute; poss&iacute;vel recorrer a administra&ccedil;&otilde;es mais frequentes se o cliente apresentar um caso provocado por Rhipicephalus sanguineus.<sup>6</sup>
                                        </li>
                                    </ul>
                                    <p>Assim que os clientes perceberem como a utiliza&ccedil;&atilde;o de Bravecto &eacute; f&aacute;cil e eficiente, voltar&atilde;o sempre com os seus c&atilde;es. Uma vez que apenas na sua cl&iacute;nica &eacute; poss&iacute;vel obter a elevada prote&ccedil;&atilde;o de Bravecto, esta &eacute; a sua oportunidade de construir um v&iacute;nculo de comunica&ccedil;&atilde;o e confian&ccedil;a mais forte com todos os donos de c&atilde;es.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Refer&ecirc;ncias</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>RCM de Bravecto<sup>&trade;</sup></p>
                                        <p class="ref-number">14</p>
                                        <p>Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg: results of a questionnaire study. Berliner und M&uuml;nchener Tier&auml;rztliche Wochenschrift 126, Heft 1/2 (2013), Seiten 6&ndash;76.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu2-highlyPalatable-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">Torne a administra&ccedil;&atilde;o mais f&aacute;cil atrav&eacute;s de um comprimido mastig&aacute;vel muito saboroso que os c&atilde;es apreciam.</h2>
                            </div>
                            <h2 class="visible-xs">Torne a administra&ccedil;&atilde;o mais f&aacute;cil atrav&eacute;s de um comprimido mastig&aacute;vel muito saboroso que os c&atilde;es apreciam.</h2>
                            <hr class="plus diagonal">
                            <h3>Bravecto &eacute; apresentado na forma de um comprimido mastig&aacute;vel aromatizado que os c&atilde;es aceitam prontamente, quer isoladamente quer com comida.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="styled">
                                        <li>Num estudo de campo na UE <sup>16</sup>, mais de 90% dos c&atilde;es aceitaram os comprimidos mastig&aacute;veis voluntariamente</li>
                                        <li>
                                            Em ensaios de campo, n&atilde;o foram detetados problemas em c&atilde;es que foram administrados simultaneamente com Bravecto e com outros medicamentos vulgarmente utilizados<sup>7</sup>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Refer&ecirc;ncias</h4>
                                    <div class="references">
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                        <p class="ref-number">16</p>
                                        <p>EPAR http://www.ema.europa.eu/docs/en_GB/document_library/EPAR_-_Public_assessment_report/veterinary/002526/WC500163860.pdf</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu3-easyToManage-lg.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Simplifique a vida dos donos dos animais de estima&ccedil;&atilde;o com um esquema posol&oacute;gico simples de 12 semanas.</h2>
                            </div>
                            <h2 class="visible-xs">Simplifique a vida dos donos dos animais de estima&ccedil;&atilde;o com um esquema posol&oacute;gico simples de 12 semanas.</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>A administra&ccedil;&atilde;o oral significa uma prote&ccedil;&atilde;o sist&eacute;mica prolongada contra pulgas e carrapatos sem perda de efic&aacute;cia durante todo o per&iacute;odo de administra&ccedil;&atilde;o</p>
                                    <ul class="styled">
                                        <li>N&atilde;o existe o risco de diminui&ccedil;&atilde;o da efic&aacute;cia&mdash;como se verifica quando as doses mensais s&atilde;o &ldquo;fragmentadas&rdquo; ou prolongadas para al&eacute;m do per&iacute;odo de administra&ccedil;&atilde;o de 30 dias recomendado</li>
                                        <li>F&aacute;cil para os donos dos animais de estima&ccedil;&atilde;o n&atilde;o se esquecerem da administra&ccedil;&atilde;o</li>
                                        <li>
                                            Num estudo de campo de grande dimens&atilde;o<sup>7</sup>:
                                            <ul class="styled">
                                                <li>A efic&aacute;cia do controle das pulgas permaneceu em 99.9% ap&oacute;s 12 semanas </li>
                                                <li>A efic&aacute;cia do controle das carrapatos permaneceu em 100% ap&oacute;s 12 semanas</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <p class="callout-box">
                                        <strong>Dica para administra&ccedil;&atilde;o: </strong>Sugira a administra&ccedil;&atilde;o de Bravecto &agrave; hora da refei&ccedil;&atilde;o&mdash; &eacute; recomendada a administra&ccedil;&atilde;o com alimentos.<sup>6, 17</sup>
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Refer&ecirc;ncias</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>RCM de Bravecto<sup>&trade;</sup></p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                        <p class="ref-number">17</p>
                                        <p>Walther FM, Allan MJ, Roepke R, Nuernberger MC. The effect of food on the pharmacokinetics of oral fluralaner in dogs. Parasites &amp; Vectors. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu4-applicationError-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Ofere&ccedil;a a aplica&ccedil;&atilde;o oral de Bravecto e reduza o risco de erros que geralmente ocorrem com aplica&ccedil;&otilde;es t&oacute;picas. </h2>
                            </div>
                            <h2 class="visible-xs">Ofere&ccedil;a a aplica&ccedil;&atilde;o oral de Bravecto e reduza o risco de erros que geralmente ocorrem com aplica&ccedil;&otilde;es t&oacute;picas. </h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Uma vez que Bravecto se apresenta sob a forma de um comprimido mastig&aacute;vel, evita as preocupa&ccedil;&otilde;es frequentes com o poss&iacute;vel contato com o l&iacute;quido dos tratamentos para un&ccedil;&atilde;o punctiforme &ldquo;spot-on&rdquo;, especialmente imediatamente ap&oacute;s a aplica&ccedil;&atilde;o.</p>
                                    <ul class="styled">
                                        <li>Os erros de aplica&ccedil;&atilde;o s&atilde;o virtualmente eliminados com uma administra&ccedil;&atilde;o oral simples </li>
                                        <li>O fato de n&atilde;o haver aplica&ccedil;&atilde;o t&oacute;pica significa que h&aacute; um menor risco de exposi&ccedil;&atilde;o direta &agrave; subst&acirc;ncia ativa</li>
                                        <li>Sem viscosidade ou vest&iacute;gios do medicamento no pelo </li>
                                        <li>
                                            Os banhos e a escovagem do pelo n&atilde;o afetam a efic&aacute;cia
                                            <ul class="styled">
                                                <li>Bravecto &eacute; ideal para c&atilde;es com problemas de pele que requerem banhos frequentes</li>
                                                <li>
                                                    Os c&atilde;es tratados com Bravecto demonstraram uma taxa de recupera&ccedil;&atilde;o elevada dos sinais cl&iacute;nicos de DAPP, com 85,7% desses c&atilde;es a revelar resolu&ccedil;&atilde;o r&aacute;pida de todos os sinais cl&iacute;nicos<sup>7</sup>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Refer&ecirc;ncias</h4>
                                    <div class="references">
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #5 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu5-wellTolerated-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Reforce a sua rela&ccedil;&atilde;o com os seus clientes oferecendo uma preven&ccedil;&atilde;o segura e bem tolerada contra pulgas e carrapatos.</h2>
                            </div>
                            <h2 class="visible-xs">Reforce a sua rela&ccedil;&atilde;o com os seus clientes oferecendo uma preven&ccedil;&atilde;o segura e bem tolerada contra pulgas e carra&ccedil;as.</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Em estudos envolvendo mais de 1.000 c&atilde;es, Bravecto revelou ser bem tolerado.<sup>6, 7, 17- 19</sup> Nenhum c&atilde;o sofreu efeitos adversos graves ou teve que ser retirado dos ensaios.<sup>6</sup></p>
                                    <p>Os eventos adversos verificados no ensaio de campo na UE foram diarreia ligeira (1,6%) ou anorexia (0,5%).<sup>6, 7</sup> Al&eacute;m disso, Bravecto revelou ser <sup>6, 16-19</sup>:</p>
                                    <ul class="styled">
                                        <li>Seguro em cachorros com mais de 8 semanas de idade para doses at&eacute; 5X a dose cl&iacute;nica m&aacute;xima</li>
                                        <li>Seguro em c&atilde;es adultos para doses at&eacute; 5X a dose cl&iacute;nica m&aacute;xima</li>
                                        <li>Seguro em cadelas gr&aacute;vidas ou a amamentar</li>
                                        <li>Seguro em c&atilde;es com defici&ecirc;ncia do gene MDR1 (Ex: Colies)</li>
                                    </ul>
                                    <p>Ofere&ccedil;a Bravecto&mdash;e reforce a sua rela&ccedil;&atilde;o com os seus clientes e respetivos animais de estima&ccedil;&atilde;o. Fale hoje com o seu representante da MSD AH acerca de Bravecto, e consulte Bravecto.com para mais informa&ccedil;&otilde;es.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Refer&ecirc;ncias</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>RCM de Bravecto&trade;</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                        <p class="ref-number">16</p>
                                        <p>EPAR [&agrave; espera de publica&ccedil;&atilde;o. Link on-line por disponibilizar]</p>
                                        <p class="ref-number">17</p>
                                        <p>Walther FM, Allan MJ, Roepke R, Nuernberger MC. The effect of food on the pharmacokinetics of oral fluralaner in dogs. Parasites &amp; Vectors. In Press.</p>
                                        <p class="ref-number">18</p>
                                        <p>Walther FM, et al. Safety of oral administration of flavored chewable tablets containing fluralaner (Bravecto), a novel systemic antiparasitic drug, to dogs. Parasites &amp; Vectors. In Press. RCM</p>
                                        <p class="ref-number">19</p>
                                        <p>Walther FM, et al. Safety of fluralaner, a novel systemic antiparasitic drug, in MDR1(-/-) Collies after oral administration. Parasites &amp; Vectors 2014. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

        });

    </script>
}