@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }

<div class="container">
    <div class="hero-banner-image"></div>
    <div id="hero-wrapper" class="row">
        <div class="col-sm-5 col-md-4 hero-banner-copy">
            <h1 class="terms-and-conditions">Bem-vindo a Bravecto!</h1>
            <hr class="plus diagonal">
            <p>Bravecto consiste num tratamento contra pulgas e carrapatos, mas mais do que isso, é o ponto alto da inovação farmacêutica veterinária, o que o torna ideal para ajudá-lo a desenvolver o seu negócio. Bravecto pode ajudar a explorar novos recursos para a sua clínica, estabelecer uma melhor comunicação com os donos dos animais de estimação e, idealmente, fidelizá-los durante a vida dos seus animais — e vai além disto.</p>
        </div>
        <div class="col-sm-7 col-md-8 hero-image-container">
            <img src="/images/SuperDog_web.png" alt="Super Dog">
        </div>
    </div>
    <div id="hero-bottom"></div>
    <div class="row visible-xs">
        <div class="col-xs-12">
            <hr class="plus diagonal">
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-sm-4"><hr class="diagonal shift-right"></div>
        <div class="col-sm-4"><hr class="plus diagonal shift-left shift-right"></div>
        <div class="col-sm-4"><hr class="plus diagonal shift-left"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-innovation-header-lg.jpg" alt="Innovation">
                    <h2>Inova&ccedil;&atilde;o</h2>
                </div>
                <div class="inset">
                    <h3>Que nova alternativa, inovadora e interessante, faz com que os donos dos animais de estima&ccedil;&atilde;o n&atilde;o considerem os medicamentos n&atilde;o sujeitos a receita m&eacute;dica?</h3>
                    <p>Descubra uma nova classe de prote&ccedil;&atilde;o &ndash; Bravecto.</p>
                    <ul class="styled">
                        <li>A ci&ecirc;ncia inovadora da MSD AH oferece-lhe uma solu&ccedil;&atilde;o que se destaca.</li>
                        <li>Bravecto<sup>&trade;</sup> (fluralaner) introduz uma inova&ccedil;&atilde;o na prote&ccedil;&atilde;o contra pulgas e carrapatos—&mdash; preenchendo a necessidade de um produto inovador com benef&iacute;cios distintos.</li>
                    </ul>
                    <a href="/bravecto/innovation?solutionID=0">Saiba mais </a>
                </div>
                <div class="inset">
                    <h3>O que torna Bravecto revolucion&aacute;rio na preven&ccedil;&atilde;o contra pulgas e carrapatos?</h3>
                    <p>Bravecto oferece prote&ccedil;&atilde;o total durante 12 semanas completas.</p>
                    <a href="/bravecto/innovation?solutionID=1">Saiba mais </a>
                </div>
                <div class="inset">
                    <h3>Qual a preven&ccedil;&atilde;o contra pulgas e carrapatos que oferece tranquilidade em termos de efic&aacute;cia consistente e duradoura?</h3>
                    <ul class="styled">
                        <li>Efic&aacute;cia consistente e duradoura, contra pulgas e carrapatos.</li>
                        <li>Efic&aacute;cia de amplo espetro, contra todas as esp&eacute;cies de pulgas e carrapatos.</li>
                    </ul>
                    <a href="/bravecto/innovation?solutionID=2">Saiba mais </a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/innovation">Ver Tudo</a></h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-compliance-header-lg.jpg" alt="Compliance">
                    <h2>Ades&atilde;o &agrave; Terap&ecirc;utica</h2>
                </div>
                <div class="inset">
                    <h3>Como tornar a ades&atilde;o ao tratamento mais f&aacute;cil para os donos dos animais de estima&ccedil;&atilde;o? </h3>
                    <p>Uma administra&ccedil;&atilde;o mais f&aacute;cil e c&ocirc;moda de Bravecto pode significar uma melhor ades&atilde;o ao tratamento.</p>
                    <ul class="styled">
                        <li>Uma dose &uacute;nica proporciona uma efic&aacute;cia durante 12 semanas completas.</li>
                        <li>A administra&ccedil;&atilde;o &eacute; f&aacute;cil e limpa.</li>
                        <li>Durante 12 semanas, as novas pulgas morrem antes de conseguirem produzir ovos vi&aacute;veis.</li>
                        <li>&Eacute; poss&iacute;vel obter prote&ccedil;&atilde;o para um ano completo com pouco mais do que quatro doses.</li>
                        <li>Os clientes satisfeitos voltar&atilde;o sempre. </li>
                    </ul>
                    <a href="/bravecto/compliance?solutionID=0">Saiba mais </a>
                </div>
                <div class="inset">
                    <h3>O que torna Bravecto a op&ccedil;&atilde;o prefer&iacute;vel para os c&atilde;es?</h3>
                    <p>Uma vez que Bravecto &eacute; um comprimido mastig&aacute;vel altamente saboroso, os c&atilde;es gostam de o tomar. </p>
                    <a href="/bravecto/compliance?solutionID=1">Saiba mais</a>
                </div>
                <div class="inset">
                    <h3>O que torna Bravecto a op&ccedil;&atilde;o prefer&iacute;vel para os donos dos animais de estima&ccedil;&atilde;o?</h3>
                    <p>Bravecto oferece um esquema posol&oacute;gico de 12 semanas, f&aacute;cil de administrar.</p>
                    <a href="/bravecto/compliance?solutionID=2">Saiba mais</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/compliance">Ver tudo</a></h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-newBus-header-lg.jpg" alt="New Business">
                    <h2>Novo neg&oacute;cio </h2>
                </div>
                <div class="inset">
                    <h3>Em que medida podem os meios de comunica&ccedil;&atilde;o expandir o seu neg&oacute;cio?</h3>
                    <p>Atrav&eacute;s da apresenta&ccedil;&atilde;o de BravoVets, a ferramenta profissional que estabelece, refor&ccedil;a e gere a sua presen&ccedil;a social e PR.</p>
                    <ul class="styled">
                        <li>Descubra novas perspectivas e mantenha-se atualizado.</li>
                        <li>Estabele&ccedil;a novas liga&ccedil;&otilde;es com p&uacute;blicos existentes.</li>
                        <li>Afirme-se perante os seus clientes como o especialista em sa&uacute;de e bem-estar dos animais de estima&ccedil;&atilde;o.</li>
                    </ul>
                    <a href="/bravecto/newbusiness?solutionID=0">Saiba mais</a>
                </div>
                <div class="inset">
                    <h3>Supere a sua concorr&ecirc;ncia dos medicamentos n&atilde;o sujeitos a receita m&eacute;dica.</h3>
                    <p>Recupere clientes perdidos e construa novas rela&ccedil;&otilde;es.</p>
                    <ul class="styled">
                        <li>Servi&ccedil;os exclusivos ligados a produtos inovadores como Bravecto. </li>
                        <li>Mostre aos seus clientes que o &ldquo;valor&rdquo; come&ccedil;a com a sua experi&ecirc;ncia.</li>
                    </ul>
                    <a href="/bravecto/newbusiness?solutionID=1">Saiba mais </a>
                </div>
                <div class="inset">
                    <h3>Como poder&aacute; obter uma maior quota de mercado na &aacute;rea da preven&ccedil;&atilde;o contra pulgas e carrapatos?</h3>
                    <p>Bravecto &eacute; a &uacute;nica terap&ecirc;utica oral dispon&iacute;vel de 12 semanas. Apenas dispon&iacute;vel mediante receita m&eacute;dica.</p>
                    <a href="/bravecto/newbusiness?solutionID=2">Saiba mais</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/newbusiness">Ver Tudo</a></h4>
            </div>
        </div>
    </div>
    <div class="row" style="padding-left: 15px;">
        <p class="hero-banner-copy">*Bravecto is effective against Rhipicephalus sanguineus for 8 weeks.</p>
    </div>
</div>