@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask" style="">Inova&ccedil;&atilde;o</h1>
                    <div class="page-subhead">Descubra uma nova classe de prote&ccedil;&atilde;o</div>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/innovation-issu1-newInnovation-tile-lg.jpg" alt="Innovation Issue 1">
                        <div class="issue-contents">
                            <h3>Que alternativa nova, inovadora e interessante, faz com que os donos dos animais de estima&ccedil;&atilde;o n&atilde;o considerem os medicamentos n&atilde;o sujeitos a receita m&eacute;dica? </h3>
                            <hr class="plus diagonal">
                            <p>Descubra uma nova classe de prote&ccedil;&atilde;o &ndash; Bravecto.</p>
                            <ul class="styled">
                                <li>A ci&ecirc;ncia inovadora da MSD AH oferece-lhe uma solu&ccedil;&atilde;o que se destaca.</li>
                                <li>Bravecto<sup>&trade;</sup> (fluralaner) introduz uma inova&ccedil;&atilde;o na prote&ccedil;&atilde;o contra pulgas e carrapatos&mdash; preenchendo a necessidade de um produto inovador com benef&iacute;cios distintos.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>O que torna Bravecto revolucion&aacute;rio na preven&ccedil;&atilde;o contra pulgas e carrapatos?</h4>
                            <hr class="plus diagonal">
                            <p>Bravecto oferece prote&ccedil;&atilde;o total durante 12 semanas completas.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Saiba mais</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Qual a preven&ccedil;&atilde;o contra pulgas e carrapatos que oferece tranquilidade em termos de efic&aacute;cia consistente e duradoura?</h4>
                            <hr class="plus diagonal">
                            <ul class="styled">
                                <li>Efic&aacute;cia consistente e duradoura contra pulgas e carrapatos.</li>
                                <li>Efic&aacute;cia de amplo espetro contra todas as esp&eacute;cies de pulgas e carrapatos.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/innovation-issu4-vectorBorne-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>Qual &eacute; a melhor forma de controlar doen&ccedil;as transmitidas por vetores?</h3>
                            <hr class="plus diagonal">
                            <p>Bravecto &eacute; uma excelente escolha do veterin&aacute;rio para controlar o risco de doen&ccedil;as transmitidas por vetores. O controle das doen&ccedil;as transmitidas por vetores requer:</p>
                            <ol class="styled">
                                <li><p>Matar os parasitas rapidamente </p></li>
                                <li><p>Alto n&iacute;vel de efic&aacute;cia durante o per&iacute;odo de tratamento </p></li>
                                <li><p>Ades&atilde;o total &agrave; terap&ecirc;utica pelo dono do animal de estima&ccedil;&atilde;o com as recomenda&ccedil;&otilde;es terap&ecirc;uticas </p></li>
                            </ol>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Voltar ao topo</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu1-newInnovation-lg.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Fa&ccedil;a de Bravecto a nova alternativa, favorita, dos donos dos animais de estima&ccedil;&atilde;o em rela&ccedil;&atilde;o aos medicamentos n&atilde;o sujeitos a receita m&eacute;dica.</h2>
                            </div>
                            <h2 class="visible-xs">Fa&ccedil;a de Bravecto a nova alternativa, favorita, dos donos dos animais de estima&ccedil;&atilde;o em rela&ccedil;&atilde;o aos medicamentos n&atilde;o sujeitos a receita m&eacute;dica.</h2>
                            <hr class="plus diagonal">
                            <h3>A ci&ecirc;ncia inovadora da MSD AH oferece-lhe uma solu&ccedil;&atilde;o que se destaca.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Novo produto da MSD Animal Health, Bravecto<sup>&trade;</sup> (fluralaner) introduz uma inova&ccedil;&atilde;o na prote&ccedil;&atilde;o contra pulgas e carrapatos&mdash; preenchendo a necessidade de um produto inovador com benef&iacute;cios distintos.</p>
                                    <p>O fluralaner &eacute; uma isoxazolina, um bloqueador, novo e espec&iacute;fico, dos canais de cloreto ligando-dependentes dos insetos. A isoxazolina &eacute; a primeira nova classe de inseticidas, em mais de uma d&eacute;cada.<sup>3-5</sup></p>
                                    <p>Num estudo in vitro recente, o fluralaner foi comparado com o fipronil contra quatro esp&eacute;cies de insetos e tr&ecirc;s esp&eacute;cies de carrapatos. <sup>5</sup> Os autores conclu&iacute;ram que o fluralaner n&atilde;o &eacute; afetado pela muta&ccedil;&atilde;o que desencadeia a resist&ecirc;ncia das pulgas e que<sup>5</sup></p>
                                    <ul class="styled">
                                        <li>O fluralaner apresenta melhor desempenho do que o fipronil no alvo molecular prim&aacute;rio;</li>
                                        <li>O fluralaner revelou uma atividade parasiticida mais elevada, em compara&ccedil;&atilde;o com o fipronil, imidaclopride e outros agentes com diferentes mecanismos de a&ccedil;&atilde;o. </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <div class="molecule-wrapper">
                                            <div mouse-capture>
                                                <img-rotator height="311" width="466" sprites="36" src="~/images/molecule.png"></img-rotator>
                                            </div>
                                        </div>
                                    </p>
                                    <iframe src="//quadia.webtvframework.com/intervet/_app/player/?id=390574" frameborder="0" allowtransparency="true" style="border:none;width:512px;height:288px;overflow:hidden;max-width:100%;"></iframe>
                                    @* <iframe src="//quadia.webtvframework.com/intervet/marketingservices/_app/publication_player/?id=390574" frameborder="0" allowtransparency="true" style="border:none;width:512px;height:288px;overflow:hidden;max-width:100%;"></iframe>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Refer&ecirc;ncias:</h4>
                                    <div class="references">
                                        <p class="ref-number">3</p>
                                        <p>Ozoe, Y. Y-aminobutyrate- and glutamate-gated chloride channels as targets of insecticides. Em: [necess&aacute;rio o t&iacute;tulo do livro, com informa&ccedil;&otilde;es sobre a publica&ccedil;&atilde;o]</p>
                                        <p class="ref-number">4</p>
                                        <p>Ozoe Y, Asahi M, Ozoe F, Nakahira K, Mita T. The antiparasitic isoxazoline A1443 is a potent blocker of insect ligand-gated chloride channels. Biochem Biophys Res Commun. 2010; 391:744-749.</p>
                                        <p class="ref-number">5</p>
                                        <p>Gassel M, Wolf C, Noack S, Williams H, Ilg T. The novel isoxazoline ectoparasiticide fluralaner: Selective inhibition of arthropod &#947;-aminobutyric acid- and L-glutamate-gated chloride channels and insecticidal/acaricidal activity. [informa&ccedil;&otilde;es sobre a publica&ccedil;&atilde;o por disponibilizar]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu2-revolutionary-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">Com o revolucion&aacute;rio e novo Bravecto, a preven&ccedil;&atilde;o contra pulgas e carrapatos tornar&aacute; os tratamentos mensais numa preocupa&ccedil;&atilde;o do passado. </h2>
                            </div>
                            <h2 class="visible-xs">Com o revolucion&aacute;rio e novo Bravecto, a preven&ccedil;&atilde;o contra pulgas e carrapatos tornar&aacute; os tratamentos mensais numa preocupa&ccedil;&atilde;o do passado. </h2>
                            <hr class="plus diagonal">
                            <h3>Oferece prote&ccedil;&atilde;o total durante 12 semanas completas.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto atua rapidamente e mata pulgas e carrapatos durante o per&iacute;odo de administra&ccedil;&atilde;o total de 12 semanas (8 semanas para Rhipicephalus sanguineus).<sup>6,7</sup> Ultrapasse as falhas dos tratamentos mensais atuais com o novo Bravecto.</p>
                                    <ul class="styled">
                                        <li>
                                            In&iacute;cio de a&ccedil;&atilde;o r&aacute;pido, ao fim de 2 horas, com 88% de efic&aacute;cia no prazo de 4 horas<sup>8</sup>
                                            <ul class="styled">
                                                <li>Outros agentes requerem at&eacute; 48 horas para o in&iacute;cio de a&ccedil;&atilde;o<sup>8</sup></li>
                                                <li>Bravecto originou redu&ccedil;&otilde;es estatisticamente significativas na contagem de pulgas ao fim de 2 horas (p=0,0046) e 4 horas (p=0,0117) ap&oacute;s o in&iacute;cio do tratamento<sup>8</sup></li>
                                            </ul>
                                        </li>
                                        <li>Atividade de amplo espetro contra esp&eacute;cies comuns de pulgas e carrapatos<sup>6,7</sup></li>
                                        <li>
                                            A&ccedil;&atilde;o prolongada para o per&iacute;odo de administra&ccedil;&atilde;o completo<sup>6,7</sup>
                                            <ul class="styled">
                                                <li>A efic&aacute;cia do controle das pulgas foi &#8805;97,9% em 8 horas em todos os momentos<sup>8</sup></li>
                                                <li>A efic&aacute;cia do controle das carrapatos foi > 99% em 12 horas, em todos os momentos<sup>8</sup></li>
                                            </ul>
                                        </li>
                                        <li>Resolu&ccedil;&atilde;o r&aacute;pida da dermatite al&eacute;rgica &agrave; picada da pulga (DAPP)<sup>7</sup></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <div bravo-chart chart-id="speedKill"></div>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Refer&ecirc;ncias:</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>RCM de Bravecto<sup>&trade;</sup></p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites & Vectors. In Press.</p>
                                        <p class="ref-number">8</p>
                                        <p>Data on File. Merck Animal Health, Summit, NJ. 2013. Para o Reino Unido as refer&ecirc;ncias dever&atilde;o ser: Wengenmayer 2012, Study No. V-0084-0196 & Wengenmayer 2012 Estudo n&ordm;. V-0084-0225.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu3-peaceOfMind-lg.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Ofere&ccedil;a aos seus clientes tranquilidade com uma prote&ccedil;&atilde;o elevada e de longa dura&ccedil;&atilde;o contra pulgas e carrapatos.</h2>
                            </div>
                            <h2 class="visible-xs">Ofere&ccedil;a aos seus clientes tranquilidade com uma prote&ccedil;&atilde;o elevada e de longa dura&ccedil;&atilde;o contra pulgas e carrapatos.</h2>
                            <hr class="plus diagonal">
                            <h3>Efic&aacute;cia consistente e duradoura contra pulgas e carrapatos.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div bravo-chart chart-id="householdsFreeFleas" class="match-height"></div>
                                    <p class="caption">Adaptado de Rohdich, 2013.</p>
                                    <div class="callout-box">
                                        <p>
                                            <strong>In&iacute;cio de a&ccedil;&atilde;o contra pulgas:</strong>
                                        </p>
                                        <p>
                                            Fluralaner 8 horas<sup>6</sup>
                                        </p>

                                    </div>
                                    <p>As pulgas e carrapatos em todo o mundo n&atilde;o apresentam resist&ecirc;ncias ao Bravecto. Bravecto oferece uma prote&ccedil;&atilde;o elevada contra uma grande variedade de esp&eacute;cies.<sup>6, 7</sup></p>
                                </div>
                                <div class="col-sm-6">
                                    <div bravo-chart chart-id="tickControlEfficacy" class="match-height"></div>
                                    <p class="caption">Adaptado de Rohdich, 2013.</p>
                                    <div class="callout-box">
                                        <p><strong>In&iacute;cio de a&ccedil;&atilde;o contra carrapatos:</strong></p>
                                        <p>
                                            Fluralaner 12 horas<sup>6</sup>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="caption">Rohdich, et al &eacute; um estudo de campo randomizado, oculto para o investigador, realizado em v&aacute;rios locais comparando a efic&aacute;cia do controlo das pulgas e carrapatos durante um per&iacute;odo de 12 semanas no tratamento de c&atilde;es com uma dose oral &uacute;nica de 25 mg/kg de Bravecto formulada como comprimidos mastig&aacute;veis aromatizados ou com tr&ecirc;s tratamentos t&oacute;picos sequenciais com fipronil em intervalos de 4 semanas.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>Efic&aacute;cia de largo espetro contra pulgas e carrapatos.</h3>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Esp&eacute;cies de pulgas </th>
                                                <th>Esp&eacute;cies de carrapatos </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><p>Ctenocephalides felis</p></td>
                                                <td>
                                                    <p>Ixodes ricinus</p>
                                                    <p>Dermacentor reticulatus</p>
                                                    <p>Dermacentor variabilis</p>
                                                    <p>Rhipicephalus sanguineus</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>Consulte o seu representante da MSD AH acerca deste tratamento inovador.</p>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Refer&ecirc;ncias:</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>RCM de Bravecto<sup>&trade;</sup></p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites & Vectors. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu4-vectorBorne-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Controlar as doen&ccedil;as transmitidas por vetores.</h2>
                            </div>
                            <h2 class="visible-xs">Controlar as doen&ccedil;as transmitidas por vetores.</h2>
                            <hr class="plus diagonal">
                            <h3>Bravecto &eacute; uma excelente escolha profissional do veterin&aacute;rio para controlar o risco de doen&ccedil;as transmitidas por vetores. </h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>O controle das doen&ccedil;as transmitidas por vetores requer:</p>
                                    <ol>
                                        <li>Matar os parasitas rapidamente </li>
                                        <li>Alto n&iacute;vel de efic&aacute;cia durante o per&iacute;odo de tratamento</li>
                                        <li>Ades&atilde;o total &agrave; terap&ecirc;utica pelo dono do animal de estima&ccedil;&atilde;o com as recomenda&ccedil;&otilde;es terap&ecirc;uticas</li>
                                    </ol>
                                    <p>As informa&ccedil;&otilde;es sobre a transmiss&atilde;o de doen&ccedil;as transmitidas por vetores est&atilde;o constantemente a evoluir. A tabela seguinte &eacute; um resumo de pesquisa recente. Note que as doen&ccedil;as de Lyme (Borrelia) podem demorar mais do que 16 horas para desencadear a transmiss&atilde;o.<sup>10-14</sup></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="caption"> Tempos de transmiss&atilde;o publicados para Lyme Borrelia (Borrelia burgdorferi) <sup>11</sup></p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Carra&ccedil;a</th>
                                                <th>Esp&eacute;cie de ensaio</th>
                                                <th class="center">Tempo de transmiss&atilde;o</th>
                                                <th class="center">% Transmiss&atilde;o</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="2">Ixodes scapularis nymphs</td>
                                                <td rowspan="2">Rato</td>
                                                <td class="center">&lt;24 h </td>
                                                <td class="center">0</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;48 h</td>
                                                <td class="center">12.5</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="4">Ixodes ricinus nymphs</td>
                                                <td rowspan="4">Rato</td>
                                                <td class="center">&lt;48 h</td>
                                                <td class="center">0</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;72 h</td>
                                                <td class="center">44</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;24 h</td>
                                                <td class="center">14</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;48 h</td>
                                                <td class="center">50</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">Ixodes ricinus nymphs</td>
                                                <td rowspan="2">Gerbilos</td>
                                                <td class="center">17 h</td>
                                                <td class="center">~ 50</td>
                                            </tr>
                                            <tr>
                                                <td class="center">29 h</td>
                                                <td class="center">~ 50</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <p class="caption">Tempo de transmiss&atilde;o publicado para Babesia canis canis</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Carra&ccedil;a</th>
                                                <th class="center">Esp&eacute;cie de ensaio</th>
                                                <th class="center">Tempo de transmiss&atilde;o</th>
                                                <th class="center">Transmiss&atilde;o</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Dermacentor reticulatus nymphs</td>
                                                <td class="center">C&atilde;es</td>
                                                <td class="center">&gt;48 h</td>
                                                <td class="center">Positiva</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <p class="caption">Ehrlichia phagocytophila published transmission time</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Carra&ccedil;a</th>
                                                <th class="center">Esp&eacute;cie de ensaio</th>
                                                <th class="center">Tempo de transmiss&atilde;o</th>
                                                <th class="center">% Transmiss&atilde;o</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Ixodes scapularis nymphs</td>
                                                <td class="center">Rato</td>
                                                <td class="center">&lt;24 h</td>
                                                <td class="center">66</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Bravecto mata mais de 99% dos carrapatos Ixodes em 12 horas durante todo o per&iacute;odo de tratamento de 12 semanas.<sup>9</sup></p>
                                    <ul class="styled">
                                        <li>A morte r&aacute;pida dos carrapatos reduz o risco de transmiss&atilde;o de doen&ccedil;a</li>
                                        <li>A efic&aacute;cia por 12 semanas reduz o risco de falhas na prote&ccedil;&atilde;o contra os ectoparasitas. Um inqu&eacute;rito aos donos dos animais de estima&ccedil;&atilde;o revelou que estes n&atilde;o cumprem os tratamentos mensais.<sup>14</sup> Os c&atilde;es n&atilde;o tratados correm o risco de contrair doen&ccedil;as transmitidas por carrapatos.</li>
                                        <li>A efic&aacute;cia do controle t&oacute;pico dos carrapatos n&atilde;o &eacute; de 100% durante todo o m&ecirc;s; os c&atilde;es com carrapatos podem ser expostos a doen&ccedil;as transmitidas por estas.<sup>15</sup></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Refer&ecirc;ncias:</h4>
                                    <div class="references">
                                        <p class="ref-number">9</p>
                                        <p>Data on File. Merck Animal Health, Summit, NJ. 2013. Para efeitos do Reino Unido as refer&ecirc;ncias dever&atilde;o ser: Wengenmayer 2012, Study No. V-0084-0196 & Wengenmayer 2012 Estudo n&ordm;. V-0084-0225.</p>
                                        <p class="ref-number">10</p>
                                        <p>Crippa M, Rais O, Gern L. Investigations on the mode and dynamics of transmission and infectivity of Borrelia burgdorferi sensu stricto and Borrelia afzelii in Ixodes ricinus ticks. Vector Borne Zoonotic Dis. 2002;2:3-9.</p>
                                        <p class="ref-number">11</p>
                                        <p>Kahl O, Gern L, Gray JS< et al. Detection of Borrelia burgdorferi sensu lato in ticks: immunofluorescence assay versus polymerase chain reaction. Zent.bl. Bakteriol. 1998;287:205-210.</p>
                                        <p class="ref-number">12</p>
                                        <p>Kahl O, Janetzki-Mittmann C, Gray JS, Jonas R, Stein J, de Boer R. Risk of infection with Borrelia burgdorferi sensu lato for a host in relation to the duration of nymphal Ixodes ricinus feeding and method of tick removal. Zent.bl. Bakteriol. 1998; 287:41-52.</p>
                                        <p class="ref-number">13</p>
                                        <p>Piesman J, Mather TN, Sinsky RJ, Spielman A. Duration of tick attachment and Borrelia burgdorferi transmission. J Clin Microbiol. 1987; 557-558.</p>
                                        <p class="ref-number">14</p>
                                        <p>Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg: results of a questionnaire study. Berliner und M&uuml;nchener Tier&auml;rztliche Wochenschrift 126, Heft 1/2 (2013), Seiten 6&ndash;76.</p>
                                        <p class="ref-number">15</p>
                                        <p>Guerino F. Effectiveness of Activyl&reg; and Activyl Tick plus in dogs. in Recent advances in companion animal ectoparasite control. Symposium Proceedings. 2012 Intervet International B.V. a subsidiary of Merck & Co., Inc. page 15.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });



        });

    </script>
}