<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <appSettings>

    <add key="facebook.en.appid" value="219370301599005" />
    <add key="facebook.en.appSecret" value="30b503d3c3730bcdddbe6ca8f107639b" />
    <add key="facebook.en.redirectUrl" value="http://local.bravovets.co.uk/facebook/oauth_callback" />

    <add key="facebook.fr.appid" value="587545984667193" />
    <add key="facebook.fr.appSecret" value="240accbacd0c25ff65b498a0f06fc29f" />
    <add key="facebook.fr.redirectUrl" value="http://local.bravovets.co.uk/facebook/oauth_callback" />

    <add key="facebook.de.appid" value="587545984667193" />
    <add key="facebook.de.appSecret" value="240accbacd0c25ff65b498a0f06fc29f" />
    <add key="facebook.de.redirectUrl" value="http://local.bravovets.co.uk/facebook/oauth_callback" />

    <add key="facebook.it.appid" value="587545984667193" />
    <add key="facebook.it.appSecret" value="240accbacd0c25ff65b498a0f06fc29f" />
    <add key="facebook.it.redirectUrl" value="http://local.bravovets.co.uk/facebook/oauth_callback" />

    <add key="facebook.nl.appid" value="587545984667193" />
    <add key="facebook.nl.appSecret" value="240accbacd0c25ff65b498a0f06fc29f" />
    <add key="facebook.nl.redirectUrl" value="http://local.bravovets.co.uk/facebook/oauth_callback" />

    <add key="facebook.es.appid" value="587545984667193" />
    <add key="facebook.es.appSecret" value="240accbacd0c25ff65b498a0f06fc29f" />
    <add key="facebook.es.redirectUrl" value="http://local.bravovets.co.uk/facebook/oauth_callback" />

    <add key="twitter.en.oauth_callbackUrl" value="http://local.bravovets.co.uk/twitter/oauth_callback" />
    <add key="twitter.en.consumer_key" value="NWcGgnFxK6CKS77rySErQ" />
    <add key="twitter.en.consumer_secret" value="OyJ4q24tUg5fl25A0qfYmnT7F5Jd0dw7SWpkoZ3UZI" />

    <add key="twitter.fr.oauth_callbackUrl" value="http://local.bravovets.fr/twitter/oauth_callback" />
    <add key="twitter.fr.consumer_key" value="NWcGgnFxK6CKS77rySErQ" />
    <add key="twitter.fr.consumer_secret" value="OyJ4q24tUg5fl25A0qfYmnT7F5Jd0dw7SWpkoZ3UZI" />

    <add key="twitter.de.oauth_callbackUrl" value="http://local.bravovets.de/twitter/oauth_callback" />
    <add key="twitter.de.consumer_key" value="NWcGgnFxK6CKS77rySErQ" />
    <add key="twitter.de.consumer_secret" value="OyJ4q24tUg5fl25A0qfYmnT7F5Jd0dw7SWpkoZ3UZI" />

    <add key="twitter.it.oauth_callbackUrl" value="http://local.bravovets.it/twitter/oauth_callback" />
    <add key="twitter.it.consumer_key" value="NWcGgnFxK6CKS77rySErQ" />
    <add key="twitter.it.consumer_secret" value="OyJ4q24tUg5fl25A0qfYmnT7F5Jd0dw7SWpkoZ3UZI" />

    <add key="twitter.nl.oauth_callbackUrl" value="http://local.bravovets.nl/twitter/oauth_callback" />
    <add key="twitter.nl.consumer_key" value="NWcGgnFxK6CKS77rySErQ" />
    <add key="twitter.nl.consumer_secret" value="OyJ4q24tUg5fl25A0qfYmnT7F5Jd0dw7SWpkoZ3UZI" />

    <add key="twitter.es.oauth_callbackUrl" value="http://local.bravovets.es/twitter/oauth_callback" />
    <add key="twitter.es.consumer_key" value="NWcGgnFxK6CKS77rySErQ" />
    <add key="twitter.es.consumer_secret" value="OyJ4q24tUg5fl25A0qfYmnT7F5Jd0dw7SWpkoZ3UZI" />

    <add key="uk.baseurl" value="bravovets.co.uk" />
    <add key="fr.baseurl" value="bravovets.fr" />
    <add key="it.baseurl" value="bravovets.it" />
    <add key="de.baseurl" value="bravovets.de" />
    <add key="es.baseurl" value="bravovets.es" />
    <add key="nl.baseurl" value="bravovets.nl" />


  </appSettings>
  <connectionStrings>
    <!--<add name="BravoVetsDbEntities" connectionString="metadata=res://*/BravoVetsSql.csdl|res://*/BravoVetsSql.ssdl|res://*/BravoVetsSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BravoVetsDb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BravoVetsDbEntities" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=C:\_crank211\BravoVets\BravoVets\ProfSite.Tests\BravoVetsDbCe.sdf" />-->
    <add name="BravoVetsDbEntities" connectionString="metadata=res://*/BravoVetsSql.csdl|res://*/BravoVetsSql.ssdl|res://*/BravoVetsSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BravoVetsDb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>