<div class="text-content">
    <h3>Facebook pour les PME</h3>
    <hr class="plus diagonal">
    <p>Oui c'est assez &eacute;norme : plus d'1,25 milliards de membres, et cela augmente sans cesse. Mais ce n'est pas la taille de Facebook qui le rend int&eacute;ressant pour les PME : c'est plut&ocirc;t la probabilit&eacute; que votre public, les propri&eacute;taires d'animaux, soit pr&eacute;sent sur le plus important des r&eacute;seaux sociaux. Facebook vous permet d'atteindre, de vous connecter et de cr&eacute;er une relation forte avec vos clients. Cela en communiquant des informations qui t&eacute;moignent de votre expertise, de vos comp&eacute;tences et les soins apport&eacute;s- ce qu'aucun autre m&eacute;dia marketing ne peut faire.</p>
    <div class="hidden-xs">
        <a href="/editprofile" class="btn btn-facebookpost no-icon">Editez votre profil pour le lier &agrave; votre page Facebook</a>
    </div>
    <div class="visible-xs">
        <a href="/editprofile" class="btn btn-facebookpost no-icon">Link Your Facebook Account</a>
    </div>
    <h3>Pour commencer : cr&eacute;er une page Facebook</h3>
    <hr class="plus diagonal">
    
    <p>Cr&eacute;er une page Facebook demande une strat&eacute;gie et de l'organisation. Vous aurez besoin de :</p>
    <ul class="styled">
        <li>Un profil Facebook : Toutes les pages d'entreprises sont rattach&eacute;es &agrave; un compte personnel. Ne vous en faites pas, cela ne signifie pas que les fans de votre clinique verront les informations de votre profil, c'est simplement une formalit&eacute;</li>
        <li>Une description rapide de votre entreprise pour la rubrique "A propos"</li>
        <li>Une photo de profil (souvent un logo) et une photo de couverture (l'image horizontale en haut de chaque page Facebook)</li>
    </ul>
    <p>Pour créer une page Facebook, tout d'abord connectez-vous avec votre profil. Puis cliquez sur la petite icone représentant un rouage en haut à droite, à côté de votre nom. Choisissez « Créer une page".</p>
    <ul class="styled">
        <li>Choisissez une catégorie. Les catégories permettent de meilleurs résultats lors de recherches. Dans ce cas, vous allez probablement choisir "Entreprise, organisme ou institution". Puis, choisissez dans quelle catégorie votre entreprise est et choisissez un nom</li>
        <li>Complétez les informations basiques. Choisissez des images de bonne qualité. Complétez la rubrique "A propos" avec deux ou trois phrases résumant ce qu'est votre entreprise et un lien vers votre site</li>
        <li>Choisissez une adresse de page Facebook personnalisée. Vous pouvez utiliser une adresse comme facebook.com/nomdevotreclinique, cela sera plus facile à intégrer sur d'autres supports marketings.</li>
    </ul>
    <em>Maintenant vous êtes prêts à lier votre compte à BravoVets !</em>
</div>