<div class="container admin-page dashboard">
    <div class="row">
        <div class="col-sm-12">
            <h1>Welcome!</h1>
            <p class="page-description">You are ready to upload content that is customized to your vets.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Contact Info
                    </h3>
                </div>
                <div class="panel-body">
                    For help at any time, call or email the contact below.
                    <h4>Christopher Smith</h4>
                    <p>(908) 473-6194</p>
                    <a href="mailto:christopher.smith4@merck.com?Subject=Bravovets%20Support" target="_top">christopher.smith4@merck.com</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        User Manual
                    </h3>
                </div>
                <div class="panel-body">
                    If you’d like to create your own posts, or need any additional instruction, refer to the User Manual.
                    <p>
                        <a href="/docs/BravoVets-content-walkThrough.pdf" target="_blank">Download</a>
                    </p>
                    @*<div class="date">April 23, 2014</div>*@
                </div>
            </div>
        </div>
    </div>
</div>
