<div class="text-content">
    <h3>Facebook para Pequeños Negocios</h3>
    <hr class="plus diagonal">
    <p>Sí, Facebook es grande – más de 1.25 billones de miembros, y continúa creciendo. Pero no es el tamaño en sí de Facebook lo que lo hace interesante para dueños de pequeños negocios, es la probabilidad de que su audiencia, dueños de mascotas en su comunidad estén participando de ésta, la red social más activa. Facebook te permite llegar, conectar y crear relaciones más profundas con tus clientes.</p>
    <div class="hidden-xs">
        <a href="/editprofileandfacility" class="btn btn-facebookpost no-icon">Edita tu perfil para vincular tu cuenta cuenta de facebook</a>
    </div>
    <div class="visible-xs">
        <a href="/editprofileandfacility" class="btn btn-facebookpost no-icon">Enlazar su cuenta de Facebook</a>
    </div>
    <h3>Creación de una Página de Facebook</h3>
    <hr class="plus diagonal">
    <p>Crear la página de Facebook de tu negocio requiere una estrategia y configuración previas.</p>
    <p>Necesitarás:</p>
    <ul class="styled">
        <li>Un perfil de Facebook – Todas las páginas del negocio están relacionadas con el perfil individual de una persona. No te preocupes, esto no significa que los fans de tu clínica vayan a ver los detalles personales o contenido de tu perfi, es simplemente una formalidad.</li>
        <li>Una descripción breve de tu negocio para la sección "Sobre nosotros".</li>
        <li>Una foto para tu perfil  (generalmente un logo) y una foto de portada (la foto ancha y horizontal que se encuentra en la parte superior de la página de Facebook).</li>
    </ul>
    <p>Para crear tu página, primero accede a Facebook. Haz click en el icono de engranaje que se encuentra en la parte derecha de la página, cerca de tu nombre y seleccione “Crear página”:</p>
    <ul class="styled">
        <li>Selecciona la clasificación – Clasificar tu negocio ayudará a que aparezca en búsquedas relevantes. En este caso, selecciona “Lugar o negocio local”. A continuación, selecciona la categoría que aplica e introduce el nombre de tu clínica.</li>
        <li>Completa información básica – Selecciona una imagen de alta resolución del logo de tu clinica para que se configure como su foto de perfil. Completa la sección “Sobre nosotros” agregando una descripción corta (2 a 3 frases) de tu negocio que se enlace con tu sitio web.</li>
        <li>Crea una dirección de Facebook personalizada – Crea una dirección como Facebook.com/nombredesunegocio facilitando la inclusión en otros materiales y canales de comunicación.</li>
    </ul>
    <em>Ahora está listo para conectar su página con BravoVets!</em>
</div>