@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask" style="">Комплаентность</h1>
                    <div class="page-subhead">Откройте для себя новый класс защиты</div>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/compliance-issu1-easierCompliance-tile.jpg" alt="Compliance Issue 1">
                        <div class="issue-contents">
                            <h3>Как облегчить владельцам домашних животных выполнение рекомендаций по применению?</h3>
                            <hr class="plus diagonal">
                            <p>Простота и удобство использования Bravecto могут улучшить соблюдение рекомендаций по применению препарата.<sup>14</sup></p>
                            <ul class="styled">
                                <li>Одна доза обеспечивает полные 12 недель эффекта.</li>
                                <li>Препарат прост в применении и не пачкается.<sup>6</sup></li>
                                <li>
                                    В течение 12 недель вновь выводящиеся блохи погибают, не успевая отложить жизнеспособные яйца.<sup>6</sup>
                                </li>
                                <li>
                                    Всего четырьмя дозами можно обеспечить защиту почти на весь год.<sup>6</sup>
                                </li>
                                <li>
                                    Довольные клиенты будут возвращаться снова и снова.<sup>6</sup>
                                </li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Читать дальше</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h3>Почему собаки предпочитают Bravecto?</h3>
                            <hr class="plus diagonal">
                            <p>Благодаря приятному вкусу жевательных таблеток Bravecto собаки с удовольствием поедают их.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Читать дальше</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Как Bravecto помогает уменьшить ошибки при применении?</h4>
                            <hr class="plus diagonal">
                            <p>За счет простоты приема внутрь ошибки применения практически полностью устраняются.</p>
                            <ul class="styled">
                                <li>Отказ от местного нанесения приводит к снижению риска непосредственного воздействия активного ингредиента</li>
                                <li>Препарат не липнет и не оставляет неопрятных следов на поверхности шерсти</li>
                                <li>Мытье и вычесывание не влияют на эффективность</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Читать дальше</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Почему владельцы собак предпочитают Bravecto?</h4>
                            <hr class="plus diagonal">
                            <p>Простая схема применения Bravecto — 1 раз в 12 недель.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Читать дальше</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/compliance-issu5-wellTolerated-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>Безопасен ли Bravecto и хорошо ли он переносится собаками?</h3>
                            <hr class="plus diagonal">
                            <p>В исследованиях, проведенных в отношении более чем 1000 собак, показано, что Bravecto хорошо переносится и безопасен в большинстве случаев, в том числе при назначении щенкам и собакам во время беременности или лактации.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="4">Читать дальше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Наверх</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu1-easierCompliance-lg.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Снимите проблему несоблюдения рекомендаций благодаря удобному режиму применения — раз в 12 недель.</h2>
                            </div>
                            <h2 class="visible-xs">Снимите проблему несоблюдения рекомендаций благодаря удобному режиму применения — раз в 12 недель.</h2>
                            <hr class="plus diagonal">
                            <h3>Решите проблемы комплаентности, повысьте удовлетворенность клиентов и качество ветеринарной помощи.</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Благодаря удобству для владельцев домашних животных и привлекательности для собак Bravecto помогает решить проблемы комплаентности, часто возникающие при использовании средств для ежемесячного применения<sup>14</sup>.</p>
                                    <ul class="styled">
                                        <li>
                                            Одна доза обеспечивает полные 12 недель эффекта, без перерывов<sup>6</sup>.
                                        </li>
                                        <li>Препарат прост в применении и не пачкается<sup>6</sup>, не оставляет неопрятных следов после нанесения и устраняет риск переноса болезней.</li>
                                        <li>
                                            В течение 12 недель вновь выводящиеся блохи погибают, не успевая отложить жизнеспособные яйца, что позволяет контролировать популяцию блох в окружении животного<sup>6</sup>.
                                        </li>
                                        <li>
                                            Всего четырьмя дозами можно обеспечить защиту почти на весь год, что позволяет защититься в любое время года.<sup>6</sup>
                                        </li>
                                        <li>
                                            При возможности заражения Rhipicephalus sanguineus возможно более частое применение<sup>6</sup>.
                                        </li>
                                    </ul>
                                    <p>После того как клиенты оценят простоту и эффективность Bravecto, они станут приводить к вам собак снова и снова. А так как только вы можете предоставить мощную защиту, которую создает Bravecto, вы получаете возможность выстроить более тесные отношения со всеми владельцами собак и заручиться их доверием.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Литература</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto&trade; SPC</p>
                                        <p class="ref-number">14</p>
                                        <p>Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg: results of a questionnaire study. Berliner und Münchener Tierärztliche Wochenschrift 126, Heft 1/2 (2013), Seiten 6–76.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu2-highlyPalatable-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">Сделайте применение более простым, назначая вкусные жевательные таблетки, которые нравятся собакам.</h2>
                            </div>
                            <h2 class="visible-xs">Сделайте применение более простым, назначая вкусные жевательные таблетки, которые нравятся собакам.</h2>
                            <hr class="plus diagonal">
                            <h3>Bravecto выпускается в виде таблетки со вкусовой добавкой, которую собаки с удовольствием поедают отдельно или с пищей.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="styled">
                                        <li>В полевом исследовании в ЕС<sup>16</sup> более 90% собак добровольно съели жевательную таблетку</li>
                                        <li>
                                            В полевых исследованиях, в которых собаки получали Bravecto параллельно с другими часто применяемыми средствами, проблем не возникало<sup>7</sup>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Литература</h4>
                                    <div class="references">
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A andomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto™ (fluralaner) against Frontline® (fipronil) in flea- and tick-infested dogs. Parasites & Vectors. In Press.</p>
                                        <p class="ref-number">16</p>
                                        <p>Европейский отчет по оценке лекарственного препарата. [ожидается публикация. Ссылка на материал в сети будет представлена позже]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu3-easyToManage-lg.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Упростите жизнь владельцам домашних животных благодаря простой схеме приема Bravecto — 1 раз в 12 недель.</h2>
                            </div>
                            <h2 class="visible-xs">Упростите жизнь владельцам домашних животных благодаря простой схеме приема Bravecto — 1 раз в 12 недель.</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Пероральное применение обеспечивает пролонгированную защиту от блох и клещей без потери эффективности в течение всего периода применения.</p>
                                    <ul class="styled">
                                        <li>Отсутствует риск снижения эффективности — в отличие от средств для ежемесячного применения, когда дозы «дробят» или выходят за рамки рекомендованного 30-дневного интервала между применениями.</li>
                                        <li>Владельцам животных просто запомнить схему и применять препарат.</li>
                                        <li>
                                            В крупном полевом исследовании<sup>7</sup>:
                                            <ul class="styled">
                                                <li>Эффективность защиты от блох оставалась на уровне 99,9% в течение 12 недель</li>
                                                <li>Эффективность защиты от клещей оставалась на уровне 100% в течение 12 недель</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <p class="callout-box">
                                        <strong>Совет по применению: </strong>Порекомендуйте давать Bravecto во время еды — его рекомендуется применять с пищей<sup>6, 17</sup>.
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Литература</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto™ SPC</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto™ (fluralaner) against Frontline® (fipronil) in flea- and tick-infested dogs. Parasites & Vectors. In Press.</p>
                                        <p class="ref-number">17</p>
                                        <p>Walther FM, Allan MJ, Roepke R, Nuernberger MC. The effect of food on the pharmacokinetics of oral fluralaner in dogs. Parasites & Vectors. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu4-applicationError-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Предложите Bravecto — пероральное средство, сократив таким образом риск ошибок, которые часто сопровождают использование средств для наружного применения.</h2>
                            </div>
                            <h2 class="visible-xs">Предложите Bravecto — пероральное средство, сократив таким образом риск ошибок, которые часто сопровождают использование средств для наружного применения.</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto выпускается в форме жевательной таблетки, а потому не вызывает распространенных опасений по поводу контакта с жидкими препаратами или средствами для точечного нанесения, особенно непосредственно после применения.</p>
                                    <ul class="styled">
                                        <li>За счет простоты приема внутрь ошибки применения практически полностью устраняются.</li>
                                        <li>Отказ от местного нанесения снижает риск непосредственного соприкосновения с активным ингредиентом.</li>
                                        <li>Препарат не липнет и не оставляет неопрятных следов на поверхности шерсти.</li>
                                        <li>
                                            Мытье и вычесывание не влияют на эффективность.
                                            <ul class="styled">
                                                <li>Препарат Bravecto идеален для собак с заболеваниями кожи, требующими частого купания.</li>
                                                <li>
                                                    У собак, получавших Bravecto, зафиксирована очень высокая скорость исчезновения клинических симптомов БАД, причем у 85,7% этих собак обнаружено немедленное исчезновение всех клинических симптомов<sup>7</sup>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Литература</h4>
                                    <div class="references">
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto™ (fluralaner) against Frontline® (fipronil) in flea- and tick-infested dogs. Parasites & Vectors. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #5 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu5-wellTolerated-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Укрепите отношения с клиентами, предложив им безопасное и хорошо переносимое средство для профилактики блох и клещей.</h2>
                            </div>
                            <h2 class="visible-xs">Укрепите отношения с клиентами, предложив им безопасное и хорошо переносимое средство для профилактики блох и клещей.</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>В исследованиях, проведенных в отношении более чем 1000 собак, показано, что Bravecto хорошо переносится и безопасен<sup>6, 7, 17- 19</sup>. . Ни у одной собаки не возникло серьезных нежелательных явлений, и ни одну не пришлось досрочно исключить из исследования<sup>6</sup>.</p>
                                    <p>К нежелательным явлениям, отмеченным в ходе полевого исследования в ЕС, относились легкая диарея (1,6%) и анорексия<sup>6, 7</sup>. Кроме того, показано, что Bravecto<sup>6, 16-19</sup>:</p>
                                    <ul class="styled">
                                        <li>Безопасен для щенков старше 8 недель вплоть до дозы, в пять раз превышающей клиническую</li>
                                        <li>Безопасен для взрослых собак вплоть до дозы, в пять раз превышающей клиническую</li>
                                        <li>Безопасен для сук во время беременности и лактации</li>
                                        <li>Безопасен для собак с дефективным геном MDR1</li>
                                    </ul>
                                    <p>Предложите Bravecto — и вы укрепите отношения с клиентами и их питомцами. Поговорите сегодня с представителем MSD о Bravecto и посетите сайт Bravecto.com, чтобы узнать о препарате больше.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Литература</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto™ SPC</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto™ (fluralaner) against Frontline® (fipronil) in flea- and tick-infested dogs. Parasites & Vectors. In Press.</p>
                                        <p class="ref-number">16</p>
                                        <p>EPAR [ожидается публикация. Ссылка на материал в сети будет представлена позже]</p>
                                        <p class="ref-number">17</p>
                                        <p>Walther FM, Allan MJ, Roepke R, Nuernberger MC. The effect of food on the pharmacokinetics of oral fluralaner in dogs. Parasites & Vectors. In Press.</p>
                                        <p class="ref-number">18</p>
                                        <p>Walther FM, et al. Safety of oral administration of flavored chewable tablets containing fluralaner (Bravecto), a novel systemic antiparasitic drug, to dogs. Parasites & Vectors. In Press. SPC</p>
                                        <p class="ref-number">19</p>
                                        <p>Walther FM, et al. Safety of fluralaner, a novel systemic antiparasitic drug, in MDR1(-/-) Collies after oral administration. Parasites & Vectors 2014. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

        });

    </script>
}