@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }

<div class="container">
    <div class="hero-banner-image"></div>
    <div id="hero-wrapper" class="row">
        <div class="row"><div class="col-sm-5 col-md-4 hero-banner-copy"><h1 class="terms-and-conditions">Добро пожаловать на сайт Bravecto!</h1></div></div>
        <div class="col-sm-5 col-md-4 hero-banner-copy">
           
            <hr class="plus diagonal">
            <p>Bravecto — это препарат от блох и клещей, но, что гораздо важнее, это вершина инноваций в ветеринарии — а значит, идеальный партнер, который будет способствовать росту вашего бизнеса. Bravecto поможет вам открыть новые возможности для вашей клиники, наладить взаимопонимание с владельцами животных, а в идеале — получить в их лице лояльных клиентов, приходящих к вам, пока живы их питомцы, и даже потом.</p>
        </div>
        <div class="col-sm-7 col-md-8 hero-image-container">
            <img src="/images/SuperDog_web.png" alt="Собака, перепрыгивающая через счетчик с датой.">
        </div>
    </div>
    <div id="hero-bottom"></div>
    <div class="row visible-xs">
        <div class="col-xs-12">
            <hr class="plus diagonal">
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-sm-4"><hr class="diagonal shift-right"></div>
        <div class="col-sm-4"><hr class="plus diagonal shift-left shift-right"></div>
        <div class="col-sm-4"><hr class="plus diagonal shift-left"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-innovation-header-lg.jpg" alt="Инновации">
                    <h2 style="font-size: 1.7em;">Инновации</h2>
                </div>
                <div class="inset">
                    <h3>Какая удивительная новая альтернатива заставит владельцев домашних животных забыть о безрецептурных препаратах?</h3>
                    <p>Откройте для себя новый класс защиты — Bravecto.</p>
                    <ul class="styled">
                        <li>Научные инновации Merck дают вам решение, выделяющееся на общем фоне.</li>
                        <li>Bravecto (флураланер) — продукт новейших исследований в сфере защиты от блох и клещей, который удовлетворяет потребность в инновационном препарате с четкими преимуществами.</li>
                    </ul>
                    <a href="/bravecto/innovation?solutionID=0">Читать дальше</a>
                </div>
                <div class="inset">
                    <h3>В чем принципиальная новизна Bravecto как средства для профилактики блох и клещей? </h3>
                    <p>Bravecto обеспечивает полную защиту в течение полных 12 недель.</p>
                    <a href="/bravecto/innovation?solutionID=1">Читать дальше</a>
                </div>
                <div class="inset">
                    <h3>Какая профилактика блох и клещей позволяет не беспокоиться о паразитах и стабильно обеспечивает длительный эффект?</h3>
                    <ul class="styled">
                        <li>Стабильная, длительная защита как от блох, так и от клещей</li>
                        <li>Широкий спектр действия против различных видов блох и клещей из разных регионов мира</li>
                    </ul>
                    <a href="/bravecto/innovation?solutionID=2">Читать дальше</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/innovation">Просмотреть все</a></h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-compliance-header-lg.jpg" alt="Комплаентность">
                    <h2 style="font-size: 1.7em;">Комплаентность</h2>
                </div>
                <div class="inset">
                    <h3>Как облегчить владельцам домашних животных выполнение рекомендаций по применению?</h3>
                    <p>Простота и удобство использования Bravecto могут повысить степень соблюдения рекомендаций по применению препарата.</p>
                    <ul class="styled">
                        <li>Одна доза обеспечивает полные 12 недель эффекта.</li>
                        <li>Препарат прост в применении и не пачкается.</li>
                        <li>В течение 12 недель вновь выводящиеся блохи погибают, не успевая отложить жизнеспособные яйца.</li>
                        <li>Всего четырьмя дозами можно обеспечить защиту почти на весь год.</li>
                        <li>Довольные клиенты будут возвращаться снова и снова.</li>
                    </ul>
                    <a href="/bravecto/compliance?solutionID=0">Читать дальше</a>
                </div>
                <div class="inset">
                    <h3>Почему собаки предпочитают Bravecto?</h3>
                    <p>Благодаря приятному вкусу жевательных таблеток Bravecto собаки с удовольствием поедают их.</p>
                    <a href="/bravecto/compliance?solutionID=1">Читать дальше</a>
                </div>
                <div class="inset">
                    <h3>Почему владельцы собак предпочитают Bravecto?</h3>
                    <p>Простая схема применения Bravecto — 1 раз в 12 недель.</p>
                    <a href="/bravecto/compliance?solutionID=2">Читать дальше</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/compliance">Просмотреть все</a></h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-newBus-header-lg.jpg" alt="Бизнес по-новому">
                    <h2 style="font-size: 1.7em;">Бизнес по-новому</h2>
                </div>
                <div class="inset">
                    <h3>Как социальные сети могут помочь в развитии вашего бизнеса?</h3>
                    <p>Представляем BravoVets — профессиональный инструмент для создания, укрепления и контроля вашего присутствия в социальных сетях и узнаваемости бренда.</p>
                    <ul class="styled">
                        <li>Открывайте новые горизонты и идите в ногу со временем.</li>
                        <li>Укрепите связи с имеющейся аудиторией.</li>
                        <li>Упрочите свое положение как эксперта по здоровью домашних животных среди своих клиентов.</li>
                    </ul>
                    <a href="/bravecto/newbusiness?solutionID=0">Читать дальше</a>
                </div>
                <div class="inset">
                    <h3>Отвоюйте территорию у конкурентов, предлагающих безрецептурные средства.</h3>
                    <p>Верните утерянных клиентов и постройте более прочные отношения.</p>
                    <ul class="styled">
                        <li>Эксклюзивные услуги, связанные с такими инновационными препаратами, как Bravecto.</li>
                        <li>Покажите своим клиентам, что ваш опыт — залог качества.</li>
                    </ul>
                    <a href="/bravecto/newbusiness?solutionID=1">Читать дальше</a>
                </div>
                <div class="inset">
                    <h3>Как можно захватить более крупную долю рынка средств для профилактики блох и клещей?</h3>
                    <p>Bravecto — единственное средство для применения внутрь раз в 12 недель, и оно отпускается только по вашему рецепту.</p>
                    <a href="/bravecto/newbusiness?solutionID=2">Читать дальше</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/newbusiness">Просмотреть все</a></h4>
            </div>
        </div>
    </div>
    <div class="row" style="padding-left: 15px;">
        <p class="hero-banner-copy">*Bravecto эффективно действует против Rhipicephalus sanguineus в течение 8 недель.</p>
    </div>
</div>