@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask" style="">Инновации</h1>
                    <div class="page-subhead">Откройте для себя новый класс защиты</div>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/innovation-issu1-newInnovation-tile-lg.jpg" alt="Innovation Issue 1">
                        <div class="issue-contents">
                            <h3>Какая удивительная новая альтернатива заставит владельцев домашних животных забыть о безрецептурных препаратах?</h3>
                            <hr class="plus diagonal">
                            <p>Откройте для себя новый класс защиты — Bravecto.</p>
                            <ul class="styled">
                                <li>Научные инновации Merck дают вам решение, выделяющееся на общем фоне.</li>
                                <li>Bravecto™ (флураланер) — продукт новейших исследований в сфере защиты от блох и клещей, удовлетворяющий потребность в инновационном препарате с четкими преимуществами.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Читать дальше</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>В чем принципиальная новизна Bravecto как средства для профилактики блох и клещей?</h4>
                            <hr class="plus diagonal">
                            <p>Bravecto обеспечивает полную защиту в течение полных 12 недель.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Читать дальше</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Какая профилактика блох и клещей позволяет не беспокоиться о паразитах и стабильно обеспечивает длительный эффект?</h4>
                            <hr class="plus diagonal">
                            <ul class="styled">
                                <li>Стабильная, длительная защита как от блох, так и от клещей.</li>
                                <li>Широкий спектр действия против различных видов блох и клещей из разных регионов мира.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Читать дальше</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/innovation-issu4-vectorBorne-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>Каков лучший способ борьбы с трансмиссивными заболеваниями?</h3>
                            <hr class="plus diagonal">
                            <p>Bravecto — оптимальный выбор ветеринара для снижения риска передачи трансмиссивных заболеваний. Для успешной профилактики трансмиссивных заболеваний необходимо:</p>
                            <ol class="styled">
                                <li><p>быстрое уничтожение паразитов;</p></li>
                                <li><p>высокая эффективность в течение всего периода терапии;</p></li>
                                <li><p>строгое следование владельца животного рекомендациям по лечению.</p></li>
                            </ol>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Читать дальше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Наверх</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu1-newInnovation-lg.jpg" alt="Собака, перепрыгивающая через счетчик с датой и модель молекулы">
                                <h2 class="hidden-xs">Сделайте Bravecto любимой альтернативой безрецептурным средствам с точки зрения хозяев домашних животных.</h2>
                            </div>
                            <h2 class="visible-xs">Сделайте Bravecto любимой альтернативой безрецептурным средствам с точки зрения хозяев домашних животных.</h2>
                            <hr class="plus diagonal">
                            <h3>Научные инновации Merck дают вам решение, выделяющееся на общем фоне.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Новый препарат MSD Animal Health Bravecto™ (флураланер) — продукт новейших исследований в сфере защиты от блох и клещей, удовлетворяющий потребность в инновационном препарате с четкими преимуществами.</p>
                                    <p>Флураланер — препарат группы изоксазолинов, новый специфичный блокатор лигандзависимых хлорных каналов насекомых. Изоксазолины — первый новый класс инсектицидов более чем за 10 лет.<sup>3-5</sup>.</p>
                                    <p>В недавнем исследовании in vitro флураланер сравнивали с фипронилом на четырех видах насекомых и трех видах клещей.<sup>5</sup> Авторы обнаружили, что на флураланер не влияет вызывающая резистентность мутация блох и что:</p>
                                    <ul class="styled">
                                        <li>флураланер действует на главную молекулу-мишень лучше фипронила;</li>
                                        <li>флураланер оказывает более сильное паразицидное действие, чем фипронил, имидаклоприд и другие препараты с различными механизмами действия.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <div class="molecule-wrapper">
                                            <div mouse-capture>
                                                <img-rotator height="311" width="466" sprites="36" src="~/images/molecule.png"></img-rotator>
                                            </div>
                                        </div>
                                    </p>
                                    <iframe src="//quadia.webtvframework.com/intervet/_app/player/?id=390574" frameborder="0" allowtransparency="true" style="border:none;width:512px;height:288px;overflow:hidden;max-width:100%;"></iframe>
                                    @* <iframe src="//quadia.webtvframework.com/intervet/marketingservices/_app/publication_player/?id=390574" frameborder="0" allowtransparency="true" style="border:none;width:512px;height:288px;overflow:hidden;max-width:100%;"></iframe>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Литература</h4>
                                    <div class="references">
                                        <p class="ref-number">3</p>
                                        <p>Ozoe, Y. Y-aminobutyrate- and glutamate-gated chloride channels as targets of insecticides. // [Необходимо добавить название книги и выходные данные.]</p>
                                        <p class="ref-number">4</p>
                                        <p>Ozoe Y, Asahi M, Ozoe F, Nakahira K, Mita T. The antiparasitic isoxazoline A1443 is a potent blocker of insect ligand-gated chloride channels. Biochem Biophys Res Commun. 2010;391:744-749.</p>
                                        <p class="ref-number">5</p>
                                        <p>Gassel M, Wolf C, Noack S, Williams H, Ilg T. The novel isoxazoline ectoparasiticide fluralaner: Selective inhibition of arthropod γ-aminobutyric acid- and L-glutamate-gated chloride channels and insecticidal/acaricidal activity. [Информация о публикации будет представлена позже.]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu2-revolutionary-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">Революционный новый препарат Bravecto — средство профилактики клещей и блох, которое сделает лекарства для ежемесячного применения пережитком прошлого.</h2>
                            </div>
                            <h2 class="visible-xs">Революционный новый препарат Bravecto — средство профилактики клещей и блох, которое сделает лекарства для ежемесячного применения пережитком прошлого.</h2>
                            <hr class="plus diagonal">
                            <h3>Bravecto обеспечивает полную защиту в течение полных 12 недель.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto начинает действовать быстро и убивает клещей в течение всего 12-недельного периода между применениями (8-недельного для Rhipicephalus sanguineus).<sup>6,7</sup> Преодолейте недостатки современных препаратов для ежемесячного применения с помощью Bravecto.</p>
                                    <ul class="styled">
                                        <li>
                                            Bravecto убивает 98—100% блох за 8 часов, а клещей (I. ricinus) — за 12 часов на протяжении 12 недель
                                            <ul class="styled">
                                                <li>Другим средствам для начала действия требуется до 48 часов<sup>8</sup></li>
                                            </ul>
                                        </li>
                                        <li>Широкий спектр действия в отношении распространенных видов блох и клещей<sup>6,7</sup></li>
                                        <li>
                                            Стойкая активность на протяжении всего периода между применениями<sup>6,7</sup>
                                            <ul class="styled">
                                                <li>Эффективность контроля блох через 8 часов превышала 98% при всех измерениях<sup>9</sup></li>
                                                <li>Эффективность контроля клещей через 12 часов превышала 98% при всех измерениях<sup>9</sup></li>
                                            </ul>
                                        </li>
                                        <li>Быстрое устранение блошиного аллергического дерматита (БАД)<sup>7</sup></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <div bravo-chart chart-id="speedKill"></div>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Литература</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto™ SPC</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich et al. Parasites & Vectors 2014, 7:83</p>
                                        <p class="ref-number">8</p>
                                        <p>NexGard (afoxalaner) chewables. Prescribing information. Merial Labs, 2013.</p>
                                        <p class="ref-number">9</p>
                                        <p>Неопубликованные данные. Merck Animal Health, Саммит, Нью-Джерси, 2013. Для Великобритании должна быть указана литература: Wengenmayer 2012, Study No. V-0084-0196 & Wengenmayer 2012 Study No. V-0084-0225.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu3-peaceOfMind-lg.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Подарите своим клиентам спокойствие, обеспечив надежную длительную защиту от блох и клещей.</h2>
                            </div>
                            <h2 class="visible-xs">Подарите своим клиентам спокойствие, обеспечив надежную длительную защиту от блох и клещей.</h2>
                            <hr class="plus diagonal">
                            <h3>Стабильная, длительная защита как от блох, так и от клещей.</h3>
                            <div class="row">
                                <div class="col-sm-6">                                   
                                    <div bravo-chart chart-id="householdsFreeFleas" class="match-height"></div>
                                    <p class="caption">Адаптировано по материалам Rohdich, 2013.</p>
                                    <div class="callout-box">
                                        <p>
                                            <strong>Начало действия против блох:</strong>
                                        </p>
                                        <p>
                                            Флураланер: 8 часов<sup>6</sup>
                                        </p>
                                        <p>
                                            Афоксоланер: 8 часов<sup>8</sup>
                                        </p>
                                    </div>
                                    <p>Блохи и клещи не имеют резистентности к Bravecto. Этот препарат обеспечивает мощную защиту от множества видов, встречающихся в различных регионах мира.<sup>6, 7</sup></p>
                                </div>
                                <div class="col-sm-6">
                                    <div bravo-chart chart-id="tickControlEfficacy" class="match-height"></div>
                                    <p class="caption">Адаптировано по материалам Rohdich, 2013.</p>
                                    <div class="callout-box">
                                        <p><strong>Начало действия против клещей</strong></p>
                                        <p>
                                            Флураланер: 12 часов<sup>6</sup>
                                        </p>
                                        <p>
                                            Афоксоланер: 48 часов<sup>8</sup>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="caption">Rohdich et al. — это рандомизированное многоцентровое полевое исследование в слепом для исследователей режиме по сравнению эффективности защиты от блох и клещей в течение 12-недельного периода после однократного применения жевательной таблетки Bravecto со вкусовой добавкой в дозе 25 мг/кг или серии из трех применений фипронила с интервалом в 4 недели.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>Широкий спектр действия против различных видов блох и клещей.</h3>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Виды блох </th>
                                                <th>Виды клещей</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><p>Ctenocephalides felis</p></td>
                                                <td>
                                                    <p>Ixodes ricinus</p>
                                                    <p>Dermacentor reticulatus</p>
                                                    <p>Dermacentor variabilis</p>
                                                    <p>Rhipicephalus sanguineus</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>Спросите представителя Merck об этой прорывной инновации в терапии.</p>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Литература</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto™ SPC</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich et al. Parasites & Vectors 2014, 7:83</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu4-vectorBorne-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Контроль трансмиссивных заболеваний.</h2>
                            </div>
                            <h2 class="visible-xs">Контроль трансмиссивных заболеваний.</h2>
                            <hr class="plus diagonal">
                            <h3>Bravecto — оптимальный выбор ветеринара для снижения риска передачи трансмиссивных заболеваний.</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Для успешной профилактики трансмиссивных заболеваний необходимо:</p>
                                    <ol>
                                        <li>быстрое уничтожение паразитов;</li>
                                        <li>высокая эффективность в течение всего периода терапии;</li>
                                        <li>строгое следование владельца животного рекомендациям по лечению.</li>
                                    </ol>
                                    <p>О передаче трансмиссивных заболеваний постоянно появляется новая информация. В следующей таблице представлена краткая информация о последних исследованиях. Обращаем внимание, что для переноса болезни Лайма (боррелий) может потребоваться более 16 часов<sup>10-14</sup></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="caption"> Опубликованное время передачи боррелий — возбудителей болезни Лайма (Borrelia burgdorferi)<sup>11</sup></p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Клещ</th>
                                                <th>Вид подопытного животного</th>
                                                <th class="center">Время распространения</th>
                                                <th class="center">% передачи</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="2">Нимфы Ixodes scapularis</td>
                                                <td rowspan="2">мыши</td>
                                                <td class="center">&lt;24 ч. </td>
                                                <td class="center">0</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;48 ч.</td>
                                                <td class="center">12.5</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="4">Нимфы Ixodes ricinus</td>
                                                <td rowspan="4">мыши</td>
                                                <td class="center">&lt;48 ч.</td>
                                                <td class="center">0</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;72 ч.</td>
                                                <td class="center">44</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;24 ч.</td>
                                                <td class="center">14</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;48 ч.</td>
                                                <td class="center">50</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">Нимфы Ixodes ricinus</td>
                                                <td rowspan="2">песчанки</td>
                                                <td class="center">17 ч.</td>
                                                <td class="center">~ 50</td>
                                            </tr>
                                            <tr>
                                                <td class="center">29 ч.</td>
                                                <td class="center">~ 50</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <p class="caption">Опубликованные значения распространения Babesia canis canis</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Клещ</th>
                                                <th class="center">Вид подопытного животного</th>
                                                <th class="center">Время распространения</th>
                                                <th class="center">Результат распространения</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Нимфы Dermacentor reticulatus</td>
                                                <td class="center">Собаки</td>
                                                <td class="center">&gt;48 ч.</td>
                                                <td class="center">Positive</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <p class="caption">Опубликованные значения времени распространения Ehrlichia phagocytophila</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Клещ</th>
                                                <th class="center">Вид подопытного животного</th>
                                                <th class="center">Время распространения</th>
                                                <th class="center">% передачи</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Нимфы Ixodes scapularis</td>
                                                <td class="center">мыши</td>
                                                <td class="center">&lt;24 ч.</td>
                                                <td class="center">66</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Bravecto убивает более 99% клещей рода Ixodes за 12 часов в течение всего 12-недельного периода между применениями<sup>9</sup></p>
                                    <ul class="styled">
                                        <li>Быстрое уничтожение клещей снижает риск передачи болезней</li>
                                        <li>12-недельная продолжительность эффекта снижает риск перерывов в защите от эктопаразитов. Исследование, проведенное среди владельцев, показало, что они не следуют рекомендациям по использованию препаратов для ежемесячного применения.<sup>14</sup> Нелеченые собаки подвергаются риску заболевания трансмиссивными болезнями.</li>
                                        <li>Эффективность наружных средств от клещей не сохраняется на уровне 100% в течение всего месяца; собаки с прикрепившимися клещами могут подвергаться действию возбудителей трансмиссивных заболеваний.<sup>15</sup></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Литература</h4>
                                    <div class="references">
                                        <p class="ref-number">9</p>
                                        <p>Неопубликованные данные. Merck Animal Health, Саммит, Нью-Джерси 2013. Для Великобритании должна быть указана литература: Wengenmayer 2012, Study No. V-0084-0196 & Wengenmayer 2012 Study No. V-0084-0225.</p>
                                        <p class="ref-number">10</p>
                                        <p>Crippa M, Rais O, Gern L. Investigations on the mode and dynamics of transmission and infectivity of Borrelia burgdorferi sensu stricto and Borrelia afzelii in Ixodes ricinus ticks. Vector Borne Zoonotic Dis. 2002;2:3-9.</p>
                                        <p class="ref-number">11</p>
                                        <p>Kahl O, Gern L, Gray JS< et al. Detection of Borrelia burgdorferi sensu lato in ticks: immunofluorescence assay versus polymerase chain reaction. Zent.bl. Bakteriol. 1998;287:205-210.</p>
                                        <p class="ref-number">12</p>
                                        <p>Kahl O, Janetzki-Mittmann C, Gray JS, Jonas R, Stein J, de Boer R. Risk of infection with Borrelia burgdorferi sensu lato for a host in relation to the duration of nymphal Ixodes ricinus feeding and method of tick removal. Zent.bl. Bakteriol. 1998;287:41-52.</p>
                                        <p class="ref-number">13</p>
                                        <p>Piesman J, Mather TN, Sinsky RJ, Spielman A. Duration of tick attachment and Borrelia burgdorferi transmission. J Clin Microbiol. 1987;557-558.</p>
                                        <p class="ref-number">14</p>
                                        <p>Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg: results of a questionnaire study. Berliner und Münchener Tierärztliche Wochenschrift 126, Heft 1/2 (2013), Seiten 6–76.</p>
                                        <p class="ref-number">15</p>
                                        <p>Guerino F. Effectiveness of Activyl® and Activyl Tick plus in dogs. in Recent advances in companion animal ectoparasite control. Symposium Proceedings. 2012 Intervet International B.V. a subsidiary of Merck & Co., Inc. page 15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });



        });

    </script>
}