@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask" style="">
                        Бизнес по-новому
                    </h1>
                    <div class="page-subhead">Откройте для себя новый класс защиты</div>
                </div>
                <hr class="plus diagonal">

            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/newBus-issu1-socialMediaPower-tile.jpg" alt="Бизнес по-новому, вопрос 1">
                        <div class="issue-contents">
                            <h3>Как социальные сети могут помочь в развитии вашего бизнеса?</h3>
                            <hr class="plus diagonal">
                            <p>Представляем <a href="/dashboard">BravoVets</a> — профессиональный инструмент для создания, укрепления и контроля вашего присутствия в социальных сетях и узнаваемости вашего бренда.</p>
                            <ul class="styled">
                                <li>Открывайте новые горизонты и идите в ногу со временем</li>
                                <li>Укрепите связи с имеющейся аудиторией</li>
                                <li>Упрочите свое положение эксперта по здоровью домашних животных среди своих клиентов</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Читать дальше</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Как можно захватить более крупную долю рынка средств для профилактики блох и клещей?</h4>
                            <hr class="plus diagonal">
                            <p>
                                Bravecto — единственное средство для применения внутрь раз в 12 недель, и оно отпускается только по вашему рецепту. 
                                <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Читать дальше</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h3>Отвоюйте территорию у конкурентов, предлагающих безрецептурные средства.</h3>
                            <hr class="plus diagonal">
                            <p>Верните утерянных клиентов и постройте более прочные отношения.</p>
                            <ul class="styled">
                                <li>Эксклюзивные услуги, связанные с такими инновационными препаратами, как Bravecto</li>
                                <li>Покажите своим клиентам, что ваш опыт — залог качества</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Читать дальше</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/newBus-issu4-strongRelationship-tile.jpg" alt="Инновации, вопрос 4">
                        <div class="issue-contents">
                            <h3>Как построить более крепкий бизнес и более прочные связи с клиентами?</h3>
                            <hr class="plus diagonal">
                            <p>Арсенал инновационных методов поможет привлечь и удержать клиентов.</p>
                            <ul class="styled">
                                <li>Комплексный подход к потребительскому маркетингу</li>
                                <li>Рекламные и образовательные материалы в кабинетах</li>
                                <li><a href="/dashboard">BravoVets</a> — новый онлайн-ресурс для расширения присутствия в социальных сетях</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Читать дальше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Наверх</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu1-socialMediaPower-lg.jpg" alt="Инновации, вопрос 1">
                                <h2 class="hidden-xs">Возьмите на вооружение всю мощь социальных сетей.</h2>
                            </div>
                            <h2 class="visible-xs">Возьмите на вооружение всю мощь социальных сетей.</h2>
                            <hr class="plus diagonal">
                            <h3>BravoVets — инструмент, позволяющий ветеринарам создавать, укреплять и контролировать присутствие в социальных сетях и узнаваемость бренда. Ваше присутствие в сети — самый мощный инструмент связи с клиентами и обеспечения их заинтересованности.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="/dashboard"><img src="/images/newBus-issu1-socialMediaPower-text-lg.jpg" alt="Снимок экрана Bravovets"></a>
                                    <p>Сайт <a href="/dashboard">BravoVets</a> поможет информировать владельцев домашних животных о длительной защите, которую обеспечивает Bravecto. Кроме того, на сайте есть полезные инструменты, с помощью которых можно развивать свой бизнес и отслеживать «социальный капитал» в сети.</p>
                                    <ul class="styled">
                                        <li>Новости о препарате Bravecto</li>
                                        <li>Центр уведомлений для получения информации о потенциальных клиентах</li>
                                        <li>Недавние комментарии клиентов на вашей стене в Facebook</li>
                                        <li>Недавние сообщения в Twitter с вашим именем пользователя или тегом</li>
                                        <li>Краткая сводка актуальных тем</li>
                                        <li>Подсказки, помогающие оптимизировать ваше присутствие в сети</li>
                                    </ul>
                                    <h3>Известность вашей клиники начинается с одного клика.</h3>
                                    <p>Любители животных всегда ищут новые способы связи с единомышленниками и получения новой информации о здоровье домашних питомцев. Социальные сети — ключевая форма привлечения владельцев домашних животных и общения с ними.</p>
                                    <ul class="styled">
                                        <li>70% владельцев домашних животных проводят до 30 минут в неделю, изучая в сети темы, связанные с их питомцами<sup>20</sup></li>
                                        <li>В поиске советов об уходе за домашними животными многие люди полагаются на рекомендации «доктора Гугла» и непрофессиональных сайтов, а не обращаются к ветеринарам.</li>
                                        <li>69% пользующихся Интернетом взрослых (составляющих более половины всего взрослого населения США) пользуются той или иной социальной сетью<sup>21</sup></li>
                                        <li>В некоторых странах социальными сетями пользуются до 80% интернет-пользователей, а темам, так или иначе связанным с собаками, посвящены десятки страниц<sup>22</sup></li>
                                        <li>
                                            Сайты для владельцев собак пользуются доверием. Используются также Facebook и Twitter и ряд других сайтов, в том числе:
                                            <ul class="styled">
                                                <li>PetMD.com</li>
                                                <li>BlogPaws.com</li>
                                                <li>Dogasaur.com</li>
                                                <li>Harry’s Picks (harryspicks.com)</li>
                                                <li>Doggyloot.com</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <div bravo-chart chart-id="petOwnership"></div>
                                    <h3>Социальные сети — это важнейший способ взаимодействовать с клиентами и доносить до них информацию. </h3>
                                    <p>У 14% пользователей Facebook есть учетная запись на имя собаки<sup>23</sup>.</p>
                                    <p>Bravecto дает вам идеальную возможность ко&#1085;тактировать с клиентами и делиться с ними важной новостью о крупном успехе в защите от блох.</p>
                                    <h3>Небольшие инвестиции времени — большие дивиденды приверженности.</h3>
                                    <p><strong><a href="/dashboard">BravoVets</a></strong> поможет вам открывать новые горизонты и идти в ногу со временем благодаря:</p>
                                    <ul class="styled">
                                        <li>эффективным стратегиям получения информации о потенциальных клиентах;</li>
                                        <li>новостям и уведомлениям, имеющим отношение к вашей клинике;</li>
                                        <li>актуальным клиническим данным, вебинарам, видеороликам и разбору практических примеров.</li>
                                    </ul>
                                    <p><strong>Найдите общий язык</strong> как с имеющейся, так и с новой аудиторией с помощью:</p>
                                    <ul class="styled">
                                        <li>информации для потребителей и информационных материалов о препарате Bravecto;</li>
                                        <li>ориентированного на клиента содержимого для информационных бюллетеней, блогов и заметок в социальных сетях.</li>
                                    </ul>
                                    <p>Поддерживайте тесные связи с клиентами благодаря:</p>
                                    <ul class="styled">
                                        <li>советам и рекомендациям по укреплению присутствия в социальных сетях;</li>
                                        <li>средствам для удержания клиентов, идеям относительно продвижения и вспомогательным материалам.</li>
                                    </ul>
                                    <p>У вас появятся возможности найти с клиентами общий язык и поддерживать результативную коммуникацию, работая на упреждение. Попросите дополнительную информацию у представителя MSD и посетите сайт Bravecto.com, чтобы узнать новые сведения.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Литература</h4>
                                    <div class="references">
                                        <p class="ref-number">20</p>
                                        <p>Orsini P, Drolet D, Liu C. Pet projects: digital connects pet owners to brands. eMarketer. July 2013.</p>
                                        <p class="ref-number">21</p>
                                        <p>Rainie L, Smith A, Duggan M. Coming and going on Facebook. Pew Internet & American Life Project. 2013. A project of the PewResearchCenter, Washington, DC.</p>
                                        <p class="ref-number">22</p>
                                        <p>eMarketer, UK Remains Top Facebook Market in Western Europe, May, 2013.</p>
                                        <p class="ref-number">23</p>
                                        <p>Adweek. Social networking and man’s best friend. Infographic. Available at: http://www.adweek.com/adfreak/infographics-reveal-scope-pet-owners-weirdness-and-depravity-132283. Downloaded December 12, 2013.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu2-overTheCounter-lg.jpg" alt="Инновации, решение 2">
                                <h2 class="hidden-xs">Предложите владельцам животных персональное обслуживание, опыт и инновационные препараты, которые им не продадут без рецепта.</h2>
                            </div>
                            <h2 class="visible-xs">Предложите владельцам животных персональное обслуживание, опыт и инновационные препараты, которые им не продадут без рецепта.</h2>
                            <hr class="plus diagonal">
                            <h3>Только ветеринар может дать владельцам домашних животных инновационные препараты, профессиональное наблюдение и уход.</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Клиенты будут рассчитывать на ваши консультации и на помощь, которую может дать только профессиональный ветеринар. Чтобы сделать свою клинику более привлекательной, предложите эксклюзивные услуги, повышающие приверженность клиентов и показывающие, что вы можете предложить гораздо больше стандартного набора услуг розничных зоомагазинов.</p>
                                    <p>До настоящего времени потребители считают средства от блох и клещей практически одинаковыми — поэтому их выбор обычно основывается на соображениях удобства и цены.</p>
                                    <p>Верните этих клиентов себе, предложив им дополнительные преимущества, которые можете обеспечить только вы: индивидуальный подход, непрерывность ветеринарной помощи и доступ к таким поистине инновационным препаратам, как Bravecto.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu3-goToResource-lg.jpg" alt="Инновации, решение 3">
                                <h2 class="hidden-xs">Станьте для своих клиентов первостепенным ресурсом по профилактике блох и клещей.</h2>
                            </div>
                            <h2 class="visible-xs">Станьте для своих клиентов первостепенным ресурсом по профилактике блох и клещей.</h2>
                            <hr class="plus diagonal">
                            <h3>Как ветеринар, вы сможете предложить своим клиентам препарат, который они не смогут купить больше нигде. Жевательные таблетки для собак BRAVECTO™ (флураланер) — единственное средство для применения раз в 12 недель, и его можно приобрести только у вас.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto — единственное противопаразитарное средство для собак для приема внутрь раз в 12 недель. Вы можете стать тем, кто предлагает единственный на сегодняшнем рынке действительно революционный препарат.</p>
                                    <ul class="styled">
                                        <li>Верните себе приверженность клиентов, которые признают в вашем лице надежный источник помощи.</li>
                                        <li>Предложите новый уровень удобства — более простое и более аккуратное в применении средство, требующее более редкого использования и при этом обеспечивающее высокоэффективную защиту от блох и клещей.</li>
                                        <li>Утвердите репутацию своей клиники как первостепенного поставщика самых современных средств.</li>
                                        <li>Распространяйте инновационные продукты, не продающиеся без рецепта.</li>
                                        <li>Стройте более прочные отношения с клиентами при помощи поддержки и информационных материалов MSD Animal Health.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <img src="/images/chart-marketmatrix.png" alt="Матрица рынка">
                                    </p>
                                    <p>Ошейники и препараты для местного нанесения составляют в этой категории подавляющее большинство, но эти конкурирующие средства мало чем отличаются друг от друга.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu4-strongRelationship-lg.jpg" alt="Инновации, решение 4">
                                <h2 class="hidden-xs">Пусть наши ресурсы станут для вас подспорьем в построении сильного бизнеса и укреплении отношений с клиентами.</h2>
                            </div>
                            <h2 class="visible-xs">Пусть наши ресурсы станут для вас подспорьем в построении сильного бизнеса и укреплении отношений с клиентами.</h2>
                            <hr class="plus diagonal">
                            <h3>Представитель MSD покажет вам, как извлечь пользу из прекрасной возможности развить и укрепить ваш бизнес с помощью Bravecto.</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Компания MSD Animal Health намерена помочь вам развить ваш бизнес и будет активно привлекать к вам клиентов с помощью ряда инновационных приемов.</p>
                                    <ul class="styled">
                                        <li>Комплексный подход к потребительскому маркетингу привлечет в вашу клинику новых клиентов.</li>
                                        <li>Рекламные и образовательные материалы в кабинетах произведут впечатление на клиентов и станут подкреплением ваших рекомендаций и назначений.</li>
                                        <li><strong>BravoVets:</strong> — новый онлайн-ресурс только для вас — поможет быть в курсе клинических исследований, расширять присутствие в социальных сетях и создавать новые и более прочные связи с клиентами.</li>
                                    </ul>
                                    <p>С помощью Bravecto вы сможете обеспечить длительную защиту своих четвероногих пациентов — и наладить длительные отношения с их владельцами. MSD предоставит вам обширные ресурсы, которые вы сможете использовать для продвижения своей клиники и укрепления связей с людьми.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

        });

    </script>
}