@model SyndicatedContentModel

<div class="resource-item col-md-6">
    <h4>VIDEO</h4>
    <div class="resource-item-body">
        <div class="resource-content">
            <h5>BRAVECTO OVERVIEW VIDEO</h5>
            <p>Lorem ipsum</p>
            <div class="action-wrapper">
                <a class="btn btn-default" href="#">
                    VIEW VIDEO
                    <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                </a>
                <a href="#">
                    Share this
                    <i class="icon icon-share"></i>
                </a>
            </div>
        </div>
        <div class="resource-media-item">
            <img src="~/Content/img/Bravecto_Support_rolethumbnail.jpg" />
        </div>
    </div>
</div>