<div class="social-content-item col-md-8 video-item">
    <h4>VIDEO</h4>
    <div class="social-content-item-body">
        <div class="social-content-content">
            <h5>A TALE OF TWO TREATMENTS</h5>
            <p>Take a look at two pet owners treatment experiences and discover how much more convenient and effective 12-week-long Bravecto can be compared to a traditional 4-week treatment.</p>
            <div class="action-wrapper">
                <a href="#" class="share share-this" data-event-id="@Model.Id">
                    Share this
                    <i class="icon icon-share"></i>
                </a>
            </div>
        </div>
        <div class="social-content-media-item">
            <img src="~/Content/img/Bravecto_BravoPets_videothumb.jpg" />
        </div>
    </div>
</div>
<div class="social-content-item col-md-4 poster-item">
    <h4>POSTER</h4>
    <div class="social-content-item-body">
        <div class="social-content-content">
            <h5>EXTENDING THE BEST EXPERIENCES WITH INNOVATIVE FLEA AND TICK CARE</h5>
            <p>Discover the latest innovation in flea and tick treatment and get all the information you need to deliver the best care and experience</p>
            <div class="action-wrapper">
                <a href="#" class="share share-this" data-event-id="@Model.Id">
                    Share this
                    <i class="icon icon-share"></i>
                </a>
            </div>
        </div>
        <div class="social-content-media-item">
            <img src="~/Content/img/Bravecto_Support_rolethumbnail.jpg" />
        </div>
    </div>
</div>
