@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title compliance-icon" style="">Compliance</h1>
                    <div class="page-subhead">Scoprite una nuova classe di protezione</div>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/compliance-issu1-easierCompliance-tile_it.jpg" alt="Compliance Issue 1">
                        <div class="issue-contents">
                            <h3>Come rendere la compliance più semplice per il proprietario dell’animale?</h3>
                            <hr class="plus diagonal">
                            <p>Con Bravecto,un dosaggio più facile e conveniente rende migliore la compliance.<sup>14</sup></p>
                            <ul class="styled">
                                <li>Una singola dose offre efficacia per un periodo di 12 settimane </li>
                                <li>Il dosaggio è facile e pulito<sup>6</sup>.</li>
                                <li>Per 12 settimane, le nuove pulci che si stanno schiudendo vengono uccise prima che producano uova fecondate.<sup>6</sup></li>
                                <li>Una protezione per tutto l’anno è raggiunta solo con 4 dosi.<sup>6</sup></li>
                                <li>I clienti soddisfatti ritorneranno ancora.<sup>6</sup></li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Per saperne di più</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h3>Perchè i cani preferiscono Bravecto? </h3>
                            <hr class="plus diagonal">
                            <p>Perchè Bravecto è una tavoletta masticabile appetibile che piace ai cani.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Per saperne di più</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Come può Bravecto eliminare gli errori di applicazione? </h4>
                            <hr class="plus diagonal">
                            <p>Gli errori di applicazione vengono virtualmente eliminati con una semplice posologia orale. </p>
                            <ul class="styled">
                                <li>Nessuna applicazione topica significa nessun rischio di trasmissione o di esposizione umana</li>
                                <li>Nessuna vischiosità o segni di medicamenti sulla superficie del pelo </li>
                                <li>La toelettatura dell’animale, così come il lavaggio del pelo non ne comprometteranno l’efficacia</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Per saperne di più</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Perchè i proprietari preferiscono Bravecto? </h4>
                            <hr class="plus diagonal">
                            <p>Bravecto prevede uno schema posologico di 12 settimane facile da gestire.  </p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Per saperne di più</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/compliance-issu5-wellTolerated-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>Bravecto è sicuro e ben tollerato dai cani? </h3>
                            <hr class="plus diagonal">
                            <p>In studi che hanno coinvolto più di 1000 cani, Bravecto è stato ben tollerato e sicuro anche sui cuccioli, sulle cagne incinta e che allattavano.  </p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="4">Per saperne di più</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Torna su</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu1-easierCompliance-lg_it.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Fate in modo che la compliance non sia più un problema con un dosaggio conveniente che dura 12-settimane.</h2>
                            </div>
                            <h2 class="visible-xs">Fate in modo che la compliance non sia più un problema con un dosaggio conveniente che dura 12-settimane.</h2>
                            <hr class="plus diagonal">
                            <h3>Risolvete i problemi legati alla compliance e migliorate la soddisfazione del cliente e la qualità della cura.</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Conveniente per i proprietari e attraente per il cane, Bravecto aiuta a risolvere i problemi legati alla compliance  che sono comuni delle terapie mensili.<sup>14</sup></p>
                                    <ul class="styled">
                                        <li>Una singola dose offre un’efficacia completa sulle 12 settimane, senza pause nel mezzo.<sup>6</sup></li>
                                        <li>Il dosaggio è facile e pulito,6 nessuna applicazione che impiastriccia o nessun rischio di veicolazione. </li>
                                        <li>Per 12 settimane, le pulci che si sono schiuse di recente vengono uccise prima che depongano uova feconde, viene quindi controllata la popolazione totale di pulci.<sup>6</sup></li>
                                        <li>Una protezione annuale totale è raggiunta solo con quattro dosi, assicurando così protezione per ogni stagione.<sup>6</sup></li>
                                        <li>Un trattamento più frequente può essere fornito se il cliente affronta un problema portato da Rhipicephalus sanguineus.<sup>6</sup></li>
                                    </ul>
                                    <p>Una volta che i clienti vedono quanto è semplice ed efficace usare Bravecto, vi riporteranno il loro cane ancora. Dato che solo voi potete garantire la totale protezione data da Bravecto, è la vostra opportunità di costruire una rete di comunicazione e fiducia tra i proprietari di animali domestici.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Referencias</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto&trade; SPC</p>
                                        <p class="ref-number">14</p>
                                        <p>Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg: results of a questionnaire study. Berliner und Münchener Tierärztliche Wochenschrift 126, Heft 1/2 (2013), Seiten 6–76.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu2-highlyPalatable-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">Fate sì che il dosaggio sia più facile dando ai vostri cani una tavoletta masticabile appetibile. </h2>
                            </div>
                            <h2 class="visible-xs">Fate sì che il dosaggio sia più facile dando ai vostri cani una tavoletta masticabile appetibile. </h2>
                            <hr class="plus diagonal">
                            <h3>Bravecto è presentata come una tavoletta masticabile appetibile che il cane accetta volentieri o che si può mischiare al cibo. </h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="styled">
                                        <li>In uno studio europeo sul campo<sup>16</sup>, più del 90%dei cani ha accettato volontariamente la tavoletta.  </li>
                                        <li>Non sono stati osservati problemi durante prove sul campo in cani a cui veniva dato Bravecto insieme ad altri farmaci<sup>7</sup></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Referencias</h4>
                                    <div class="references">
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                        <p class="ref-number">16</p>
                                        <p>EPAR [pending publication. On-line link to come]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu3-easyToManage-lg_it.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Semplificate la vita ai proprietari di animali domestici con lo schema posologico di 12 settimane di Bravecto. </h2>
                            </div>
                            <h2 class="visible-xs">Semplificate la vita ai proprietari di animali domestici con lo schema posologico di 12 settimane di Bravecto. </h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Una somministrazione orale significa una protezione sistemica contro pulci e zecche senza perdita di efficacia per tutto il periodo di somministrazione. </p>
                                    <ul class="styled">
                                        <li>Nessun rischio di carenza di efficacia – osservata quando le dosi mensili sono “frammentate” o divise nel periodo di terapia consigliata di 30 giorni. </li>
                                        <li>Facile da ricordare e da somministrare per i proprietari </li>
                                        <li>
                                            In un grande studio<sup>7</sup>:
                                            <ul class="styled">
                                                <li>L’efficacia del controllo sulle pulci è rimasta del 99.9% dopo 12 settimane</li>
                                                <li>L’efficacia del controllo sulle zecche è rimasta del 100% dopo 12 settimane</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <p class="callout-box">
                                        <strong>Suggerimento per la somministrazione: </strong>Dare Bravecto durante i pasti – si consiglia di somministrarlo con il cibo.<sup>6, 17</sup>
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Referencias</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto&trade; SPC</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                        <p class="ref-number">17</p>
                                        <p>Walther FM, Allan MJ, Roepke R, Nuernberger MC. The effect of food on the pharmacokinetics of oral fluralaner in dogs. Parasites &amp; Vectors. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu4-applicationError-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Proponete la somministrazione orale di Bravecto e riducete il rischio di errori che solitamente si verificano con le applicazioni topiche.   </h2>
                            </div>
                            <h2 class="visible-xs">Proponete la somministrazione orale di Bravecto e riducete il rischio di errori che solitamente si verificano con le applicazioni topiche.  </h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto riduce il rischio di errori nell’applicazione e di potenziale esposizione da parte di bambini e membri della famiglia in seguito a trattamenti topici.</p>
                                    <ul class="styled">
                                        <li>Gli errori di applicazione sono virtualmente eliminati con una facile somministrazione orale</li>
                                        <li>Nessuna applicazione topica implica nessun rischio di trasmissione o esposizione umana</li>
                                        <li>Nessuna vischiosità o segni di medicamenti sulla superficie del pelo</li>
                                        <li>
                                            La toelettatura dell’animale, così come il lavaggio del pelo non ne comprometteranno l’efficacia
                                            <ul class="styled">
                                                <li>Bravecto è ideale per i cani le cui condizioni della pelle richiedono una toelettatura frequente </li>
                                                <li>
                                                    I cani trattati con Bravecto mostrano forti segni di recupero da FAD (dermatite allergica causata da pulci), con l’ 85% di questi soggetti che immediatamente cessa di presentare i segni clinici<sup>7</sup>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Referencias</h4>
                                    <div class="references">
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #5 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu5-wellTolerated-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Rafforzate le vostre relazioni con i client offrendo loro una prevenzione ben tollerata contro pulci e zecche. </h2>
                            </div>
                            <h2 class="visible-xs">Rafforzate le vostre relazioni con i client offrendo loro una prevenzione ben tollerata contro pulci e zecche. </h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>In studi che hanno coinvolto più di 1000 cani, Bravecto è stato ben tollerato<sup>6, 7, 17- 19</sup>  Nessun cane ha presentato effetti collaterali o ha dovuto abbandonare gli studi.<sup>6</sup></p>
                                    <p>Gli effetti collaterali osservati nello studio europeo sul campo hanno mostrato una lieve diarrea (1.6%) o anoressia (0.5%).<sup>6, 7</sup> Inoltre, Bravecto ha dimostrato essere: <sup>6, 16-19</sup></p>
                                    <ul class="styled">
                                        <li>•	Sicuro in cuccioli che hanno più di otto settimane di vita fino a 5X ciclo di somministrazione </li>
                                        <li>•	Sicuro in cani adulti a dosaggi di 5X la somministrazione posologica </li>
                                        <li>•	Sicuro in cagne incinta o che allattano </li>
                                        <li>•	Sicuro in cani che hanno carenza del gene MDR1 </li>
                                    </ul>
                                    <p>Consigliate Bravecto— e rafforzate la relazione con i vostri clienti e con i loro amici a quattro zampe. Parlate di Bravecto con il vostro rappresentante MSD e visitate Bravecto.com per maggiori informazioni. </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Referencias</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto&trade; SPC</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                        <p class="ref-number">16</p>
                                        <p>EPAR [pending publication. On-line link to come]</p>
                                        <p class="ref-number">17</p>
                                        <p>Walther FM, Allan MJ, Roepke R, Nuernberger MC. The effect of food on the pharmacokinetics of oral fluralaner in dogs. Parasites &amp; Vectors. In Press.</p>
                                        <p class="ref-number">18</p>
                                        <p>Walther FM, et al. Safety of oral administration of flavored chewable tablets containing fluralaner (Bravecto), a novel systemic antiparasitic drug, to dogs. Parasites &amp; Vectors. In Press. SPC</p>
                                        <p class="ref-number">19</p>
                                        <p>Walther FM, et al. Safety of fluralaner, a novel systemic antiparasitic drug, in MDR1(-/-) Collies after oral administration. Parasites &amp; Vectors 2014. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

        });

    </script>
}