@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }

<div class="container">
    <div class="hero-banner-image"></div>
    <div id="hero-wrapper" class="row">
        <div class="col-sm-5 col-md-4 hero-banner-copy">
            <h1 class="terms-and-conditions">Benvenuti in Bravecto!</h1>
            <hr class="plus diagonal">
            <p>Bravecto è un trattamento contro pulci e zecche, ma cosa più importante, è il culmine dell’innovazione farmacologica in veterinaria, il che lo rende il partner perfetto per aiutarvi a far crescere la vostra attività. Bravecto può aiutarvi a esplorare nuove risorse per il vostro ambulatorio, a costruire una migliore comunicazione con i proprietari di animali domestici, renderli idealmente dei clienti fedeli, attenti alla vita dei loro compagni a quattro zampe – e oltre.</p>
        </div>
        <div class="col-sm-7 col-md-8 hero-image-container">
            <img src="/images/SuperDog_web_it.png" alt="Super Dog">
        </div>
    </div>
    <div id="hero-bottom"></div>
    <div class="row visible-xs">
        <div class="col-xs-12">
            <hr class="plus diagonal">
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-sm-4"><hr class="diagonal shift-right"></div>
        <div class="col-sm-4"><hr class="plus diagonal shift-left shift-right"></div>
        <div class="col-sm-4"><hr class="plus diagonal shift-left"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-innovation-header-lg_it.jpg" alt="Innovation">
                    <h2>Innovazione</h2>
                </div>
                <div class="inset">
                    <h3>Quali nuove entusiasmanti alternative innovative portano i proprietari di animali domestici a ignorare le opzioni da banco?</h3>
                    <p>Scoprite una nuova classe di protezione &mdash; Bravecto.</p>
                    <ul class="styled">
                        <li>Un’innovativa scienza della Merck vi offre una soluzione che si differenzia da tutte le altre.</li>
                        <li>Bravecto (fluralaner) è un’innovazione nella protezione da pulci e zecche &mdash; rispondendo allanecessità di un prodotto innovativo con diversi benefici.</li>
                    </ul>
                    <a href="/bravecto/innovation?solutionID=0">Per saperne di più</a>
                </div>
                <div class="inset">
                    <h3>Cosa rende Bravecto rivoluzionario nella prevenzione di pulci e zecche?</h3>
                    <p>Bravecto Offre una protezione totale per 12 settimane intere.</p>
                    <a href="/bravecto/innovation?solutionID=1">Per saperne di più</a>
                </div>
                <div class="inset">
                    <h3>Quale prevenzione contro pulci e zecche offre la tranquillità di un ‘efficacia costante e duratura?</h3>
                    <ul class="styled">
                        <li>Efficacia duratura, costante contro pulci e zecche.</li>
                        <li>Efficacia ad ampio spettro contro tutte le specie presenti al mondo di pulci e zecche.</li>
                    </ul>
                    <a href="/bravecto/innovation?solutionID=2">Per saperne di più</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/innovation">Vedi Tutto</a></h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-compliance-header-lg_it.jpg" alt="Compliance">
                    <h2>Compliance</h2>
                </div>
                <div class="inset">
                    <h3>Come si può rendere la compliance per i proprietari di animali domestici più semplice?</h3>
                    <p>Con Bravecto, un dosaggio più conveniente può significare una migliore compliance. </p>
                    <ul class="styled">
                        <li>Una singola dose è efficace per 12 settimane.</li>
                        <li>Il dosaggio è facile e pulito.</li>
                        <li>Per 12 settimane le pulci schiuse di recente dalle uova vengono uccise prima che producano uova fecondate.</li>
                        <li>Una protezione per tutto l’anno è raggiunta con sole quattro dosi.</li>
                        <li>I clienti soddisfatti ritorneranno ancora.</li>
                    </ul>
                    <a href="/bravecto/compliance?solutionID=0">Per saperne di più</a>
                </div>
                <div class="inset">
                    <h3>Perché i cani preferiscono Bravecto?</h3>
                    <p>Perchè Bravecto è un boccone masticabile appetitoso che piace ai cani.</p>
                    <a href="/bravecto/compliance?solutionID=1">Per saperne di più</a>
                </div>
                <div class="inset">
                    <h3>Perché i proprietari di animali da compagnia preferiscono Bravecto?</h3>
                    <p>Bravecto offre uno schema posologico di 12 settimane facile da gestire.</p>
                    <a href="/bravecto/compliance?solutionID=2">Per saperne di più</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/compliance">Vedi Tutto</a></h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-newBus-header-lg.jpg" alt="New Business">
                    <h2>Nuova attività</h2>
                </div>
                <div class="inset">
                    <h3>Come possono i social media incrementare la vostra attività?</h3>
                    <p>Introducendo BravoVets, lo strumento professionale per stabilire, rafforzare e gestire la vostra presenza sociale e le Pubbliche Relazioni.</p>
                    <ul class="styled">
                        <li>Trovate nuove prospettive e rimanete aggiornati.</li>
                        <li>Tenetevi maggiormente in contatto con il pubblico attuale.</li>
                        <li>Affermatevi come esperti della salute e del benessere per il compagno fedele dei vostri clienti.</li>
                    </ul>
                    <a href="/bravecto/newbusiness?solutionID=0">Per saperne di più</a>
                </div>
                <div class="inset">
                    <h3>Sconfiggete la concorrenza creata dai prodotti da banco.</h3>
                    <p>Recuperate i clienti persi e costruite relazioni.</p>
                    <ul class="styled">
                        <li>Servizi esclusivi collegati ai prodotti innovativi come Bravecto.</li>
                        <li>Mostrate ai vostri clienti che il “valore” inizia con l’esperienza.</li>
                    </ul>
                    <a href="/bravecto/newbusiness?solutionID=1">Per saperne di più</a>
                </div>
                <div class="inset">
                    <h3>Come potete conquistare una quota maggiore del mercato della prevenzione contro pulci e zecche?</h3>
                    <p>Bravecto è l’unica terapia orale disponibile con una durata di 12 giorni. Disponibile soltanto con la vostra prescrizione.</p>
                    <a href="/bravecto/newbusiness?solutionID=2">Per saperne di più</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/newbusiness">Vedi Tutto</a></h4>
            </div>
        </div>
    </div>
</div>