@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask">Innovazione</h1>
                    <div class="page-subhead">Scoprite una nuova classe di protezione</div>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/innovation-issu1-newInnovation-tile-lg_it.jpg" alt="Innovation Issue 1">
                        <div class="issue-contents">
                            <h3>Quali nuove entusiasmanti alternative innovative portano i proprietari di animali domestici a ignorare le opzioni da banco?</h3>
                            <hr class="plus diagonal">
                            <p>Scoprite una nuova classe di protezione &mdash; Bravecto.</p>
                            <ul class="styled">
                                <li>Un’innovativa scienza della Merck vi offre una soluzione che si differenzia da tutte le altre.</li>
                                <li>Bravecto (fluralaner) è un’innovazione nella protezione da pulci e zecche – risponde alla necessità di un prodotto innovativo con diversi benefici.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Per saperne di più</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Cosa rende Bravecto rivoluzionario nella prevenzione contro pulci e zecche?</h4>
                            <hr class="plus diagonal">
                            <p>Bravecto offre una protezione totale per 12 settimane intere.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Per saperne di più</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Quale prevenzione per pulci e zecche offre la tranquillità di un’efficacia costante e duratura?</h4>
                            <hr class="plus diagonal">
                            <ul class="styled">
                                <li>Efficacia costante e duratura contro pulci e zecche.</li>
                                <li>Efficacia ad ampio spettro contro tutte le specie esistenti al mondo di pulci e zecche.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Per saperne di più</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/innovation-issu4-vectorBorne-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>Qual è il miglior modo per controllare le Malattie trasportate dai Vettori? </h3>
                            <hr class="plus diagonal">
                            <p>Bravecto è la migliore scelta che i veterinari hanno per controllare il rischio di malattie trasmesse dai vettori. Il controllo di tali malattie prevede:</p>
                            <ol class="styled">
                                <li><p>Uccidere in fretta i parassiti</p></li>
                                <li><p>Alto livello di efficacia per tutta la durata del trattamento </p></li>
                                <li><p>Il proprietario dell’animale domestico deve seguire fedelmente le raccomandazioni di trattamento.</p></li>
                            </ol>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Per saperne di più</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Torna Su</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu1-newInnovation-lg_it.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Rendi Bravecto la nuova alternativa ai prodotti da banco preferita dai proprietari di animali domestici.</h2>
                            </div>
                            <h2 class="visible-xs">Rendi Bravecto la nuova alternativa ai prodotti da banco preferita dai proprietari di animali domestici.</h2>
                            <hr class="plus diagonal">
                            <h3>Una scienza innovativa dalla Merck vi offre una soluzione che si differenzia da tutte le altre.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Nuovo da parte di MSD Animal Health, Bravecto™ (fluralaner) introduce un’innovazione nella protezione contro pulci e zecche – rispondendo alla necessità di un prodotto innovativo con diversi benefici.</p>
                                    <p>Fluralaner è una isoxazolina, un innovativo e specifico bloccante dei canali del cloro ligando- dipendenti dell’insetto. L’isoxazolina è la prima nuova classe di insetticidi in più di dieci anni.<sup>3-5</sup></p>
                                    <p>In un recente studio in vitro, il fluralaner è stato paragonato al fipronil contro quattro specie di insetti e tre specie di parassiti della famiglia delle zecche.<sup>5</sup> Gli autori hanno riscontrato che il fluralaner non è influenzato da mutazioni resistenti nelle pulci e che <sup>5</sup>:</p>
                                    <ul class="styled">
                                        <li>Fluralaner sorpassa fipronil sul primo target molecolare</li>
                                        <li>Fluralaner presenta un’attività antiparassitaria superiore rispetto a fipronil, imidacloprid e ad altri agenti con diverso meccanismo d’azione.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <div class="molecule-wrapper">
                                            <div mouse-capture>
                                                <img-rotator height="311" width="466" sprites="36" src="/images/molecule.png"></img-rotator>
                                            </div>
                                        </div>
                                    </p>
                                    <iframe src="//quadia.webtvframework.com/intervet/marketingservices/_app/publication_player/?id=390574" frameborder="0" allowtransparency="true" style="border:none;width:512px;height:288px;overflow:hidden;max-width:100%;"></iframe>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Riferimenti</h4>
                                    <div class="references">
                                        <p class="ref-number">3</p>
                                        <p>Ozoe, Y. Y-aminobutyrate- and glutamate-gated chloride channels as targets of insecticides. In: [book title needed, with publication info.]</p>
                                        <p class="ref-number">4</p>
                                        <p>Ozoe Y, Asahi M, Ozoe F, Nakahira K, Mita T. The antiparasitic isoxazoline A1443 is a potent blocker of insect ligand-gated chloride channels. Biochem Biophys Res Commun. 2010;391:744-749.</p>
                                        <p class="ref-number">5</p>
                                        <p>Gassel M, Wolf C, Noack S, Williams H, Ilg T. The novel isoxazoline ectoparasiticide fluralaner: Selective inhibition of arthropod γ-aminobutyric acid- and L-glutamate-gated chloride channels and insecticidal/acaricidal activity. [publication information to come]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu2-revolutionary-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">Il nuovo rivoluzionario Bravecto, la prevenzione contro pulci e zecche che renderanno quei trattamenti mensili un ricordo passato.</h2>
                            </div>
                            <h2 class="visible-xs">Il nuovo rivoluzionario Bravecto, la prevenzione contro pulci e zecche che renderanno quei trattamenti mensili un ricordo passato.</h2>
                            <hr class="plus diagonal">
                            <h3>Offre una protezione totale per 12 settimane intere.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto ha un’insorgenza di azione rapida e uccide pulci e zecche per il periodo di somministrazione di 12 settimane intere (8 settimane per Rhipicephalus sanguineus).<sup>6, 7</sup> Superate le carenze degli attuali trattamenti mensili con il nuovo Bravecto.</p>
                                    <ul class="styled">
                                        <li>
                                            Rapida insorgenza d’azione dopo 2 ore, con 88% di efficacia entro 4 ore<sup>7,8</sup>
                                            <ul class="styled">
                                                <li>Altri agenti impiegano fino a 48 ore prima che compaiano effetti,<sup>8</sup></li>
                                                <li>Bravecto ha portato a riduzioni statisticamente significative nel numero di pulci dopo 2 ore (p=0.0046) e 4 ore (p=0.0117) dal trattamento<sup>8</sup></li>
                                            </ul>
                                        </li>
                                        <li>Attività ad ampio spettro contro specie comuni di pulci e zecche<sup>6,7</sup></li>
                                        <li>
                                            Attività sostenuta per tutto il periodo di dosaggio<sup>6,7</sup>
                                            <ul class="styled">
                                                <li>controllo dell’efficacia contro le Pulci era ≥97.9% dopo 8 ore in tutti i punti<sup>9</sup></li>
                                                <li>controllo dell’efficacia contro le Zecche >99% dopo 12 ore in tutti i punti<sup>9</sup></li>
                                            </ul>
                                        </li>
                                        <li>Risoluzione rapida della dermatite allergica causata da pulci (FAD)<sup>7</sup></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <div bravo-chart chart-id="speedKill"></div>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Riferimenti</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto™ SPC</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto™ (fluralaner) against Frontline® (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                        <p class="ref-number">8</p>
                                        <p>NexGard (afoxalaner) chewables. Prescribing information. Merial Labs, 2013.</p>
                                        <p class="ref-number">9</p>
                                        <p>Data on File. Merck Animal Health, Summit, NJ. 2013. For UK purposes the references should be: Wengenmayer 2012, Study No. V-0084-0196 & Wengenmayer 2012 Study No. V-0084-0225.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu3-peaceOfMind-lg.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Offrite ai vostri clienti tranquillità con una protezione forte e duratura sia contro pulci che zecche.</h2>
                            </div>
                            <h2 class="visible-xs">Offrite ai vostri clienti tranquillità con una protezione forte e duratura sia contro pulci che zecche.</h2>
                            <hr class="plus diagonal">
                            <h3>Costante efficacia, duratura nel tempo contro pulci e zecche.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Efficacia di Bravecto vs. fipronil<sup>7</sup> contro le pulci</h4>
                                    <div bravo-chart chart-id="householdsFreeFleas" class="match-height"></div>
                                    <p class="caption">Adattato da Rohdich, 2013.</p>
                                    <div class="callout-box">
                                        <p>
                                            <strong>Comparsa di efficacia contro le pulci:</strong>
                                        </p>
                                        <p>
                                            Fluralaner 8 ore<sup>6</sup>
                                        </p>
                                        <p>
                                            Afoxolaner 8 ore<sup>8</sup>
                                        </p>
                                    </div>
                                    <p>Le pulci e le zecche in tutto il mondo non hanno nessuna resistenza contro Bravecto. Offre una protezione potente contro una varietà di specie.<sup>6,7</sup></p>
                                </div>
                                <div class="col-sm-6">
                                    <h4>Efficacia di Bravecto<sup>7</sup> contro le zecche</h4>
                                    <div bravo-chart chart-id="tickControlEfficacy" class="match-height"></div>
                                    <p class="caption">Adattato da Rohdich, 2013.</p>
                                    <div class="callout-box">
                                        <p><strong>Comparsa di efficacia contro le zecche:</strong></p>
                                        <p>
                                            Fluralaner 12 ore<sup>6</sup>
                                        </p>
                                        <p>
                                            Afoxolaner 48 ore<sup>8</sup>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="caption">Rohdich, et al  è uno studio sul campo, randomizzato, in cieco,  multisito, che paragona il controllo su pulci e zecche per un periodo di 12 settimane, trattando il cane o con una singola dose orale di 25 mg/kg di Bravecto formulato come una tavoletta masticabile appetibile o con tre trattamenti sequenziali topici di fipronil a intervalli di 4 settimane.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>Efficacia ad ampio spettro contro le specie di pulci e zecche.</h3>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Specie di Pulci</th>
                                                <th>Specie di Zecche</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><p>Ctenocephalides felis</p></td>
                                                <td>
                                                    <p>Ixodes ricinus</p>
                                                    <p>Dermacentor reticulatus</p>
                                                    <p>Dermacentor variabilis</p>
                                                    <p>Rhipicephalus sanguineus</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>Chiedete al vostro rappresentante Merck informazioni sui progressi fatti da questo trattamento innovativo e visitate Bravecto.com per maggiori informazioni.</p>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Riferimenti</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto™ SPC</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/innovation-issu4-vectorBorne-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Controllo delle Malattie Trasmesse da Vettori.</h2>
                            </div>
                            <h2 class="visible-xs">Controllo delle Malattie Trasmesse da Vettori.</h2>
                            <hr class="plus diagonal">
                            <h3>Bravecto è la miglior scelta che un veterinario ha per controllare le malattie trasmesse da vettori.</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Il controllo di tali malattie prevede:</p>
                                    <ol>
                                        <li>Uccidere in fretta i parassiti</li>
                                        <li>Alto livello di efficacia per tutta la durata del trattamento</li>
                                        <li>Il proprietario dell’animale domestico deve seguire fedelmente le raccomandazioni di trattamento.</li>
                                    </ol>
                                    <p>Le informazioni sulla trasmissione delle malattie attraverso i vettori evolvono continuamente. La seguente TABELLA è un riassunto delle recenti ricerche scientifiche. Notare che la Malattia di Lyme (Borrelia) può impiegare più di 16 ore per essere trasmessa.<sup>10-14</sup></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="caption">Lyme Borrelia (Borrelia burgdorferi), tempi di trasmissione pubblicati<sup>11</sup></p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Zecca</th>
                                                <th>Tipo di test</th>
                                                <th class="center">Tempo di trasmissione</th>
                                                <th class="center">% Trasmissione</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="2">Ixodes scapularis ninfe</td>
                                                <td rowspan="2">topi</td>
                                                <td class="center">&lt;24 h </td>
                                                <td class="center">0</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;48 h</td>
                                                <td class="center">12.5</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="4">Ixodes ricinus ninfe</td>
                                                <td rowspan="4">topi</td>
                                                <td class="center">&lt;48 h</td>
                                                <td class="center">0</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;72 h</td>
                                                <td class="center">44</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;24 h</td>
                                                <td class="center">14</td>
                                            </tr>
                                            <tr>
                                                <td class="center">&lt;48 h</td>
                                                <td class="center">50</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">Ixodes ricinus ninfe</td>
                                                <td rowspan="2">gerbilli</td>
                                                <td class="center">17 h</td>
                                                <td class="center">~ 50</td>
                                            </tr>
                                            <tr>
                                                <td class="center">29 h</td>
                                                <td class="center">~ 50</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <p class="caption">Babesia canis canis, tempo di trasmissione pubblicato</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Zecca</th>
                                                <th class="center">Tipo di test</th>
                                                <th class="center">Tempo di trasmissione</th>
                                                <th class="center">Trasmissione</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Dermacentor reticulatus ninfe</td>
                                                <td class="center">Cani</td>
                                                <td class="center">&gt;48 h</td>
                                                <td class="center">Positivo</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <p class="caption">Ehrlichia phagocytophila, tempo di trasmissione pubblicato</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Zecca</th>
                                                <th class="center">Tipo di test</th>
                                                <th class="center">Tempo di trasmissione</th>
                                                <th class="center">% Trasmissione</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Ixodes scapularis ninfe</td>
                                                <td class="center">topi</td>
                                                <td class="center">&lt;24 h</td>
                                                <td class="center">66</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Bravecto uccide più del 99% delle Zecche Ixodes a partire dalle 12 ore per tutto il periodo di trattamento di 12-Settimane.<sup>9</sup></p>
                                    <ul class="styled">
                                        <li>L’uccisione rapida delle zecche riduce il rischio di trasmissione della malattia.</li>
                                        <li>L’efficacia sulle 12-settimane riduce il rischio di mancanza di protezione dagli ectoparassiti. Un sondaggio condotto su un proprietario ha mostrato che i proprietari non rispettano i trattamenti mensili.<sup>14</sup> I cani non trattati sono esposti al rischio di malattie veicolate dalle zecche.</li>
                                        <li>L’efficacia del controllo sulle zecche topiche non è del 100% per tutto il mese; i cani che sono stati morsicati da una zecca potrebbero essere esposti a malattie veicolate dai vettori.<sup>15</sup></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Riferimenti</h4>
                                    <div class="references">
                                        <p class="ref-number">9</p>
                                        <p>Data on File. Merck Animal Health, Summit, NJ. 2013. For UK purposes the references should be: Wengenmayer 2012, Study No. V-0084-0196 &amp; Wengenmayer 2012 Study No. V-0084-0225.</p>
                                        <p class="ref-number">10</p>
                                        <p>Crippa M, Rais O, Gern L. Investigations on the mode and dynamics of transmission and infectivity of Borrelia burgdorferi sensu stricto and Borrelia afzelii in Ixodes ricinus ticks. Vector Borne Zoonotic Dis. 2002;2:3-9.</p>
                                        <p class="ref-number">11</p>
                                        <p>Kahl O, Gern L, Gray JS&lt; et al. Detection of Borrelia burgdorferi sensu lato in ticks: immunofluorescence assay versus polymerase chain reaction. Zent.bl. Bakteriol. 1998;287:205-210.</p>
                                        <p class="ref-number">12</p>
                                        <p>Kahl O, Janetzki-Mittmann C, Gray JS, Jonas R, Stein J, de Boer R. Risk of infection with Borrelia burgdorferi sensu lato for a host in relation to the duration of nymphal Ixodes ricinus feeding and method of tick removal. Zent.bl. Bakteriol. 1998;287:41-52.</p>
                                        <p class="ref-number">13</p>
                                        <p>Piesman J, Mather TN, Sinsky RJ, Spielman A. Duration of tick attachment and Borrelia burgdorferi transmission. J Clin Microbiol. 1987;557-558.</p>
                                        <p class="ref-number">14</p>
                                        <p>Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg: results of a questionnaire study. Berliner und Münchener Tierärztliche Wochenschrift 126, Heft 1/2 (2013), Seiten 6–76.</p>
                                        <p class="ref-number">15</p>
                                        <p>Guerino F.  Effectiveness of Activyl® and Activyl Tick plus in dogs. in Recent advances in companion animal ectoparasite control. Symposium Proceedings. 2012 Intervet International B.V. a subsidiary of Merck &amp; Co., Inc. page 15.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });



        });

    </script>
}