@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title newbusiness-icon" style="">Nuova Attività</h1>
                    <div class="page-subhead">Scoprite una nuova classe di protezione</div>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/newBus-issu1-socialMediaPower-tile.jpg" alt="New Business Issue 1">
                        <div class="issue-contents">
                            <h3>Come possono i social media incrementare la vostra attività?</h3>
                            <hr class="plus diagonal">
                            <p>Presentando BravoVets, lo strumento professionale per stabilire, rafforzare e gestire la vostra presenza sociale e le vostre Relazioni Pubbliche.</p>
                            <ul class="styled">
                                <li>Trovate nuove prospettive e siate aggiornati</li>
                                <li>Stringete legami più solidi con l’attuale pazientela</li>
                                <li>Fate sì che i vostri clienti vi considerino l’esperto per la salute e il benessere dei loro animali.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Per saperne di più</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Come potete conquistare una quota maggiore del mercato della prevenzione contro pulci e zecche?</h4>
                            <hr class="plus diagonal">
                            <p>Bravecto è la sola terapia orale disponibile che copre 12 settimane. Disponibile solamente grazie alla vostra prescrizione.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Per saperne di più</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h3>Cercate di avere la meglio nella competizione con i prodotti da banco</h3>
                            <hr class="plus diagonal">
                            <p>Rivendicate i clienti persi e costruite relazioni.</p>
                            <ul class="styled">
                                <li>Servizi esclusivi legati a un prodotto innovativo quale Bravecto.</li>
                                <li>Fate vedere ai vostri clienti che il “valore” inizia dalla vostra competenza.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Per saperne di più</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/newBus-issu4-strongRelationship-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>Come costruite un’attività più forte e una più forte relazione con il cliente?</h3>
                            <hr class="plus diagonal">
                            <p>Una gamma di sistemi innovativi guida i clienti da voi e li tiene presso di voi.</p>
                            <ul class="styled">
                                <li>Sforzi di marketing volti a comprendere il consumatore</li>
                                <li>Materiale istruttivo e che si possa esporre nell’ambulatorio</li>
                                <li>BravoVets – la nuova risorsa online per espandere la presenza in rete.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Per saperne di più</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Torna Su</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu1-socialMediaPower-lg.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Date libero potere ai social media nella vostra pratica quotidiana.</h2>
                            </div>
                            <h2 class="visible-xs">Date libero potere ai social media nella vostra pratica quotidiana.</h2>
                            <hr class="plus diagonal">
                            <h3>BravoVets &mdash; uno strumento per i veterinari professionisti per stabilire, rafforzare e gestire la propria presenza sociale  e le Pubbliche Relazioni. La vostra presenza online è, da sola, lo strumento più potente per creare contatti e coinvolgimento con i vostri clienti.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="/images/newBus-issu1-socialMediaPower-text-lg.jpg" alt="Bravovets Screenshot">
                                    <p>BravoVets vi aiuta ad istruire i proprietari di animali domestici sulla protezione estesa fornita da Bravovecto. Offre inoltre strumenti pratici che potete usare per costruire la vostra attività e tracciare il vostro “profilo sociale” online.</p>
                                    <ul class="styled">
                                        <li>Novità e aggiornamenti su Bravovecto</li>
                                        <li>Centro di notifica per il popolo della rete</li>
                                        <li>I post recenti da parte dei clienti sul wall di Facebook</li>
                                        <li>I post recenti su Twitter usando l’ handle o hashtag utente</li>
                                        <li>Riassunto degli argomenti di tendenza</li>
                                        <li>Consigli per aiutarvi a ottimizzare la vostra visibilità online</li>
                                    </ul>
                                    <h3>Una forte visibilità per il vostro lavoro inizia con un click.</h3>
                                    <p>I proprietari di animali domestici cercano di continuo nuovi modi per venire in contatto con persone che, come loro, amano gli amici a quattro zampe e per trovare informazioni utili circa la salute e il benessere dei loro animali. I social media sono la chiave per comunicare e tenere contatti con i proprietari di animali domestici.</p>
                                    <ul class="styled">
                                        <li>70% dei proprietari passa fino a 30 minuti alla settimana a visualizzare argomenti online che riguardano gli animali domestici.<sup>20</sup></li>
                                        <li>Molte persone consultano“Dr. Google” e siti web non professionali per avere consigli sulla salute di Fido e Micio, piuttosto che chiamare il veterinario.</li>
                                        <li>Il 69% degli adulti che naviga in rete (che rappresentano metà dell’intera popolazione adulta Americana) usa un qualche genere di social network online<sup>21</sup></li>
                                        <li>In certi paesi gli utenti che usano Facebook sono il 75% – con dozzine di pagine dedicate ad argomenti inerenti il cane<sup>20</sup></li>
                                        <li>
                                            I siti web indirizzati ai proprietari di cani hanno credibilità – e si servono anche di Facebook e Twitter così come di una gamma di altri siti inclusi:
                                            <ul class="styled">
                                                <li>PetMD.com</li>
                                                <li>BlogPaws.com</li>
                                                <li>Dogasaur.com</li>
                                                <li>Harry’s Picks (harryspicks.com)</li>
                                                <li>Doggyloot.com</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <div bravo-chart chart-id="petOwnership"></div>
                                    <h3>Social media rappresentano il modo per entrare in contatto con i clienti e dar loro informazioni</h3>
                                    <p>Uomini e donne di tutte le età ed etnie seguono molto i social media – i padroni di animali domestici sono particolarmente attivi online.</p>
                                    <p>Il 14% degli utenti Facebook ha un account a nome del proprio cane.<sup>23</sup></p>
                                    <p>Ma soltanto l’8% degli ambulatori veterinari usa i social media. Se fate parte di questo gruppo state perdendo una grandissima opportunità.</p>
                                    <p>Bravecto vi fornisce un’opportunità ideale per contattare i vostri clienti e comunicare importanti novità sul grande progresso fatto nella protezione contro le pulci. </p>
                                    <!-- TODO: Translate this to Italian -->
                                    <h3><strong>TRANSLATE:</strong>A small investment of time—a big payoff in loyalty</h3>
                                    <p><strong>BravoVets</strong> vi aiuta a trovare nuove prospettive e ad essere sempre aggiornati attraverso</p>
                                    <ul class="styled">
                                        <li>Strategie efficaci rivolte al pubblico della rete per acquisire nuovi clienti</li>
                                        <li>Aggiornamenti e avvisi che riguardano il vostro ambulatorio</li>
                                        <li>Dati clinici attuali, seminari online, video e studi di settore.</li>
                                    </ul>
                                    <p><strong>Vi connette</strong> con un audience nuova e con quella esistente attraverso </p>
                                    <ul class="styled">
                                        <li>Informazioni al consumatore e materiale istruttivo su Bravecto</li>
                                        <li>Contenuti facili da usare in newsletter, blog e annunci in rete.</li>
                                    </ul>
                                    <p><strong>Vi fa mantenere</strong> forti relazioni attraverso</p>
                                    <ul class="styled">
                                        <li>Suggerimenti e una guida per rafforzare la vostra presenza in rete</li>
                                        <li>Strumenti per trattenere i clienti, idee promozionali e materiale di supporto</li>
                                    </ul>
                                    <p>Più che mai, avrete opportunità per entrare in contatto con i clienti e comunicare con loro in modo proattivo. Chiedete più informazioni al vostro rappresentante Merck e visitate Bravecto.com per maggiori dettagli.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Riferimenti</h4>
                                    <div class="references">
                                        <p class="ref-number">20</p>
                                        <p>Orsini P, Drolet D, Liu C. Pet projects: digital connects pet owners to brands. eMarketer. July 2013.</p>
                                        <p class="ref-number">21</p>
                                        <p>Rainie L, Smith A, Duggan M. Coming and going on Facebook. Pew Internet &amp; American Life Project. 2013. A project of the PewResearchCenter, Washington, DC.</p>
                                        <p class="ref-number">22</p>
                                        <p>eMarketer, UK Remains Top Facebook Market in Western Europe, May, 2013.</p>
                                        <p class="ref-number">23</p>
                                        <p>Adweek. Social networking and man&rsquo;s best friend. Infographic. Available at: http://www.adweek.com/adfreak/infographics-reveal-scope-pet-owners-weirdness-and-depravity-132283. Downloaded December 12, 2013.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu2-overTheCounter-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">Date ai proprietari di animali domestici un servizio, una conoscenza personali e prodotti innovativi che non possono trovare sul bancone di una farmacia o di un negozio.</h2>
                            </div>
                            <h2 class="visible-xs">Date ai proprietari di animali domestici un servizio, una conoscenza personali e prodotti innovativi che non possono trovare sul bancone di una farmacia o di un negozio.</h2>
                            <hr class="plus diagonal">
                            <h3>Solo un veterinario professionista  può fornire ai proprietario di animali prodotti innovativi, una guida e cure esperte.</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>I clienti guardano alla guida e alla cura che solo un veterinario professionista può fornire. Aggiungete valore al vostro lavoro offrendo servizi esclusivi che danno vita alla lealtà e mostrano ai clienti che avete molto più da offrire che servizi generici propri di un negozio per animali.</p>
                                    <p>Fino ad ora per i consumatori, i prodotti contro pulci e zecche sono sempre stati considerati uguali – ecco perché è più facile che acquistino sulla base della convenienza e del prezzo.</p>
                                    <p>Riprendetevi questi consumatori con il valore aggiunto che solo voi potete fornire, con servizi personalizzati, continuità di trattamento, accesso a prodotti veramente innovativi come Bravecto.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu3-goToResource-lg.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Diventate il punto di riferimento dei clienti per la prevenzione contro pulci e zecche.</h2>
                            </div>
                            <h2 class="visible-xs">Diventate il punto di riferimento dei clienti per la prevenzione contro pulci e zecche.</h2>
                            <hr class="plus diagonal">
                            <h3>Da veterinari professionisti, potete offrire ai vostri clienti un prodotto che non possono trovare da nessuna altra parte. BRAVECTO™ (fluralaner) tavolette masticabili per cani sono l’unica terapia orale che copre 12 settimane, disponibile solo grazie alla vostra prescrizione.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto è l’unica terapia antiparassitaria orale per cani che copra 12 settimane. Potrete essere voi a offrire l’unico cura veramente rivoluzionaria sul mercato di oggi.</p>
                                    <ul class="styled">
                                        <li>Riconquistate la lealtà dei clienti che vi riconosceranno come una risorsa fidata.</li>
                                        <li>Ridefinite la convenienza offrendo una somministrazione più facile, più pulita, meno frequente, per una maggior efficacia contro pulci e zecche.</li>
                                        <li>Fate in modo che la vostra attività si serva di trattamenti all’avanguardia</li>
                                        <li>Dispensate prodotti innovativi che non si trovano in punti vendita qualsiasi come prodotti OTC.</li>
                                        <li>Costruite relazioni più forti con sostegno e formazione da parte di MSD Animal Health</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <img src="/images/chart-marketmatrix.png" alt="Market Matrix">
                                    </p>
                                    <p>I collari e I trattamenti riempiono la categoria, eppure c’è davvero poca differenza tra questi prodotti concorrenti.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu4-strongRelationship-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Fate sì che le nostre risorse siano il passepartout  per costruire un business forte e una forte relazione con il cliente.</h2>
                            </div>
                            <h2 class="visible-xs">Fate sì che le nostre risorse siano il passepartout  per costruire un business forte e una forte relazione con il cliente.</h2>
                            <hr class="plus diagonal">
                            <h3>Il vostro rappresentante MSD vi mostrerà come trarre profitti da Bravecto di modo da crescere e sostenere la vostra attività.</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>MSD Animal Health si dedica completamente ad aiutare la vostra attività e guiderà attivamente i consumatori verso di voi con una serie di tattiche innovative.</p>
                                    <ul class="styled">
                                        <li>Sforzi di marketing volti alla comprensione del consumatore incoraggeranno nuovi clienti  a recarsi nel vostro ambulatorio</li>
                                        <li>Materiale esposto in ambulatorio e materiale istruttivo raggiunge gli attuali consumatori e vi aiuta a supportare i vostri consigli e le prescrizioni.</li>
                                        <li><strong>BravoVets:</strong> una nuova risorsa online esclusivamente per voi, per aiutarvi ad essere aggiornati sulla ricerca clinica, ad espandere la vostra visibilità sui social media e a creare nuove relazioni forti e durature con il cliente.</li>
                                    </ul>
                                    <p>Con Bravecto, potete assicurare una protezione duratura ai vostri pazienti a quattro zampe – e relazioni durature con i loro proprietari. MSD offre risorse ampie che potete usare per promuovere la vostra attività e costruire relazioni più forti all’interno della vostra comunità.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

        });

    </script>
}