@{
    ViewBag.Title = ProfSite.Resources.Resource.AboutUsText;
    Layout = "~/Views/Shared/_LayoutBravecto.cshtml";
}

<div class="container">
    <div class="row aboutusheaderrow">
        <h2>ABOUT US</h2>
    </div>
</div>
<div class="jumbotron aboutus">
    <div class="container">
        <div class="jumbo-home-overlay">
            <div class="row top-jumbo-overlay">
                <h1>About Merck Animal Health</h1>
            </div>
            <div class="bottom-jumbo-overlay">
                <h4>
                    Merck Animal Health, the provider of Bravecto, is a global, research-driven company that develops,
                    manufactures and markets a broad range of veterinary medicines and services.
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container aboutus-content">
    <div class="row">
        <p>
            We offer one of the industry's most innovative portfolios, spanning, products for the prevention,
            treatment and control of disease in all major farm and companion animal species. We are a highly proactive,
            robust and diversified company with a strong, scientifically-proven product portfolio and an ever-growing
            global reach.
        </p>
        <p>
            With offices in more than 50 countries, we successfully market our products in over 140 countries and operate
            a network of manufacturing sites and research and development (R&D) facilities around the world.
        </p>
    </div>
    <div class="row aboutus-content-bottom-row">
        <div class="col-md-6">
            <img src="~/Images/logo-MerckAH.png" />
            <p class="our-aim">
                Our aim is to create value and contribute to the ongoing success of our customers.
            </p>
        </div>
        <div class="col-md-6 aboutus-bottom-content-right">
            <p>
                In short, we aim to earn the trust of our customers every day. By listening carefully to all our stakeholders and putting customer satisfaction at the core of our business, we provide innovative, high-quality, and above all, solutions-driven products and services for farm and companion animal species.
            </p>
            <p>
                By consistently delivering the highest standards of quality, professionalism and integrity, our aim is to become the partner of choice for veterinarians, producers and animal owners.
            </p>
            <p>
                Our products and services enable pets and people to enjoy their time together and will help keep livestock healthy to ensure a safe, wholesome and affordable food supply.
            </p>
        </div>
    </div>
</div>

