@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask" style="">Compliance</h1>
                    <div class="page-subhead">Discover a new class of protection</div>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/compliance-issu1-easierCompliance-tile.jpg" alt="Compliance Issue 1">
                        <div class="issue-contents">
                            <h3>How do you make compliance easier for pet owners?</h3>
                            <hr class="plus diagonal">
                            <p>With Bravecto, easier, more convenient dosing can mean better compliance.<sup>14</sup></p>
                            <ul class="styled">
                                <li>A single dose delivers a full 12 weeks of efficacy.</li>
                                <li>Dosing is easy and clean.<sup>6</sup></li>
                                <li>
                                    For 12 weeks, newly emerged fleas are killed before they can produce viable eggs.<sup>6</sup>
                                </li>
                                <li>
                                    Full-year protection is achieved with just over four doses.<sup>6</sup>
                                </li>
                                <li>
                                    Satisfied customers will return again and again.<sup>6</sup>
                                </li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h3>What makes Bravecto preferable for dogs?</h3>
                            <hr class="plus diagonal">
                            <p>Because Bravecto is a highly palatable chew, dogs enjoy taking it.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Read More</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>How does Bravecto alleviate application error?</h4>
                            <hr class="plus diagonal">
                            <p>Application errors are virtually eliminated with easy oral dosing.</p>
                            <ul class="styled">
                                <li>No topical application means lower risk of direct exposure to the active ingredient</li>
                                <li>No stickiness, or messy signs of medication on surface hair</li>
                                <li>Washing and grooming will not affect efficacy</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>What makes Bravecto preferable for pet owners?</h4>
                            <hr class="plus diagonal">
                            <p>Bravecto offers an easy-to-manage 12-week dosing schedule.</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/compliance-issu5-wellTolerated-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>Is Bravecto safe and well tolerated by dogs?</h3>
                            <hr class="plus diagonal">
                            <p>In studies involving more than 1,000 dogs, Bravecto was shown to be well tolerated and safe for use in most cases involving puppies, adult and pregnant or lactating dogs. </p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="4">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Back to top</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu1-easierCompliance-lg.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Make compliance a non-issue with convenient 12-week dosing.</h2>
                            </div>
                            <h2 class="visible-xs">Make compliance a non-issue with convenient 12-week dosing.</h2>
                            <hr class="plus diagonal">
                            <h3>Resolve compliance issues and extend client satisfaction and quality of care.</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Convenient for pet owners and attractive to dogs, Bravecto helps resolve compliance issues that are common with once-per-month therapies.<sup>14</sup></p>
                                    <ul class="styled">
                                        <li>
                                            A single dose delivers a full 12 weeks of efficacy, with no breaks in-between.<sup>6</sup>
                                        </li>
                                        <li>Dosing is easy and clean<sup>6</sup>, with no messy application or risk of transfer.</li>
                                        <li>
                                            For 12 weeks, newly emerged fleas are killed before they can produce viable eggs, thus controlling environmental flea populations.<sup>6</sup>
                                        </li>
                                        <li>
                                            Full-year protection is achieved with just over four doses, ensuring protection at every season.<sup>6</sup>
                                        </li>
                                        <li>
                                            More frequent treatment can be provided if the client is facing a challenge from Rhipicephalus sanguineus.<sup>6</sup>
                                        </li>
                                    </ul>
                                    <p>Once customers see how easy and effective it is to use Bravecto, they will bring their dogs back to you again and again. Because only you can provide the powerful protection of Bravecto, it’s your chance to build a stronger bond of communication and trust with all dog owners.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>References</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto&trade; SPC</p>
                                        <p class="ref-number">14</p>
                                        <p>Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg: results of a questionnaire study. Berliner und Münchener Tierärztliche Wochenschrift 126, Heft 1/2 (2013), Seiten 6–76.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu2-highlyPalatable-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">Make dosing easier, by serving up a highly palatable, flavored chew that dogs enjoy.</h2>
                            </div>
                            <h2 class="visible-xs">Make dosing easier, by serving up a highly palatable, flavored chew that dogs enjoy.</h2>
                            <hr class="plus diagonal">
                            <h3>Bravecto is presented as a flavored chew that dogs accept readily, either alone or with food.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="styled">
                                        <li>In an EU field study<sup>16</sup>, more than 90% of dogs accepted the chew voluntarily</li>
                                        <li>
                                            No problems were seen in field trials in dogs that were administered Bravecto concurrently with other commonly used medications<sup>7</sup>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>References</h4>
                                    <div class="references">
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                        <p class="ref-number">16</p>
                                        <p>EPAR [pending publication. On-line link to come]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu3-easyToManage-lg.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Simplify things for pet owners with Bravecto’s easy 12-week dosing schedule.</h2>
                            </div>
                            <h2 class="visible-xs">Simplify things for pet owners with Bravecto’s easy 12-week dosing schedule.</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Oral delivery means prolonged systemic flea and tick protection with no loss of efficacy over the full dosing period.</p>
                                    <ul class="styled">
                                        <li>No risk of efficacy decline—as seen when monthly doses are “fragmented” or spread out beyond their recommended 30-day dosing period</li>
                                        <li>Easy for pet owners to remember and deliver</li>
                                        <li>
                                            In a large study<sup>7</sup>:
                                            <ul class="styled">
                                                <li>Flea control efficacy remained at 99.9% after 12 weeks</li>
                                                <li>Tick control efficacy remained at 100% at 12 weeks</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <p class="callout-box">
                                        <strong>Dosing tip: </strong>Suggest that Bravecto be given at mealtime—it is recommended to be given with food.<sup>6, 17</sup>
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>References</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto&trade; SPC</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                        <p class="ref-number">17</p>
                                        <p>Walther FM, Allan MJ, Roepke R, Nuernberger MC. The effect of food on the pharmacokinetics of oral fluralaner in dogs. Parasites &amp; Vectors. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu4-applicationError-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Offer up Bravecto’s oral application and reduce the risk of errors that commonly occur with topical applications. </h2>
                            </div>
                            <h2 class="visible-xs">Offer up Bravecto’s oral application and reduce the risk of errors that commonly occur with topical applications. </h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto, as a chewable tablet, avoids the common concerns of possible contact with the liquid of spot-on treatments, especially immediately after application.</p>
                                    <ul class="styled">
                                        <li>Application errors are virtually eliminated with easy oral dosing</li>
                                        <li>No topical application means lower risk of direct exposure to the active ingredient</li>
                                        <li>No stickiness, or messy signs of medication on surface hair</li>
                                        <li>
                                            Washing and grooming will not affect efficacy
                                            <ul class="styled">
                                                <li>Bravecto is ideal for dogs with skin conditions that require frequent bathing</li>
                                                <li>
                                                    Bravecto-treated dogs demonstrated a very strong recovery rate from clinical signs of FAD, with 85.7% of these dogs showing immediate resolution of all clinical signs<sup>7</sup>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>References</h4>
                                    <div class="references">
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #5 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/compliance-issu5-wellTolerated-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Strengthen your relationships with your clients by offering safe, well-tolerated flea and tick prevention.</h2>
                            </div>
                            <h2 class="visible-xs">Strengthen your relationships with your clients by offering safe, well-tolerated flea and tick prevention.</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>In studies involving more than 1,000 dogs, Bravecto was shown to be well tolerated.<sup>6, 7, 17- 19</sup> No dogs experienced serious adverse events or had to drop out of their trials.<sup>6</sup></p>
                                    <p>Adverse events seen in the EU field trial were mild diarrhea (1.6%) or anorexia (0.5%).<sup>6, 7</sup> In addition, Bravecto has been shown to be<sup>6, 16-19</sup>:</p>
                                    <ul class="styled">
                                        <li>Safe in puppies over 8 weeks old at doses up to 5X the clinical dose</li>
                                        <li>Safe in adult dogs at doses up to 5X the clinical dose</li>
                                        <li>Safe for use in pregnant or lactating female dogs</li>
                                        <li>Safe for use in dogs with the MDR1 gene deficiency</li>
                                    </ul>
                                    <p>Offer Bravecto—and strengthen your relationship with your clients and their pets. Talk with your MSD representative about Bravecto today, and visit Bravecto.com for more information.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>References</h4>
                                    <div class="references">
                                        <p class="ref-number">6</p>
                                        <p>Bravecto&trade; SPC</p>
                                        <p class="ref-number">7</p>
                                        <p>Rohdich N, Roepke R, Zschiesche E. A randomized, blinded, controlled and multi-centered field study comparing the efficacy and safety of Bravecto&trade; (fluralaner) against Frontline&reg; (fipronil) in flea- and tick-infested dogs. Parasites &amp; Vectors. In Press.</p>
                                        <p class="ref-number">16</p>
                                        <p>EPAR [pending publication. On-line link to come]</p>
                                        <p class="ref-number">17</p>
                                        <p>Walther FM, Allan MJ, Roepke R, Nuernberger MC. The effect of food on the pharmacokinetics of oral fluralaner in dogs. Parasites &amp; Vectors. In Press.</p>
                                        <p class="ref-number">18</p>
                                        <p>Walther FM, et al. Safety of oral administration of flavored chewable tablets containing fluralaner (Bravecto), a novel systemic antiparasitic drug, to dogs. Parasites &amp; Vectors. In Press. SPC</p>
                                        <p class="ref-number">19</p>
                                        <p>Walther FM, et al. Safety of fluralaner, a novel systemic antiparasitic drug, in MDR1(-/-) Collies after oral administration. Parasites &amp; Vectors 2014. In Press.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

        });

    </script>
}