@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }

<div class="container">
    <div class="hero-banner-image"></div>
    <div id="hero-wrapper" class="row">
        <div class="col-sm-5 col-md-4 hero-banner-copy">
            <h1 class="terms-and-conditions">Welcome to Bravecto!</h1>
            <hr class="plus diagonal">
            <p>Bravecto is a flea and tick treatment, but most importantly, it is the pinnacle of veterinary pharmaceutical innovation, which makes it the perfect partner to help you grow your business. Bravecto can help you explore new resources for your practice, build better communication with pet owners and, ideally, make them loyal customers for the lives of their pets—and beyond.</p>
        </div>
        <div class="col-sm-7 col-md-8 hero-image-container">
            <img src="/images/SuperDog_web.png" alt="Super Dog">
        </div>
    </div>
    <div id="hero-bottom"></div>
    <div class="row visible-xs">
        <div class="col-xs-12">
            <hr class="plus diagonal">
        </div>
    </div>
    <div class="row hidden-xs">
        <div class="col-sm-4"><hr class="diagonal shift-right"></div>
        <div class="col-sm-4"><hr class="plus diagonal shift-left shift-right"></div>
        <div class="col-sm-4"><hr class="plus diagonal shift-left"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-innovation-header-lg.jpg" alt="Innovation">
                    <h2>Innovation</h2>
                </div>
                <div class="inset">
                    <h3>What exciting new innovative alternative makes pet owners ignore over-the-counter options?</h3>
                    <p>Discover a new class of protection &mdash; Bravecto.</p>
                    <ul class="styled">
                        <li>Innovative science from Merck gives you a solution that stands out.</li>
                        <li>Bravecto (fluralaner) introduces an innovation in flea and tick protection &mdash; filling the need for an innovative product with distinct benefits.</li>
                    </ul>
                    <a href="/bravecto/innovation?solutionID=0">Read More</a>
                </div>
                <div class="inset">
                    <h3>What makes Bravecto revolutionary in flea and tick prevention?</h3>
                    <p>Bravecto delivers total protection for a full 12 weeks.</p>
                    <a href="/bravecto/innovation?solutionID=1">Read More</a>
                </div>
                <div class="inset">
                    <h3>What flea and tick prevention offers the peace of mind of consistent, lasting efficacy?</h3>
                    <ul class="styled">
                        <li>Consistent, lasting efficacy against both fleas and ticks.</li>
                        <li>Broad-spectrum efficacy against global flea and tick species.</li>
                    </ul>
                    <a href="/bravecto/innovation?solutionID=2">Read More</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/innovation">See All</a></h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-compliance-header-lg.jpg" alt="Compliance">
                    <h2>Compliance</h2>
                </div>
                <div class="inset">
                    <h3>How do you make compliance easier for pet owners?</h3>
                    <p>With Bravecto, easier, more convenient dosing can mean better compliance.</p>
                    <ul class="styled">
                        <li>A single dose delivers a full 12 weeks of efficacy.</li>
                        <li>Dosing is easy and clean.</li>
                        <li>For 12 weeks, newly emerged fleas are killed before they can produce viable eggs.</li>
                        <li>Full-year protection is achieved with just over four doses.</li>
                        <li>Satisfied customers will return again and again.</li>
                    </ul>
                    <a href="/bravecto/compliance?solutionID=0">Read More</a>
                </div>
                <div class="inset">
                    <h3>What makes Bravecto preferable for dogs?</h3>
                    <p>Because Bravecto is a highly palatable chew, dogs enjoy taking it.</p>
                    <a href="/bravecto/compliance?solutionID=1">Read More</a>
                </div>
                <div class="inset">
                    <h3>What makes Bravecto preferable for pet owners?</h3>
                    <p>Bravecto offers an easy-to-manage 12-week dosing schedule.</p>
                    <a href="/bravecto/compliance?solutionID=2">Read More</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/compliance">See All</a></h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="/images/homepage-newBus-header-lg.jpg" alt="New Business">
                    <h2>New Business</h2>
                </div>
                <div class="inset">
                    <h3>How can social media grow your business?</h3>
                    <p>Introducing BravoVets, the professional tool to establish, strengthen and manage your social and PR presence.</p>
                    <ul class="styled">
                        <li>Find new prospects and stay up to date.</li>
                        <li>Make deeper connections with existing audiences.</li>
                        <li>Establish yourself as the pet health and wellness expert for your clients.</li>
                    </ul>
                    <a href="/bravecto/newbusiness?solutionID=0">Read More</a>
                </div>
                <div class="inset">
                    <h3>Take over your over-the-counter competition.</h3>
                    <p>Reclaim lost customers and build relationships.</p>
                    <ul class="styled">
                        <li>Exclusive services linked to innovative products like Bravecto.</li>
                        <li>Show your customers that “value” starts with your expertise.</li>
                    </ul>
                    <a href="/bravecto/newbusiness?solutionID=1">Read More</a>
                </div>
                <div class="inset">
                    <h3>How can you grab a larger share of the flea and tick prevention market?</h3>
                    <p>Bravecto is the only 12-week oral therapy available. Only available by prescription from you.</p>
                    <a href="/bravecto/newbusiness?solutionID=2">Read More</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/bravecto/newbusiness">See All</a></h4>
            </div>
        </div>
    </div>
    <div class="row" style="padding-left: 15px;">
        <p class="hero-banner-copy">*Bravecto is effective against Rhipicephalus sanguineus for 8 weeks.</p>
    </div>
</div>