@{ var menu = (BravectoMenu)ViewBag.Menu;}

@{ Layout = "~/Views/Shared/" + menu.Layout + ".cshtml"; }
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="alternate">Заявление об ограничении ответственности</h1>
            <hr class="plus diagonal">
            <h3>Условия</h3>
            <p>Запрещается осуществлять доступ к данному сайту или использовать информацию, содержащуюся на этом сайте, без предварительного согласия с данными условиями. Любое использование информации, содержащейся на данном сайте, означает ваше согласие с этими условиями и ваш отказ от любых претензий к компании Intervet, ее дочерним и зависимым компаниям и сотрудникам, связанных с использованием вами этого сайта или любых содержащихся на нем материалов, информации, мнений и рекомендаций.</p>
            <p>Кроме того, данные условия включают следующие пункты.</p>
            <h3>Информация и заявление об ограничении ответственности</h3>
            <p>Данный сайт и информация, имена, изображения, картинки, логотипы и иконки, относящиеся к или связанные с Intervet и его дочерними и зависимым обществам, продукцией и услугами, предоставляются по принципу «как есть» и «по мере доступности» без каких-либо утверждений и гарантий, явных или подразумеваемых, включая, без ограничения, подразумеваемые гарантии пригодности для продажи, соответствия определенным целям или патентной чистоты. Несмотря на то, что содержащаяся на данном сайте информация компилировалась добросовестно, чтобы предоставить информацию о компании Intervet и ее продуктах и услугах, Intervet, ее головная компания, дочерние и зависимые компании и сотрудники ни в коем случае не несут ответственности за любой ущерб какого бы то ни было вида, включая, без ограничения, прямой, непрямой, особый, косвенный или случайный ущерб, нанесенный вследствие или в связи с использованием данного сайта, либо вследствие или в связи с любыми материалами, информацией или рекомендациями, данными на этом сайте.</p>
            <p>Intervet может в любое время внести модификации, улучшения и/или изменения в настоящие Условия, информацию, имена, изображения, картинки, логотипы и иконки, отображаемые на данном сайте, или продукты и услуги, о которых говорится на данном сайте, без уведомления.</p>
            <p>Данный сайт может содержать ссылки на другие сайты, не подпадающие под контроль Intervet. Intervet не несет какой бы то ни было ответственности за содержимое таких сайтов либо за ссылки, содержащиеся на таких сайтах.</p>
            <p>Вы соглашаетесь не добавлять, не изменять, не заменять и не исправлять частично или полностью какую-либо информацию на этом сайте.</p>
            <h3>Финансовые сведения</h3>
            <p>Что касается таких финансовых сведений, как ежегодные финансовые отчеты и балансовые отчеты, которые могут содержаться на данном Сайте, то имеющей силу оригинала может считаться только версия, оформленная в письменном виде.</p>
            <h3>Информация о препаратах</h3>
            <p>На этом сайте содержится информация о ветеринарных лекарственных и биологических препаратах, основанная на британских регистрационных досье. На этом сайте может говориться о препаратах, которые либо недоступны в вашей стране, либо поставляются под другим торговым названием. Кроме того, в зависимости от местных нормативов, данные о безопасности, эффективности и периоде каренции, относящиеся к данному препарату, могут отличаться. Для получения дополнительной информации свяжитесь с ветеринаром.</p>
            <p>Intervet вправе время от времени изменять паспорта продуктов и не несет какой-либо ответственности, возникающей из доверия к устаревшему распечатанному паспорту.</p>
            <h3>Интеллектуальная собственностьy</h3>
            <p>Обращаем ваше внимание на то, что материалы, представленные на данном сайте, включая, без ограничения, все редакционные материалы, фотографии, иллюстрации и другой графический материал, имена, названия, логотипы, товарные знаки и знаки обслуживания, являются собственностью компании Intervet или ее дочерних, зависимых компаний или лицензиаров и защищены законами об авторских правах, товарных знаках и другими законами об интеллектуальной собственности. Другие продукты или названия компаний, упомянутые на этом сайте, могут являться торговыми знаками соответствующих организаций. Запрещается воспроизводить, передавать, отправлять, распространять, продавать, публиковать, транслировать или вводить в обращение такой материал или любую его часть, за исключением возможности:</p>
            <p>а. распечатывать или загружать избранные фрагменты содержащихся на этом сайте материалов для некоммерческого, личного использования и использования в справочных целях; </p>
            <p>b. копировать содержащиеся на этом сайте материалы с целью их отправки, без каких-либо коммерческих целей, отдельным лицам для их личного информирования, при условии указания компании Intervet в качестве источника материала и информировании третьей стороны о том, что к ней применимы данные условия, и что эта третья сторона должна им следовать.</p>
            <p>Никакая информация, содержащаяся здесь, не должна пониматься как предоставление — подразумеваемым образом или в силу правовой презумпции — какого-либо разрешения или права в соответствии с каким-либо патентом или товарным знаком компании Intervet или какой-либо третьей стороны.</p>
            <p>За исключением случаев, явным образом указанных выше, ничто из содержащегося здесь не должно пониматься как предоставление какого-либо разрешения или права на авторские права или другие права на интеллектуальную собственность в связи с такой информацией, данными, продуктами или услугами.</p>
            <h3>Применяемое законодательство и юрисдикция</h3>
            <p>Данные условия регулируются, интерпретируются и применяются в соответствии с законодательством Нидерландов. Любые споры, возникающие на основании данного материала или в связи с ним, должны подаваться в компетентные суды Нидерландов и разрешаться ими.</p>
            <hr class="diagonal">
        </div>
    </div>
</div>