@{ var menu = (BravectoMenu) ViewBag.Menu;}

@{ Layout = "~/Views/Shared/" + menu.Layout + ".cshtml"; }
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="alternate">Политика конфиденциальности</h1>
            <hr class="plus diagonal">
            <p>Мы очень серьезно относимся к конфиденциальности вашей информации. Мы защищаем конфиденциальность всей информации, которую мы получаем, когда вы просматриваете сайты Intervet. Это может быть информация, позволяющая установить личность (в частности, ваше имя и адрес электронной почты), либо техническая информация, которую ваш интернет-браузер и интернет-провайдер отправляют вместе с запросами на выдачу страницы.</p>
            <h3>Содержание этой страницы:</h3>
            <ol>
                <li>Собираемая нами информация</li>
                <li>Сохранение и регистрация вашей информации</li>
                <li>Раскрытие информации</li>
                <li>Куки</li>
                <li>Защита данных</li>
                <li>Выбор / отказ от хранения личных данных</li>
            </ol>
            <h3>1. Собираемая нами информация</h3>
            <p>Информация, которую вы указываете в форме контактных данных на нашем сайте: эта информация используется для обработки вашей онлайн-регистрации, запросов или заказов.</p>
            <p>Информация, которую вы не указываете в форме на нашем сайте: мы регистрируем информацию из заголовков запросов вашего браузера. Эта информация используется только в статистических целях.</p>
            <h3>2. Сохранение и регистрация вашей информации</h3>
            <p>Форма для связи и бланк заказа: мы НЕ раскрываем ваш адрес электронной почты или какую-либо другую информацию, позволяющую установить личность, какой-либо третьей стороне. Как организация, поддерживающая Коалицию против незапрашиваемой электронной почты (CAUCE), мы резко отрицательно относимся к спаму. Вы не будете получать какой-либо незапрашиваемой электронной почты вследствие посещения данного сайта.</p>
            <p>Файлы журнала сервера: мы регистрируем информацию из заголовков запросов вашего браузера только в статистических целях. Мы собираем эти статистические сведения, так как они содержат важную анонимную информацию, которую мы используем для улучшения качества информации, отображаемой на нашем сайте.</p>
            <h3>3. Раскрытие информации</h3>
            <p>Мы НЕ раскрываем информацию, позволяющую установить личность, каким-либо третьим сторонам иначе как в соответствии с требованиями закона.</p>
            <h3>4. Куки</h3>
            <p>Куки — это фрагмент данных, который сайт может сохранить в куки-файле вашего браузера. Тот же сайт, который сохранил куки (и никакой другой), может получить эту информацию, даже при следующем посещении, если куки сохранены в виде «постоянных куки».</p>
            <p>Куки могут использоваться сайтами магазинов для сохранения предметов в «корзине покупок». Их также часто используют для сохранения имени пользователя и пароля пользователя на сайтах с ограниченным доступом, что избавляет от необходимости вводить эту информацию каждый раз.</p>
            <p>На данном сайте куки используются только для сохранения информации о сессии и регистрационных данных. Это позволит зарегистрированным пользователям не вводить свои регистрационные данные на каждой открываемой странице. Для посещения закрытой части данного сайта необходимо включить поддержку куки в вашем браузере.</p>
            <h3>5. Защита данных</h3>
            <p>Компания Intervet приняла соответствующие физические, электронные и управленческие меры для обеспечения высокого уровня безопасности данных на своих веб-серверах и серверах баз данных. По очевидным причинам мы не будем раскрывать характер этих мер, но можете быть уверены, что мы принимаем разумные меры предосторожности для защиты всех данных от потери, злоупотребления или изменения, а также для охраны и защиты данных, предоставляемых вами через интернет. Однако несмотря на то, что мы стремимся защитить ваши данные, после того как они попадают на наши сервера, мы не можем гарантировать безопасность какой-либо информации во время передачи через Интернет.</p>
            <h3>6. Выбор / отказ от хранения личных данных</h3>
            <p>Форма контактных данных, форма регистрации, бланк заказа: мы не сможем обрабатывать ваши запросы и заказы, если вы не укажете действительный адрес электронной почты. Эти формы не поддерживают анонимные запросы. Компания Intervet не распространяет и не публикует вводимую посредством этих форм информацию, позволяющую установить личность. Если вы желаете знать, какие мы собрали и сохранили данные, относящиеся к вашим действиям в сети на этом сайте и позволяющие установить личность, пожалуйста, свяжитесь с нами. Вы можете в любое время подать запрос об удалении ваших данных персонального учета.</p>
            <p>Информация в файле журнала веб-сервера: если вы желаете предоставлять как можно меньше информации в заголовках, то вы можете воспользоваться сервисами, аналогичными Anonymizer.com, для посещения веб-ресурсов. Эти сервисы вырезают определенные сведения из ваших запросов страниц — в частности, название вашего браузера, вашу операционную систему, а также веб-адреса страницы, на которую вы заходили перед посещением нашего сайта («HTTP referer»). Мы не рекомендуем это делать. Если вы не сообщите нашей программе, каким веб-браузером вы пользуетесь, то она предположит, что запрос отправлен нестандартным веб-браузером и будет работать в очень простом режиме, в котором не реализованы современные возможности.</p>
            <hr class="diagonal">
        </div>
    </div>
</div>