@section metaSection {
    <meta name="description" content="The BRAVECTO palatable flavored chew provides easier 12-week dosing that helps solve the challenge of compliance." />
    <meta name="keywords" content="Easier dosing, oral chew, one dose, resolve compliance issues, oral dosing, 12 weeks, prolonged flea and tick protection, reduced risk of error, reduced potential exposure, safe for breeding, safe in puppies over 6 months, grooming safe, one chew for each weight class, appealing chew, ease of administration, convenient administration, reduce gaps in protection, wide margin of safety." />
}
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title compliance-icon">Compliance</h1>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="~/Images/compliance-issu1-easierCompliance-tile.jpg" alt="Beagle-type dog with red collar sitting at 3/4 view to camera next to 12 weeks clock." title="Beagle-type dog with red collar sitting at 3/4 view to camera next to 12 weeks clock." />
                        <div class="issue-contents">
                            <h3>How do you make compliance easier for pet owners?</h3>
                            <hr class="plus diagonal">
                            <p>With easier oral dosing that provides wide-ranging advantages.<sup>1</sup></p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h3>Is BRAVECTO safe and well tolerated by dogs?</h3>
                            <hr class="plus diagonal">
                            <p>BRAVECTO is safe for breeding, pregnant, and lactating dogs.<sup>1,2</sup></p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Read More</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>What makes BRAVECTO preferable for pet owners?</h4>
                            <hr class="plus diagonal">
                            <p>BRAVECTO offers easier dosing that helps solve the challenge of compliance.<sup>1,3,4</sup></p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="~/Images/compliance-issu5-wellTolerated-tile.jpg" alt="Female veterinary medical professional in bright blue smock gives a spaniel-type dog a round chew." title="Female veterinary medical professional in bright blue smock gives a spaniel-type dog a round chew." />
                        <div class="issue-contents">
                            <h4>What makes BRAVECTO preferable for dogs?</h4>
                            <hr class="plus diagonal">
                            <p>BRAVECTO is a highly palatable flavored chew<sup>1</sup></p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Back to top</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="~/Images/arrow-slider-left.png" alt="left arrow" /></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="~/Images/arrow-slider-right.png" alt="right arrow" /></a>
                    <div class="carousel-inner">
                        
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="~/Images/compliance-issu1-easierCompliance-lg.jpg" alt="Beagle-type dog with red collar sitting at 3/4 view to camera next to 12 weeks clock." title="Beagle-type dog with red collar sitting at 3/4 view to camera next to 12 weeks clock." />
                                <h2 class="hidden-xs">BRAVECTO: Easier oral dosing provides wide-ranging advantages</h2>
                            </div>
                            <h2 class="visible-xs">BRAVECTO: Easier oral dosing provides wide-ranging advantages</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-xs-12">
                                    <br />
                                    <div class="col-md-4 fixPad rightPad">
                                        <ul class="styled">
                                            <li>Prolonged systemic flea and tick protection without loss of efficacy for the 12-week dosing period<sup>1*</sup></li>
                                            <li>Reduces risk of application error and potential exposure of children and family members to topical treatments</li>
                                            <li>No signs of medication on surface hair</li>
                                            <li>Washing, swimming, and grooming will not affect efficacy</li>
                                        </ul>
                                        <p class="spacer"></p>
                                    </div>
                                    <div class="col-md-8 fixPad">
                                        <div style="text-align:center;">
                                            <img src="~/Images/chart_compliance-oneChew.png" alt="Table of One Chew Per Weight Band." title="Table of One Chew Per Weight Band." />
                                            <hr class="diagonal-lines fixChart">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 disclaimer-style fixPadDisclaimer">
                                    <hr class="diagonal-lines short">
                                    <p><strong>*Bravecto kills fleas, prevents flea infestations, and kills ticks (black-legged tick, American dog tick, and brown dog tick) for 12 weeks. Bravecto also kills lone star ticks for 8 weeks.</strong></p>
                                    <p></p>
                                    <h3>References</h3>
                                    <p><span>1.</span> Bravecto [prescribing information]. Summit, NJ: Merck Animal Health; 2014.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="~/Images/compliance-issu3-easyToManage-lg.jpg" alt="Picture of the rear view of a brown-haired woman hugging her dog, sitting on a 12 week clock, looking out over a misty field." title="Picture of the rear view of a brown-haired woman hugging her dog, sitting on a 12 week clock, looking out over a misty field." />
                                <h2 class="hidden-xs">BRAVECTO: A highly palatable flavored chew provides easier dosing</h2>
                            </div>
                            <h2 class="visible-xs">BRAVECTO: A highly palatable flavored chew provides easier dosing</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-8">
                                    <br>
                                    <ul class="styled">
                                        <li>In a US field study, 93.2% of dogs accepted the chew voluntarily<sup>1</sup></li>
                                        <li>Well tolerated<sup>1,9</sup></li>
                                        <li>Should be administered with food</li>
                                    </ul>
                                    <p class="spacer" ></p>
                                    <p class="callout-box">
                                        BRAVECTO is ideal for active dogs with a love of the water or dogs with skin conditions that require frequent bathing
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    <br />
                                    <img src="~/Images/compliance-issue2-DogLight-tile.jpg" alt="Close up picture of a black and white spaniel-type dog, with a female medical professional in the background." title="Close up picture of a black and white spaniel-type dog, with a female medical professional in the background." />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 disclaimer-style fixPadDisclaimer">
                                    <hr class="diagonal-lines short">
                                    <h3>References</h3>
                                    <p><span>1.</span> Bravecto [prescribing information]. Summit, NJ: Merck Animal Health; 2014. <span>9.</span> Walther FM, Allan MJ, Roepke Rainer KA and Nuernberger MC. Safety of oral administration of flavored chewable tablets containing fluralaner, (Bravecto™), a novel systemic antiparasitic drug, in dogs after oral administration. <i>Parasit Vectors.</i> 2014;7:87.  </p>

                                </div>
                            </div>
                        </div>
                        
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="~/Images/compliance-issu4-applicationError-lg.jpg" alt="Close-up picture of a black and white spaniel-type dog being petted by a female medical professional in a white coat." title="Close-up picture of a black and white spaniel-type dog being petted by a female medical professional in a white coat." />
                                <h2 class="hidden-xs">BRAVECTO: Easier dosing helps solve the challenge of compliance</h2>
                            </div>
                            <h2 class="visible-xs">BRAVECTO: Easier dosing helps solve the challenge of compliance</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-sm-8">
                                    <br />
                                    <ul class="styled">
                                        <li>
                                            BRAVECTO helps resolve compliance issues that may occur with once-per-month therapies<sup>3,4</sup>
                                            <ul class="styled">
                                                <li>A single oral dose delivers up to 12 weeks of efficacy, with fewer gaps in protection<sup>1*</sup></li>
                                                <li>Fewer doses mean fewer chances to miss a dose</li>
                                                <li>Administration is convenient, easier, and cleaner than spot-on applications<sup>1*</sup></li>
                                            </ul>
                                        </li>
                                        <li>Family-friendly medication in a chew; no need to isolate treated pet from other household pets</li>
                                        <li>Close to a full year of protection provided by 4 doses<sup>*</sup></li>
                                    </ul>
                                    <p class="spacer"></p>
                                    <p class="callout-box">
                                        BRAVECTO&#8212;greater convenience for pet owners and an appealing chew for dogs
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    <br />
                                    <img src="~/Images/compliance-issue3-DoggieBow-tile.jpg" alt="Close-up of a medical professional petting a Shitzu-type dog who has it's tongue out, and a purple bow making a small ponytail on the top of its head." title="Close-up of a medical professional petting a Shitzu-type dog who has it's tongue out, and a purple bow making a small ponytail on the top of its head." />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 disclaimer-style fixPadDisclaimer">
                                    <hr class="diagonal-lines short">
                                    <p><strong>*Bravecto kills fleas, prevents flea infestations, and kills ticks (black-legged tick, American dog tick, and brown dog tick) for 12 weeks. Bravecto also kills lone star ticks for 8 weeks.</strong></p>
                                    <p></p>
                                    <h3>References</h3>
                                    <p><span>1.</span> Bravecto [prescribing information]. Summit, NJ: Merck Animal Health; 2014. <span>3.</span> Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg—results of a questionnaire study. Berliner und Münchener Tieräztliche Wochenschrift 126, Heft 1/2 (2013), Seiten 69-76. <span>4.</span> Kidd L, Breitschwerdt EB. Transmission times and prevention of tick-borne diseases in dogs. <i>Compend Contin Educ Pract Vet.</i> 2003;25(10):742-751.  </p>

                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="~/Images/compliance-issu2-highlyPalatable-lg.jpg" alt="Female veterinary medical professional in bright blue smock gives a spaniel-type dog a round chew." title="Female veterinary medical professional in bright blue smock gives a spaniel-type dog a round chew." />
                                <h2 class="hidden-xs">BRAVECTO: Safe for breeding, pregnant, and lactating dogs<sup>1,2</sup></h2>
                            </div>
                            <h2 class="visible-xs">BRAVECTO: Safe for breeding, pregnant, and lactating dogs<sup>1,2</sup></h2>
                            <hr class="plus diagonal">
                            
                            <div class="row">
                                <div class="col-sm-8">
                                    <ul class="styled">
                                        <br/>
                                        <li>Labeled for use in breeding, pregnant, or lactating female dogs</li>
                                        <li>
                                            Safe to use and efficacious in adult dogs and puppies over 6 months of age and weighing more
                                            than 4.4 lb or greater
                                        </li>
                                        <li>
                                            Tested and found safe in puppies at least 8 weeks of age and weighing more than 4.4 lb or
                                            greater at 5X the clinical dose<sup>9*</sup>
                                        </li>
                                        <li>No adverse effects seen in studies in dogs with the MDR1 gene deficiency<sup>10</sup></li>
                                        <li>No problems reported in field trials in dogs that received BRAVECTO concurrently with other commonly used medications<sup>1</sup></li>
                                    </ul>
                                    <p class="spacer"></p>
                                    <p class="callout-box">
                                        In studies with >1000 dogs, no dogs experienced serious adverse events<sup>1,2*</sup>
                                    </p>
                                    <p class="spacer"></p>
                                    <p><strong>Adverse events</strong></p>
                                    <p>In the US field trial the primary adverse event in the BRAVECTO group was vomiting, seen in a small number of dogs (7.1%), compared with 14.3% in the oral spinosad/amitraz collar-treated control group.<sup>1</sup></p>

                                </div>
                                <div class="col-sm-4">
                                    <br/>
                                    <img src="~/Images/compliance-issue4-tanDoggie-tile.jpg" alt="Close-up of a light brown, fluffy toy-dog and a brown-haired girl behind it, smiling." title="Close-up of a light brown, fluffy toy-dog and a brown-haired girl behind it, smiling." />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 disclaimer-style fixPadDisclaimer">
                                    <hr class="diagonal-lines short">
                                    <p><strong>*In safety studies, dogs were dosed every 8 weeks.</strong></p>
                                    <p></p>
                                    <h3>References</h3>
                                    <p><span>1.</span> Bravecto [prescribing information] Summit, NJ: Merck Animal Health; 2014. <span>2.</span> Freedom of Information Summary, NADA 141-426. Approved May 15, 2014. <span>9.</span> Walther FM, Allan MJ, Roepke Rainer KA and Nuernberger MC. Safety of oral administration of flavored chewable tablets containing fluralaner, (Bravecto™), a novel systemic antiparasitic drug, in dogs after oral administration. <i>Parasit Vectors.</i> 2014;7:87. <span>10.</span> Walther FM, Paul AJ, Allan MJ, Roepke Rainer KA and Nuernberger MC. Safety of fluralaner, a novel systemic antiparasitic drug, in MDR1(-/-) collies after oral administration. <i>Parasit Vectors.</i> 2014;7:86.</p>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

        });

    </script>
}