
@section metaSection {
    <meta name="description" content="BRAVECTO—Introducing the first oral chew to deliver up to 12 full weeks of flea and tick protection in a single dose for dogs." />
    <meta name="keywords" content="Flea and tick treatment, consistent flea and tick protection in dogs, broad-spectrum efficacy against fleas and ticks, long-lasting flea and tick protection, rapid onset of action, maximize pet owner compliance, reduce gaps in flea and tick protection, safe flea and tick protection for breeding, pregnant, and lactating dogs. 12-week flea and tick protection" />
}


<div class="container">
    <div class="hero-banner-image"></div>
    <div id="hero-wrapper" class="row">
        <div class="col-sm-5 col-md-4 hero-banner-copy">
            <h1 class="terms-and-conditions">Welcome to Bravecto!</h1>
            <hr class="plus diagonal">
            <p>The FIRST oral chew to deliver up to 12 full weeks of flea and tick protection in a single dose<sup>1*</sup></p>
            <p class="alt">There's never been a flea and tick treatment that could do all this with one tasty chew:</p>
            <ul class="styled">
                <li>Consistent broad-spectrum and long-lasting efficacy against both fleas and ticks<sup>1</sup></li>
                <li>Rapid onset of action and speed of kill<sup>1,2</sup></li>
                <li>Maximizes pet owner compliance while reducing protection gaps that can occur with monthly remedies<sup>3,4</sup></li>
                <li>Safe in breeding, pregnant, and lactating dogs<sup>1,2</sup></li>
                <li>Available by veterinary prescription only<sup>1</sup></li>
            </ul>
        </div>
        <div class="col-sm-7 col-md-8 hero-image-container">
            <img src="~/Images/SuperDog_web.png" alt="Brown, fluffy dog leaping in mid-air across page over a 12 week clock." title="Brown, fluffy dog leaping in mid-air across page over a 12 week clock." />
        </div>
        <div class="col-sm-7 col-md-8 hero-disclaimer-container">
            <p><strong>*Bravecto kills fleas, prevents flea infestations, and kills ticks (black-legged tick, American dog tick, and brown dog tick) for 12 weeks. Bravecto also kills lone star ticks for 8 weeks.</strong></p>
        </div>
    </div>
    <div id="hero-bottom"></div>
    <div class="row visible-xs">
        <div class="col-xs-12">
            <hr class="plus diagonal">
        </div>
    </div>
    <div class="row hidden-xs row-ornament">
        <div class="col-sm-4"><hr class="diagonal shift-right"></div>
        <div class="col-sm-4"><hr class="plus diagonal shift-left shift-right"></div>
        <div class="col-sm-4"><hr class="plus diagonal shift-left"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="~/Images/homepage-innovation-header-lg.jpg" alt="Brown, short-haired dog jumping over 12 week clock." title="Brown, short-haired dog jumping over 12 week clock." />
                    <h2>Innovation</h2>
                </div>
                <div class="inset">
                    <h3>What makes BRAVECTO revolutionary in flea and tick protection?</h3>
                    <p>BRAVECTO is the FIRST oral chew to deliver flea and tick protection for up to 12 full weeks.<sup>1*</sup></p>
                    <a href="/innovation?solutionID=0">Read More</a>
                </div>
                <div class="inset">
                    <h3>What flea and tick protection offers the peace of mind of consistent, lasting efficacy?</h3>
                    <p>Only BRAVECTO:</p>
                    <ul class="styled">
                        <li>100% efficacy against fleas within 24 hours for 12 weeks<sup>1,5</sup></li>
                        <li>Kills 3 tick species for 12 weeks<sup>*</sup></li>
                    </ul>
                    <a href="/innovation?solutionID=1">Read More</a>
                </div>
                <div class="inset">
                    <h3>What is the best way to reduce exposure to tick-borne disease?</h3>
                    <p>BRAVECTO kills ticks for 12 weeks, reducing gaps in protection and reducing exposure to tick-borne diseases.<sup>1,3-5*</sup></p>
                    <a href="/innovation?solutionID=2">Read More</a>
                </div>
                <div class="inset">
                    <h3>What exciting new innovative alternative makes pet owners ignore over-the-counter options?</h3>
                    <p>Discover a new class of protection&#8212;BRAVECTO.</p>
                    <ul class="styled">
                        <li>The science of Merck Animal Health gives you a solution that stands out<sup>6-8</sup></li>
                        <li>BRAVECTO represents an innovative product with distinct benefits for flea and tick protection<sup>1</sup></li>
                    </ul>
                    <a href="/innovation?solutionID=3">Read More</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/innovation">See All</a></h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="~/Images/homepage-compliance-header-lg.jpg" alt="Beagle-type dog with red collar sitting at 3/4 view to camera, next to a 12 week clock." title="Beagle-type dog with red collar sitting at 3/4 view to camera, next to a 12 week clock." />
                    <h2>Compliance</h2>
                </div>
                <div class="inset">
                    <h3>How do you make compliance easier for pet owners?</h3>
                    <p>With oral dosing that provides wide-ranging advantages.<sup>1</sup></p>
                    <a href="/compliance?solutionID=0">Read More</a>
                </div>
                <div class="inset">
                    <h3>What makes BRAVECTO preferable for dogs?</h3>
                    <p>BRAVECTO is a highly palatable flavored chew.<sup>1</sup></p>
                    <a href="/compliance?solutionID=1">Read More</a>
                </div>
                <div class="inset">
                    <h3>What makes BRAVECTO preferable for pet owners?</h3>
                    <p>BRAVECTO offers easier dosing that helps solve the challenge of compliance.<sup>1,3,4</sup></p>
                    <a href="/compliance?solutionID=2">Read More</a>
                </div>
                <div class="inset">
                    <h3>Is BRAVECTO safe and well tolerated by dogs?</h3>
                    <p>BRAVECTO is safe for breeding, pregnant, and lactating dogs.<sup>1,2</sup></p>
                    <a href="/compliance?solutionID=3">Read More</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/compliance">See All</a></h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="white-trans-bg diagonal-bottom">
                <div class="section-head">
                    <img src="~/Images/homepage-newBus-header-lg.jpg" alt="The word hello as it would be typed on a monitor." title="The word hello as it would be typed on a monitor." />
                    <h2>Social Tips</h2>
                </div>
                <div class="inset">
                    <h3>How can social media grow your business?</h3>
                    <p>Use social media to build your customer base, strengthen relationships, and manage your business.</p>
                    <ul class="styled">
                        <li>Social media for small businesses</li>
                        <li>What platforms are right for you?</li>
                        <li>Handling admin privileges/staffing</li>
                    </ul>
                    <a href="/socialtips?solutionID=0">Read More</a>
                </div>
                <div class="inset">
                    <h3>Is Facebook the right choice for your business?</h3>
                    <p>Reach, connect, and create deeper relationships with your customers.</p>
                    <ul class="styled">
                        <li>Facebook for small businesses</li>
                        <li>What you need to know before starting</li>
                        <li>How Facebook works</li>
                    </ul>
                    <a href="/socialtips?solutionID=1">Read More</a>
                </div>
                <div class="inset">
                    <h3>How can Twitter help you reach your customers?</h3>
                    <p>Build and reach an audience of customers with the real-time, right-now social tool.</p>
                    <a href="/socialtips?solutionID=2">Read More</a>
                </div>
                <hr class="plus diagonal">
                <h4><a href="/socialtips">See All</a></h4>
            </div>
        </div>
    </div>
    <div class="row hidden-xs row-ornament">
        <div class="col-sm-12"><p></p></div>
    </div>
    <div class="row disclaimer-style">
        <p><strong>*Bravecto kills fleas, prevents flea infestations, and kills ticks (black-legged tick, American dog tick, and brown dog tick) for 12 weeks. Bravecto also kills lone star ticks for 8 weeks.</strong></p>
        <h3>Reference</h3>
        <p><span>1.</span> Bravecto [prescribing information]. Summit, NJ: Merck Animal Health; 2014. <span>2.</span> Freedom of Information Summary, NADA 141-426. Approved May 15, 2014. <span>3.</span> Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg—results of a questionnaire study. Berliner und Münchener Tieräztliche Wochenschrift 126, Heft 1/2 (2013), Seiten 69-76. <span>4.</span> Kidd L, Breitschwerdt EB. Transmission times and prevention of tick-borne diseases in dogs. <i>Compend Contin Educ Pract Vet.</i> 2003;25(10):742-751. <span>5.</span> Data on file. Merck Animal Health, Summit, NJ. 2013. <span>6.</span> Ozoe Y. ƴ-Aminobutyrate- and Glutamate-Gated Chloride Channels as Targets of Insecticides. In: Cohen E, ed. <i>Advances in Insect Physiology.</i> Oxford, UK: Elsevier, Ltd. 2013. <span>7.</span> Ozoe Y, Asahi M, Ozoe F, Nakahira K, Mita T. The antiparasitic isoxazoline A1443 is a potent blocker of insect ligand-gated chloride channels. <i>Biochem Biophys Res Commun.</i> 2010;391(1):744-749. <span>8.</span> Gassel M, Wolf C, Noack S, Williams H, Ilg T. The novel isoxazoline ectoparasiticide fluralaner: Selective inhibition of arthropod Y-aminobutyric acid- and L-glutamate-gated chloride channels and insecticidal/acaricidal activity. <i>Insect Biochem Molec Biol.</i> 2014;45:111-124.</p>
    </div>
</div>



