
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="alternate">SiteMap</h1>
            <hr class="plus diagonal">
            <br/>
            <ul class="sitemap">
                <li class="has-children">
                    <a href="/">BravectoHome</a>
                    <ul class="sitemap">
                        <li><a href="/innovation">Innovation</a></li>
                        <li><a href="/compliance">Compliance</a></li>
                        <li><a href="/socialtips">Social Tips</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
