@section metaSection {
    <meta name="description" content="Use social media such as Twitter and Facebook to build your customer base, strengthen relationships, and manage your business." />
    <meta name="keywords" content="Social media, build customer base, social media for small business, grow your business, current and potential customers, interact, right platform, Facebook, Twitter, staffing" />
}
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask">Social Tips</h1>
                </div>
                <hr class="plus diagonal">
            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="~/Images/socialTips-002-tile.jpg" alt="Close-up view of small, fluffy white dog walking up stairs next to a man in a dark long-sleeved shirt." title="Close-up view of small, fluffy white dog walking up stairs next to a man in a dark long-sleeved shirt." />
                        <div class="issue-contents">
                            <h3>How can social media grow your business?</h3>
                            <hr class="plus diagonal">
                            <p>Use social media to build your customer base, strengthen relationships, and manage your business</p>
                            <ul class="styled">
                                <li>Social media for small businesses</li>
                                <li>What platforms are right for you?</li>
                                <li>Handling admin privileges/staffing</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="purple-bg diagonal-bottom no-padding">
                        <img src="~/Images/socialTips-facebook-001-tile.jpg" alt="Facebook logo over a filtered image of a Facebook page." title="Facebook logo over a filtered image of a Facebook page." />
                        <div class="issue-contents">
                            <h4>Is Facebook the right choice for your business?</h4>
                            <hr class="plus diagonal">
                            <p>Reach, connect, and create deeper relationships with your customers</p>
                            <ul class="styled">
                                <li>Facebook for small businesses</li>
                                <li>What you need to know before starting</li>
                                <li>How Facebook works</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="~/Images/socialTips-twitter-001-tile.jpg" alt="Twitter logo over a blue-toned filtered image." title="Twitter logo over a blue-toned filtered image." />
                        <div class="issue-contents">
                            <h4>How can Twitter help you reach your customers?</h4>
                            <hr class="plus diagonal">
                            <p>Build and reach an audience of customers with the real-time, right-now social tool</p>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Back to top</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="~/Images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="~/Images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="~/Images/socialTips-002-lg.jpg" alt="Close-up view of small, fluffy white dog walking up stairs next to a man in a dark long-sleeved shirt." title="Close-up view of small, fluffy white dog walking up stairs next to a man in a dark long-sleeved shirt." />
                                <h2 class="hidden-xs">Use social media to build your customer base, strengthen relationships, and manage your business</h2>
                            </div>
                            <h2 class="visible-xs">Use social media to build your customer base, strengthen relationships, and manage your business</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-sm-8 fixPad rightPad">
                                        <h3>Social media for small businesses</h3>

                                        <p>For veterinary clinic owners, the thought of starting up and managing a social media presence can feel overwhelming. But make no mistake, the benefits far outweigh the effort. With little financial investment required, social media can help you interact with current and potential customers, gain real insight into your audience, and understand their needs—all while helping you build your image and professional brand. Social media gives you an opportunity to connect with pet owners, create a deeper relationship with them, and ensure you are top of mind when they’re in the market.</p>
                                        
                                        <h3>What platforms are right for you?</h3>
                                        <p>Unsure if you should do Facebook or Twitter or both? If you’re new to social media, your best bet is to start small and grow from there. To choose your first platform, you can look at both and see what other veterinarians are doing and even informally poll your staff (for expertise) and some customers (to see what they use) before committing. Then, when one platform is rolling along and you’re confident you can handle the commitment, it might be time to explore expansion.</p>

                                        <h3>Handling admin privileges/staffing</h3>
                                        <p>Whether it’s you or a staff member who handles the day-to-day social media management for your clinic, that person should:</p>
                                        <ul class="styled">
                                            <li>Have a solid understanding of your business and frequently asked questions</li>
                                            <li>Make time daily to check on the community and handle questions and comments as necessary</li>
                                            <li>Have the written skills to represent your business in a professional, but open and friendly manner</li>
                                        </ul>
                                        <p>Naturally, a good working knowledge of the tool helps too.</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <br />
                                        <img src="~/Images/social-issue1-tablet-tile.jpg" alt="A persons finger on a tablet." title="A persons finger on a tablet." />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="~/Images/socialTips-facebook-lg.jpg" alt="Facebook logo over a filtered image of a Facebook page." title="Facebook logo over a filtered image of a Facebook page." />
                                <h2 class="hidden-xs">Facebook allows you to reach, connect, and create deeper relationships with your customers</h2>
                            </div>
                            <h2 class="visible-xs">Facebook allows you to reach, connect, and create deeper relationships with your customers</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-sm-8 fixPad rightPad">
                                        <h3>Facebook for small businesses</h3>

                                        <p>Yes, it’s big&#8212;over 1.25 billion members and growing. But it’s not the sheer size of Facebook that makes it interesting for small business owners; it’s the probability that your audience, pet owners in your community, are participating on this busiest of all social networks. Facebook allows you to reach, connect, and create deeper relationships with your customers by communicating the sort of information that demonstrates your clinic’s expertise, knowledge, and caring on a personal, one-to-one level&#8212;something no other marketing media tool can do.</p>
                                        

                                        <h3>What you need to know before starting</h3>
                                        <p>Facebook is free to start, but it will take effort, requiring time and attention to do it right. And while this guide is intended to make it as easy as possible, it’s crucial that you (or your designated staff member) are ready to commit to this effort before you get started. Here are a few things to keep in mind:</p>
                                        <ul class="styled">
                                            <li>It will take time &#8212; Even if there are only 4 people who Like your page in the first few weeks, you still need to show them you care. If you put in the effort to answer questions, put up content, and more, they’ll reward your devotion by telling others, which is how you’ll build your audience</li>
                                            <li>A little love goes a long way &#8212; Stopping in periodically to Like a fan’s post, comment on a recently posted photo of their puppy, or thank them for stopping by the page will go a long way toward building a social relationship</li>
                                            <li>You need to keep going &#8212; Just as you wouldn’t think much of someone who walks away from you in mid-conversation, your fans would be unhappy if you dropped out of sight in the middle of their conversation with you. Keeping your page updated with fresh content will show that you are keeping the conversation going</li>
                                        </ul>

                                        <h3>How Facebook works</h3>
                                        <p>Facebook is a series of interconnected people (“profiles”) and brands (“pages”). If you’re already active on Facebook personally, then you know what a profile is all about&#8212;it’s the individual account a person uses to connect on Facebook. When a brand joins Facebook, it does so as a page. By brand, we mean businesses, name brand products and services, or even public personalities (to her fans, Lady Gaga is a brand and would use a page, not a profile, in Facebook terms). Once you’ve created your clinic’s page, individual users can then “Like” you and are now “fans” of the page. They have established a connection to you and are interested in hearing from you. When you post on your page, your content will be seen in their newsfeed, ready for them to Like, comment on, or share with their friends.</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <br />
                                        <img src="~/Images/social-issue2-dogAndVet-tile.jpg" alt="Close-up view of a veterinary professional with a stethoscope examining a Jack-Russell type dog." title="Close-up view of a veterinary professional with a stethoscope examining a Jack-Russell type dog." />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="~/Images/socialTips-twitter-lg.jpg" alt="Twitter logo over a blue-toned filtered image." title="Twitter logo over a blue-toned filtered image.">
                                <h2 class="hidden-xs">Build and reach an audience of customers with the real-time, right-now social tool</h2>
                            </div>
                            <h2 class="visible-xs">Build and reach an audience of customers with the real-time, right-now social tool</h2>
                            <hr class="plus diagonal">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-sm-8 fixPad rightPad">
                                        <h3>Twitter for small businesses</h3>

                                        <p>Twitter happens quickly and trends fly up and down in a matter of minutes. It's also become an outlet of choice for consumers to talk to, or about, the brands they love (or hate). While major airlines and cable TV providers need to be ready 24/7 to address issues, the role of Twitter for small businesses is a little different. For your clinic, Twitter can help you:</p>
                                        <ul class="styled">
                                            <li>Build and reach an audience of fans—both your customers and others around the world</li>
                                            <li>Establish yourself and your brand as an authority. When you tweet, others listen, and spread your words far and wide</li>
                                            <li>Stay up on the latest news and trends in your field by following the experts and news sources in animal health</li>
                                        </ul>

                                        <h3>All about Twitter</h3>
                                        <p>Twitter is a newsfeed on steroids. The world's major news sources, experts in every field and everyday people all use this tool to understand what's happening in their worlds, from news to observations, and more. Want to see what's happening? Stop by twitter.com and type a keyword or two into the search bar.  From "football scores" to "parvovirus," you'll see the very latest content Twitter users from all over the world have posted on that topic. And if you're one of the posters, then users worldwide will see your tweet.</p>

                                        <h3>How Twitter works</h3>
                                        <p>Twitter is a mass network of individuals creating and responding to news and the happenings in their world, no matter how big or small. This "microblogging" network of individuals, publications, brands and other entities join Twitter by creating an account and "handle," the name they'll be known as on Twitter. They can then send out "tweets," which is essentially a post in 140 characters or less. This can include images and/or links to articles, videos, etc.  When someone is interested in what the Twitter account has been tweeting, they will "follow" them and will then see all of their subsequent tweets.  As a user of Twitter, you can tweet on any topic that interests you, read tweets by others, respond or even retweet (share someone’s tweet with your own followers). You can address anyone else on Twitter by simply including &#64; and their handle and they'll see your message, just as you'll see any messages sent to you. </p>
                                    </div>
                                    <div class="col-sm-4">
                                        <br />
                                        <img src="~/Images/social-issue3-bikeRider-tile.jpg" alt="A 20-something guy wearing a cycle helmet looking at a cell phone in his hand." title="A 20-something guy wearing a cycle helmet looking at a cell phone in his hand." />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

        });

    </script>
}