@{ Layout = "~/Views/Shared/_Layout_Bravecto.cshtml"; }
<div class="container">
    <div id="issues-wrapper">
        <div class="row issues">
            <div class="col-sm-12">
                <div class="page-title-wrapper">
                    <h1 class="page-title green-flask" style="">
                        Novo Neg&oacute;cio
                    </h1>
                    <div class="page-subhead">Descubra uma nova classe de prote&ccedil;&atilde;o</div>
                </div>
                <hr class="plus diagonal">

            </div>
        </div>
        <div class="row">
            <div id="issues-list">
                <div class="col-sm-6 col-xs-12">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/newBus-issu1-socialMediaPower-tile.jpg" alt="New Business Issue 1">
                        <div class="issue-contents">
                            <h3>Em que medida podem os meios de comunica&ccedil;&atilde;o expandir o seu neg&oacute;cio?</h3>
                            <hr class="plus diagonal">
                            <p>Atrav&eacute;s da apresenta&ccedil;&atilde;o de <a href="/dashboard">BravoVets</a>, a ferramenta profissional que estabelece, refor&ccedil;a e gere a sua presen&ccedil;a social. </p>
                            <ul class="styled">
                                <li>Descubra novas perspetivas e mantenha-se atualizado</li>
                                <li>Estabele&ccedil;a novas liga&ccedil;&otilde;es com p&uacute;blicos existentes </li>
                                <li>Afirme-se perante os seus clientes como o especialista em sa&uacute;de e bem-estar dos animais de estima&ccedil;&atilde;o</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="0">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h4>Como poder&aacute; obter uma maior quota de mercado na &aacute;rea da preven&ccedil;&atilde;o contra pulgas e carra&ccedil;as?</h4>
                            <hr class="plus diagonal">
                            <p>
                                Bravecto &eacute; a &uacute;nica terap&ecirc;utica oral de 12 semanas dispon&iacute;vel. Apenas dispon&iacute;vel mediante receita m&eacute;dico-veterin&aacute;ria.
                                <a class="issue-link" data-target="#carousel-solutions" data-slide-to="2">Saiba mais</a>
                        </div>
                    </div>
                    <div class="purple-bg diagonal-bottom no-padding">
                        <div class="issue-contents">
                            <h3>Supere a sua concorr&ecirc;ncia de medicamentos n&atilde;o sujeitos a receita m&eacute;dica.</h3>
                            <hr class="plus diagonal">
                            <p>Recupere clientes perdidos e construa novas rela&ccedil;&otilde;es.</p>
                            <ul class="styled">
                                <li>Servi&ccedil;os exclusivos ligados a produtos inovadores como Bravecto.</li>
                                <li>Mostre aos seus clientes que o &ldquo;valor&rdquo; come&ccedil;a com a sua experi&ecirc;ncia.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="1">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12 issue-wrapper">
                    <div class="white-trans-bg diagonal-bottom no-padding">
                        <img src="/images/newBus-issu4-strongRelationship-tile.jpg" alt="Innvation Issue 4">
                        <div class="issue-contents">
                            <h3>Como se constr&oacute;i um neg&oacute;cio mais s&oacute;lido e uma rela&ccedil;&atilde;o mais s&oacute;lida com os clientes?</h3>
                            <hr class="plus diagonal">
                            <p>V&aacute;rios m&eacute;todos inovadores encaminham os clientes at&eacute; &agrave; sua cl&iacute;nica e mant&eacute;m-nos na cl&iacute;nica. </p>
                            <ul class="styled">
                                <li>Esfor&ccedil;os exaustivos de marketing direcionados para o consumidor.</li>
                                <li>Exposi&ccedil;&otilde;es na cl&iacute;nica e materiais educacionais.</li>
                                <li><a href="/dashboard">BravoVets</a> &ndash; o novo recurso da Internet para expandir a sua presen&ccedil;a nas redes sociais.</li>
                            </ul>
                            <a class="issue-link" data-target="#carousel-solutions" data-slide-to="3">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="solutions-wrapper">
    <div class="container">
        <div class="row solutions">
            <div class="col-sm-12">
                <hr class="diagonal-lines">
                <div id="carousel-solutions" class="carousel slide solutions-carousel" data-ride="" data-interval="false" data-wrap="true">
                    <a class="back-to-top">Voltar ao topo</a>
                    <a class="left carousel-control" href="#carousel-solutions" data-slide="prev"><img src="/images/arrow-slider-left.png" alt="left arrow"></a>
                    <a class="right carousel-control" href="#carousel-solutions" data-slide="next"><img src="/images/arrow-slider-right.png" alt="right arrow"></a>
                    <div class="carousel-inner">
                        <!-- Solution #1 -->
                        <div class="item active">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu1-socialMediaPower-lg.jpg" alt="Innovation Issue 1">
                                <h2 class="hidden-xs">Descubra o poder dos meios de comunica&ccedil;&atilde;o na sua cl&iacute;nica.</h2>
                            </div>
                            <h2 class="visible-xs">Descubra o poder dos meios de comunica&ccedil;&atilde;o na sua cl&iacute;nica.</h2>
                            <hr class="plus diagonal">
                            <h3>BravoVets&mdash;uma ferramenta para que os veterin&aacute;rios estabele&ccedil;am, reforcem e giram a sua presen&ccedil;a social. A sua presen&ccedil;a online &eacute; a &uacute;nica ferramenta mais potente ao seu dispor para construir compromisso e envolvimento com os clientes.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="/dashboard"><img src="/images/newBus-issu1-socialMediaPower-text-lg.jpg" alt="Bravovets Screenshot"></a>
                                    <p><a href="/dashboard">BravoVets</a> ajuda-o a educar os donos dos animais de estima&ccedil;&atilde;o acerca da prote&ccedil;&atilde;o prolongada de Bravecto. Oferece tamb&eacute;m ferramentas pr&aacute;ticas que pode usar para construir o seu neg&oacute;cio e acompanhar a sua &ldquo;posi&ccedil;&atilde;o social&rdquo; na Internet.</p>
                                    <ul class="styled">
                                        <li>Novidades e atualiza&ccedil;&otilde;es de Bravecto </li>
                                        <li>Centro de notifica&ccedil;&otilde;es de gera&ccedil;&atilde;o de oportunidades </li>
                                        <li>Publica&ccedil;&otilde;es recentes de clientes no seu mural do Facebook </li>
                                        <li>Publica&ccedil;&otilde;es recentes no Twitter usando o seu nome de usu&aacute;rio ou hashtag</li>
                                        <li>Resumo dos t&oacute;picos mais abordados</li>
                                        <li>Conselhos para as redes sociais para o ajudar a otimizar a sua visibilidade na Internet</li>
                                    </ul>
                                    <h3>Uma presen&ccedil;a mais forte da sua cl&iacute;nica come&ccedil;a com um clique.</h3>
                                    <p>Os donos dos animais de estima&ccedil;&atilde;o est&atilde;o sempre &agrave; procura de novas formas de comunicar com outros donos que sejam amantes de animais e de encontrar informa&ccedil;&otilde;es &uacute;teis acerca da sa&uacute;de e bem-estar dos animais de estima&ccedil;&atilde;o. As redes sociais s&atilde;o uma forma essencial de comunica&ccedil;&atilde;o e relacionamento entre donos de animais de estima&ccedil;&atilde;o.</p>
                                    <ul class="styled">
                                        <li>70% dos donos de animais de estima&ccedil;&atilde;o passam at&eacute; 30 minutos por semana a analisar assuntos relacionados com animais de estima&ccedil;&atilde;o na Internet<sup>20</sup></li>
                                        <li>Muitas pessoas consultam o &ldquo;Dr. Google&rdquo; e p&aacute;ginas da Internet n&atilde;o profissionais com o objetivo de procurar conselhos acerca de cuidados a prestar aos animais de estima&ccedil;&atilde;o, em vez de telefonarem ao seu veterin&aacute;rio </li>
                                        <li>Mais de 50% dos adultos online utilizam algum tipo de rede social <sup>21</sup></li>
                                        <li>As redes sociais s&atilde;o utilizadas por at&eacute; 80% dos utilizadores da internet em alguns pa&iacute;ses&mdash;com dezenas de p&aacute;ginas dedicadas a temas relacionados com c&atilde;es<sup>22</sup> </li>
                                        <li>
                                            As p&aacute;ginas da internet dedicadas aos donos de animais de estima&ccedil;&atilde;o t&ecirc;m credibilidade&mdash;e utilizam tamb&eacute;m o Facebook e o Twitter, bem como uma variedade de outras p&aacute;ginas da Internet, incluindo:
                                            <ul class="styled">
                                                <li>PetMD.com</li>
                                                <li>BlogPaws.com</li>
                                                <li>Dogasaur.com</li>
                                                <li>As escolhas de Harry (harryspicks.com)</li>
                                                <li>Doggyloot.com</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <div bravo-chart chart-id="petOwnership"></div>
                                    <h3>As redes sociais s&atilde;o a forma de interagir com e informar os clientes </h3>
                                    <!--<p>14% of Facebook users have an account in their dog&rsquo;s name.<sup>23</sup></p>-->
                                    <p>Bravecto oferece-lhe uma oportunidade ideal de interagir com os seus clientes e prestar-lhes novidades importantes acerca de um avan&ccedil;o importante na prote&ccedil;&atilde;o contra pulgas.</p>
                                    <h3>Um pequeno investimento de tempo&mdash;uma grande recompensa em termos de fidelidade</h3>
                                    <p><strong><a href="/dashboard">BravoVets</a></strong> pode ajud&aacute;-lo a encontrar novas perspetivas de neg&oacute;cio e a estar atualizado, com</p>
                                    <ul class="styled">
                                        <li>Estrat&eacute;gias de gera&ccedil;&atilde;o de oportunidades eficientes para adquirir novos clientes</li>
                                        <li>Atualiza&ccedil;&otilde;es e alertas relevantes para a sua cl&iacute;nica </li>
                                        <li>Dados cl&iacute;nicos atuais, semin&aacute;rios via web, v&iacute;deos e estudos de caso </li>
                                    </ul>
                                    <p><strong>Entre em contacto</strong> com p&uacute;blicos novos e j&aacute; existentes atrav&eacute;s de</p>
                                    <ul class="styled">
                                        <li>Informa&ccedil;&atilde;o ao consumidor e materiais educacionais sobre Bravecto</li>
                                        <li>Boletins informativos, blogues e publica&ccedil;&otilde;es em redes sociais com conte&uacute;do facilmente compreens&iacute;vel para os consumidores</li>
                                    </ul>
                                    <p><strong>Mantenha</strong> uma boa rela&ccedil;&atilde;o com </p>
                                    <ul class="styled">
                                        <li>Conselhos e orienta&ccedil;&otilde;es para refor&ccedil;ar a sua presen&ccedil;a nas redes sociais </li>
                                        <li>Ferramentas para reten&ccedil;&atilde;o de clientes, ideias promocionais e materiais de apoio</li>
                                    </ul>
                                    <p>Mais do que nunca tem a oportunidade de entrar em contacto e comunicar de forma positiva e proativa. Consulte o seu representante da MSD AH e visite Bravecto.com para mais informa&ccedil;&otilde;es.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="diagonal-lines">
                                    <h4>Refer&ecirc;ncias</h4>
                                    <div class="references">
                                        <p class="ref-number">20</p>
                                        <p>Orsini P, Drolet D, Liu C. Pet projects: digital connects pet owners to brands. eMarketer. Julho 2013.</p>
                                        <p class="ref-number">21</p>
                                        <p>Rainie L, Smith A, Duggan M. Coming and going on Facebook. Pew Internet &amp; American Life Project. 2013. A project of the PewResearchCenter, Washington, DC.</p>
                                        <p class="ref-number">22</p>
                                        <p>eMarketer, UK Remains Top Facebook Market in Western Europe, maio, 2013.</p>
                                        <p class="ref-number">23</p>
                                        <p>Adweek. Social networking and man&rsquo;s best friend. Infographic. Dispon&iacute;vel em: http://www.adweek.com/adfreak/infographics-reveal-scope-pet-owners-weirdness-and-depravity-132283. Descarregado a 12 de dezembro, 2013.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #2 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu2-overTheCounter-lg.jpg" alt="Innovation Solution 2">
                                <h2 class="hidden-xs">D&ecirc; aos donos dos animais de estima&ccedil;&atilde;o o servi&ccedil;o personalizado, a experi&ecirc;ncia e os medicamentos inovadores que n&atilde;o existem em locais de venda livre. </h2>
                            </div>
                            <h2 class="visible-xs">D&ecirc; aos donos dos animais de estima&ccedil;&atilde;o o servi&ccedil;o personalizado, a experi&ecirc;ncia e os medicamentos inovadores que n&atilde;o existem em locais de venda livre. </h2>
                            <hr class="plus diagonal">
                            <h3>Apenas um veterin&aacute;rio pode dispensar aos donos dos animais de estima&ccedil;&atilde;o medicamentos inovadores, orienta&ccedil;&atilde;o e cuidados de sa&uacute;de de um especialista.</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>Os clientes procuram em si a orienta&ccedil;&atilde;o e os cuidados de sa&uacute;de que apenas um m&eacute;dico veterin&aacute;rio pode prestar. Acrescente valor &agrave; sua cl&iacute;nica oferecendo servi&ccedil;os exclusivos que lhe permita obter fideliza&ccedil;&atilde;o e mostre aos seus clientes que disp&otilde;e de muito mais para lhes oferecer do que os servi&ccedil;os habitualmente oferecidos pelas lojas dos animais.</p>
                                    <p>At&eacute; agora, os consumidores consideravam os produtos contra as pulgas e carra&ccedil;as muito semelhantes&mdash;por isso s&atilde;o capazes de comprar com base na conveni&ecirc;ncia e no pre&ccedil;o. </p>
                                    <p>Recupere estes clientes com o valor acrescentado que apenas a sua cl&iacute;nica pode oferecer, em termos de servi&ccedil;o personalizado, cuidados continuados, e acesso a medicamentos verdadeiramente inovadores como Bravecto.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #3 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu3-goToResource-lg.jpg" alt="Innovation Solution 3">
                                <h2 class="hidden-xs">Torne-se no recurso do seu cliente para quando este necessite de preven&ccedil;&atilde;o contra pulgas e carra&ccedil;as.</h2>
                            </div>
                            <h2 class="visible-xs">Torne-se no recurso do seu cliente para quando este necessite de preven&ccedil;&atilde;o contra pulgas e carra&ccedil;as.</h2>
                            <hr class="plus diagonal">
                            <h3>Como veterin&aacute;rio, pode oferecer aos seus clientes um produto que n&atilde;o consegue obter em nenhum outro lugar. Os comprimidos mastig&aacute;veis de BRAVECTO&reg; (fluralaner) para c&atilde;es s&atilde;o a &uacute;nica terap&ecirc;utica oral de 12 semanas dispon&iacute;vel apenas com receita m&eacute;dica prescrita por si.</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Bravecto &eacute; a &uacute;nica terap&ecirc;utica oral antiparasit&aacute;ria de 12 semanas para c&atilde;es. A sua cl&iacute;nica pode fornecer o &uacute;nico tratamento revolucion&aacute;rio atualmente existente no mercado. </p>
                                    <ul class="styled">
                                        <li>Recupere a fideliza&ccedil;&atilde;o dos seus clientes que o reconhecer&atilde;o como uma fonte de confian&ccedil;a </li>
                                        <li>Redefina a conveni&ecirc;ncia oferecendo uma administra&ccedil;&atilde;o mais f&aacute;cil, mais limpa e com menor frequ&ecirc;ncia para a prote&ccedil;&atilde;o altamente eficaz contra pulgas e carra&ccedil;as </li>
                                        <li>Estabele&ccedil;a a sua cl&iacute;nica como a fonte para tratamentos inovadores</li>
                                        <li>Ofere&ccedil;a produtos inovadores que n&atilde;o est&atilde;o dispon&iacute;veis em locais de venda livre</li>
                                        <li>Construa rela&ccedil;&otilde;es mais s&oacute;lidas com apoio e informa&ccedil;&atilde;o por parte da MSD Animal Health</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <img src="/images/chart-marketmatrix.png" alt="Market Matrix">
                                    </p>
                                    <p>As coleiras e tratamentos para un&ccedil;&atilde;o punctiforme &ldquo;spot-on&rdquo; preenchem a categoria, no entanto poucas caracter&iacute;sticas diferenciam estes produtos concorrentes.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Solution #4 -->
                        <div class="item">
                            <div class="img-wrapper">
                                <img class="solution-image" src="/images/newBus-issu4-strongRelationship-lg.jpg" alt="Innovation Solution 4">
                                <h2 class="hidden-xs">Use os nossos recursos para a constru&ccedil;&atilde;o de um neg&oacute;cio mais s&oacute;lido e rela&ccedil;&otilde;es mais s&oacute;lidas com os clientes.</h2>
                            </div>
                            <h2 class="visible-xs">Use os nossos recursos para a constru&ccedil;&atilde;o de um neg&oacute;cio mais s&oacute;lido e rela&ccedil;&otilde;es mais s&oacute;lidas com os clientes.</h2>
                            <hr class="plus diagonal">
                            <h3>O seu representante da MSD AH mostrar-lhe-&aacute; como aproveitar a grande oportunidade que Bravecto representa para expandir e manter o seu neg&oacute;cio.</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>A MSD Animal Health est&aacute; empenhada em ajud&aacute;-lo a desenvolver o seu neg&oacute;cio e atrair&aacute; ativamente os clientes para a sua cl&iacute;nica com v&aacute;rias estrat&eacute;gias inovadoras.</p>
                                    <ul class="styled">
                                        <li>Esfor&ccedil;os exaustivos de marketing direcionados para o consumidor encorajar&atilde;o novos clientes a visitar a sua cl&iacute;nica </li>
                                        <li>Exposi&ccedil;&otilde;es na cl&iacute;nica e materiais educacionais atingem clientes atuais e ajudam a apoiar as suas recomenda&ccedil;&otilde;es e prescri&ccedil;&otilde;es </li>
                                        <li><strong><a href="/dashboard">BravoVets:</a></strong> um novo recurso online exclusivamente para si, para o ajudar a manter-se atualizado com a investiga&ccedil;&atilde;o cl&iacute;nica, a aumentar a sua visibilidade nas redes sociais, e a criar novas rela&ccedil;&otilde;es e mais s&oacute;lidas com os clientes</li>
                                    </ul>
                                    <p>Com Bravecto, pode garantir uma prote&ccedil;&atilde;o duradoura para os seus doentes caninos&mdash;e rela&ccedil;&otilde;es duradouras com os seus donos. A MSD AH oferece recursos abrangentes que poder&aacute; utilizar para promover a sua cl&iacute;nica e construir rela&ccedil;&otilde;es mais s&oacute;lidas em toda a sua comunidade.</p>
                                </div>
                            </div>
                        </div></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.issue-link').on('click', function () {
                var selectorString = '#solutions-wrapper';

                $('html, body').delay(200).animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

            $('.back-to-top').on('click', function () {
                var selectorString = '#issues-wrapper';

                $('html, body').animate({
                    scrollTop: $(selectorString).offset().top
                }, 500);
            });

        });

    </script>
}