<div class="text-content">
    <h3>Twitter для малого бизнеса</h3>
    <hr class="plus diagonal">
    <p>Twitter — социальная сеть для обсуждения того, что происходит прямо сейчас, в реальном времени. Здесь все происходит быстро, а популярность тем взлетает и падает в течение каких-то минут. Кроме того, Twitter стал излюбленной площадкой потребителей, на которой они могут поговорить о своих любимых (или ненавистных) брендах — или же пообщаться с их представителями. В то время как крупным авиа- и телекомпаниям нужно быть готовыми решать проблемы в режиме 24/7, для малых предприятий Twitter играет несколько иную роль. Вашей клинике он поможет:</p>
    <p>Создать и поддерживать аудиторию приверженцев — как ваших клиентов, так и других людей из разных уголков земного шара.</p>
    <p>Зарекомендовать себя и свою клинику как авторитетный бренд. Когда вы отправляете сообщения в Twitter, другие читают и распространяют ваши слова по всей сети.</p>
    <p>Будьте в курсе последних новостей и тенденций в своей области — следите за сообщениями ветеринарных экспертов и СМИ.</p>
    <div class="hidden-xs">
        <a href="/editprofileandfacility" class="btn btn-tweet no-icon">Отредактируйте свою учетную запись, чтобы связать ее с профилем в Twitter</a>
    </div>
    <div class="visible-xs">
        <a href="/editprofileandfacility" class="btn btn-facebookpost no-icon">Свяжите свой аккаунт Twitter</a>
    </div>
    <h3>Создание страницы в Twitter</h3>
    <hr class="plus diagonal">
    <p>Для того чтобы создать в Twitter страницу вашей компании, нужно лишь несколько простых шагов:</p>
    <ul class="styled">
        <li>Введите полное наименование компании так, как вы хотите видеть его в профиле.</li>
        <li>Введите имя пользователя, под которым вы хотите быть известным. Это имя, которое другие пользователи Twitter будут использовать для связи с вами.</li>
        <li>Создайте уникальный надежный пароль.</li>
        <li>Используйте адрес электронной почты человека, который будет работать со страницей в Twitter.</li>
    </ul>
    <p>Для персонализации страницы вашей клиники щелкните на «Профиль» и выполните следующие действия:</p>
    <ul class="styled">
        <li>Выберите изображение логотипа вашей компании в высоком разрешении и установите его в качестве вашей фотографии. Это изображение будет появляться рядом со всеми вашими сообщениями.</li>
        <li>Чтобы завершить создание профиля, введите наименование и расположение вашей клиники, ссылку на ее сайт и короткое (не более 160 символов) описание вашей компании или ее философии.</li>
        <li>По желанию вы можете изменить фон на вкладке «Дизайн».</li>
    </ul>
    <em>Теперь пора связать вашу страницу в Twitter с BravoVets!</em>
</div>