body {
    background: none;
    background-color: #FFF;
    position: relative;
}

.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default {
    background-color: #f28c00;
    color: #FFF;
}

.btn .arrow-wrapper {
    background-color: #ff9400;
    display: inline-block;
    margin-left: 5px;
    width: 40px;
    margin-right: -20px;
}

.uppercase {
    text-transform: uppercase;
}

.link-socialaccount {
    text-transform: uppercase;
}

.blue {
    color: #0098d8;
}

.orange {
    color: #f28c00;
}

a.orange:hover {
    color: #f28c00;
}

.purple {
    color: #512178;
}

.red {
    color: #dd042b;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.label {
    background-color: #009994;
    border-radius: 13px;
    color: #fff;
    display: inline-table;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 6px 10px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.header {
    margin-bottom: 0;
    position: relative;
}

    .header nav ul li a {
        color: #394147;
        text-transform: uppercase;
    }

        .header nav ul li a:hover {
            background: none;
        }

    .header .logo-bravecto {
        margin: 0 0 20px 0;
    }

    .header #top-nav.nav.nav-pills {
        position: absolute;
        right: 15px;
        top: 70px;
    }

        #subheader .subnavigation > li.active a,
        .header #top-nav.nav.nav-pills > li.active > a,
        .header #top-nav.nav.nav-pills > li > a:hover,
        .header #top-nav.nav.nav-pills > li > a:focus {
            background-color: #009994;
            color: #FFF;
        }

    .header #top-nav li.rightborder a {
        border-right: 1px solid #DDD;
    }

#subheader {
    margin-top: 130px;
    min-height: 40px;
    background-color: #EEE;
}
@media (min-width:500px) {
    #subheader {
        margin-top: 77px;
    }
}
@media (min-width:680px) {
    #subheader {
        margin-top: 50px;
    }
}
@media (min-width:768px) {
    #subheader {
        margin-top: 0;
    }
}

    #subheader.withpadding {
        padding: 5px 0;
    }

    #subheader span {
        font-size: 16px;
        font-weight: bold;
        line-height: 13px;
        color: #009994;
    }

    #subheader a.dropdown-toggle {
        background-color: #009994;
        color: #fff;
        display: inline-block;
        font-size: 1.2em;
        font-weight: bold;
        height: 100%;
        margin: -5px 0;
        padding: 15px;
    }

    #subheader .dropdown-menu {
        left: auto;
        right: 42px;
        padding: 0;
    }

    #subheader ul.social-media-list {
        float: right;
        margin: 5px 0 0;
    }

        #subheader ul.social-media-list li {
            float: left;
            display: inline-block;
            padding: 0 2px;
        }

    #subheader .social-media-col {
        padding-right: 0;
    }

    #subheader ul.subnavigation {
        margin: 0;
    }

        #subheader ul.subnavigation li {
            float: left;
            display: inline-block;
        }

        #subheader ul.subnavigation.subnavigation-right {
            float: right;
        }

            #subheader ul.subnavigation.subnavigation-right li:first-child {
                border-right: 1px solid #DDD;
            }

        #subheader ul.subnavigation li > a {
            color: #394147;
            text-transform: uppercase;
            font-weight: bold;
            display: block;
            padding: 10px 15px;
        }

#login-wrapper {
    padding: 5px 20px;
    width: 300px;
    background-color: #009994;
    color: #FFF;
}

    #login-wrapper form button {
        display: block;
        margin: 5px 0 0 0;
        width: 100%;
        line-height: 32px;
    }

.jumbotron {
    padding: 0;
    height: 500px;
    background: url(/Content/img/header.jpg) no-repeat center;
    background-position: 100% 40%;
    background-size: cover;
    color: #FFF;
}

    .jumbotron h1 {
        font-size: 48px;
        line-height: 1.2em;
    }

    .jumbotron.aboutus {
        height: 300px;
        background: url(/Content/img/aboutusheader.jpg) no-repeat center;
        background-size: cover;
    }

    .jumbotron.support-page {
        background: url(/Content/img/support_header.jpg) no-repeat center;
        background-size: cover;
        background-position: 100% 26%;
        height: 300px;
    }

    .jumbotron.adherence {
        background: url(/Content/img/adherenceheader.jpg) no-repeat center;
        background-size: cover;
        background-position: 100% 26%;
        height: 300px;
    }

    .jumbotron.innovation {
        background: url(/Content/img/innovationheader.jpg) no-repeat center;
        background-size: cover;
        background-position: 100% 26%;
        height: 300px;
    }

    .jumbotron.resources-page {
        background: url(/Content/img/support.jpg) no-repeat center;
        background-size: cover;
        background-position: 100% auto;
        height: 300px;
    }

    .jumbotron.unlinkedaccounts-page {
        background: url(/Content/img/Bravecto_HP_UnlinkedAccounts_img1.jpg) no-repeat center;
        background-size: cover;
        background-position: 100% 10%;
        height: 350px;
    }

        .jumbotron.unlinkedaccounts-page h1,
        .jumbotron.resources-page h1,
        .jumbotron.contactus-page h1,
        .jumbotron.aboutus h1,
        .jumbotron.products h1,
        .jumbotron.support-page h1 {
            font-size: 38px;
            line-height: 1.1em;
            text-align: center;
            margin: 0;
        }

    .jumbotron.products {
        height: 300px;
        background: url(/Content/img/productsheader.jpg) no-repeat center;
        background-position: 100% 30%;
        background-size: cover;
    }

.jumbo-home-overlay {
    position: relative;
    top: 214px;
}

.jumbotron.resources-page .jumbo-home-overlay,
.jumbotron.contactus-page .jumbo-home-overlay,
.jumbotron.support-page .jumbo-home-overlay,
.jumbotron.aboutus .jumbo-home-overlay {
    top: 217px;
}

.jumbotron.unlinkedaccounts-page .jumbo-home-overlay {
    top: 267px;
}

.jumbo-home-overlay .top-jumbo-overlay {
    background-color: rgba(0, 153, 148, 0.5);
    padding: 20px 0;
    margin: 0;
}

.jumbo-home-overlay #tweleveweeks_container {
    margin-left: 20px;
}

    .jumbo-home-overlay #tweleveweeks_container ul {
        margin-bottom: 0;
    }

.top-jumbo-overlay h3.weeks {
    color: #fff;
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.bottom-jumbo-overlay {
    background-color: rgb(0, 153, 148);
    border-top: 1px solid #fff;
    padding: 20px 0;
    /* margin: 25px 25px 0 25px;*/
    width: 100%;
    margin: 0;
}

    .bottom-jumbo-overlay h4 {
        text-align: center;
    }

    .bottom-jumbo-overlay.bravecto {
        border-top: 1px solid #fff;
        padding: 20px 20px;
        margin: 0;
        background: rgba(0, 153, 148, 1);
    }

    .bottom-jumbo-overlay.bottomopaque {
        border-top: 1px solid #fff;
        padding: 20px 20px;
        margin: 0;
        background: rgba(0, 153, 148, 1);
    }

/*.jumbotron.unlinkedaccounts-page .bottom-jumbo-overlay,*/
.jumbotron.resources-page .bottom-jumbo-overlay,
.jumbotron.contactus-page .bottom-jumbo-overlay,
.jumbotron.products .bottom-jumbo-overlay {
    margin: 0 25px 0 25px;
}

.simpleheaderrow h2 {
    text-align: center;
    color: #009994;
    margin: 20px;
}

.simpleheaderrow p a.btn {
    margin-top: 20px;
}
/* Contact Us Page */
.jumbotron.contactus-page {
    background: url(/Content/img/Bravecto_ContactUs_header.jpg) no-repeat center;
    background-size: 100% auto;
    background-position: 100% 0%;
    height: 300px;
}

    .jumbotron.contactus-page h1 {
        font-size: 38px;
        line-height: 1.1em;
        margin: 0;
        text-align: center;
    }

    .jumbotron.contactus-page h4 {
        text-align: center;
    }

.static-body.contactus-body h2 {
    color: #009994;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
}

.contacts-container.static-body div.region-header {
    margin-bottom: 30px;
}

    .contacts-container.static-body div.region-header h3 {
        color: #009994;
        margin: 5px 0;
    }

.contacts-container.static-body address {
    margin-bottom: 30px;
}

    .contacts-container.static-body address em {
        color: #394147;
        display: block;
        font-size: 16px;
    }

.contacts-list .contact-item {
    background-color: #EFEFEF;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
    width: 48%;
}

    .contacts-list .contact-item:nth-child(2n+1) {
        margin: 0 15px 20px 0;
    }

    .contacts-list .contact-item p {
        margin: 3px 0;
        font-size: 16px;
    }

        .contacts-list .contact-item p.title {
            font-weight: bold;
        }

    .contacts-list .contact-item h4 {
        background-color: #009994;
        color: #FFF;
        padding: 10px;
        margin: 0;
    }

    .contacts-list .contact-item h5 {
        font-weight: bold;
        font-size: 22px;
        margin-top: 0;
    }

    .contacts-list .contact-item .contact-item-body {
        padding: 20px 10px;
    }

    .contacts-list .contact-item .contact-detail-list span.contact-detail-label {
        display: inline-block;
        width: 100px;
        font-weight: bold;
    }

    .contacts-list .contact-item .contact-detail-list li {
        border-bottom: 1px solid #DDD;
        padding: 5px 0;
    }

        .contacts-list .contact-item .contact-detail-list li:last-child {
            border-bottom: none;
        }

.load-more-row a.load-more {
    font-size: 1.2em;
}
/**/
/* About Us*/
.aboutus-content {
    margin-top: 150px;
    text-align: center;
}

    .aboutus-content .aboutus-content-bottom-row {
        margin-top: 40px;
        text-align: left;
    }

        .aboutus-content .aboutus-content-bottom-row img {
            width: 60%;
            margin-bottom: 20px;
        }

    .aboutus-content p {
        font-size: 18px;
        line-height: 1.2em;
    }

    .aboutus-content .aboutus-content-bottom-right p {
        text-align: left;
    }

    .aboutus-content p.our-aim {
        color: #009994;
        font-size: 32px;
        font-weight: bold;
        text-align: left;
    }
/* End*/

/* Products */
.products .jumbo-home-overlay {
    top: 217px;
}

.products-content {
    margin-top: 150px;
    text-align: center;
}

    .products-content h3 {
        color: #009994;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

        .products-content h3 span {
            color: #009994;
            font-size: 32px;
            display: block;
            text-align: center;
        }

    .products-content p {
        font-size: 18px;
        line-height: 1.2em;
    }

    .products-content img {
        width: 110px;
        height: 240px;
    }

    .products-content table.table {
        margin-top: 20px;
    }

        .products-content table.table tr:first-child td {
            border-top: none;
        }

        .products-content table.table tr:last-child td {
            border-bottom: 1px solid #ddd;
        }

        .products-content table.table tr:nth-child(2) td {
            border-top: none;
        }

        .products-content table.table tr td.bglightorange {
            background-color: #FDB523;
        }

        .products-content table.table tr td.bgdarkorange {
            background-color: #F28D01;
        }

        .products-content table.table tr td.bgblue {
            background-color: #1E9CD7;
        }

        .products-content table.table tr td.bggreen {
            background-color: #7BC145;
        }

        .products-content table.table tr td.bgpink {
            background-color: #E3328C;
        }
/* End*/

/* Linked accounts*/
.static-section.linkedaccounttop {
    background: url(/Content/img/linkedaccounts-top.jpg) no-repeat center;
    background-size: 100% auto;
    background-position: 100% 0%;
}

    .static-section.linkedaccounttop div.static-overlay,
    .static-section.linkedaccountbottom div.static-overlay {
        margin-top: 214px;
    }

.static-section.linkedaccountbottom {
    background: url(/Content/img/linkedaccounts-bottom.jpg) no-repeat center;
    background-size: 100% auto;
    background-position: 100% 30%;
}

.social-container {
    min-height: 600px;
    background-color: #EEE;
    padding: 10px 10px 20px;
    margin: 20px 0 50px;
}

    .social-container .social-content {
        height: 400px;
        overflow-y: scroll;
        background-color: #FFF;
        border-radius: 3px;
        margin-bottom: 20px;
    }

    .social-container h2 {
        padding-left: 20px;
        color: #009994;
    }

        .social-container h2 img {
            margin-right: 20px;
        }

    .social-container.facebook {
        border-top: 20px solid #517BBD;
    }

    .social-container.twitter {
        border-top: 20px solid #67C9ED;
    }

.facebook-details-row,
.twitter-details-row {
    text-align: left;
    margin: 60px 0;
    padding: 30px 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

    .twitter-details-row.last {
        border-top: none;
        padding-top: 0;
        margin-top: -30px;
    }

    .facebook-details-row ul li,
    .twitter-details-row ul li {
        display: table;
        padding: 10px 0;
        border-bottom: 1px solid #DDD;
    }

        .facebook-details-row ul li:last-child,
        .twitter-details-row ul li:last-child {
            border-bottom: none;
        }

        .facebook-details-row ul li p,
        .twitter-details-row ul li p {
            display: table-cell;
            padding-left: 20px;
        }

            .facebook-details-row ul li p span.header {
                display: block;
                font-family: 20px;
                font-weight: bold;
            }

.static-body h2.linkedaccountmainheader {
    color: #009994;
    margin-bottom: 20px;
    font-size: 26px;
}

.social-content-column h3 {
    color: #009994;
    font-size: 28px;
    margin-top: 0;
    text-transform: uppercase;
}

.social-content-column .item {
    border-bottom: 1px solid #EEE;
    padding: 10px 0;
}

.social-content-column h4 {
    font-weight: bold;
    text-transform: uppercase;
}

.social-content-column a.share-this {
    color: #f28c00;
    text-transform: uppercase;
}
/*end*/

/* Resource page*/

.static-body.resources-body {
    text-align: left;
    margin-top: 100px;
}
.static-body.resources-body-less {
    margin-top: 50px;
}

    .static-body.resources-body.nomargin {
        margin-top: 0;
    }

    .static-body.resources-body.lightgrey {
        background-color: #efefef;
    }

    .static-body.resources-body.darkgrey {
        background-color: #E8E8E8;
    }

.resource-searchrow input.form-control {
    padding: 10px 12px;
    height: 45px;
    font-size: 20px;
    position: relative;
    padding-right: 45px;
}

.resource-searchrow .form-group {
    position: relative;
}

.resource-searchrow .form-control-feedback {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    color: #009994;
    font-size: 20px;
}

.resource-searchrow .form-control::-webkit-input-placeholder {
    color: #009994;
}

.static-body.resources-body.grey {
    background-color: #EEE;
}

.static-body.resources-body p {
    text-align: left;
}

.static-body.resources-body h2 {
    color: #009994;
    margin-bottom: 20px;
    text-align: left;
}

.static-body.resources-body h3 {
    color: #009994;
}

.resources-body .checkbox-wrapper {
    margin: 5px 0;
}

.resources-list .resource-item {
    background-color: #EFEFEF;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
    width: 48%;
}

    .resources-list .resource-item:nth-child(2n+1) {
        margin: 0 15px 20px 0;
    }

    .resources-list .resource-item p {
        margin: 3px 0;
        font-size: 16px;
    }

    .resources-list .resource-item h4 {
        background-color: #009994;
        color: #FFF;
        padding: 10px;
        margin: 0;
    }

    .resources-list .resource-item h5 {
        font-weight: bold;
        font-size: 22px;
        margin-top: 0;
    }

.resources-list .resource-item-body:after, .resources-list .resource-item-body:before {
    content: " ";
    display: table;
}

.resources-list .resource-item-body:after {
    clear: both;
}

.resources-list .resource-item .resource-content {
    float: left;
    min-height: 220px;
    position: relative;
    width: 270px;
}

    .resources-list .resource-item .resource-content .action-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .resources-list .resource-item .resource-content a.btn {
        display: inline-block;
        margin-right: 10px;
    }

.resources-list .resource-item .resource-media-item {
    float: right;
    margin-left: 20px;
    width: 150px;
    min-height: 220px;
}

.resources-list .resource-item .resource-item-body {
    padding: 20px 10px;
}

/* end*/

/* Support */
.static-section.support-page {
    background: url(/Content/img/support_header.jpg) no-repeat center;
    background-size: 100% auto;
    background-position: 100% 0%;
    height: 300px;
}

.static-body.support-body h2 {
    color: #009994;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
}

.static-body.support-body {
    padding-bottom: 70px;
    margin-bottom: 30px;
}

    .static-body.support-body.grey {
        background-color: #EFEFEF;
    }

    .static-body.support-body h3 {
        color: #009994;
        text-align: center;
    }

    .static-body.support-body p {
        text-align: center;
    }

.static-body .support-screen-image {
    margin-top: 30px;
}

.static-body .support-screen-text p {
    text-align: left;
}

.support-items {
    margin-top: 50px;
}

    .support-items ul li {
        border-top: 1px solid #ddd;
        padding-bottom: 30px;
        text-align: left;
    }

        .support-items ul li img {
            float: left;
            width: 200px;
        }

        .support-items ul li p {
            margin-left: 220px;
            text-align: left !important;
        }

        .support-items ul li span.header {
            display: block;
            font-weight: bold;
        }

.bottom-support-download-row img {
    float: left;
    width: 140px;
}

.bottom-support-download {
    margin-left: 160px;
    text-align: left !important;
}

    .bottom-support-download p {
        text-align: left !important;
        margin-bottom: 20px;
    }

    .bottom-support-download h3 {
        margin-top: 0;
        text-align: left !important;
    }

    .bottom-support-download a {
        margin-bottom: 20px;
        display: inline-block;
    }

.support-benefits {
    background: rgb(35, 158, 151);
    background-size: 100% auto;
    background-position: 100% 0%;
    position: relative;
    text-align: center;
}
@media (min-width:992px) {
    .support-benefits {
        background: url(/Content/img/Bravecto_Support_greenbgimg.jpg) no-repeat center;
        height: 400px;
    }
}

    .support-benefits h2 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 32px;
    }

    .support-benefits h2,
    .support-benefits p,
    .support-benefits h3 {
        color: #FFF;
    }

    .support-benefits div h3 {
        border-bottom: 2px solid #FFF;
        padding-bottom: 20px;
        text-align: left;
        font-size: 24px;
    }

    .support-benefits div p {
        text-align: left;
        font-size: 1.4em;
    }

.supportbottom {
    background: url(/Content/img/Bravecto_Support_img7.jpg) no-repeat center;
    background-size: 100% auto;
    background-position: 100% 30%;
    height: 300px;
    text-align: center;
}

.support-benefits.adherence-benefits div h3 {
    font-size: 20px;
}

/* end*/

/* Unlinked accounts */
.unlinked-subheaderleft {
    line-height: 36px;
    font-weight: bold;
}

    .unlinked-subheaderleft a {
        color: #394147;
    }

.static-body.unlinkedaccounts-body {
    padding-bottom: 70px;
    margin-bottom: 30px;
}

    .static-body.unlinkedaccounts-body.top {
        margin-top: 90px;
        padding-bottom: 20px;
    }

.unlinkedaccountbottom {
    background: url(/Content/img/linkedaccounts-bottom.jpg) no-repeat center;
    background-size: 100% auto;
    background-position: 100% 30%;
}

.static-section.unlinkedaccountbottom div.static-overlay {
    margin-top: 214px;
}

.static-body.unlinkedaccounts-body.grey {
    background-color: #EFEFEF;
}

.static-body.unlinkedaccounts-body h2 {
    color: #009994;
    text-align: center;
}

.static-body.unlinkedaccounts-body img {
    width: 51px;
    height: 51px;
}

.static-body.unlinkedaccounts-body h3 {
    color: #009994;
    text-align: center;
}

.static-body.unlinkedaccounts-body p.header {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.static-body.unlinkedaccounts-body p {
    text-align: center;
}

.static-body.unlinkedaccounts-body.leftaligned p {
    text-align: left;
}

.static-body.unlinkedaccounts-body p.text-center {
    text-align: center;
}

.unlinkedaccounts-body .link-youraccount {
    padding-left: 40px;
}

    .unlinkedaccounts-body .link-youraccount a {
        display: block;
        margin: 30px 0;
    }

        .unlinkedaccounts-body .link-youraccount a span {
            position: absolute;
            right: 0;
        }

.link-youraccount-border {
    border-right: 1px solid #DDD;
    margin-top: 20px;
}
/*end*/

/* Social Content Page*/
ul.social-tabs {
    margin: 0;
}

    ul.social-tabs.nav li.active > a {
        background-color: #67c9ed;
        border: medium none;
        color: #fff;
        margin: 0;
    }

    ul.social-tabs.nav.facebook li.active > a {
        background-color: #517bbd;
    }

    ul.social-tabs.nav li > a {
        color: #333;
        background-color: #EEE;
    }

    ul.social-tabs.nav-tabs > li {
        margin: 0;
    }

.social-container.withtabs {
    margin-top: 0;
}

.social-post .avatar-wrapper {
    background-repeat: no-repeat;
    top: 10px;
}

.social-post-dialog label {
    color: #f28c00;
}

#twitter-more,
.social-post-dialog .modal-footer .btn,
form.form-reply button.btn-primary {
    background-color: #f28c00;
    color: #fff;
    border: 0 none;
}

.load-btn-wrapper {
    margin-bottom: 20px;
}

#feed .twitter li.social-post a {
    color: #f28c00;
}

#post-to-facebook,
#post-to-twitter {
    width: 100%;
}

#facebook,
#twitter {
    padding: 10px;
}

#facebook-feed a.comment-like,
#facebook-feed a.btn-social {
    color: #f28c00;
}
/* */

.marketing-row {
    text-align: center;
    margin-top: 165px;
    margin-bottom: 50px;
}

@media (max-width : 450px) {
    .marketing-row {
        margin-top: 100px;
    }
}

    .marketing-row p {
        font-size: 18px;
    }

    .marketing-row img {
        display: inline-block;
    }

    .marketing-row h2 {
        font-family: 28px;
    }

        .marketing-row h2.support {
            color: #0098d8;
        }

        .marketing-row h2.innovation {
            color: #512178;
        }

        .marketing-row h2.adherence {
            color: #dd042b;
        }

.full-container {
    text-align: center;
    color: #FFF;
    background-color: #009994;
    padding: 40px 0;
}

    .full-container h2 {
        font-size: 36px;
    }

    .full-container p {
        font-size: 18px;
    }

.video-wrapper {
    height: 850px;
    background-color: rgba(0, 0, 0, 0.4);
    background: url(/Content/img/video.jpg) no-repeat center;
    background-size: cover;
}

.static-section {
    margin-top: 10px;
    color: #FFF;
    text-align: center;
    height: 350px;
}

    .static-section.support {
        background: url(/Content/img/support.jpg) no-repeat center;
        background-size: 100% auto;
    }

    .static-section.innovation {
        background: url(/Content/img/innovation.jpg) no-repeat center;
        background-size: 100% auto;
    }

    .static-section.adherence {
        background: url(/Content/img/adherence.jpg) no-repeat center;
        background-size: 100% auto;
    }

    .static-section div.static-overlay {
        padding: 20px 0;
        margin-top: 247px;
    }

        .static-section div.static-overlay.bgblue {
            background-color: rgba(0, 152, 216, 0.6);
        }

        .static-section div.static-overlay.bgpurple {
            background-color: rgba(81, 33, 120, 0.6);
        }

        .static-section div.static-overlay.bgred {
            background-color: rgba(221, 4, 43, 0.6);
        }

        .static-section div.static-overlay.bggreen {
            background-color: rgba(0, 153, 148, 0.6);
        }

.static-body {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

    .static-body a {
        color: #f28c00;
        font-weight: bold;
    }

    .static-body p {
        font-size: 18px;
    }

    .static-body .static-body-content {
        margin-bottom: 60px;
    }

.bottom-nav {
    float: right;
    margin: 20px 0;
}

    .bottom-nav li {
        display: inline-block;
        position: relative;
    }

footer {
    padding-bottom: 30px;
}

    footer .bottom-nav li a {
        color: #394147;
        font-size: 16px;
        padding: 10px 15px;
        text-transform: uppercase;
    }

#side-nav {
    position: fixed;
    top: 250px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50px;
}

    #side-nav ul.nav {
        margin-left: 10px;
    }

        #side-nav ul.nav li {
            margin: 10px 0;
        }

            #side-nav ul.nav li > a {
                background-color: #f28c00;
                border-radius: 50%;
                height: 15px;
                width: 15px;
                padding: 11px;
                display: inline-block;
                text-decoration: none;
                vertical-align: middle;
                -webkit-transform: translateZ(0);
                -moz-transform: translateZ(0);
                -ms-transform: translateZ(0);
                -o-transform: translateZ(0);
                transform: translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                backface-visibility: hidden;
                -moz-osx-font-smoothing: grayscale;
                -webkit-transition-duration: 0.3s;
                -moz-transition-duration: 0.3s;
                -o-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-property: transform;
                -moz-transition-property: transform;
                -o-transition-property: transform;
                transition-property: transform;
            }

            #side-nav ul.nav li a:hover {
                text-decoration: none;
            }

            #side-nav ul.nav li.active a {
                background-color: rgba(0, 153, 148, 0.8);
                height: 18px;
                width: 18px;
            }

            #side-nav ul.nav li a:hover, #side-nav ul li a:focus, #side-nav ul li a:active {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }

/* Select site */
.selectsitebg {
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 0;
    height: 700px;
    background: url(/Content/img/Bravecto_Self-select_img1.jpg) no-repeat center;
    background-position: 100% 19%;
    background-size: cover;
    color: #FFF;
}

.selectsitefooter {
    padding-bottom: 160px;
}

.selectsitebg .jumbo-home-overlay {
    top: -100px;
    background-color: rgba(0, 153, 148, 0.9);
    text-align: center;
}

    .selectsitebg .jumbo-home-overlay h1 {
        text-align: center;
        font-size: 38px;
    }

    .selectsitebg .jumbo-home-overlay .top-jumbo-overlay {
        padding: 0;
    }

.selector-row .selection-panel {
    padding: 30px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.95);
}

    .selector-row .selection-panel a {
        text-align: center;
        display: block;
        margin: 0 auto;
        position: relative;
        width: 260px;
    }

    .selector-row .selection-panel p {
        color: #394147;
        font-size: 18PX;
        text-align: center;
    }

.selector-row.aboveboxes {
    margin-bottom: 20px;
}

.selector-row .selection-panel a span.arrow-wrapper {
    text-align: center;
    right: 0;
    position: absolute;
}

.selector-row .selection-panel h3 {
    color: #009994;
    text-align: center;
}
/* End*/


@media (max-width : 568px) {
    .jumbotron h1 {
        font-size: 30px !important;
    }

    .jumbotron.resources-page .jumbo-home-overlay,
    .jumbotron.contactus-page .jumbo-home-overlay,
    .jumbotron.support-page .jumbo-home-overlay,
    .jumbotron.aboutus .jumbo-home-overlay {
        top: 50px;
    }

    .top-jumbo-overlay h3.weeks {
        font-size: 18px;
    }
}
