body {
    background: none;
    background-color: #FFF;
    position: relative;
}

.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default {
    background-color: #f28c00;
    color: #FFF;
}

.btn .arrow-wrapper {
    background-color: #ff9400;
    display: inline-block;
    margin-right: -20px;
    margin-left: 5px;
    width: 40px;
}

.blue {
    color: #0098d8;
}

.orange {
    color: #f28c00;
}

.purple {
    color: #512178;
}

.red {
    color: #dd042b;
}

.label {
    background-color: #009994;
    border-radius: 13px;
    color: #fff;
    display: inline-table;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 6px 10px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.header {
    margin-bottom: 0;
    position: relative;
}

    .header nav ul li a {
        color: #394147;
        text-transform: uppercase;
    }

        .header nav ul li a:hover {
            background: none;
        }

    .header .logo-bravecto {
        margin: 0 0 20px 0;
    }

    .header #top-nav.nav.nav-pills {
        position: absolute;
        right: 15px;
        top: 70px;
    }

        .header #top-nav.nav.nav-pills > li > a:hover,
        .header #top-nav.nav.nav-pills > li > a:focus {
            background-color: #009994;
            color: #FFF;
        }

    .header #top-nav li.rightborder a {
        border-right: 1px solid #DDD;
    }

#subheader {
    min-height: 30px;
    padding: 5px 0;
    background-color: #EEE;
}

    #subheader span {
        font-size: 16px;
        font-weight: bold;
        line-height: 13px;
        color: #009994;
    }

    #subheader a.dropdown-toggle {
        background-color: #009994;
        color: #fff;
        display: inline-block;
        font-size: 1.2em;
        font-weight: bold;
        height: 100%;
        margin: -5px 0;
        padding: 15px;
    }

    #subheader .dropdown-menu {
        left: auto;
        right: 0;
        padding: 0;
    }

    #subheader ul.social-media-list {
        float: right;
        margin: 5px 0 0;
    }

        #subheader ul.social-media-list li {
            float: left;
            display: inline-block;
            padding: 0 2px;
        }

    #subheader .social-media-col {
        padding-right: 0;
    }

    #subheader ul.subnavigation {
        margin: 0;
    }

        #subheader ul.subnavigation li {
            float: left;
            display: inline-block;
        }

        #subheader ul.subnavigation.subnavigation-right {
            float: right;
        }

            #subheader ul.subnavigation.subnavigation-right li:first-child {
                border-right: 1px solid #DDD;
            }

        #subheader ul.subnavigation li > a {
            color: #394147;
            text-transform: uppercase;
            font-weight: bold;
            display: block;
            padding: 10px 15px;
        }

#login-wrapper {
    padding: 5px 20px;
    width: 300px;
    background-color: #009994;
    color: #FFF;
}

    #login-wrapper form button {
        display: block;
        margin: 5px 0 0 0;
        width: 100%;
        line-height: 32px;
    }

.jumbotron {
    padding: 0;
    height: 500px;
    background: url(/Content/img/header.jpg) no-repeat center;
    background-position: 100% 40%;
    background-size: cover;
    color: #FFF;
}

    .jumbotron h1 {
        font-size: 48px;
        line-height: 1.2em;
    }

    .jumbotron.aboutus {
        height: 300px;
        background: url(/Content/img/aboutusheader.jpg) no-repeat center;
        background-size: cover;
    }

    .jumbotron.products {
        height: 300px;
        background: url(/Content/img/productsheader.jpg) no-repeat center;
        background-position: 100% 30%;
        background-size: cover;
    }

        .jumbotron.products h1 {
            font-size: 38px;
            line-height: 1.1em;
            text-align: center;
            margin: 0;
        }

    .jumbotron.aboutus h1 {
        font-size: 38px;
        line-height: 1.1em;
        text-align: center;
        margin: 0;
    }

.jumbo-home-overlay {
    background-color: rgba(0, 153, 148, 0.5);
    position: relative;
    top: 214px;
}

.jumbotron.aboutus .jumbo-home-overlay {
    top: 217px;
}

.jumbo-home-overlay .top-jumbo-overlay {
    padding: 20px 0;
    margin: 0;
}

.jumbo-home-overlay #tweleveweeks_container {
    margin-left: 20px;
}

    .jumbo-home-overlay #tweleveweeks_container ul {
        margin-bottom: 0;
    }

.top-jumbo-overlay h3.weeks {
    color: #fff;
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.bottom-jumbo-overlay {
    border-top: 1px solid #fff;
    padding: 20px 0;
    margin: 25px 25px 0 25px;
}

.jumbotron.products .bottom-jumbo-overlay,
.jumbotron.aboutus .bottom-jumbo-overlay {
    margin: 0 25px 0 25px;
}

.simpleheaderrow h2 {
    text-align: center;
    color: #009994;
    margin: 20px;
}

.simpleheaderrow p a.btn {
    margin-top: 20px;
}
/* About Us*/
.aboutus-content {
    margin-top: 150px;
    text-align: center;
}

    .aboutus-content .aboutus-content-bottom-row {
        margin-top: 40px;
        text-align: left;
    }

        .aboutus-content .aboutus-content-bottom-row img {
            width: 60%;
            margin-bottom: 20px;
        }

    .aboutus-content p {
        font-size: 18px;
        line-height: 1.2em;
    }

    .aboutus-content .aboutus-content-bottom-right p {
        text-align: left;
    }

    .aboutus-content p.our-aim {
        color: #009994;
        font-size: 32px;
        font-weight: bold;
        text-align: left;
    }
/* End*/

/* Products */
.products .jumbo-home-overlay {
    top: 217px;
}

.products-content {
    margin-top: 150px;
    text-align: center;
}

    .products-content h3 {
        color: #009994;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

        .products-content h3 span {
            color: #009994;
            font-size: 32px;
            display: block;
            text-align: center;
        }

    .products-content p {
        font-size: 18px;
        line-height: 1.2em;
    }

    .products-content img {
        width: 110px;
        height: 240px;
    }

    .products-content table.table {
        margin-top: 20px;
    }

        .products-content table.table tr:first-child td {
            border-top: none;
        }

        .products-content table.table tr:last-child td {
            border-bottom: 1px solid #ddd;
        }

        .products-content table.table tr:nth-child(2) td {
            border-top: none;
        }

        .products-content table.table tr td.bglightorange {
            background-color: #FDB523;
        }

        .products-content table.table tr td.bgdarkorange {
            background-color: #F28D01;
        }

        .products-content table.table tr td.bgblue {
            background-color: #1E9CD7;
        }

        .products-content table.table tr td.bggreen {
            background-color: #7BC145;
        }

        .products-content table.table tr td.bgpink {
            background-color: #E3328C;
        }
/* End*/

/* Linked accounts*/
.static-section.linkedaccounttop {
    background: url(/Content/img/linkedaccounts-top.jpg) no-repeat center;
    background-size: 100% auto;
    background-position: 100% 0%;
}

    .static-section.linkedaccounttop div.static-overlay,
    .static-section.linkedaccountbottom div.static-overlay {
        margin-top: 214px;
    }

.static-section.linkedaccountbottom {
    background: url(/Content/img/linkedaccounts-bottom.jpg) no-repeat center;
    background-size: 100% auto;
    background-position: 100% 30%;
}

.social-container {
    min-height: 600px;
    background-color: #EEE;
    padding: 10px 10px 20px;
    margin: 20px 0 50px;
}

    .social-container .social-content {
        height: 400px;
        overflow-y:scroll;
        background-color: #FFF;
        border-radius: 3px;
        margin-bottom: 20px;
    }

    .social-container h2 {
        padding-left: 20px;
        color: #009994;
    }

        .social-container h2 img {
            margin-right: 20px;
        }

    .social-container.facebook {
        border-top: 20px solid #517BBD;
    }

    .social-container.twitter {
        border-top: 20px solid #67C9ED;
    }

.facebook-details-row,
.twitter-details-row {
    text-align: left;
    margin: 60px 0;
    padding: 30px 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

    .twitter-details-row.last {
        border-top: none;
        padding-top: 0;
        margin-top: -30px;
    }

    .facebook-details-row ul li,
    .twitter-details-row ul li {
        display: table;
        padding: 10px 0;
        border-bottom: 1px solid #DDD;
    }

        .facebook-details-row ul li:last-child,
        .twitter-details-row ul li:last-child {
            border-bottom: none;
        }

        .facebook-details-row ul li p,
        .twitter-details-row ul li p {
            display: table-cell;
            padding-left: 20px;
        }

            .facebook-details-row ul li p span.header {
                display: block;
                font-family: 20px;
                font-weight: bold;
            }

.static-body h2.linkedaccountmainheader {
    color: #009994;
    margin-bottom: 20px;
    font-size: 26px;
}

/*end*/

/* Social Content Page*/
ul.social-tabs {
    margin: 0;
}

    ul.social-tabs.nav li.active > a {
        background-color: #67c9ed;
        border: medium none;
        color: #fff;
        margin: 0;
    }

    ul.social-tabs.nav.facebook li.active > a {
        background-color: #517bbd;
    }

    ul.social-tabs.nav li > a {
        color: #333;
        background-color: #EEE;
    }

    ul.social-tabs.nav-tabs > li {
        margin: 0;
    }

.social-container.withtabs {
    margin-top: 0;
}
/* */

.marketing-row {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

    .marketing-row p {
        font-size: 18px;
    }

    .marketing-row img {
        display: inline-block;
    }

    .marketing-row h2 {
        font-family: 28px;
    }

        .marketing-row h2.support {
            color: #0098d8;
        }

        .marketing-row h2.innovation {
            color: #512178;
        }

        .marketing-row h2.adherence {
            color: #dd042b;
        }

.full-container {
    text-align: center;
    color: #FFF;
    background-color: #009994;
    padding: 40px 0;
}

    .full-container h2 {
        font-size: 36px;
    }

    .full-container p {
        font-size: 18px;
    }

.video-wrapper {
    height: 850px;
    background-color: rgba(0, 0, 0, 0.4);
    background: url(/Content/img/video.jpg) no-repeat center;
    background-size: cover;
}

.static-section {
    margin-top: 10px;
    color: #FFF;
    text-align: center;
    height: 350px;
}

    .static-section.support {
        background: url(/Content/img/support.jpg) no-repeat center;
        background-size: 100% auto;
    }

    .static-section.innovation {
        background: url(/Content/img/innovation.jpg) no-repeat center;
        background-size: 100% auto;
    }

    .static-section.adherence {
        background: url(/Content/img/adherence.jpg) no-repeat center;
        background-size: 100% auto;
    }

    .static-section div.static-overlay {
        padding: 20px 0;
        margin-top: 247px;
    }

        .static-section div.static-overlay.bgblue {
            background-color: rgba(0, 152, 216, 0.6);
        }

        .static-section div.static-overlay.bgpurple {
            background-color: rgba(81, 33, 120, 0.6);
        }

        .static-section div.static-overlay.bgred {
            background-color: rgba(221, 4, 43, 0.6);
        }

        .static-section div.static-overlay.bggreen {
            background-color: rgba(0, 153, 148, 0.6);
        }

.static-body {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

    .static-body a {
        color: #f28c00;
        font-weight: bold;
    }

    .static-body p {
        font-size: 18px;
    }

.bottom-nav {
    float: right;
    margin: 20px 0;
}

    .bottom-nav li {
        display: inline-block;
        position: relative;
    }

footer {
    padding-bottom: 30px;
}

    footer .bottom-nav li a {
        color: #394147;
        font-size: 16px;
        padding: 10px 15px;
        text-transform: uppercase;
    }

#side-nav {
    position: fixed;
    top: 250px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 50px;
}

    #side-nav ul.nav {
        margin-left: 10px;
    }

        #side-nav ul.nav li {
            margin: 10px 0;
        }

            #side-nav ul.nav li > a {
                background-color: #f28c00;
                border-radius: 50%;
                height: 15px;
                width: 15px;
                padding: 11px;
                display: inline-block;
                text-decoration: none;
                vertical-align: middle;
                -webkit-transform: translateZ(0);
                -moz-transform: translateZ(0);
                -ms-transform: translateZ(0);
                -o-transform: translateZ(0);
                transform: translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                backface-visibility: hidden;
                -moz-osx-font-smoothing: grayscale;
                -webkit-transition-duration: 0.3s;
                -moz-transition-duration: 0.3s;
                -o-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-property: transform;
                -moz-transition-property: transform;
                -o-transition-property: transform;
                transition-property: transform;
            }

            #side-nav ul.nav li a:hover {
                text-decoration: none;
            }

            #side-nav ul.nav li.active a {
                background-color: rgba(0, 153, 148, 0.8);
                height: 18px;
                width: 18px;
            }

            #side-nav ul.nav li a:hover, #side-nav ul li a:focus, #side-nav ul li a:active {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }
