<?xml version="1.0" encoding="utf-8" ?>
<!--
To create an publishing policy assembly, use the following command:
"C:\dev\NET Projects\LFW20\Projects\LFW20.Setup.GAC\al" /link:"C:\dev\NET Projects\Merck\Merck.WebTooling.HttpModules.LFW20.Frontend\bin\Release\Merck.WebTooling.HttpModules.LFW20.Frontend.config" /out:"C:\dev\NET Projects\Merck\Merck.WebTooling.HttpModules.LFW20.Frontend\bin\Release\policy.1.0.Merck.WebTooling.HttpModules.LFW20.Frontend.dll" /keyfile:"C:\dev\NET Projects\Merck\Merck.WebTooling.HttpModules.LFW20.Frontend\merck.snk" /platform:anycpu

To install the publishing policy on the server, use the following command (you must provide the gacutil.exe utility yourself!):
gacutil /i policy.1.0.Merck.WebTooling.HttpModules.LFW20.Frontend.dll
-->

<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Merck.WebTooling.HttpModules.LFW20.Frontend"
								  publicKeyToken="cf74eae0d6c1f324"
								  culture="neutral" />
				<!-- Redirecting to version 1.3.2.0 of the assembly. -->
				<bindingRedirect oldVersion="1.0.0.0-1.3.0.0"
								 newVersion="1.3.2.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>